                        <!--aside-special ここから-->
                        <div class="aside aside-special">
                            <div class="aside-heading aside-heading-b">
                                <p class="aside-heading-jp">特別企画</p>
                            </div>
                            <div class="aside-contents">
                                <ul class="aside-special-list">
                                    <li class="aside-special-item">
                                        <article class="post">
                                            <a href="#" class="post-link">
                                                <div class="post-mask">
                                                    <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
                                                    <div class="post-mask-back"></div>
                                                </div>
                                                <div class="post-image">
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/252x155" height="155" width="252" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/252x155" height="155" width="252" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                <% for(var i=0; i < 7; i++) { %>
                                    <li class="aside-special-item">
                                        <article class="post">
                                            <a href="#" class="post-link">
                                                <div class="post-mask">
                                                    <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
                                                    <div class="post-mask-back"></div>
                                                </div>
                                                <div class="post-image">
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placekitten.com/252/155" height="155" width="252" alt="">
                                                        <noscript>
                                                            <img src="http://placekitten.com/252/155" height="155" width="252" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                <% } %>
                                </ul>
                                <ul class="aside-news">
                                    <% for(var i=0; i < 2; i++) { %>
                                    <li class="aside-news-item">
                                        <article class="news simple">
                                            <a href="#" target="_blank" class="news-link">
                                                <div class="news-tag">
                                                    <span class="tag tag-accent">PR</span>
                                                </div>
                                                <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </a>
                                        </article>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                            <a href="#" class="button-block">
                                <span>一覧を見る</span>
                                <i class="arrow-right white"></i>
                            </a>
                        </div>
                        <!--aside-special ここまで-->