                        <!--aside-present ここから-->
                        <div class="aside aside-present">
                            <div class="aside-heading aside-heading-d">
                                <p class="aside-heading-jp">プレゼント<span></span>モニター</p>
                            </div>
                            <div class="aside-contents">
                                <ul class="aside-present-list">
                                <% for(var i=0; i < 2; i++) { %>
                                    <li class="aside-present-item">
                                        <article class="post post-present">
                                            <a href="#" class="post-link">
                                                <div class="balloon balloon-fukidashi">
                                                    <div class="balloon-inner">
                                                        <span class="balloon-heading">応募締切</span>
                                                        <span class="balloon-small">- 2015 -</span>
                                                        <span class="balloon-big">10.29</span>
                                                    </div>
                                                    <i class="balloon-arrow"></i>
                                                </div>
                                                <div class="post-image">
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/160x98" height="98" width="160" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/160x98" height="98" width="160" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <p class="post-heading">【プレゼント】ハーバー「かさつきレスキューセット」【3名様】</p>
                                            </a>
                                        </article>
                                    </li>
                                <% } %>
                                </ul>
                            </div>
                            <a href="#" class="button-block">
                                <span>一覧を見る</span>
                                <i class="arrow-right white"></i>
                            </a>
                        </div>
                        <!--aside-present ここまで-->