                        <!--aside-special ここから-->
                        <div class="aside aside-event">
                            <div class="aside-heading aside-heading-c">
                                <p class="aside-heading-jp">イベント情報</p>
                            </div>
                            <div class="aside-contents">
                                <ul class="aside-event-list">
                                    <li class="aside-event-item">
                                        <article class="post">
                                            <a href="#" class="post-link">
                                                <div class="balloon">
                                                    <div class="balloon-inner">
                                                        <span class="balloon-heading">開催</span>
                                                        <br/>
                                                        <time datetime="2015-10-10" class="balloon-big">10.10</time>
                                                        <br/>
                                                        <span class="balloon-small">ほか</span>
                                                    </div>
                                                </div>
                                                <div class="post-mask">
                                                    <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
                                                    <div class="post-mask-back"></div>
                                                </div>
                                                <div class="post-image">
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/252x155" height="155" width="252" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/252x155" height="155" width="252" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                <% for(var i=0; i < 2; i++) { %>
                                    <li class="aside-event-item">
                                        <article class="post">
                                            <a href="#" class="post-link">
                                                <div class="balloon">
                                                    <div class="balloon-inner">
                                                        <span class="balloon-heading">開催</span>
                                                        <br/>
                                                        <time datetime="2015-10-10" class="balloon-big">10.10</time>
                                                        <br/>
                                                        <span class="balloon-small">ほか</span>
                                                    </div>
                                                </div>
                                                <div class="post-mask">
                                                    <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
                                                    <div class="post-mask-back"></div>
                                                </div>
                                                <div class="post-image">
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placesheen.com/252/155" height="155" width="252" alt="">
                                                        <noscript>
                                                            <img src="http://placesheen.com/252/155" height="155" width="252" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                <% } %>
                                </ul>
                            </div>
                            <a href="#" class="button-block">
                                <span>一覧を見る</span>
                                <i class="arrow-right white"></i>
                            </a>
                        </div>
                        <!--aside-special ここまで-->