                        <!--aside-info-b ここから-->
                        <div class="aside-info aside-info-c">
                            <a href="#" target="_blank">
                                <div class="aside-info-cover"></div>
                                <div class="aside-info-inner">
                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/300x250" height="250" width="300" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" height="250" width="300" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                        <!--aside-info-b ここまで-->