                        <!--aside-ranking ここから-->
                        <div class="aside aside-ranking">
                            <div class="aside-heading aside-heading-a">
                                <p class="aside-heading-jp">人気記事<span></span>ランキング</p>
                            </div>
                            <div class="aside-tab" id="js-ranking">
                                <ul class="aside-tab-menus" id="js-ranking-menus">
                                    <li class="aside-tab-menu is-active">
                                        <a href="#js-ranking-area1">人気記事</a>
                                    </li>
                                    <li class="aside-tab-menu">
                                        <a href="#js-ranking-area2">つぶやき</a>
                                    </li>
                                    <li class="aside-tab-menu">
                                        <a href="#js-ranking-area3">いいね</a>
                                    </li>
                                </ul>
                                <ul class="aside-tab-areas" id="js-ranking-areas">

                                    <!--aside-tab-area1　人気記事 ここから-->
                                    <li class="aside-tab-area is-active" id="js-ranking-area1">
                                        <div class="aside-tab-area-content">
                                            <ul class="aside-ranking-list">
                                                <% for(var i=0; i < 5; i++) { %>
                                                <li class="aside-ranking-item">
                                                    <article class="news ranking">
                                                        <a href="#" class="news-link">
                                                            <p class="rank">
                                                                <span class="sprite flag"><%= [i+1] %></span>
                                                            </p>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                            <ul class="aside-news">
                                                <% for(var i=0; i < 2; i++) { %>
                                                <li class="aside-news-item">
                                                    <article class="news">
                                                        <a href="#" target="_blank" class="news-link">
                                                            <div class="news-tag">
                                                                <span class="tag tag-accent">PR</span>
                                                            </div>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--aside-tab-area1　人気記事 ここまで-->

                                    <!--aside-tab-area2　つぶやき ここから-->
                                    <li class="aside-tab-area" id="js-ranking-area2">
                                        <div class="aside-tab-area-content">
                                            <ul class="aside-ranking-list">
                                                <% for(var i=0; i < 5; i++) { %>
                                                <li class="aside-ranking-item">
                                                    <article class="news ranking">
                                                        <a href="#" class="news-link">
                                                            <p class="rank">
                                                                <span class="sprite flag"><%= [i+1] %></span>
                                                            </p>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！</p>
                                                                <div class="news-count">
                                                                    <i class="sprite twitter-base"></i>
                                                                    <span class="news-count-number">9999</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                            <ul class="aside-news">
                                                <% for(var i=0; i < 2; i++) { %>
                                                <li class="aside-news-item">
                                                    <article class="news">
                                                        <a href="#" target="_blank" class="news-link">
                                                            <div class="news-tag">
                                                                <span class="tag tag-accent">PR</span>
                                                            </div>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--aside-tab-area2　つぶやき ここまで-->

                                    <!--aside-tab-area3　いいね ここから-->
                                    <li class="aside-tab-area" id="js-ranking-area3">
                                        <div class="aside-tab-area-content">
                                            <ul class="aside-ranking-list">
                                                <% for(var i=0; i < 5; i++) { %>
                                                <li class="aside-ranking-item">
                                                    <article class="news ranking">
                                                        <a href="#" class="news-link">
                                                            <p class="rank">
                                                                <span class="sprite flag"><%= [i+1] %></span>
                                                            </p>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                                                <div class="news-count">
                                                                    <i class="sprite facebook-base"></i>
                                                                    <span class="news-count-number">9999</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                            <ul class="aside-news-list">
                                                <% for(var i=0; i < 2; i++) { %>
                                                <li class="aside-news-item">
                                                    <article class="news">
                                                        <a href="#" target="_blank" class="news-link">
                                                            <div class="news-tag">
                                                                <span class="tag tag-accent">PR</span>
                                                            </div>
                                                            <div class="news-text">
                                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                                            </div>
                                                        </a>
                                                    </article>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--aside-tab-area3　いいね ここまで-->

                                </ul>
                            </div>

                            <a href="#" class="button-block">
                                <span>一覧を見る</span>
                                <i class="arrow-right white"></i>
                            </a>
                        </div>
                        <!--aside-ranking ここまで-->