            <!--footer ここから-->
            <a class="pagetop js-scroll" href="#js-wrapper" id="js-page-top">
                <i class="pagetop-arrow"></i>
                <span>TOP</span>
            </a>
            <footer class="l-footer">
                <div class="l-footer-inner">

                    <ul class="footer-navi">
                        <li>
                            <a class="footer-navi-link" href="real-estate.html">
                                <span>物件募集</span>
                                <i class="arrow arrow-sub"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer-navi-link" href="privacy-policy.html">
                                <span>個人情報保護について</span>
                                <i class="arrow arrow-sub"></i>
                            </a>
                        </li>
                    </ul>

                    <aisde class="banners">
                        <ul class="banners-list" id="js-banner-slider">
                            <li>
                                <a class="banners-link" href="" target="_blank">
                                    <img src="image/common/banner/banner1.png" height="40" width="90" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="banners-link" href="" target="_blank">
                                    <img src="image/common/banner/banner2.png" height="40" width="90" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="banners-link" href="" target="_blank">
                                    <img src="image/common/banner/banner3.png" height="40" width="90" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="banners-link" href="" target="_blank">
                                    <img src="image/common/banner/banner4.png" height="40" width="90" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="banners-link" href="" target="_blank">
                                    <img src="image/common/banner/banner5.png" height="40" width="90" alt="">
                                </a>
                            </li>
                        </ul>
                        <div class="banners-big">
                            <a href="http://www.kisuke-movie.com/" target="_blank">
                                <img src="image/common/banner/banner-big.jpg" width="290" height="50" alt=""/>
                            </a>
                        </div>
                    </aisde>
                </div>
                <div class="l-footer-bottom">
                    <small>&copy;2015 KISUKE</small>
                </div>
            </footer>
            <!--footer ここまで-->

        </div>
        <!--wrapper ここまで-->