            <!--footer ここから-->
            <footer class="footer">
                <div class="footer-inner">footer</div>
                <small>Copyright &copy;</small>
            </footer>
            <!--footer ここまで-->
        </div>
        <!--wrapper ここまで-->