<!--navi ここから-->
<nav class="navi" id="js-navi">
    <ul class="navi-list">
        <li class="navi-item">
            <a class="navi-link js-accordion-trigger" href="javascript:void(0);" data-target="js-about">
                <span>キスケについて</span>
                <div class="navi-link-arrow">
                    <div class="navi-link-arrow-inner">
                        <i class="arrow arrow-white arrow-bottom"></i>
                        <i class="arrow arrow-white arrow-top"></i>
                    </div>
                </div>
            </a>
            <div class="navi-children" id="js-about">
                <ul class="navi-children-list">
                    <li>
                        <a href="about.html">キスケについてTOP</a>
                    </li>
                    <li>
                        <a href="about-philosophy.html">企業理念</a>
                    </li>
                    <li>
                        <a href="about-resource.html">人財育成</a>
                    </li>
                    <li>
                        <a href="about-finance.html">財務基盤</a>
                    </li>
                    <li>
                        <a href="about-local.html">地域貢献</a>
                    </li>
                    <li>
                        <a href="about-profile.html">企業情報</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navi-item">
            <a class="navi-link js-accordion-trigger" href="javascript:void(0);" data-target="js-service">
                <span>事業について</span>
                <div class="navi-link-arrow">
                    <div class="navi-link-arrow-inner">
                        <i class="arrow arrow-white arrow-bottom"></i>
                        <i class="arrow arrow-white arrow-top"></i>
                    </div>
                </div>
            </a>
            <div class="navi-children" id="js-service">
                <ul class="navi-children-list">
                    <li>
                        <a href="service.html">事業についてTOP</a>
                    </li>
                    <li>
                        <a href="service-box.html">キスケBOX</a>
                    </li>
                    <li>
                        <a href="service-bowl.html">キスケボウル</a>
                    </li>
                    <li>
                        <a href="service-spa.html">天然温泉キスケのゆ</a>
                    </li>
                    <li>
                        <a href="service-karaoke.html">カラオケWAO</a>
                    </li>
                    <li>
                        <a href="service-pachinko.html">パチンコPAO</a>
                    </li>
                    <li>
                        <a href="service-mah-jong.html">麻雀JAO</a>
                    </li>
                    <li>
                        <a href="service-parking.html">キスケパーキング</a>
                    </li>
                    <li>
                        <a href="service-real-estate.html">不動産</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navi-item">
            <a class="navi-link" href="news.html">
                <span>ニュース</span>
            </a>
        </li>
        <li class="navi-item">
            <a class="navi-link" href="recruit.html">
                <span>採用情報</span>
            </a>
        </li>
        <li class="navi-item">
            <a class="navi-link" href="contact.html">
                <span>お問い合わせ</span>
            </a>
        </li>
        <li class="navi-item">
            <a class="navi-link navi-link-primary" href="real-estate.html">
                <i class="sprite sprite-real-estate-navi"></i>
                <span>物件募集</span>
            </a>
        </li>
    </ul>
    <ul class="navi-sns">
        <li class="navi-sns-item">
            <a href="https://www.facebook.com/kisukegroup/" target="_blank">
                <% var facebookClass = "navi-sns-icon"; %>
                <% include ../module/svg/_facebook %>
            </a>
        </li>
        <li class="navi-sns-item">
            <a href="https://twitter.com/kisuke_inc/" target="_blank">
                <% var twitterClass = "navi-sns-icon"; %>
                <% include ../module/svg/_twitter %>
            </a>
        </li>
    </ul>
</nav>
<!--navi ここまで-->