
        <!--javascript ここから-->
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

        <script src="js/app.js"></script>

        <% if(id === "index"){ %>
        <script src="js/pages/index.js"></script>
        <% } %>
        <% if(id === "news"){ %>
        <script src="js/pages/news.js"></script>
        <% } %>
        <!--javascript ここまで-->
    </body>
</html>
