@mixin rem($size, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) + rem;
}

@mixin placeholder($color, $size) {
    &::placeholder {
        @include rem($size);
        font-family: $font;
        color: $color;
    }
}

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        @content;
    }
}

@mixin query($size) {
    @media all and (max-width: $size + px) {
        @content;
    }
}

@mixin sprite-width($sprite, $scale: 0.5) {
    width: ceil(nth($sprite, 5) * $scale);
}

@mixin sprite-height($sprite, $scale: 0.5) {
    height: ceil(nth($sprite, 6) * $scale);
}

@mixin sprite-position($sprite, $scale: 0.5) {
    $sprite-offset-x: ceil(nth($sprite, 3) * $scale);
    $sprite-offset-y: ceil(nth($sprite, 4) * $scale);
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$path-sprite}#{$sprite-image});
    background-repeat: no-repeat;
}

@mixin sprite-size($sprite, $scale: 0.5) {
    background-size: ceil(nth($sprite, 7)*$scale) ceil(nth($sprite, 8)*$scale);
}

@mixin sprite($sprite, $scale: 0.5) {
    @include sprite-image($sprite);
    @include sprite-position($sprite, $scale);
    @include sprite-width($sprite, $scale);
    @include sprite-height($sprite, $scale);
    @include sprite-size($sprite, $scale);
}
