@charset "UTF-8";
/* ========================================
 * +reset
======================================== */
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, q, pre, table, caption, colgroup, col, tbody, thead, tfoot, tr, th, td, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, input, span, a, img, em, ins, del, cite, abbr, sup, sub, dfn, code, var, samp, kbd, object, script, noscript, style, iframe, embed, param, map, area, menu, hr, address, small, strong, i, b, article, aside, figure, footer, header, hgroup, nav, section, figcaption, time, video, audio, mark, ruby, rt, rp, bdo, source, canvas, details, summary, command, datalist, keygen, output, progress, meter {
    margin: 0;
    padding: 0;
    font-size: 100%;
    word-wrap: break-word;
}

address, article, aside, figure, figcaption, footer, header, hgroup, hr, legend, menu, nav, section, summary {
    display: block;
}

address {
    vertical-align: top;
}

ul, ol {
    list-style-type: none;
}

dl {
    list-style:none outside;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

img {
    vertical-align: top;
}

[hidden] {
    display: none;
}

mark {
    background: none;
}

input {
    opacity: 1;
}

/* ========================================
 * +base
======================================== */
body {
    /*  background: url(./shared/img/body/bg_01.jpg) left top repeat; */
    color: #000;
    font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
    /*font-size: 75%;*/
    font-size: 80%; /* by Choi Seungpil @2013-07-22 */
    line-height: 1.5;

    /*font-family: monospace !important; /* #DEV 文字数カウント用 */
}

a {
    color: #000;
}
a,
a > * {
    text-decoration: none;
}
a:hover,
a:hover > *,
a:focus,
a:focus > *,
a:active,
a:active > * {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

#globalNav, #globalNav ul, #topicPath, #container, #groupSite, #groupSite div, #carousel .slide, .mod-headLine .eventPane, .profilePane, .mod-borderBox, .mod-prSection a, .mod-multiColumn2A01 .row, .mod-multiColumn2A02 .rowInner, .mod-multiColumn2X01 .row, .mod-multiColumn2Y01 .row, .mod-multiColumn4A01 .rowInner, .mod-box .mod-paging, .mod-imgBoxA01, .mod-social, .pseudoSoial, .mod-list li, .mod-giftWysiwyg, .mod-constellation .items, .mod-kagamiList, .mod-novelIndex, .mod-novelIndexList, .mod-novelWysiwyg02, .remoteNav ul, .sub-section .tabNav, .sub-section.eventSection .img a, .sub-section.tagSection ul, .sub-section.linkSection .img a, .mod-link, .mod-eventWysiwyg, .novel_html_wrapper, .mod-wysiwyg , .novelPane, .mod-row-imgs, .hnavi_sub, .mod-paging, #pageRank ul.tabNav, .diagnosis-btns, .running_list, .osusumejouhou_toplist {
    *zoom: 1;
}
#globalNav:after, #globalNav ul:after, #topicPath:after, #container:after, #groupSite:after, #groupSite div:after, #carousel .slide:after, .mod-headLine .eventPane:after, .profilePane:after, .mod-borderBox:after, .mod-prSection a:after, .mod-multiColumn2A01 .row:after, .mod-multiColumn2A02 .rowInner:after, .mod-multiColumn2X01 .row:after, .mod-multiColumn2Y01 .row:after, .mod-multiColumn4A01 .rowInner:after, .mod-box .mod-paging:after, .mod-imgBoxA01:after, .mod-social:after, .pseudoSoial:after, .mod-list li:after, .mod-giftWysiwyg:after, .mod-constellation .items:after, .mod-kagamiList:after, .mod-novelIndex:after, .mod-novelIndexList:after, .mod-novelWysiwyg02:after, .remoteNav ul:after, .sub-section .tabNav:after, .sub-section.eventSection .img a:after, .sub-section.tagSection ul:after, .sub-section.linkSection .img a:after, .mod-link:after, .mod-eventWysiwyg:after, .novel_html_wrapper:after, .mod-wysiwyg:after , .novelPane:after, .mod-row-imgs:after, .hnavi_sub:after, .mod-paging:after, #pageRank ul.tabNav:after, .diagnosis-btns:after, .running_list:after, .osusumejouhou_toplist:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: "";
}