                            <li class="about-category-item">
                                <section class="category-block">
                                    <a href="#" class="category-block-link">
                                        <h1 class="category-block-heading">
                                            <span class="category-block-icon">
                                                <i class="sprite cat-<%= cat_slug %>"></i>
                                            </span>
                                            <%= cat_name %>
                                        </h1>
                                        <p class="category-block-text"><%= cat_text %></p>
                                        <span class="category-block-arrow">
                                            <i class="arrow-right arrow-right-accent"></i>
                                        </span>
                                    </a>
                                </section>
                            </li>