                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">Home</a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">Lower</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->