                        <!--category-menu ここから-->
                        <aside class="category-menu">
                            <div class="category-menu-inner">
                                <dl class="category-menu-list">
                                    <dt class="category-menu-title">サブカテゴリ<br>から探す</dt>
                                    <dd class="category-menu-data">
                                        <a class="tag tag-normal xlarge" href="#">出会い</a>
                                        <a class="tag tag-normal xlarge" href="#">片思い</a>
                                        <a class="tag tag-normal xlarge" href="#">デート</a>
                                        <a class="tag tag-normal xlarge" href="#">婚活</a>
                                        <a class="tag tag-normal xlarge" href="#">失恋・復縁</a>
                                        <a class="tag tag-normal xlarge" href="#">カップル</a>
                                        <a class="tag tag-accent-light xlarge" href="#">胸キュンマンガ</a>
                                        <a class="tag tag-accent-light xlarge" href="#">夜のラブテク</a>
                                        <a class="tag tag-accent-light xlarge" href="#">結婚の条件</a>
                                    </dd>
                                </dl>
                            </div>
                            <hr class="category-menu-border">
                            <div class="category-menu-inner">
                                <dl class="category-menu-list">
                                    <dt class="category-menu-title middle">記事の種類<br>から探す</dt>
                                    <dd class="category-menu-data">
                                        <a class="tag tag-a xlarge" href="#">専門家記事</a>
                                        <a class="tag tag-e xlarge" href="#">トレンド</a>
                                        <a class="tag tag-b xlarge" href="#">本音コラム</a>
                                        <a class="tag tag-f xlarge" href="#">著者コラム</a>
                                        <a class="tag tag-c xlarge" href="#">小説</a>
                                        <a class="tag tag-g xlarge" href="#">診断</a>
                                        <a class="tag tag-d xlarge" href="#">占い</a>
                                        <a class="tag tag-h xlarge" href="#">雑学</a>
                                    </dd>
                                </dl>
                            </div>
                        </aside>
                        <!--category-menu ここまで-->
