<div class="entry-aside-similar">
    <p class="entry-aside-similar-heading">関連記事</p>
    <ul class="entry-aside-similar-list">
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>えっ、これって毒なの!?　知っておくべき、身近にある危険な部位のある食べ物</a></li>
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>妊娠中に避けるべき食べ物12個「カビチーズは危険」</a></li>
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>彼の胃袋を掴もう！　あなたの武器になる「愛され料理」診断</a></li>
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>食べあわせが悪い食べ物って？「お酒とからし」</a></li>
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>ヨーグルトは逆効果!? 「便秘を更に悪化」させる食べ物5つ</a></li>
        <li class="entry-aside-similar-item"><a href="#"><i class="sprite post_simillar_check"></i>彼の胃袋を掴もう！　あなたの武器になる「愛され料理」診断</a></li>
    </ul>
</div>
