
<div class="entry-aside-recent">
    <p class="entry-aside-recent-heading">女子ダイエット大学の最新記事</p>
    <p class="entry-aside-recent-link"><a href="#">一覧<i class="arrow-right white"></i></a></p>
    <ul class="entry-aside-recent-list">
        <% for(var i = 0; i < 3; i++){ %>
        <li class="entry-aside-recent-item">
            <a href="#">
                <p class="entry-aside-recent-title">えっ、これって毒なの!?　知っておくべき、身近にある危険な部位のある食べ物</p>
                <div class="entry-aside-recent-image">
                    <div class="entry-aside-recent-image-cover"></div>
                    <div class="entry-aside-recent-image-inner">
                        <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/178x110" width="178" height="110" alt="">
                        <noscript>
                            <img  src="http://placehold.it/178x110" width="178" height="110" alt="">
                        </noscript>
                    </div>
                </div>
            </a>
        </li>
        <% } %>
    </ul>
</div>
