                        <!--event-block ここから-->
                        <div class="event-block">
                            <% event_new = true,
                                event_status = "now",
                                event_title = "一気に人脈UP！素敵な出会いを見つける♥ マイナビウーマンSpecialイベント" 

                            %>
                            <% include _event-block-article %>

                            <% event_new = false,
                                event_status = "now",
                                event_title = "「お金の安心のつくり方」現役FPの実体験 ～貯金80万円でマンション購入しました！" 

                            %>
                            <% include _event-block-article %>

                            <% event_new = false,
                                event_status = "ended",
                                event_title = "～花嫁レシピ～ 冷蔵庫の余りものはもうサヨナラ！ 万能ダレで時短簡単バランス料理を作ろう♪" 

                            %>
                            <% include _event-block-article %>

                            <% event_new = false,
                                event_status = "ended",
                                event_title = "結婚・出産後も働ける”キャリアカウンセラー”ってどんな仕事？ CDA資格の無料説明会" 

                            %>
                            <% include _event-block-article %>
                        </div>
                        <!--event-block ここまで-->