                        <!--information ここから-->
                        <section class="information">
                            <div class="heading heading-g">
                                <h1 class="heading-jp">お役立ち情報</h1>
                            </div>
                            <div class="information-contents">
                                <% if ( infotype === 'entry' ) { %>
                                <ul class="information-list vertically">
                                    <% for(var i=0; i< 6; i++) { %>
                                    <li class="information-item">
                                        <article class="information-item-wrap">
                                            <a href="#" class="information-item-link">
                                                <div class="information-item-inner">
                                                    <div class="information-item-image">
                                                        <div class="information-item-cover"></div>
                                                        <div class="information-item-image-inner">
                                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/130x80" height="80" width="130" alt="">
                                                            <noscript>
                                                                <img src="http://placehold.it/130x80" height="80" width="130" alt="">
                                                            </noscript>
                                                        </div>
                                                    </div>
                                                    <div class="information-item-body">
                                                        <h1 class="information-item-heading">
                                                            夕方のブス顔にドン引きの男性続出！？教えて！モテ顔になるための「優秀プチコスメ」
                                                        </h1>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <% } %>
                                </ul>
                                <% } else { %>
                                <% for(var i=0; i< 3; i++) { %>
                                <ul class="information-list">
                                    <li class="information-item">
                                        <article class="card card-large">
                                            <a href="#" class="card-link">
                                                <div class="card-inner">
                                                    <div class="card-body">
                                                        <h1 class="card-heading">
                                                            夕方のブス顔にドン引きの男性続出！？教えて！モテ顔になるための「優秀プチコスメ」
                                                        </h1>
                                                    </div>
                                                    <div class="card-image">
                                                        <div class="card-cover"></div>
                                                        <div class="card-image-inner">
                                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/284x110" height="175" width="284" alt="">
                                                            <noscript>
                                                                <img src="http://placehold.it/284x175" height="175" width="284" alt="">
                                                            </noscript>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="information-item">
                                        <article class="card card-large">
                                            <a href="#" class="card-link">
                                                <div class="card-inner">
                                                    <div class="card-body">
                                                        <h1 class="card-heading">
                                                            夕方のブス顔にドン引きの男性続出！？教えて！モテ顔になるための「優秀プチコスメ」
                                                        </h1>
                                                    </div>
                                                    <div class="card-image">
                                                        <div class="card-cover"></div>
                                                        <div class="card-image-inner">
                                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/284x175" height="175" width="284" alt="">
                                                            <noscript>
                                                                <img src="http://placehold.it/284x175" height="175" width="284" alt="">
                                                            </noscript>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                </ul>
                                <% } %>
                                <% } %>
                            </div>
                        </section>
                        <!--information ここまで-->
