                        <!--library ここから-->
                        <section class="library">
                            <div class="library-header">
                                <div class="heading heading-f">
                                    <h1 class="heading-jp">「恋愛」の連載一覧</h1>
                                </div>
                            </div>
                            <div class="library-contents">
                                <ul class="library-list primary">
                                    <% for(var i=0; i< 4; i++) { %>
                                    <li class="library-item">
                                        <a href="#" class="library-link">
                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                            </noscript>
                                        </a>
                                    </li>
                                    <% } %>
                                </ul>
                                <ul class="library-list">
                                    <% for(var i=0; i< 8; i++) { %>
                                    <li class="library-item">
                                        <a href="#" class="tag-stripe">胸キュンマンガ</a>
                                    </li>
                                    <li class="library-item">
                                        <a href="#" class="tag-stripe">心理テスト</a>
                                    </li>
                                    <li class="library-item">
                                        <a href="#" class="tag-stripe">夜のラブテク</a>
                                    </li>
                                    <li class="library-item">
                                        <a href="#" class="tag-stripe">彼の一言から分かる恋愛心理</a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </section>
                        <!--library ここまで-->
