<li class="new-articles-item">
    <article class="news simple">
        <a href="#" target="_blank" class="news-link">
            <div class="news-tag">
                <span class="tag tag-accent">PR</span>
            </div>
            <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
        </a>
    </article>
</li>
<li class="new-articles-item">
    <article class="news simple">
        <a href="#" target="_blank" class="news-link">
            <div class="news-tag">
                <span class="tag tag-accent">PR</span>
            </div>
            <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
        </a>
    </article>
</li>
