                            <!--new-articles ここから-->
                            <section class="new-articles new-articles-partnertype">
                                <div class="heading heading-h">
                                    <h1 class="heading-jp">パートナーサイト新着記事</h1>
                                </div>
                                <ul class="new-articles-list">
                                    <li class="new-articles-item">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <h1 class="news-text">究極の男子力はコレ！　女性が求める男子力ランキング「2位：大人な対応ができる」気になる1位は？</h1>
                                                <i class="arrow-right arrow-right-accent"></i>
                                            </a>
                                        </article>
                                    </li>
                                    <% for(var i=0; i< 5; i++) { %>
                                    <li class="new-articles-item">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <h1 class="news-text">マイク・ザッカーバーグの今年の目標</h1>
                                                <i class="arrow-right arrow-right-accent"></i>
                                            </a>
                                        </article>
                                    </li>
                                    <% } %>
                                </ul>
                                <div class="new-articles-areas-button">
                                    <a href="#" class="button-block">
                                        <span>一覧を見る</span>
                                        <i class="arrow-right white"></i>
                                    </a>
                                </div>
                            </section>
                            <!--new-articles ここまで-->