                        <!--new-articles ここから-->
                        <section class="new-articles">
                            <div class="heading heading-b">
                                <h1 class="heading-jp">新着記事</h1>
                            </div>

                            <div class="new-articles-tab" id="js-new">
                                <ul class="table-menu" id="js-new-menus">
                                    <li class="table-menu-item primary is-active">
                                        <a href="#new-articles-area1">総合</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area2">恋愛</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area3">ビューティ</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area4">ヘルスケア</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area5">グルメ</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area6">エンタメ</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area7">ファッション</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area8">おでかけ</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area9">仕事</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area10">マネー</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#new-articles-area11">ライフ</a>
                                    </li>
                                </ul>
                                <ul class="new-articles-areas" id="js-new-areas">

                                    <li class="new-articles-area is-active" id="new-articles-area1">
                                        <ul class="new-articles-list">
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標は？フェイスブック上で堂々と公開した彼のフィードには</span>
                                                        </h1>
                                                        <span class="tag tag-a">専門家記事</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-b">本音コラム</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-c">小説</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-d">占い</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-e">トレンド</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-f">著者コラム</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-g">診断</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-h">雑学</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-accent">PR</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-g">診断</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-h">雑学</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-accent">PR</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="new-articles-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <% for(var i=0; i< 10; i++) { %>
                                    <li class="new-articles-area" id="new-articles-area<%= [i+2] %>">
                                        <ul class="new-articles-list">
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標は？フェイスブック上で堂々と公開した彼のフィードには</span>
                                                        </h1>
                                                        <span class="tag tag-a">専門家</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-b">本音コラム</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-c">小説</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-d">占い</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-e">トレンド</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-f">著者コラム</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-g">診断</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-h">雑学</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-accent">PR</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-g">診断</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-h">雑学</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="new-articles-item">
                                                <article class="line-article line-article-appenddot">
                                                    <a href="#" class="line-article-link">
                                                        <h1 class="line-article-heading">
                                                            <span class="line-article-heading-inner js-dot-inner">マイク・ザッカーバーグの今年の目標</span>
                                                        </h1>
                                                        <span class="tag tag-accent">PR</span>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="new-articles-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>

                        </section>
                        <!--new-articles ここまで-->