                        <!--pickup ここから-->
                        <aside class="pickup" id="js-pickup-dot">
                            <div class="pickup-wrapper" id="js-pickup-slider">
                                <% for(var i=0; i < 8; i++) { %>
                                <div class="pickup-item">
                                    <article class="card card-pickup js-slide">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="card-body">
                                                    <p class="card-sub-heading">pickup</p>
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">急に充電したくなったらココ！</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                                <div class="pickup-item">
                                    <article class="card card-pickup js-slide">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="card-body">
                                                    <p class="card-sub-heading">pickup</p>
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">急に充電したくなったらココ！おすすめ「電源の使い放題のコワーキングスペース」まとめ40選</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                                <% } %>
                            </div>

                            <div class="slider-counter js-slider-counter">
                                <span class="slider-counter-child">1</span>
                                <span class="slider-counter-slash">/</span>
                                <span class="slider-counter-mother"></span>
                                <i class="sprite ribbon"></i>
                            </div>
                        </aside>
                        <!--pickup ここまで-->