                       <!--popular ここから-->
                        <section class="popular">
                            <div class="heading heading-c">
                                <h1 class="heading-jp">記事種別</h1>
                            </div>
                            <div class="popular-tab" id="js-popular">
                                <ul class="table-menu large" id="js-popular-menus">
                                    <li class="table-menu-item is-active">
                                        <a href="#popular-area1">本音コラム</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#popular-area2">著者コラム</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#popular-area3">小説</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#popular-area4">診断</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#popular-area5">占い</a>
                                    </li>
                                    <li class="table-menu-item">
                                        <a href="#popular-area6">雑学</a>
                                    </li>
                                </ul>
                                <ul class="popular-areas" id="js-popular-areas">
                                    <li class="popular-area is-active" id="popular-area1">
                                        <ul class="popular-list primary">
                                            <li class="popular-item primary">
                                                <article class="news primary">
                                                    <a href="#" class="news-link">
                                                        <div class="news-image">
                                                            <div class="news-cover"></div>
                                                            <div class="news-image-inner">
                                                                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                <noscript>
                                                                    <img src="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                </noscript>
                                                            </div>
                                                        </div>
                                                        <p class="news-text">あぁ、ガッカリ！　男性が「俺のことぜんぜんわかってくれてねぇ！」と女子に幻滅した瞬間8</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">【ぶっちゃけ本音】こんな彼女と付き合いたい！　男性が思う「理想の彼女」の条件3つ</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">本命彼女ひとりじゃ物足りない……。セカンド彼女の所持希望男子は○○％！</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">「あなたと幸せになりたい」「あなたを幸せにしたい」結婚を考えている彼女に言いたいのはどちら？</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">男性に聞く！　妥協して付き合ってはみたけれど「やっぱりムリ！」と思うのってどんなこと？　性格編</p>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="popular-area" id="popular-area2">
                                        <ul class="popular-list primary">
                                            <li class="popular-item primary">
                                                <article class="news primary">
                                                    <a href="#" class="news-link">
                                                        <div class="news-image">
                                                            <div class="news-cover"></div>
                                                            <div class="news-image-inner">
                                                                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                <noscript>
                                                                    <img src="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                </noscript>
                                                            </div>
                                                        </div>
                                                        <p class="news-text">あぁ、ガッカリ！　男性が「俺のことぜんぜんわかってくれてねぇ！」と女子に幻滅した瞬間8</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">【ぶっちゃけ本音】こんな彼女と付き合いたい！　男性が思う「理想の彼女」の条件3つ</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">本命彼女ひとりじゃ物足りない……。セカンド彼女の所持希望男子は○○％！</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">「あなたと幸せになりたい」「あなたを幸せにしたい」結婚を考えている彼女に言いたいのはどちら？</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">男性に聞く！　妥協して付き合ってはみたけれど「やっぱりムリ！」と思うのってどんなこと？　性格編</p>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="popular-area" id="popular-area3">
                                        <div class="popular-novel">
                                            <article class="novel">
                                                <a href="#" class="novel-link">
                                                    <div class="novel-image">
                                                        <span class="novel-time">毎日更新</span>
                                                        <div class="novel-cover"></div>
                                                        <div class="novel-image-inner">
                                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                                            <noscript>
                                                                <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                                            </noscript>
                                                        </div>
                                                    </div>
                                                    <p class="novel-text">
                                                        付き合ってそろそろ1年半の彼。最初のころはあんなに楽しかったのに、今は完全にマンネリ。<br>
                                                        いつか結婚もしたいけど、まだ選択肢も時間もある。将来、わたしの隣にいるのは誰？
                                                    </p>
                                                </a>
                                            </article>
                                            <ul class="popular-novel-list">
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第49話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第48話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第47話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第46話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第45話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                                <li class="popular-novel-item">
                                                    <article class="line-article line-article-time">
                                                        <a href="#" class="line-article-link">
                                                            <span class="line-article-heading">第44話　発熱</span>
                                                            <time datetime="2015-01-22">2015.01.22</time>
                                                        </a>
                                                    </article>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="popular-area popular-area-diagnosis" id="popular-area4">
                                        <ul class="diagnosis">
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="image/diagnosis-kanchigai.png" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="image/diagnosis-kanchigai.png" height="100" width="292" alt="気付いてないのはアナタだけ!? 勘違い女診断">
                                                    </noscript>
                                                </a>
                                            </li>
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="image/diagnosis-obasan.png" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="image/diagnosis-obasan.png" height="100" width="292" alt="老いは日常から！ オバサン要素診断">
                                                    </noscript>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="popular-list">
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">【ぶっちゃけ本音】こんな彼女と付き合いたい！　男性が思う「理想の彼女」の条件3つ</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">本命彼女ひとりじゃ物足りない……。セカンド彼女の所持希望男子は○○％！</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">「あなたと幸せになりたい」「あなたを幸せにしたい」結婚を考えている彼女に言いたいのはどちら？</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">男性に聞く！　妥協して付き合ってはみたけれど「やっぱりムリ！」と思うのってどんなこと？　性格編</p>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="popular-area popular-area-horoscope" id="popular-area5">
                                        <ul class="diagnosis">
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    </noscript>
                                                </a>
                                            </li>
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    </noscript>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="diagnosis">
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    </noscript>
                                                </a>
                                            </li>
                                            <li class="diagnosis-item">
                                                <a href="#">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/292x100" height="100" width="292" alt="">
                                                    </noscript>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="popular-list">
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">「あなたと幸せになりたい」「あなたを幸せにしたい」結婚を考えている彼女に言いたいのはどちら？</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">男性に聞く！　妥協して付き合ってはみたけれど「やっぱりムリ！」と思うのってどんなこと？　性格編</p>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="popular-area" id="popular-area6">
                                        <ul class="popular-list primary">
                                            <li class="popular-item primary">
                                                <article class="news primary">
                                                    <a href="#" class="news-link">
                                                        <div class="news-image">
                                                            <div class="news-cover"></div>
                                                            <div class="news-image-inner">
                                                                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                <noscript>
                                                                    <img src="http://placehold.it/80x48" height="48" width="80" alt="">
                                                                </noscript>
                                                            </div>
                                                        </div>
                                                        <p class="news-text">あぁ、ガッカリ！　男性が「俺のことぜんぜんわかってくれてねぇ！」と女子に幻滅した瞬間8</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">【ぶっちゃけ本音】こんな彼女と付き合いたい！　男性が思う「理想の彼女」の条件3つ</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">本命彼女ひとりじゃ物足りない……。セカンド彼女の所持希望男子は○○％！</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">「あなたと幸せになりたい」「あなたを幸せにしたい」結婚を考えている彼女に言いたいのはどちら？</p>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="popular-item">
                                                <article class="news simple-b">
                                                    <a href="#" class="news-link">
                                                        <p class="news-text">男性に聞く！　妥協して付き合ってはみたけれど「やっぱりムリ！」と思うのってどんなこと？　性格編</p>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="popular-areas-button">
                                            <a href="#" class="button-block">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>