                        <!--pr-media ここから-->
                        <aside class="pr-media">
                            <article class="media">
                                <a href="#" target="_blank" class="media-link">
                                    <div class="media-inner">
                                        <div class="media-image">
                                            <span class="tag tag-accent">PR</span>
                                            <div class="media-cover"></div>
                                            <div class="media-image-inner">
                                                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="media-heading">ワタシを2割増し！美ボディワンピ</p>
                                            <p class="media-text">オンオフを選ばないワンピは働く女子の強い味方。だけど正しく選んでる？</p>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </aside>
                        <!--pr-media ここまで-->