                        <!--pr-cards ここから-->
                        <ul class="pr-cards" id="pr-cards">
                            <li class="pr-cards-item">
                                <aside class="card">
                                    <a href="#" target="_blank" class="card-link">
                                        <div class="card-inner">
                                            <div class="card-image">
                                                <span class="tag tag-accent">PR</span>
                                                <div class="card-cover"></div>
                                                <div class="card-image-inner">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    </noscript>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-heading">
                                                    本命バレンタインチョコの渡し方7選【LIGでもサプライズを準備しました】
                                                </p>
                                                <p class="card-text">こんにちは、マチルダです。今日はバレンタインデー。皆様いかがお過ごしでしょうか？</p>
                                            </div>
                                        </div>
                                    </a>
                                </aside>
                            </li>
                            <li class="pr-cards-item">
                                <aside class="card">
                                    <a href="#" target="_blank" class="card-link">
                                        <div class="card-inner">
                                            <div class="card-image">
                                                <span class="tag tag-accent">PR</span>
                                                <div class="card-cover"></div>
                                                <div class="card-image-inner">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    </noscript>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-heading">
                                                    急に充電したくなったらココ！おすすめ「電源の使えるカフェ」
                                                </p>
                                                <p class="card-text">sample text sample text sample text.</p>
                                            </div>
                                        </div>
                                    </a>
                                </aside>
                            </li>
                            <li class="pr-cards-item">
                                <aside class="card">
                                    <a href="#" target="_blank" class="card-link">
                                        <div class="card-inner">
                                            <div class="card-image">
                                                <span class="tag tag-accent">PR</span>
                                                <div class="card-cover"></div>
                                                <div class="card-image-inner">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                    </noscript>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-heading">
                                                    急に充電したくなったらココ！おすすめ
                                                </p>
                                                <p class="card-text">sample text sample text sample text sample text sample text sample text</p>
                                            </div>
                                        </div>
                                    </a>
                                </aside>
                            </li>
                        </ul>
                        <!--pr-cards ここまで-->