                        <!--professional ここから-->
                        <section class="professional">
                            <div class="heading heading-d">
                                <h1 class="heading-jp">専門家紹介</h1>
                            </div>
                            <div class="professional-contents">
                                <ul class="professional-list">
                                    <% for(var i=0; i< 5; i++) { %>
                                    <li class="professional-item">
                                        <a href="" class="image-link">
                                            <figure class="image-link-inner">
                                                <div class="image-link-image">
                                                    <div class="image-link-cover"></div>
                                                    <div class="image-link-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/102x102" height="102" width="102" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/102x102" height="102" width="102" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <figcaption class="image-link-caption">岩崎真理子</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <% } %>
                                </ul>
                                <ul class="professional-list">
                                    <% for(var i=0; i< 5; i++) { %>
                                    <li class="professional-item">
                                        <a href="" class="image-link">
                                            <figure class="image-link-inner">
                                                <div class="image-link-image">
                                                    <div class="image-link-cover"></div>
                                                    <div class="image-link-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/102x102" height="102" width="102" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/102x102" height="102" width="102" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <figcaption class="image-link-caption">岩崎真理子</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                            <a href="#" class="button-block">
                                <span>著者・専門家一覧を見る</span>
                                <i class="arrow-right white"></i>
                            </a>
                        </section>
                        <!--professional ここまで-->