                        <!--pupular-ranking ここから-->
                        <section class="pupular-ranking">
                            <div class="pupular-ranking-header">
                                <h1 class="heading heading-i">
                                    <span class="heading-jp">みんなが読んでる人気記事</span>
                                    <span class="heading-sub-jp">「ファッション全般」</span>
                                </h1>
                            </div>
                            <ul class="pupular-ranking-list">
                                <li class="pupular-ranking-item">
                                    <article class="news ranking-wide">
                                        <a href="#" class="news-link">
                                            <p class="rank">
                                                <span class="sprite flag-b">1</span>
                                            </p>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="pupular-ranking-item">
                                    <article class="news ranking-wide">
                                        <a href="#" class="news-link">
                                            <p class="rank">
                                                <span class="sprite flag-b">2</span>
                                            </p>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <% if (pr === true) { %>
                                <!--PR ここから-->
                                <li class="pupular-ranking-item">
                                    <article class="news simple">
                                        <a href="#" target="_blank" class="news-link">
                                            <div class="news-tag">
                                                <span class="tag tag-accent">PR</span>
                                            </div>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--PR ここまで-->
                                <% } %>

                                <li class="pupular-ranking-item">
                                    <article class="news ranking-wide">
                                        <a href="#" class="news-link">
                                            <p class="rank">
                                                <span class="sprite flag-b">3</span>
                                            </p>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="pupular-ranking-item">
                                    <article class="news ranking-wide">
                                        <a href="#" class="news-link">
                                            <p class="rank">
                                                <span class="sprite flag-b">4</span>
                                            </p>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>

                                <% if (pr === true) { %>
                                <!--PR ここから-->
                                <li class="pupular-ranking-item">
                                    <article class="news simple">
                                        <a href="#" target="_blank" class="news-link">
                                            <div class="news-tag">
                                                <span class="tag tag-accent">PR</span>
                                            </div>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <!--PR ここまで-->
                                <% } %>

                                <li class="pupular-ranking-item">
                                    <article class="news ranking-wide">
                                        <a href="#" class="news-link">
                                            <p class="rank">
                                                <span class="sprite flag-b">5</span>
                                            </p>
                                            <div class="news-text">
                                                <p>晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </ul>
                        </section>
                        <!--pupular-ranking ここまで-->
