                        <!--ranking-category ここから -->
                        <div class="ranking-category" id="js-ranking-category">

                            <% cat_name = "恋愛", cat_slug = "love" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "ビューティ", cat_slug = "beauty" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "ヘルスケア", cat_slug = "health" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "グルメ", cat_slug = "gourmet" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "エンタメ", cat_slug = "entertainment" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "ファッション", cat_slug = "fashion" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "おでかけ", cat_slug = "outdoor" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "仕事", cat_slug = "work" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "マネー", cat_slug = "money" %>
                            <% include _ranking-category-item  %>

                            <% cat_name = "ライフ", cat_slug = "life" %>
                            <% include _ranking-category-item  %>

                        </div>
                        <!--general-category ここまで -->