                            <section class="ranking-category-block">
                                <h1 class="ranking-category-heading">
                                    <span class="ranking-category-icon"><i class="sprite cat-<%= cat_slug %>"></i></span>
                                    「<%= cat_name %>」の人気記事
                                </h1>
                                <ol class="ranking-category-list">
                                    <li class="ranking-category-item">
                                        <article class="popular-article">
                                            <a href="#" class="popular-article-link">
                                                <span class="tag tag-b">本音コラム</span>
                                                <h1 class="popular-article-heading">
                                                    誕生日と美女率の関係性に共感続出！ 綺麗な子ばかり生まれる月第2位は「9月」、第1位は？
                                                </h1>
                                                <i class="popular-article-rank sprite ranking-1"></i>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="ranking-category-item">
                                        <article class="popular-article">
                                            <a href="#" class="popular-article-link">
                                                <span class="tag tag-a">トレンド</span>
                                                <h1 class="popular-article-heading">
                                                    モテる“天然GIRL”とモテない“天然GIRL”の違いってなに!?
                                                </h1>
                                                <i class="popular-article-rank sprite ranking-2"></i>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="ranking-category-item">
                                        <article class="popular-article">
                                            <a href="#" class="popular-article-link">
                                                <span class="tag tag-b">本音コラム</span>
                                                <h1 class="popular-article-heading">
                                                    誕生日と美女率の関係性に共感続出！ 綺麗な子ばかり生まれる月第2位は「9月」、第1位は？
                                                </h1>
                                                <i class="popular-article-rank sprite ranking-3"></i>
                                            </a>
                                        </article>
                                    </li>
                                </ol>
                                <a href="#" class="button-block small">
                                    <span>一覧を見る</span>
                                    <i class="arrow-right white"></i>
                                </a>
                            </section>