                                <li class="ranking-general-area<% if(active){ %> is-active<% } %>" id="js-ranking-general-area<%= area_num %>">

                                    <ol class="ranking-general-list">
                                        <% for(var i=0; i < 10; i++) { %>
                                        <li class="ranking-general-item">
                                            <article class="article article-ranking">
                                                <a href="#" class="article-link">
                                                    <p class="article-rank">
                                                        <span class="sprite flag-ranking"><%= [i+1] %></span>
                                                    </p>
                                                    <div class="article-image">
                                                        <div class="article-cover"></div>
                                                        <div class="article-image-inner">
                                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/178x110" height="110" width="178" alt="">
                                                            <noscript>
                                                                <img src="http://placehold.it/178x110" height="110" width="178" alt="">
                                                            </noscript>
                                                        </div>
                                                    </div>
                                                    <div class="article-body">
                                                        <div class="article-body-header">
                                                            <span class="tag tag-b">本音コラム</span>
                                                            <time datetime="2015-01-01 00:00">
                                                                <i class="sprite clock"></i>
                                                                2015.01.01 00:00
                                                            </time>
                                                        </div>
                                                        <h1 class="article-heading">
                                                            かわいさが半減！ 男性が思う「メイクが残念な女子にありがちなこと13」
                                                        </h1>
                                                        <% if(area_num==='2'){ %>
                                                        <div class="article-count">
                                                            <i class="sprite twitter-base"></i><span>9999</span>
                                                        </div>
                                                        <% }else if(area_num==="3"){ %>
                                                        <div class="article-count">
                                                            <i class="sprite facebook-base"></i><span>9999</span>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </a>
                                            </article>
                                        </li>
                                        <% } %>
                                        <li class="ranking-general-item">
                                            <article class="article simple">
                                                <a href="#" target="_blank" class="news-link">
                                                    <div class="news-tag">
                                                        <span class="tag tag-accent">PR</span>
                                                    </div>
                                                    <p class="news-text">家計簿つけないと半分以上が貯金できない！家計簿のコツを大公開</p>
                                                </a>
                                            </article>
                                        </li>
                                        <li class="ranking-general-item">
                                            <article class="article simple">
                                                <a href="#" target="_blank" class="news-link">
                                                    <div class="news-tag">
                                                        <span class="tag tag-accent">PR</span>
                                                    </div>
                                                    <p class="news-text">家計簿つけないと半分以上が貯金できない！家計簿のコツを大公開</p>
                                                </a>
                                            </article>
                                        </li>
                                    </ol>

                                    <ul class="pagination">
                                        <li class="pagination-disable"></li>
                                        <!-- 
                                        バックリンクがある場合は以下を使用してください
                                        <li class="pagination-linkable">
                                            <a href="#" class="button-block">
                                                <span>1位〜10位</span>
                                                <i class="arrow-left white"></i>
                                            </a>
                                        </li>
                                        -->
                                        <li class="pagination-linkable">
                                            <a href="#" class="button-block">
                                                <span>21位〜30位</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>