                        <!--recommend ここから-->
                        <div class="recommend" id="js-recommend">
                            <ul class="table-menu primary" id="js-recommend-menus">
                                <li class="table-menu-item is-active">
                                    <a href="#js-recommend-area1">すべての記事</a>
                                    <i class="arrow-bottom"></i>
                                </li>
                                <li class="table-menu-item">
                                    <a href="#js-recommend-area2">専門家記事</a>
                                    <i class="arrow-bottom"></i>
                                </li>
                                <li class="table-menu-item">
                                    <a href="#js-recommend-area3">トレンド</a>
                                    <i class="arrow-bottom"></i>
                                </li>
                            </ul>

                            <ul class="recommend-areas" id="js-recommend-areas">

                                <!--recommend-area1 ここから-->
                                <li class="recommend-area is-active" id="js-recommend-area1">
                                    <div class="recommend-header">
                                        <div class="heading heading-a">
                                            <p class="heading-jp">編集部おすすめ</p>
                                        </div>
                                        <article class="recommend-article">
                                            <a href="#" class="recommend-article-link">
                                                <div class="recommend-article-image">
                                                    <div class="recommend-article-cover"></div>
                                                    <div class="recommend-article-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <h1 class="recommend-article-heading">すべての記事</h1>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="recommend-body">
                                        <ul class="recommend-list">
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="recommend-areas-button">
                                            <a href="#" class="button-block small">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <!--recommend-area1 ここまで-->

                                <!--recommend-area2 ここから-->
                                <li class="recommend-area" id="js-recommend-area2">
                                    <div class="recommend-header">
                                        <div class="heading heading-a">
                                            <p class="heading-jp">編集部おすすめ</p>
                                        </div>
                                        <article class="recommend-article">
                                            <a href="#" class="recommend-article-link">
                                                <div class="recommend-article-image">
                                                    <div class="recommend-article-cover"></div>
                                                    <div class="recommend-article-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <h1 class="recommend-article-heading">専門家記事</h1>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="recommend-body">
                                        <ul class="recommend-list">
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="recommend-areas-button">
                                            <a href="#" class="button-block small">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <!--recommend-area2 ここまで-->

                                <!--recommend-area3 ここから-->
                                <li class="recommend-area" id="js-recommend-area3">
                                    <div class="recommend-header">
                                        <div class="heading heading-a">
                                            <p class="heading-jp">編集部おすすめ</p>
                                        </div>
                                        <article class="recommend-article">
                                            <a href="#" class="recommend-article-link">
                                                <div class="recommend-article-image">
                                                    <div class="recommend-article-cover"></div>
                                                    <div class="recommend-article-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/272x170" height="170" width="272" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <h1 class="recommend-article-heading">トレンド</h1>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="recommend-body">
                                        <ul class="recommend-list">
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                            <li class="recommend-item">
                                                <article class="line-article simple">
                                                    <a href="#" class="line-article-link">
                                                        <p class="line-article-heading">
                                                            ここは15字以内で運用して下さい</p>
                                                        <i class="arrow-right arrow-right-accent"></i>
                                                    </a>
                                                </article>
                                            </li>
                                        </ul>
                                        <div class="recommend-areas-button">
                                            <a href="#" class="button-block border small">
                                                <span>一覧を見る</span>
                                                <i class="arrow-right white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <!--recommend-area3 ここまで-->

                            </ul>
                        </div>
                        <!--recommend ここまで-->