                        <% if(reccomendCardsType === 'type-a'){ %>
                        <!--reccomend-cards ここから-->
                        <aside class="reccomend-cards" id="js-reccomend-cards">
                            <ul class="reccomend-cards-list">
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="heading heading-a-xsmall">
                                                    <p class="heading-jp">編集部おすすめ</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、どうして結婚できないの！？　男性に聞いた“選ばれない女”の特徴</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-f">著者コラム</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="heading heading-a-xsmall">
                                                    <p class="heading-jp">編集部おすすめ</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、そのテクは逆効果!?　恋のプロが教える、ひとクセある系男子の取扱説明書　〜ロールキャベツ男子編〜</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-c">小説</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="heading heading-a-xsmall">
                                                    <p class="heading-jp">編集部おすすめ</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、どうして結婚できないの！？　男性に聞いた“選ばれない女”の特徴</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-a">専門家記事</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </ul>
                        </aside>
                        <!--reccomend-cards ここまで-->
                        <% } else if(reccomendCardsType === 'type-b'){ %>
                        <!--reccomend-cards ここから-->
                        <aside class="reccomend-cards" id="js-reccomend-cards">
                            <ul class="reccomend-cards-list">
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend no-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、どうして結婚できないの！？　男性に聞いた“選ばれない女”の特徴</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-f">著者コラム</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend no-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、そのテクは逆効果!?　恋のプロが教える、ひとクセある系男子の取扱説明書　〜ロールキャベツ男子編〜</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-f">著者コラム</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                                <li class="reccomend-cards-item">
                                    <article class="card card-recommend no-recommend">
                                        <a href="#" class="card-link">
                                            <div class="card-inner">
                                                <div class="card-body">
                                                    <p class="card-heading">
                                                        <span class="card-heading-text js-dot-inner">私だけ、どうして結婚できないの！？　男性に聞いた“選ばれない女”の特徴</span>
                                                    </p>
                                                    <p class="card-tag-wrapper">
                                                        <span class="tag tag-f">著者コラム</span>
                                                    </p>
                                                </div>
                                                <div class="card-image">
                                                    <div class="card-cover"></div>
                                                    <div class="card-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </ul>
                        </aside>

                        <aside class="reccomend-media">
                            <article class="media media-recommend">
                                <a href="#" class="media-link">
                                    <div class="media-inner">
                                        <div class="media-image">
                                            <div class="media-cover"></div>
                                            <div class="media-image-inner">
                                                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-body-inner">
                                                <span class="tag tag-b">本音コラム</span>
                                                <p class="media-heading">
                                                    私だけ、どうして結婚できないの！？　男性に聞いた“選ばれない女”の特徴
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </aside>
                        <!--reccomend-cards ここまで-->
                        <% } %>