<div class="recommend-post">
    <div class="recommend-post-heading">
        おすすめ記事
    </div>
    <% for(var i = 0; i < 2; i ++){ %>
    <ul class="recommend-post-list">
        <% for(var j = 0; j < 3; j ++){ %>
        <li class="recommend-post-item">
            <a href="#">
                <div class="recommend-post-title">
                    男性のホンネ！　恋しているから許せない、恋の熱を一瞬にして氷点下にする瞬間4選
                </div>
                <div class="recommend-post-category">
                    <span class="tag tag-a">専門家記事</span>
                </div>
                <div class="recommend-post-image">
                    <div class="recommend-post-image-cover"></div>
                    <div class="recommend-post-image-inner">
                        <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/178x110" width="178" height="110" alt="">
                        <noscript>
                            <img src="http://placehold.it/178x110" width="178" height="110" alt="">
                        </noscript>
                    </div>
                </div>
            </a>
        </li>
        <% } %>
    </ul>
    <% } %>
</div>
