                        <!--snap ここから-->
                        <section class="snap">
                            <header class="snap-header">
                                <div class="heading heading-e">
                                    <h1 class="heading-jp">ファッションスナップ</h1>
                                </div>
                                <a href="#" class="button-circle">
                                    スナップ<br/>一覧
                                </a>
                            </header>
                            <div class="snap-body">
                                <ul class="snap-body-list">
                                    <li class="snap-body-item">
                                        <article class="post post-snap">
                                            <a href="#" class="post-link">
                                                <div class="post-image">
                                                    <div class="sub-data">
                                                        <dl class="sub-data-inner">
                                                            <dt class="sub-data-title">AGE</dt>
                                                            <dd class="sub-data-content">27</dd>
                                                        </dl>
                                                        <div class="sub-data-back"></div>
                                                    </div>
                                                    <div class="post-cover"></div>
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/184x246" height="246" width="184" alt="">
                                                        <noscript>
                                                            <img src="http://placehold.it/184x246" height="246" width="184" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <div class="balloon balloon-fukidashi top">
                                                    <span class="balloon-text">ユリさん</span>
                                                    <i class="balloon-arrow"></i>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                    <li class="snap-body-item">
                                        <article class="post post-snap">
                                            <a href="#" class="post-link">
                                                <div class="post-image">
                                                    <div class="sub-data">
                                                        <dl class="sub-data-inner">
                                                            <dt class="sub-data-title">AGE</dt>
                                                            <dd class="sub-data-content">27</dd>
                                                        </dl>
                                                        <div class="sub-data-back"></div>
                                                    </div>
                                                    <div class="post-cover"></div>
                                                    <div class="post-image-inner">
                                                        <img class="js-lazy" src="image/dummy.png" data-original="http://placekitten.com/184/246" height="246" width="184" alt="">
                                                        <noscript>
                                                            <img src="http://placekitten.com/184/246" height="246" width="184" alt="">
                                                        </noscript>
                                                    </div>
                                                </div>
                                                <div class="balloon balloon-fukidashi top">
                                                    <span class="balloon-text">ユリさん</span>
                                                    <i class="balloon-arrow"></i>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!--snap ここまで-->