                        <!--time-articles ここから-->
                        <section class="time-section">
                            <header class="time-section-header">
                                <time datetime="2015-01-01 00:00">最終更新 00時00分</time>
                                <h1 class="time-section-heading">午後は失敗しない！みんなのオフィスの悩み特集</h1>
                                <p class="time-section-text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやいゆえよ</p>
                            </header>
                            <div class="time-section-feature">
                                <!--
                                　時間帯に合わせて↓これらの要素を出し分けしてください。
                                  morning ... 朝用デザイン
                                  daytime ... 昼用デザイン
                                  night ... 夜用デザイン
                                -->
                                <div class="time-section-data">
                                    <div class="time-section-image morning"></div>
                                    <!--<div class="time-section-image daytime"></div>-->
                                    <!--<div class="time-section-image night"></div>-->
                                </div>

                                <article class="media media-time">
                                    <a href="#" class="media-link">
                                        <div class="media-inner">
                                            <div class="media-image">
                                                <div class="media-cover"></div>
                                                <div class="media-image-inner">
                                                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/128x79" height="79" width="128" alt="">
                                                    <noscript>
                                                        <img src="http://placehold.it/128x79" height="79" width="128" alt="">
                                                    </noscript>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading">
                                                    モチベーションを上げて効率UP
                                                </p>
                                            </div>
                                        </div>
                                        <i class="arrow-right arrow-right-accent"></i>
                                    </a>
                                </article>
                            </div>
                            <ul class="time-section-list">
                                <li class="time-section-item">
                                    <article class="line-article simple">
                                        <a href="#" class="line-article-link">
                                            <h1 class="line-article-heading">
                                                ここは15字以内で運用して下さい</h1>
                                            <i class="arrow-right arrow-right-accent"></i>
                                        </a>
                                    </article>
                                </li>
                                <li class="time-section-item">
                                    <article class="line-article simple">
                                        <a href="#" class="line-article-link">
                                            <h1 class="line-article-heading">
                                                ここは15字以内で運用して下さい</h1>
                                            <i class="arrow-right arrow-right-accent"></i>
                                        </a>
                                    </article>
                                </li>
                                <li class="time-section-item">
                                    <article class="line-article simple">
                                        <a href="#" class="line-article-link">
                                            <h1 class="line-article-heading">
                                                ここは15字以内で運用して下さい</h1>
                                            <i class="arrow-right arrow-right-accent"></i>
                                        </a>
                                    </article>
                                </li>
                                <li class="time-section-item">
                                    <article class="line-article simple">
                                        <a href="#" class="line-article-link">
                                            <h1 class="line-article-heading">
                                                ここは15字以内で運用して下さい</h1>
                                            <i class="arrow-right arrow-right-accent"></i>
                                        </a>
                                    </article>
                                </li>
                            </ul>
                        </section>
                        <!--time-articles ここまで-->