                    <!--wp-pagenavi ここから-->
                    <div class="wp-pagenavi">
                        <a class="prevpostslink" href="" disabled="disabled">
                            <span>前ヘ</span>
                        </a>
                        <span class="current">1</span>
                        <a href="" class="page">2</a>
                        <a href="" class="page">3</a>
                        <a href="" class="page">4</a>
                        <a href="" class="page">5</a>
                        <a href="" class="page">6</a>
                        <span href="" class="page">...</span>
                        <a href="" class="page">20</a>
                        <a class="nextpostslink" href="">
                            <span>次ヘ</span>
                        </a>
                    </div>
                    <!--wp-pagenavi ここまで-->