.single {

    &-body {
        line-height: 1.8;
        @include rem(15);

        img {
            width: 100%;
            height: auto;
        }

        .movie {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            margin: 30px 0;

            iframe {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }

        p,
        div:not([class]) {
            line-height: 1.8;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        h2 {
            @extend .heading-a;
            margin-bottom: 20px;
        }

        h3 {
            @extend .heading-b;
            margin-bottom: 10px;
        }

        h4 {
            @extend .heading-c;
            margin-bottom: 10px;
        }

        ul {
            margin-bottom: 10px;

            li {
                list-style: disc;
                margin: 0 0 10px 20px;
            }
        }

        ol {
            margin-bottom: 10px;

            li {
                list-style-type: decimal;
                margin: 0 0 10px 20px;
            }
        }

        a {
            color: $base;
        }

        blockquote {
            position: relative;
            margin-bottom: 20px;
            padding: 34px 10px;

            a {
                display: block;
                color: base;
                text-align: right;
                @include rem(12);
            }
        }

        dl {
            position: relative;
            margin-bottom: 20px;
            padding: 12px 14px;

            dt {
                margin-bottom: 10px;
                color: $base;
                font-weight: bold;
            }
        }

        strong {
            font-weight: bold;
        }

        .alignleft {
            float: left;
            margin-right: 20px;
        }

        .alignright {
            float: right;
            margin-left: 20px;
        }

        .aligncenter {
            display: block;
            margin: 0 auto;
        }
    }
}
