/*
#overview
card

_card.scss
*/

/*
#styleguide
```
<aside class="card">
    <a href="#" class="card-link">
        <div class="card-inner">
            <div class="card-image">
                <div class="card-cover"></div>
                <div class="card-image-inner">
                    <span class="tag tag-accent large">PR</span>
                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                    <noscript>
                        <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                    </noscript>
                </div>
            </div>
            <div class="card-body">
                <p class="card-heading">
                    急に充電したくなったらココ！おすすめ「電源の使...
                </p>
                <p class="card-text">sample text sample text sample text sample text sample text sample text</p>
            </div>
        </div>
    </a>
</aside>

<article class="card card-pickup js-slide">
    <a href="#" class="card-link">
        <div class="card-inner">
            <div class="card-body">
                <p class="card-sub-heading">pickup</p>
                <p class="card-heading">
                    <span class="card-heading-text js-dot-inner">急に充電したくなったらココ！おすすめ「電源の使い放題のコワーキングスペース」まとめ40選</span>
                </p>
            </div>
            <div class="card-image">
                <div class="card-cover"></div>
                <div class="card-image-inner">
                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/206x128" height="128" width="206" alt="">
                    <noscript>
                        <img src="http://placehold.it/206x128" height="128" width="206" alt="">
                    </noscript>
                </div>
            </div>
        </div>
    </a>
</article>

<article class="card card-large">
    <a href="#" class="card-link">
        <div class="card-inner">
            <div class="card-body">
                <h1 class="card-heading">
                    夕方のブス顔にドン引きの男性続出！？教えて！モテ顔になるための「優秀プチコスメ」
                </h1>
            </div>
            <div class="card-image">
                <div class="card-cover"></div>
                <div class="card-image-inner">
                    <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/284x175" height="175" width="284" alt="">
                    <noscript>
                        <img src="http://placehold.it/284x175" height="175" width="284" alt="">
                    </noscript>
                </div>
            </div>
        </div>
    </a>
</article>
```
*/

.card {
    width: 206px;
    box-shadow: $shadow;
    text-align: left;

    &-link {
        display: block;
        background: #fff;
        text-decoration: none;

        &:hover {

            .card-heading {
                text-decoration: underline;
            }
        }

    }

    &-inner {
        position: relative;
    }

    &-body {
        padding: 12px 20px 20px;
    }

    &-heading {
        @include rem(15);
        line-height: 21px;
        font-weight: bold;
        color: $base;
        margin-bottom: 6px;
    }

    &-text {
        @include rem(13);
        line-height: 21px;
        color: $default;
    }

    .tag {
        position: absolute;
        top: 6px;
        left: -4px;
        z-index: 3;
    }

    &-image {
        position: relative;

        &-inner {
            width: 206px;
            height: 128px;
            @extend %thumb;
        }
    }

    &-cover {
        @extend %cover;
    }
}

//card-pickup
.card.card-pickup {

    .card-link {

        &:hover {
            .card-heading-text {
                text-decoration: underline;
            }
        }
    }

    .card-body {
        height: 124px;
        padding: 15px 16px 0;
        position: relative;
    }

    .card-heading {
        color: $default;
        font-weight: normal;
        display: inline-block;
        max-height: 65px;
        overflow: hidden;
    }

    .card-sub-heading {
        @extend %blow;
        width: 144px;
        height: 19px;
        background: url(#{$path-image}heading.png) 0 -789px no-repeat;
        margin: 0 auto 8px;
    }

    .card-heading-text {
        display: inline-block;
    }

    .dot {
        right: 20px;
        bottom: 17px;
    }
}

//card-large
.card.card-large {
    width: 284px;
    box-shadow: none;

    .card-heading {
        color: $default;
        margin-bottom: 0;
    }

    .card-image-inner {
        width: 284px;
        height: 175px;
    }
    
    .card-body {
        padding: 11px 0;
    }
}

//編集部おすすめ
.card.card-recommend {

    .card-link {

        &:hover {
            .card-heading-text {
                text-decoration: underline;
            }
        }
    }

    .heading-a-xsmall {
        margin-bottom: 13px;
    }

    .card-body {
        padding: 0 16px;
        position: relative;
        margin-bottom: 16px;
    }

    .card-heading {
        color: $default;
        font-weight: normal;
        display: inline-block;
        overflow: hidden;
        margin-bottom: 8px;
    }

    .card-heading-text {
        display: inline-block;
    }

    .dot {
        right: 20px;
        bottom: 13px;
    }

    .tag {
        padding: 0 2px;
        position: static;
    }

    .card-tag-wrapper {
        text-align: center;
    }

    //「編集部オススメ」の画像テキストなしver
    &.no-recommend {

        .card-inner {
            padding-top: 14px;
        }
    }
}