.category-menu {
    width: 100%;
    padding: 12px 0;
    border-radius: 3px;
    border: 2px solid $accent;

    &-border {
        display: block;
        width: 100%;
        border-top: $border;
        margin: 11px 0;
    }

    &-inner {
        padding: 0 14px;
    }

    &-list {
        display: table;
        table-layout: fixed;
    }

    &-title {
        display: table-cell;
        width: 100px;
        line-height: 18px;
        
        &.middle {
            vertical-align: middle;
        }
    }

    &-data {
        display: table-cell;
        letter-spacing: -.4em;
    }

    .tag.xlarge {
        letter-spacing: 0;
        margin: 3px 4px;
    }

    .tag-normal,
    .tag-accent-light {
        padding: 0 19px;
    }

    .tag-a,
    .tag-b,
    .tag-c,
    .tag-d,
    .tag-e,
    .tag-f,
    .tag-g,
    .tag-h {
        width: 120px;
    }
}