/*
#overview
deadline

_deadline.scss
*/

/*
#styleguide
```
<dl class="deadline">
    <dt class="deadline-heading">申込締切</dt>
    <dd class="deadline-time">2015年3月16日（月）昼12:00まで</dd>
</dl>

```
*/

.deadline{
    @extend %clearfix;
    padding: 17px 23px;
    border: 1px solid $base;
    
    &-heading,
    &-time{
        font-weight: bold;
    }

    &-heading{
        float: left;
        width: 4em;
    }
    &-time{
        margin-left: 5.5em; 
        color: $base;
    }
}