/*
#overview
dot

_dot.scss
*/

/*
#styleguide
```
<span class="dot">...</span>
```
*/

.dot {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 23%, rgba(255, 255, 255, 1) 43%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(23%, rgba(255, 255, 255, 0.53)), color-stop(43%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 23%, rgba(255, 255, 255, 1) 43%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 23%, rgba(255, 255, 255, 1) 43%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.53) 23%, rgba(255, 255, 255, 1) 43%);

    .lt-ie9 & {
        width: 21px;
        line-height: 13px;
        background: #fff;
    }
}