.entry {
    /*.entry-wrap*/
    &-wrap {
        background: #fff;
        padding: 30px 24px;
        line-height: 1.6;
        box-shadow: $shadow;
    }
    /*.entry-heading*/
    &-heading {
        background: #fff;
        position: relative;
        &:before {
            position: absolute;
            display: block;
            content: " ";
            width: 0;
            height: 0;
            left: 0;
            right: 0;
            bottom: -15px;
            margin: 0 auto;
            border-top: 15px solid #f2e6d5;
            border-left: 15px solid transparent;
            border-bottom: none;
            border-right: 15px solid transparent;
        }
        &:after {
            position: absolute;
            display: block;
            content: " ";
            width: 0;
            height: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-top: 10px solid #fff;
            border-left: 10px solid transparent;
            border-bottom: none;
            border-right: 10px solid transparent;
        }
        &-image{
            background: #eee;
            display: table;

            &-inner{
                @extend %thumb;
                width: 648px;
                height: 116px;
            }
        }
        &-description {
            padding: 15px 24px;
            box-shadow: $shadow;
            line-height: 1.6;
        }
    }

    /*.entry-article*/
    /*.entry-header*/
    &-header {
        line-height: 1.4;
        border-bottom: 1px solid $accent;
        padding-bottom: 15px;
        margin-bottom: 20px;
        &-heading {
            margin: 20px 0 10px;
            @include rem(26);
            font-weight: bold;
        }
        .tag {
            margin-right: 10px;
        }
        time {
            float: right;
            @include rem(18);
            font-family: $font-en;
            color: $accent;
            line-height: 19.5px;
            position: relative;
            top: 2px;
        }
        &-author {
            display: table;
            &-image {
                @extend %thumb;
                width: 30px;
                height: 30px;
                img{
                    vertical-align: middle;
                }
            }
            &-name{
                display: table-cell;
                vertical-align: middle;
                padding-left: 10px;
            }
        }
    }
    /*.entry-body*/
    &-body {
        line-height: 1.8;

        p,
        div:not([class]) {
            line-height: 1.8;
        }

        p {
            margin-bottom: 20px;
        }

        h2 {
            line-height: 1.6;
            margin-top: 60px;
            margin-bottom: 20px;
            background: $base-exhighlight;
            padding: 10px 20px;
            @include rem(24);
            font-weight: bold;
            position: relative;

            span {
                display: block;
                font-weight:normal;
                @include rem(18);
            }
            &.has-image{
                padding: 10px 20px 10px 50px;
                &:before {
                    position: absolute;
                    content: " ";
                    display: block;
                    background: url("../image/post-h2.png") no-repeat center;
                    width: 68px;
                    height: 55px;
                    top: -8px;
                    left: -16px;
                    margin: auto;
                }
            }
        }
        h3 {
            line-height: 1.6;
            margin-top: 40px;
            margin-bottom: 20px;
            padding: 8px 0 6px 0;
            @include rem(20);
            border-bottom: 3px solid $base-highlight;
            font-weight: bold;
            position: relative;
            &.has-image{
                padding: 8px 0 6px 48px;
                &:before {
                    position: absolute;
                    content: " ";
                    display: block;
                    background: url("../image/post-h3.png") no-repeat center;
                    width: 59px;
                    height: 61px;
                    top: 0;
                    left: -10px;
                }
            }
        }
        h4 {
            margin-top: 30px;
            margin-bottom: 8px;
            padding-left: 15px;
            @include rem(18);
            font-weight: bold;
            position: relative;
            &:before {
                position: absolute;
                content: " ";
                display: block;
                width: 4px;
                height: 18px;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto 0;
                border-left: 1px solid $base-highlight;
                border-right: 1px solid $base-highlight;
            }
            &.has-image{
                padding-left: 50px;
                &:after {
                    position: absolute;
                    content: " ";
                    display: block;
                    background: url("../image/post-h4.png") no-repeat center;
                    width: 32px;
                    height: 28px;
                    top: 0;
                    left: 10px;
                    bottom: 0;
                    margin: auto 0;
                }
            }
        }
        ul {
            margin-bottom: 10px;
            li {
                padding-left: 15px;
                list-style-type: none;
                line-height: 2;
                position: relative;
                &:before {
                    top: 10px;
                    left: 2px;
                    position: absolute;
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $accent;
                }
            }
        }
        ol {
            margin-bottom: 10px;
            li {
                list-style-type: decimal;
            }
        }
        a {
            color: $base;
            &.is-target {
                margin-bottom: 20px;
                &:before {
                    content: " ";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url("../image/blank-small-green.png") no-repeat center;
                    vertical-align: middle;
                }
            }
            &.has-image{
                &:before{
                    display:none;
                }
            }
            &:hover {
                text-decoration: none;
            }
            &.is-zoom{
                position: relative;
                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    z-index: 3;
                    width: 56px;
                    height: 56px;
                    right: 0;
                    bottom: 0;
                    background: url(../image/zoom.png) no-repeat;
                }
            }
            .image-wrap{
                display: inline-block;
                position: relative;
                max-width: 100%;
                .image-cover{
                    position: absolute;
                    z-index: 2;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: rgba(66, 63, 61, 0.3);
                    opacity: 0;
                    transition: opacity $speed;
                }
                &:hover{
                    .image-cover{
                        opacity: 1;
                    }
                }
            }
        }
        > blockquote {
            margin-bottom: 20px;
            padding: 18px 20px 33px 63px;
			position: relative;
            line-height: 1.8;
            &:before,
            &:after {
                content: " ";
                display: block;
                width: 60px;
                height: 60px;
                position: absolute;
            }
            &:before {
                top: 0;
                left: 0;
                border-top: 2px solid $base-highlight;
                border-left: 2px solid $base-highlight;
            }
            &:after {
                bottom: 8px;
                right: 0;
                border-right: 2px solid $base-highlight;
                border-bottom: 2px solid $base-highlight;
            }
            p {
                &:first-child:before {
                    content: " ";
                    display: block;
                    position: absolute;
                    @include sprite($post-blockquote);
                    top: 22px;
                    left: 24px;
                }
            }
        }
        blockquote + p {
            a {
                margin-top: -15px;
                display: block;
                text-align: right;
                color: $accent;
                @include rem(13);
            }
        }
        > dl {
            margin-bottom: 20px;
            padding: 20px 24px;
            position: relative;
			line-height: 1.8;
            &:before,
            &:after {
                content: " ";
                display: block;
                width: 60px;
                height: 60px;
                position: absolute;
            }
            &:before {
                top: 0;
                left: 0;
                border-top: 2px solid $base-highlight;
                border-left: 2px solid $base-highlight;
            }
            &:after {
                bottom: 0;
                right: 0;
                border-right: 2px solid $base-highlight;
                border-bottom: 2px solid $base-highlight;
            }
        }
        dt {
            float: left;
            font-weight: bold;
            color: $base;
            width: 100px;
            margin-right: 10px;
        }
        dd {
            overflow: hidden;
        }
        strong{
            font-weight: bold;
        }
        .alignnone {
            margin-bottom: 20px;
        }
        .alignleft{
            float: left;
            margin-right: 20px;
        }

        .alignright{
            float: right;
            margin-left: 20px;
        }

        .aligncenter{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a img .alignleft{
            float: left;
            margin-right: 20px;
        }

        a img .alignright{
            float: right;
            margin-left: 20px;
        }

        a img .aligncenter{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .wp-caption{
            line-height: 1.8;
            margin: 0 auto 20px;
            text-align: left;
            max-width: 600px;
            img{
                height: auto;
                transition: opacity .35s;
                vertical-align: bottom;
            }
        }
        .wp-caption-text{
            border: 1px solid #e3ddd9;
            line-height: 1.6;
            @include rem(13);
            padding: 10px;
            margin-top: 2px;
            position: relative;
            &:before,&:after{
                content: ' ';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:before{
                top: -6px;
                border-top: 0px solid #e3ddd9;
                border-left: 12px solid transparent;
                border-bottom: 6px solid #e3ddd9;
                border-right: 12px solid transparent;
            }
            &:after{
                top: -5px;
                border-top: 0px solid #fff;
                border-left: 12px solid transparent;
                border-bottom: 6px solid #fff;
                border-right: 12px solid transparent;
            }
        }
        .mod-borderBox{
            line-height: 1.8;
            border: 1px dashed $accent;
            margin-bottom: 20px;
            padding: 30px 30px 10px;
            .ttl{
                @include rem(20);
                font-weight: bold;
                border-bottom: 2px solid $base-light;
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 20px;
            }
        }

        .mod-info{
            margin-top: 60px;
            line-height: 1.8;
            position: relative;
            margin-bottom: 20px;
            p{
                margin: 20px;
            }
            &:after{
                content: ' ';
                display: block;
                position: absolute;
                width: 120px;
                height: 69px;
                top: 0;
                left: 0;
                background: url("../image/info-img.png") no-repeat left top;
            }
            &-border-top,&-border-bottom{
                display: block;
                background: url("../image/info-border.png") repeat-x left top;
                width: 100%;
                height: 8px;
            }
            &-border-top{
                margin-bottom: 10px;
            }
            &-border-bottom{
                margin-top: 10px;
            }
            &-body{
                line-height: 1.8;
                padding: 0 30px;
                border-left: 1px solid  $accent;
                border-right: 1px solid  $accent;
                overflow: hidden;
            }
            &-heading{
                padding: 30px 0 30px;
                text-align: center;
            }
        }
        .mod-btn {
            margin-bottom: 20px;
            position: relative;
            a {
                @include rem(18);
                line-height: 1.8;
                display: block;
                background-image: linear-gradient(to bottom, #74d9ce, #6cd2c7);
                color: white;
                text-decoration: none;
                padding: 14px 48px 14px 20px;
                border-radius: 4px;
                box-shadow: $shadow;
                text-align: center;
                margin-bottom: 20px;
                transition: all .35s;
                &:hover {
                    opacity: 0.8;
                }
            }
            &:before{
                content: ' ';
                position: absolute;
                z-index: 2;
                right: -10px;
                top: -10px;
                @include sprite($post-check);
            }
            &.mod-btnS {
                a{
                    @include rem(12);
                }
            }

            &.mod-btnM {
                a{
                    @include rem(14);
                }
            }

            &.mod-btnL {
                a{
                    @include rem(16);
                }
            }

            &.mod-btnLL {
                a{
                    @include rem(18);
                }
            }
            &.is-yellow{
                a{
                    background-image: -webkit-linear-gradient(linear, left top, left bottom, $accent, #e0c280);
                    background-image: linear-gradient(to bottom, $accent, #e0c280);
                }
                &:before{
                    @include sprite($post-check-yellow);
                }
            }
            &.is-red{
                a{
                    background-image: -webkit-linear-gradient(linear, left top, left bottom, $sub2, #fe908d);
                    background-image: linear-gradient(to bottom, $sub2, #fe908d);
                }
                &:before{
                    @include sprite($post-check-red);
                }
            }
        }

        .bg{
            background-color: $accent-light3;
        }

        .mod-imgs{
            margin-bottom: 20px;
            padding: 30px 30px 30px;
            border: 1px dashed $accent;
            display: inline-block;
            ul{
                margin-bottom: 0;
                li{
                    margin-top: 15px;
                    padding: 0;
                    &:first-child{
                        margin-top: 0;
                    }
                    &:before{
                        display: none;
                    }
                }
            }
        }


        .mod-row-imgs{
            margin-bottom: 20px;
            ul{
                padding: 30px 25px;
                display: table;
                width: 100%;
                table-layout: fixed;
                border: 1px dashed $accent;
                li{
                    list-style-type: none;
                    display: table-cell;
                    table-layout: fixed;
                    padding: 5px;
                    a.has-image{
                        display: inline;
                    }
                    &:before{
                        display: none;
                    }
                    *{
                        width: auto !important;
                    }
                }
            }
        }
    }
    /*.entry-attend*/
    &-attend {
        color: $accent;
        margin-bottom: 20px;
        border: 1px solid $accent;
        padding: 20px;
        line-height: 1.6;
        @include rem(13);
        > *:last-child{
            margin-bottom: 0;
        }
    }
    /*.entry-small-link*/
    &-small-link {
        margin-bottom: 20px;
        a {
            padding: 6px 16px;
            display: block;
            @include rem(13);
            color: $default;
            text-decoration: none;
            line-height: 1.6;
            position: relative;
            background: $accent-light3;
            &:hover {
                background: lighten($accent-light3, 1%);
                .arrow-right {
                    border-left-color: $default;
                    transform: translate3d(5px, 0, 0);
                }
            }
            .arrow-right {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .tag{
            margin-right: 5px;
        }
    }

    /*.entry-link*/
    &-link {
        position: relative;
        margin-bottom: 25px;
        background: url("../image/bg-stripe-sub.png");
        a {
            padding: 24px;
            background-color: rgba(255, 255, 255, 0);
            display: block;
            @include rem(18);
            text-decoration: none;
			transition: all .35s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
                color: $base;
                .entry-link-icon{
                    background: $base-highlight;
                }
                .blank-white{
                    opacity: 0;
                }
                .blank-black-2{
                    opacity: 1;
                }
            }
        }
        &-icon {
            position: absolute;
            display: block;
            background: $base-light;
            width: 40px;
            height: 100%;
            right: 0;
            top: 0;
            transition: all .35s;
        }
        .sprite {
            position: absolute;
            right: 12px;
            top: 24px;
        }
        .blank-white{
            transition: all .35s;
            opacity: 1;
        }
        .blank-black-2{
            transition: all .35s;
            opacity: 0;
        }
    }
    /*.entry-next*/
    &-next {
        margin-bottom: 25px;
        margin-right: 16px;
        line-height: 54px;
        box-sizing: border-box;
        border: 1px solid $base;
        position: relative;
        box-shadow: $shadow-green;
		transition: opacity .35s;
        &:hover {
            text-decoration: none;
        }
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
        }
        &:after {
            height: 0;
            top: 0;
            right: -15px;
            border-top: 27px solid transparent;
            border-left: 15px solid #fff;
            border-bottom: 27px solid transparent;
            border-right: none;
        }
        &:before {
            right: -16px;
            border-top: 27px solid transparent;
            border-left: 15px solid $base;
            border-bottom: 27px solid transparent;
            border-right: none;
        }
        a {
            color: $default;
            text-decoration: underline;
            padding-left: 70px;
            width: 582px;
            box-sizing: border-box;
            display: block;
            text-align: center;
            &:before {
                content: "次のページ";
                text-decoration: none;
                display: inline-block;
                color: $base;
                position: absolute;
                left: 30px;
                top: 0;
                bottom: 0;
                height: 16px;
                margin: auto;
            }
        }
    }
    /*.entry-check*/
    &-check {
        margin-bottom: 20px;
        position: relative;
        a {
            @include rem(18);
            line-height: 1.4;
            display: block;
            background-image: -webkit-linear-gradient(linear, left top, left bottom, #74d9ce, #6cd2c7);
            background-image: linear-gradient(to bottom, #74d9ce, #6cd2c7);
            color: white;
            text-decoration: none;
            padding: 14px;
            border-radius: 4px;
            box-shadow: $shadow;
            text-align: center;
            margin-bottom: 20px;
            transition: all .35s;
            &:hover {
                opacity: 0.8;
            }
        }
        .sprite {
            position: absolute;
            z-index: 2;
            right: -10px;
            top: -10px;
        }
        &.is-yellow{
            a{
                background-image: -webkit-linear-gradient(linear, left top, left bottom, $accent, #e0c280);
                background-image: linear-gradient(to bottom, $accent, #e0c280);
            }
        }
        &.is-red{
            a{
                background-image: -webkit-linear-gradient(linear, left top, left bottom, $sub2, #fe908d);
                background-image: linear-gradient(to bottom, $sub2, #fe908d);
            }
        }
    }
    /*.entry-point*/
    &-point {
        margin-bottom: 20px;
        &-top ,&-bottom {
            display: block;
            width: 100%;
            height: 8px;
            margin: 0;
            padding: 0;
        }
        &-top {
            background: url("../image/point-top.png") no-repeat;
        }
        &-bottom {
            background: url("../image/point-bottom.png") no-repeat;
        }
        &-inner{
            background: url("../image/point-bg.png") repeat;
            padding: 30px;
        }
        &-header {
            position: relative;
            .sprite{
                position: absolute;
                top: -45px;
                left: -40px;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            @include rem(15);
            font-weight: bold;
            padding: 0;
            margin: 0 0 20px;
            background: transparent;
            border: none;
            &:before,&:after{
                background: none;
            }
        }
        ul{
            li{
                    padding: 0px;
                &:before,&:after{
                    display: none;
                }
            }
        }
        &-item {
            line-height: 1.8;
        }
        .sprite.post_point_link{
            width: 16px;
        }
    }
    /*.entry-pager*/
    &-pager {
        margin-bottom: 45px;
    }
    &-recentry {
        margin-bottom: 20px;
    }
    /*.entry-sns*/
    &-sns {
        width: 225px;
        margin: 0 auto;
        overflow: hidden;

        ul{
    		li{
                float: left;
                margin: 0 5px;
                padding: 0;
                list-style-type: none;
    			&:before{
    				display: none;
    			}
    		}
    	}
    }
    /*.entry-aside*/
    &-aside {
        margin: 50px 0 20px;
        /*.entry-aside-similar*/
        &-similar {
            margin-bottom: 20px;
            &-heading {
                color: $base;
                @include rem(24);
                margin-bottom: 15px;
            }
            &-list {
                border-bottom: 1px dashed $accent;
                line-height: 1.6;
            }
            &-item {
                padding: 12px 0;
                border-top: 1px dashed $accent;
                a {
                    color: $default;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .sprite {
                margin-right: 10px;
            }
        }
        /*.entry-aside-keyword*/
        &-keyword {
            margin-bottom: 20px;
        }
        /*.entry-aside-pr*/
        &-pr {
            @extend %clearfix;
            position: relative;
            margin: 48px -8px 40px;
            a {
                float: right;
                position: relative;

                &:first-child{
                    float: left;
                }
            }
            &-cover{
                @extend %cover;
            }
            &-image{
                @extend %thumb;
                width: 300px;
                height: 250px;
            }
        }
        /*.entry-aside-author*/
        &-author {
            margin-bottom: 20px;
            padding: 25px;
            border: 1px solid $base;
            &-image {
                float: left;
                margin-right: 24px;
            }
            &-heading {
                font-weight: bold;
                @include rem(18);
                color: $base;
                margin-bottom: 20px;
            }
            &-body {
                @include rem(13);
                overflow: hidden;
                line-height: 1.6;
                p {
                    margin-bottom: 20px;
                }
            }
            &-link {
                overflow: hidden;
                a {
                    display: block;
                    box-sizing: border-box;
                    color: $default;
                    float: right;
                    background: $base-light;
                    width: 185px;
                    padding: 0 0 0 26px;
                    @include rem(13);
                    line-height: 26px;
                    text-decoration: none;
                    transition: all $speed;
                    position: relative;
                    .arrow-right {
                        position: absolute;
                        right: 10px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &:hover {
                        background: $base-highlight;
                        .arrow-right {
                            border-left-color: $default;
                            transform: translate3d(5px, 0, 0);
                        }
                    }
                }
            }
            &-image{

                &-inner{
                    @extend %thumb;
                    width: 152px;
                    height: 138px;
                }
            }
        }
        /*.entry-aside-recent*/
        &-recent {
            @extend %clearfix;
            &-heading {
                @include rem(24);
                float: left;
                color: $base;
                margin-bottom: 20px;
            }
            a{
                color: $default;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    .entry-aside-recent-image-cover{
                        opacity: 1;
                    }
                }
            }
            &-link {
                float: right;
                a {
                    @include rem(13);
                    line-height: 24px;
                    width: 96px;
                    box-sizing: border-box;
                    padding-left: 30px;
                    display: block;
                    background: $base-light;
                    position: relative;
                    text-decoration: none;
                    transition: all $speed;
                    color: $default;
                    &:hover {
                        text-decoration: none;
                        background: $base-highlight;
                        .arrow-right {
                            border-left-color: $default;
                            transform: translate3d(5px, 0, 0);
                        }
                    }
                    .arrow-right {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 10px;
                        margin: auto;
                    }
                }
            }
            &-list {
                clear: both;
                display: table;
                margin: 0 -15px;
            }
            &-item {
                @include rem(13);
                display: table-cell;
                box-sizing: border-box;
                width: 216px;
                border-left: 1px dashed $accent;
                padding: 0 15px;
                line-height: 1.6;
                &:first-child {
                    border-left: none;
                }

            }
            &-title {
                margin-bottom: 10px;
            }
            &-image{
                position: relative;
                &-inner{
                    @extend %thumb;
                    width: 178px;
                    height: 110px;
                }
                &-cover{
                    @extend %cover;
                }
            }
        }
    }
    /*.entry-bottom-pr*/
    &-bottom-pr {
        margin: 0 15px;
        a{
            width: 300px;
            height: 250px;
            position: relative;
            float: right;
            &:first-child {
                float: left;
            }
        }
        &-cover{
            @extend %cover;
        }
        &-image{
            @extend %thumb;
            width: 300px;
            height: 250px;
        }
    }
    /*.entry-outline*/
    &-outline {

        &-thumb {
            float: left;
            width: 178px;
            margin-right: 20px;

            > p {
                @extend %thumb;
                width: 178px;
                height: 110px;
                margin-bottom: 0;
            }
        }
        /*.entry-outline-sns*/
        &-sns {
            display: table;
            width: 178px;
            padding: 0 !important;
            margin-top: -2px;

            &-item {
                display: table-cell;
                text-align: center;
                margin-bottom: 0;
                padding: 0;
                vertical-align: middle;
                &:before{
                    display: none !important;
                }
            }

            &-counter {
                display: inline-block;
                padding: 4px 0 0;
                width: 100%;
                height: 100%;
                color: #fff;
                font-family: $font-en;
                text-decoration: none;
                @include rem(20);

                &.twitter {
                    background: $twitter-color;
                }

                &.facebook {
                    background: $facebook-color;
                }

                &.google {
                    background: $google-color;
                }
            }

            .sprite{
                padding:3px 0;
            }

            &-count {
                display: block;
                margin: 3px 0;
                line-height: 1.2;
            }
        }
        &-text {
            overflow: hidden;
            line-height: 1.8;
            position: relative;
            height: 164px;

            &-gradation {
                position: absolute;
                z-index: 2;
                bottom: 0;
                display: block;
                width: 100%;
                height: 40px;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
            }
        }
        &-readmore {
            clear: both;
            margin: 25px 0 45px;
            a {
                display: block;
                background: $base-light;
                text-align: center;
                text-decoration: none;
                color: $default;
                line-height: 56px;
                @include rem(15);
                font-weight: bold;
                transition: background $speed;
                &:hover {
                    background: $base-highlight;
                }
            }
        }
    }
}
