.information {
    background: #fff;
    .heading {
        margin-left: 212px;
    }
    &-contents {
        padding: 0 24px 8px;
        box-shadow: $shadow;
    }
    &-list {
        width: 100%;
        padding: 9px 0 16px;
        border-top: $border;
    }
    &-item {
        display: table-cell;
        width: 50%;
        &:nth-child(1) {
            border-right: $border;
            padding-right: 16px;
        }
        &:nth-child(2) {
            padding-left: 16px;
        }
    }
}
.vertically {
    margin-top: 9px;
    padding: 0 0 16px;
    .information-item {
        display: block;
        width: 100%;
        border-top: $border;
        @extend %clearfix;
        &:nth-child(1) {
            border-top: none;
            border-right: none;
            padding-right: 0;
        }
        &:nth-child(2) {
            padding-left: 0;
        }
        .card-image {
            float: left;
        }
        .card-body {
            float: right;
        }
    }
}
.information-item {

    &-wrap {
        padding: 8px 0;
        overflow: hidden;
    }

    &-link {
        display: block;
        color: $default;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &-inner {
        @extend %clearfix;
    }

    &-image {
        position: relative;
        float: left;

        &-inner {
            @extend %thumb;
            width: 130px;
            height: 80px;
        }

        img{
            height: auto;
        }
    }
    &-body {
        margin-left: 145px;
        vertical-align: middle;
    }
    &-cover {
        @extend %cover;
    }
    &-heading{
        @include rem(18);
        line-height: 1.5;
        padding-top: 11px;
    }
}
