.new-articles {
    background: #fff;
    box-shadow: $shadow;

    .heading {
        margin-left: 175px;
    }

    &-list {
        padding: 0 25px;
    }

    &-areas {
        position: relative;

        &-button {
            padding: 24px 0 0;
        }
    }

    &-area {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity $speed;

        .js & {
            display: none;
            opacity: 0;
        }

        &.is-active {
            display: block;
            opacity: 1;
        }
    }

    &-button {
        overflow: hidden;
        width: 100%;
        background: $base-highlight;
        position: relative;
        display: table;

        &-cell {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        &.double {

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                background: #fff;
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 2;
            }
            .new-articles-button-cell {
                width: 50%;
            }
        }
        &.triple {
            .new-articles-button-cell {
                width: 36%;
                &.center{
                    width: 28%;
                    background: $base;
                    font-family: $font-en;
                    color: #fff;
                    @include rem(24);
                }
            }
        }
    }

    //new-articles-listtype
    &.new-articles-listtype {

        .heading {
            margin-left: 84px;
        }

        .heading-block {
            margin: 0 50px;
        }

        .new-articles-item {
            border-bottom: $border;

            &:first-child {
                border-top: $border;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .new-articles-bottom {
            padding: 25px;
        }
    }

    //パートナー新着記事
    &.new-articles-partnertype {

        .heading {
            padding-right: 73px;
            margin-left: 157px;
        }

        .new-articles-item {
            border-top: $border;
        }

        .news-link {
            padding: 12px 13px 11px 0;
        }

        .news-text {
            @include rem(15);
            line-height: 24px;
        }

        .new-articles-areas-button {
            padding: 7px 0 0;
        }
    }
}
