.pager{
	text-align: center;
	position: relative;
	height: 36px;
	font-family: $font-en;

	&-inner{
		position: absolute;
		left: 0;
		right: 0;
	}
	ul{
		li{
			padding: 0;
			vertical-align: top;
			display: inline-block;
			line-height: 32px;
	  		height: 32px;
			list-style-type: none;
			list-style-position: inside;
			&:before{
				display: none;
			}
		}
	}
	&-prev,&-next,&-num{
		line-height: 32px;

		a{
			display: block;
			background: $base-light;
			color:white;
			border: 1px solid $base-light;
			transition: background-color 0.35s;
			&:hover{
				background: $base-highlight;
				border: 1px solid $base-highlight;
			}
		}
	}
	&-prev{
		margin-right: 35px;
	}
	&-next{
		margin-left: 35px;
	}
	&-prev,&-next{
		a{
			width: 150px;
			text-align: center;
			color: $default;
			position: relative;
			font-weight: bold;

			&:hover{
				.arrow-right{
					border-left-color: #423f3d;
					-webkit-transform: translate3d(5px, 0, 0);
					transform: translate3d(5px, 0, 0);
				}

				.arrow-left{
					border-right-color: #423f3d;
					-webkit-transform: translate3d(-5px, 0, 0);
					transform: translate3d(-5px, 0, 0);
				}
			}
		}

		i{
			position: absolute;
			top:0;
			bottom:0;
			margin: auto 0;
		}

		.arrow-right{
			right: 10px;
		}

		.arrow-left{
			left: 10px;
		}
	}
	&-num{
		@include rem(24);
		a{
			padding: 0 10px;
			color: $default;
		}
		margin: 0 3px;

		&.is-current{
			a{
				color: $base;
				background: #fff;
				border-color: transparent;
				border-bottom-color: $base-light;
			}
		}
	}
}
