/*
#overview
pagination

_pagination.scss
*/

/*
#styleguide
```
<ul class="pagination">
    <li class="pagination-disable"></li>
    <li class="pagination-linkable">
        <a href="#" class="button-block">
            <span>21位〜30位</span>
            <i class="arrow-right white"></i>
        </a>
    </li>
</ul>

<ul class="pagination">
    <li class="pagination-linkable">
        <a href="#" class="button-block">
            <span>1位〜10位</span>
            <i class="arrow-left white"></i>
        </a>
    </li>
    <li class="pagination-linkable">
        <a href="#" class="button-block">
            <span>21位〜30位</span>
            <i class="arrow-right white"></i>
        </a>
    </li>
</ul>

```
*/

.pagination{
    @extend %clearfix;
    li{
        float: left;
        width: 50%;
        box-sizing: border-box;
        &:first-child{
            border-right: 1px solid #fff;
        }
    }

    &-disable{
        height: 56px;
        background-color: rgba($base,0.5);
    }
}