.pickup {
    position: relative;

    &-container {
        width: 100%;
        position: relative;
    }

    &-wrapper {
        width: 656px;
        overflow: hidden;
        visibility: hidden;
    }

    .slick-list {
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 14px;
        position: relative;
        left: -7px;
    }

    &-track {
        letter-spacing: -.4em;
    }

    &-item {
        display: inline-block;
        letter-spacing: normal;
        width: 221px;
        vertical-align: top;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }

        .card {
            display: inline-block;
        }
    }

    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        margin-top: -45px;
        z-index: 2;
    }

    .slider-counter {
        width: 78px;
        height: 33px;
        line-height: 33px;
        margin: 0 auto;
        position: relative;
        letter-spacing: normal;
        text-align: center;

        > span {
            @include rem(24);
            position: relative;
            z-index: 1;
            font-family: $font-en;
            color: $base;
        }

        .sprite {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    .slick-prev {
        left: -20px;
    }

    .slick-next {
        right: -20px;
    }
}