/*
#overview
post

_post.scss
*/

/*
#styleguide
```
<article class="post">
    <a href="#" target="_blank" class="post-link">
        <div class="post-mask">
            <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
            <div class="post-mask-back"></div>
        </div>
        <div class="post-image">
            <div class="post-image-inner">
                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/252x155" height="155" width="252" alt="">
                <noscript>
                    <img src="http://placehold.it/252x155" height="155" width="252" alt="">
                </noscript>
            </div>
        </div>
    </a>
</article>

<article class="post">
    <a href="#" target="_blank" class="post-link">
        <div class="balloon">
            <div class="balloon-inner">
                <span class="balloon-heading">開催</span>
                <br/>
                <time datetime="2015-10-10" class="balloon-big">10.10</time>
                <br/>
                <span class="balloon-small">ほか</span>
            </div>
        </div>
        <div class="post-mask">
            <p class="post-heading">パリに行くなら蚤の市に！雑貨バイヤーに聞いた「おしゃれ雑貨選び」</p>
        </div>
        <div class="post-image">
            <div class="post-image-inner">
                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/252x155" height="155" width="252" alt="">
                <noscript>
                    <img src="http://placehold.it/252x155" height="155" width="252" alt="">
                </noscript>
            </div>
        </div>
    </a>
</article>

<article class="post post-present">
    <a href="#" target="_blank" class="post-link">
        <div class="balloon balloon-fukidashi">
            <div class="balloon-inner">
                <span class="balloon-heading">応募締切</span>
                <span class="balloon-small">- 2015 -</span>
                <span class="balloon-big">10.29</span>
            </div>
            <i class="balloon-arrow"></i>
        </div>
        <div class="post-image">
            <div class="post-image-inner">
                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/168x98" height="98" width="168" alt="">
                <noscript>
                    <img src="http://placehold.it/168x98" height="98" width="168" alt="">
                </noscript>
            </div>
        </div>
        <p class="post-heading">【プレゼント】ハーバー「かさつきレスキューセット」【3名様】</p>
    </a>
</article>

<article class="post post-snap">
    <a href="#" target="_blank" class="post-link">
        <div class="post-image">
            <div class="sub-data">
                <dl class="sub-data-inner">
                    <dt class="sub-data-title">AGE</dt>
                    <dd class="sub-data-content">27</dd>
                </dl>
                <div class="sub-data-back"></div>
            </div>
            <div class="post-cover"></div>
            <div class="post-image-inner">
                <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/184x246" height="246" width="184" alt="">
                <noscript>
                    <img src="http://placehold.it/184x246" height="246" width="184" alt="">
                </noscript>
            </div>
        </div>
        <div class="balloon balloon-fukidashi top">
            <span class="balloon-text">ユリさん</span>
            <i class="balloon-arrow"></i>
        </div>
    </a>
</article>
```
*/

.post {

    &-link {
        display: block;
        width: 252px;
        height: 155px;
        position: relative;
        text-decoration: none;

        &:hover {

            .post-mask-back {
                opacity: 0;
            }

            .post-heading {
                transform: translate3d(0, 100%, 0);
            }
        }
    }

    &-image {
        position: relative;

        &-inner {
            @extend %thumb;
            width: 252px;
            height: 155px;
        }
    }

    &-mask {
        width: 252px;
        height: 155px;
        padding: 12px;
        overflow: hidden;
        position: absolute;
        z-index: 2;

        &-back {
            width: 252px;
            height: 155px;
            padding: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(8, 8, 9, 0) 16%, rgba(17, 17, 19, 0) 34%, rgba(52, 52, 54, 0.65) 100%);
            transition: opacity $speed;
            
            .lt-ie9 & {
                background: rgba(0,0,0,.5);
            }
        }
    }

    &-heading {
        width: 252px;
        padding: 0 12px 7px;
        color: #fff;
        line-height: 1.4;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        transition: transform $speed;
    }

    .balloon {
        position: absolute;
        top: -12px;
        right: -33px;
        z-index: 3;
    }
}

//present
.post.post-present {

    .post-image {
        width: 160px;
        height: 98px;
        margin-bottom: 8px;

        &-inner {
            width: 160px;
            height: 98px;
        }
    }

    .post-link {
        height: auto;

        &:hover {

            .post-heading {
                transform: translate3d(0, 0, 0);
                text-decoration: underline;
            }
        }
    }

    .post-heading {
        padding: 0;
        color: $default;
        line-height: 24px;
        position: static;
    }

    .balloon-fukidashi {
        position: absolute;
        top: 0;
        right: 0;
    }
}

//snap
.post.post-snap {

    .post-link {
        width: 100%;
        height: 285px;

        &:hover {

            .post-cover {
                opacity: 1;
            }
        }
    }

    .post-image {
        width: 184px;
        height: 246px;
        margin-bottom: 8px;

        &-inner {
            width: 184px;
            height: 246px;
        }
    }

    .balloon-fukidashi {
        width: 100%;
        height: 30px;
        line-height: 30px;
        top: 0;
        right: 0;
    }

    .post-cover {
        @extend %cover;
    }
}

.sub-data {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    font-family: $font-en;
    color: #fff;
    text-align: center;
    padding: 21px 0 0 28px;

    &-inner {
        position: relative;
        z-index: 2;
    }

    &-back {
        display: block;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-left: 40px solid rgba(66, 63, 61, 0.55);
        transform: rotate(45deg);
        position: absolute;
        top: 16px;
        right: -40px;
    }

    &-title {
        @include rem(14);
        margin-bottom: -3px;
    }

    &-content {
        @include rem(24);
    }
}
