.professional {
    background: #fff;
    box-shadow: $shadow;

    .heading {
        position: relative;
        top: -6px;
        margin-left: 173px;
    }

    &-contents {
        padding: 0 14px 6px;
    }

    &-list {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    &-item {
        width: 20%;
        height: 180px;
        display: table-cell;
        text-align: center;
        vertical-align: top;

        .image-link {
            display: inline-block;
        }
    }
}