.ranking-general {
    background: #fff;
    box-shadow: $shadow;

    &-area{
        display: none;
        opacity: 0;
        padding-top: 8px;
        transition: opacity $speed;
        .list{
            overflow: hidden;
        }
        &.is-active{
            display: block;
            opacity: 1;
        }
    }

    &-item{
        border-top: $border;

        &:first-child{
            border: none;
        }
    }

    .news{
        &-link{
            padding: 16px 24px;
        }
        &-tag{
            padding: 0 13px 0 0;
        }
    }
}