.recommend {
    background: #fff;
    box-shadow: $shadow;

    &-header {
        float: left;
        width: 272px;
        padding-top: 14px;
    }

    .heading {
        position: relative;
        left: -2px;
        margin-bottom: 36px;
    }

    &-areas {
        position: relative;
    }

    &-area {
        @extend %clearfix;
        width: 100%;
        padding: 24px;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity $speed;

        .js & {
            display: none;
            opacity: 0;
        }

        &.is-active {
            display: block;
            opacity: 1;
        }
    }

    &-article {

        &-link {
            display: block;
            width: 272px;
            height: 210px;
            text-decoration: none;
            position: relative;
        }

        &-image {
            @extend %thumb;
            width: 272px;
            height: 170px;
        }

        &-cover {
            @extend %cover;
            width: 272px;
            height: 170px;
        }

        &-heading {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            color: $default;
            background: url(#{$path-image}bg-stripe-sub.png);
        }
    }

    &-body {
        float: right;
        width: 304px;
    }

    &-list {
        border-top: $border;
        margin-bottom: 13px;
    }
}