.recommend-post {
    background: #fff;
    padding: 24px;
    box-shadow: $shadow;
    &-heading {
        height: 90px;
        @include rem(18);
        font-weight: bold;
        text-align: center;
        position: relative;
        color: $base;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
        }
        &:before {
            left: 90px;
            top: -11px;
            width: 160px;
            height: 70px;
            background: url("../image/recomend-sub.png") no-repeat center;
        }
        &:after {
            margin: auto;
            left: 0;
            right: 0;
            top: 29px;
            width: 160px;
            height: 32px;
            background: url("../image/recomend-english.png") no-repeat center;
        }
    }
    &-list {
        display: table;
        margin: 0 -15px 20px;
    }
    &-item {
        padding: 0 15px;
        display: table-cell;
        border-left: 1px dashed #ccc;
        &:first-child {
            border-left: none;
        }
    }
    &-title {
        @include rem(13);
        line-height: 1.5;
        margin-bottom: 6px;
    }
    &-category {
        text-align: center;
        margin-bottom: 10px;
    }
    &-image{
        position: relative;
        &-inner{
            @extend %thumb;
            width: 178px;
            height: 110px;
        }
        &-cover {
            @extend %cover;
        }
    }

    a {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            .recommend-post-image-cover {
                opacity: 1;
            }
        }
    }
}
