.time-section {
    @extend %clearfix;
    background: #fff;
    padding-bottom: 12px;
    box-shadow: $shadow;

    &-header {
        float: left;
        width: 285px;
        padding: 24px 0 0 24px;

        > time {
            display: block;
            color: $accent;
            @include rem(13);
            margin-bottom: 13px;
        }
    }

    &-heading {
        color: $base;
        @include rem(18);
        line-height: 27px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &-text {
        color: $base;
        @include rem(13);
        line-height: 20px;
    }

    &-feature {
        float: right;
        width: 316px;
    }

    &-data {
        float: right;
        display: block;
        width: 228px;
        height: 66px;
        position: relative;
        margin-bottom: 5px;
    }

    &-image {
        display: block;
        width: 228px;
        height: 77px;
        position: absolute;
        top: -12px;
        right: 0;
        background-image: url(#{$path-image}day-time.png);
        background-repeat: no-repeat;

        &.morning {
            background-position: 0 0;
        }

        &.daytime {
            background-position: 0 -88px;
        }

        &.night {
            background-position: 0 -176px;
        }
    }

    .media-time {
        float: left;
        width: 290px;
    }

    &-list {
        float: left;
        width: 100%;
        padding: 0 16px;
        margin-top: 13px;
    }

    &-item {
        float: left;
        width: 50%;
        padding: 0 8px;
    }
    
    .line-article-link {
        border-top: $border;
        border-bottom: 0;

        .arrow-right {
            top: 17px;
            right: 3px;
        }
    }
}