//要素を上下中央に
@mixin middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

//要素を上下左右中心に
@mixin core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}