<% var title = "アロマテラピーで実践する働く女子のココロとカラダのメンテ術｜ビューティー｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-adsense";
%>
<% include layout/_head %>

            <div class="adsense-wrapper">
<% include layout/_header-static %>
            </div>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">

                    <!--bread ここから-->
                    <div class="adsense-wrapper">
                        <nav class="bread">
                        <ol class="bread-inner">
                            <li class="bread-item">
                                <a href="#" class="bread-link">
                                    <i class="sprite home"></i>
                                </a>
                            </li>
                            <li class="bread-item">
                                <a href="#" class="bread-link">
                                    <span class="bread-text">ライフ</span>
                                </a>
                            </li>
                            <li class="bread-item is-current">
                                <div class="bread-link">
                                    <span class="bread-text">ゼロからのモテ料理</span>
                                </div>
                            </li>
                        </ol>
                    </nav>
                    </div>
                    <!--bread ここまで-->

                    <!--広告コンテンツ ここから-->
                    <div class="contents-adsense">
                        <link rel="stylesheet" href="http://woman.mynavi.jp/ad/joil/css/common.css">
                        <link rel="stylesheet" href="http://woman.mynavi.jp/ad/joil_test/css/vol1.css">

                        <div id="ad-wrapper">
                            <!-- コンテンツ -->
                            <div id="contents" class="clearfix">

                                <!-- ここに入れるんだ！ contents -->
                                <div id="joil">
                                    <div class="page-header">
                                        <h1><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/header_title.jpg" alt="ボクたちこれで胃袋をつかまれちゃいました！つい彼女に惚れちゃう！最強手料理レシピ" width="679" height="238"></h1>
                                        <p class="vol"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/header_vol.jpg" alt="vol.1" width="59" height="60"></p>
                                        <p class="lead">男子がバリバリと仕事をこなすには、おいしいご飯でのエネルギーチャージは必須。<br>だからこそ、好きな女性の手料理は永遠のアコガレであり、腕前は気にしているはず。<br>彼氏が本当に「おいしい」と思える料理で、料理の腕も恋愛テクも上げちゃいましょう！</p>
                                    </div>
                                    <div class="page-nav">
                                        <ul>
                                            <li><a href="vol2.html"><img src="http://woman.mynavi.jp/ad/joil_test/img/nav_omotenashi.gif" alt="おもてなしレシピへ" width="265" height="67" class="joil-rollover"></a></li>
                                            <li><a href="vol3.html"><img src="http://woman.mynavi.jp/ad/joil_test/img/nav_gift.gif" alt="手作りギフトレシピへ" width="281" height="67" class="joil-rollover"></a></li>
                                        </ul>
                                    </div>
                                    <div class="page-body">
                                        <div class="page-title">
                                            <h2><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/page_title.jpg" alt="胃袋 ibukuro をつかまれるのには法則があった！" width="552" height="62"></h2>
                                            <p>「手作り料理で男子のハートをつかめ」と言いますが、実際男性どう感じているのでしょう？<br>マイナビのアンケートによれば、やはり料理のできる女性は男性から見て高ポイント。<br>しかも、男性が喜ぶメニューを作れることがハートを掴む大きな要素のようです。<br>ただの料理上手と、男性のハートをつかむ料理上手の違いとは？</p>
                                            <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/page_title_fork.jpg" alt="" width="62" height="238"></div>
                                        </div>
                                        <div class="your-recipe">
                                            <h3><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_title.gif" alt="あなたのつくれぽ大募集！" width="184" height="68"></h3>
                                            <h4><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_recipe_title.gif" alt="胃袋つかみ系投稿レシピ" width="128" height="54"></h4>
                                            <ul>
                                                <li><a href="http://v6.advg.jp/adpv6/r/3wB_NN7" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_potatogratin.jpg" alt="ポテトグラタン" width="180" height="192" class="joil-rollover"></a></li>
                                                <li><a href="http://v6.advg.jp/adpv6/r/3wB_NNA" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_garlicsaute.jpg" alt="ガーリックポン酢ソテー" width="180" height="192" class="joil-rollover"></a></li>
                                                <li><a href="http://v6.advg.jp/adpv6/r/3wB_NND" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_mushroompasta.jpg" alt="きのこしょうゆパスタ" width="180" height="192" class="joil-rollover"></a></li>
                                                <li><a href="http://v6.advg.jp/adpv6/r/3wB_NNG" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/yr_chickensaute.jpg" alt="鶏肉のしょうゆソテー" width="180" height="192" class="joil-rollover"></a></li>
                                            </ul>
                                        </div>
                                        <div class="page-section rule1">
                                            <div class="section-title clearfix">
                                                <h3><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_lead_title.gif" alt="法則1 ボリューム？手間？定番メニュー？" width="516" height="90"></h3>
                                                <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_lead_illust.gif" alt="法則1のイメージイラスト" width="260" height="199"></div>
                                                <p>男性はメニューや食材に詳しい知識を持った人は少なく、誰でも知っているカレーや肉料理といった、見てわかりやすい定番メニューを好む人が多いが本当のところ。わかりやすく、簡単にできておいしいものが一番なのは間違いありません。繊細な味付けよりは味がはっきりしたものを好むことも男性の特徴です。それでも料理の腕前を披露したいという女子は、調味料に凝ってみるのもアリ。しかしあくまで彼の好きな味をリサーチして料理に生かしましょう。</p>
                                            </div>
                                            <div class="section-recipe clearfix">
                                                <div class="section-recipe-inner">
                                                    <div class="header">
                                                        <h4><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_recipe_title.jpg" alt="ボクはこれで胃袋つかまれました！" width="487" height="72"></h4>
                                                        <div class="man">
                                                            <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_recipe_man.jpg" alt="中村順也さんの写真" width="110" height="110"></div>
                                                            <p>中村順也さん（25）<br>SE</p>
                                                        </div>
                                                        <p class="message">一杯でお米とおかずの両方が味わえるどんぶりメニューは、ダイナミックな見た目も食欲をそそります。カリカリに焼いた豚肉はバターの風味がして美味しいし、さらに上に温泉卵が乗ってるなんてマーヴェラス!! 思わずおかわりしてしまうほどの美味しさで、何度もリクエストしています。</p>
                                                    </div>
                                                    <div class="body">
                                                        <div class="photo"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_recipe_photo.jpg" alt="豚肉のわさびバター風味どんぶり" width="345" height="376"></div>
                                                        <div class="material">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_recipe_material.gif" alt="材料（2人分）" width="248" height="30"></h5>
                                                            <ul>
                                                                <li>豚こま肉 … 300ｇ</li>
                                                                <li>塩・胡椒 … 適量</li>
                                                                <li>小麦粉 … 適量</li>
                                                                <li>サラダ油 … 適量</li>
                                                                <li>ごはん … どんぶり2杯分</li>
                                                                <li>カイワレ … 1パック</li>
                                                                <li>温泉卵 … 2個</li>
                                                                <li>刻み海苔 … お好み</li>
                                                                <li>●醤油・みりん … 各大さじ1.5</li>
                                                                <li>●酒 … 大さじ1</li>
                                                                <li>●砂糖 … 小さじ2</li>
                                                                <li>●わさび … 小さじ1/2</li>
                                                                <li>バター好きのためのマーガリン<br>　… 大さじ2/3</li>
                                                            </ul>
                                                        </div>
                                                        <div class="howto">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r1_recipe_howto.gif" alt="作り方" width="604" height="30"></h5>
                                                            <ol>
                                                                <li><span>1.　</span>豚こま肉に塩胡椒をして、小麦粉を薄くまぶし、多めの油を熱したフライパンでカリカリに焼く。</li>
                                                                <li><span>2.　</span>１のフライパンの油をペーパーで拭きとったら、●印を合わせた調味液とマーガリンを入れて絡める。</li>
                                                                <li><span>3.　</span>器に盛り、パセリをふりかける。</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ad-margarine">
                                                <h3><a href="http://v6.advg.jp/adpv6/r/3wB_NMd" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine.jpg" alt="バター好きのためのマーガリン" width="664" height="175" class="joil-rollover"></a></h3>
                                                <p>独自の「味わいMTE製法」によって、バターの風味やコクを表現したワンランク上のマーガリン。<br>加熱することでコクと風味がさらに豊かになり、料理作りにもピッタリ。</p>
                                                <ul>
                                                    <li><a href="http://v6.advg.jp/adpv6/r/3wB_NMm" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine_btn_cookpad.jpg" alt="cookpad バター好きのレシピがいっぱい！" width="350" height="85" class="joil-rollover-fade"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="page-section rule2">
                                            <div class="section-title clearfix">
                                                <h3><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_lead_title.gif" alt="法則2 ご飯が進むおかずがイイ！" width="554" height="90"></h3>
                                                <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_lead_illust.gif" alt="法則2のイメージイラスト" width="260" height="200"></div>
                                                <p>女子目線で料理を作ると、手の込んだものや見栄え重視になってしまいがち。手間暇かけた料理を作って彼に褒めてもらいたい気持ちはわからなくもありません。しかし、男性が妻や彼女に希望する料理のアンケートで堂々のナンバーワンに輝いたのは、「ご飯がススム料理」。仕事で腹ペコの男子たるもの、何はともあれがっつり食べたいのが基本。ボリュームがあることはもちろん、単純にご飯との相性がいい料理は無条件にウェルカムなのです。</p>
                                            </div>
                                            <div class="section-recipe clearfix">
                                                <div class="section-recipe-inner">
                                                    <div class="header">
                                                        <h4><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_recipe_title.jpg" alt="ボクはこれで胃袋つかまれました！" width="487" height="72"></h4>
                                                        <div class="man">
                                                            <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_recipe_man.jpg" alt="齋藤亮治さんの写真" width="110" height="110"></div>
                                                            <p>齋藤亮治さん（29）<br>営業</p>
                                                        </div>
                                                        <p class="message">肉が大好きなんですが、自分だと塩コショウをして焼くぐらいでおいしくない。彼女が家で作ってくれたチキンのソテーはガーリックが効いていて食欲をそそる上に、一緒に炒めた野菜もすっごく美味！ 簡単なのに白ワインなどの調味料で一手間加えるだけでこんなにおいしいなんて感激です！</p>
                                                    </div>
                                                    <div class="body">
                                                        <div class="photo"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_recipe_photo.jpg" alt="チキンとポテトのガーリックバター風味炒め" width="345" height="376"></div>
                                                        <div class="material">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_recipe_material.gif" alt="材料（2人分）" width="248" height="30"></h5>
                                                            <ul>
                                                                <li>鶏もも肉 … １枚<span>（一口大カット）</span></li>
                                                                <li>玉ねぎ … 1個<span>（くし切り）</span></li>
                                                                <li>じゃがいも … 中2個<br><span>（皮をむき一口大カット）</span></li>
                                                                <li>にんにく … ひとかけ<br><span>（半量はすりおろし、半量はスライス）</span></li>
                                                                <li>パセリ … 少々<span>（みじん切り）</span></li>
                                                                <li>塩 … 適量</li>
                                                                <li>粗挽き黒胡椒 … お好み</li>
                                                                <li>お好み白ワイン … 大さじ2<br><span>（または酒）</span></li>
                                                                <li>バター好きのためのマーガリン<br>　… 大さじ1</li>
                                                            </ul>
                                                        </div>
                                                        <div class="howto">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r2_recipe_howto.gif" alt="作り方" width="604" height="30"></h5>
                                                            <ol>
                                                                <li><span>1.　</span>鶏もも肉にしっかりめに塩・頃胡椒をふって、おろしにんにくをもみ込み、じゃがいもは皮をむいて一口大にカットして600ｗのレンジで2分半加熱する。</li>
                                                                <li><span>2.　</span>１の鶏肉を少量のマーガリン（分量外）を熱したフライパンで皮目をパリパリに焼いたら、鶏肉から出た脂をペーパーで拭きとり、裏返して白ワインをふりかける。</li>
                                                                <li><span>3.　</span>鶏肉をフライパンの片側に寄せ、空いたところにマーガリンとスライスにんにくを入れて、にんにくがやや色づいたら、玉ねぎとじゃがいもを加えて塩・黒胡椒をふり、炒め合わせる。</li>
                                                                <li><span>4.　</span>器に盛り、パセリをふりかける。</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ad-margarine">
                                                <h3><a href="http://v6.advg.jp/adpv6/r/3wB_NMg" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine.jpg" alt="バター好きのためのマーガリン" width="664" height="179" class="joil-rollover"></a></h3>
                                                <p>マーガリンなのにバターのようなリッチな味わいと風味が特徴。<br>トーストに塗るだけではなく、熱を加えても風味とコクが落ちないため、料理づくりでも大活躍のアイテム。</p>
                                                <ul>
                                                    <li><a href="http://v6.advg.jp/adpv6/r/3wB_NMp" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine_btn_cookpad.jpg" alt="cookpad バター好きのレシピがいっぱい！" width="350" height="85" class="joil-rollover-fade"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="page-section rule3">
                                            <div class="section-title clearfix">
                                                <h3><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_lead_title.gif" alt="法則3 ササッと一品でデキる女の印象アップ！" width="516" height="90"></h3>
                                                <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_lead_illust.gif" alt="法則3のイメージイラスト" width="225" height="215"></div>
                                                <p>アンケートには「冷蔵庫にあったものであっという間に料理を作ってくれた！」と感動している意見もあり、手際の良さも男子の好感度を稼げる部分。普段料理をしない人からすると、特別な食材がなくても料理が作れるのは、まるで魔法を使ったかのようにスゴイことなのです。パスタのような乾麺や万能調味料になるめんつゆなど、男性の一人暮らしでも揃えてあるようなアイテムでどんなものが作れるか、アイデアを蓄えておくのもひとつのテです。</p>
                                            </div>
                                            <div class="section-recipe clearfix">
                                                <div class="section-recipe-inner">
                                                    <div class="header">
                                                        <h4><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_recipe_title.jpg" alt="ボクはこれで胃袋つかまれました！" width="487" height="72"></h4>
                                                        <div class="man">
                                                            <div><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_recipe_man.jpg" alt="古谷正志さんの写真" width="110" height="110"></div>
                                                            <p>古谷正志さん（32）<br>マーケティング</p>
                                                        </div>
                                                        <p class="message">普段は料理をしないので家にはほとんど食材らしきものがありません。でも彼女がお酒のツマミに買っておいた明太子ですっごく美味しいパスタを作ってくれたんです。醤油が家になかったんですが、残っていためんつゆを使って味付けもバッチリ。アイデアと手際の良さに惚れ直しました。</p>
                                                    </div>
                                                    <div class="body">
                                                        <div class="photo"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_recipe_photo.jpg" alt="明太レモンバター風味のパスタ" width="345" height="376"></div>
                                                        <div class="material">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_recipe_material.gif" alt="材料（2人分）" width="248" height="30"></h5>
                                                            <ul>
                                                                <li>パスタ … 200ｇ</li>
                                                                <li>パスタ茹で用の塩<br>　… 湯１Ｌにつき大さじ1</li>
                                                                <li>明太子 … 2腹（60ｇ）</li>
                                                                <li>レモン汁 … 大さじ1</li>
                                                                <li>めんつゆ（3倍濃縮）<br>　… どんぶり2杯分</li>
                                                                <li>バター好きのためのマーガリン<br>　… 大さじ2/3</li>
                                                                <li>大葉 … 8枚（千切り）</li>
                                                            </ul>
                                                        </div>
                                                        <div class="howto">
                                                            <h5><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/r3_recipe_howto.gif" alt="作り方" width="604" height="30"></h5>
                                                            <ol>
                                                                <li><span>1.　</span>	鍋に湯を沸かして塩を入れ、パスタを袋表示時間より1分短く茹でる。</li>
                                                                <li><span>2.　</span>薄皮から中身を取り出した明太子・レモン汁・めんつゆ・マーガリンをボウルに入れ、１で茹でたパスタを加えて全体を絡める。</li>
                                                                <li><span>3.　</span>器にパスタを盛り、大葉を乗せる。</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ad-margarine">
                                                <h3><a href="http://v6.advg.jp/adpv6/r/3wB_NMj" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine.jpg" alt="バター好きのためのマーガリン" width="664" height="179" class="joil-rollover"></a></h3>
                                                <p>口に入れた瞬間の香りから味わいまで、贅沢でコクと味わいはバター好きも納得のおいしさ。<br>マーガリンの使いやすさとバターの美味しさを兼ね備え、料理やお菓子作りの大きな味方。</p>
                                                <ul>
                                                    <li><a href="http://v6.advg.jp/adpv6/r/3wB_NMs" target="_blank"><img src="http://woman.mynavi.jp/ad/joil_test/img/vol1/ad_margarine_btn_cookpad.jpg" alt="cookpad バター好きのレシピがいっぱい！" width="350" height="85" class="joil-rollover-fade"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-nav page-nav-footer">
                                        <ul>
                                            <li><a href="vol2.html"><img src="http://woman.mynavi.jp/ad/joil_test/img/nav_omotenashi.gif" alt="おもてなしレシピへ" width="265" height="67" class="joil-rollover"></a></li>
                                            <li><a href="vol3.html"><img src="http://woman.mynavi.jp/ad/joil_test/img/nav_gift.gif" alt="手作りギフトレシピへ" width="281" height="67" class="joil-rollover"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /ここにいれたかい？contents -->

                            </div><!-- /#contents -->
                        </div>
                    </div>
                    <!-- /#ad-wrapper -->

                    <!--広告コンテンツ ここまで-->

                </div>
            </div>
            <!--contents ここまで-->

            <div class="adsense-wrapper">
<% include layout/_footer %>
            </div>
<% include layout/_script %>