<% var title = "アロマテラピーで実践する働く女子のココロとカラダのメンテ術｜ビューティー｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-adsense";
%>
<% include layout/_head %>

            <div class="adsense-wrapper">
<% include layout/_header-static %>
            </div>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">

                    <!--bread ここから-->
                    <div class="adsense-wrapper">
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ライフ</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <!--bread ここまで-->

                    <!--広告コンテンツ ここから-->
                    <div class="contents-adsense">
                        <link rel="stylesheet" href="http://test.l-svr.net/mynaviwoman/html/adsense/pc/aroma/css/reset.css">
                        <link rel="stylesheet" href="http://test.l-svr.net/mynaviwoman/html/adsense/pc/aroma/css/style.css">

                        <div id="ad-wrapper">
                        <!-- コンテンツ -->
                        <div id="contents" class="clearfix">

                            <div id="Aroma130222" class="clearfix">

                                <div id="aroma_header">
                                    <h1><img src="http://woman.mynavi.jp/ad/aroma/images/header.png" width="944" height="280" alt="アロマテラピーで実践する働く女子のココロとカラダのメンテ術　ストレス解消　肩こりやむくみ　スキンケア　生理痛"></h1>
                                    <p>毎日が忙しくてゆっくり休めない、ストレスがたまっていつもイライラしちゃう、という働く女子も多いはず。<br>
                                        アロマテラピーなら気軽に楽しみながら、ココロとカラダをメンテナンスすることが可能なんです！<br>
                                        疲れた顔をしている時こそ、お気に入りの香りでしっかりリフレッシュしちゃいましょう♪</p>
                                    <!-- #gtr_header End --></div>


                                <div id="aroma_nav">
                                    <ul class="clearfix">
                                        <li><a href="#aroma_main_body"><img src="http://woman.mynavi.jp/ad/aroma/images/navi_1.png" width="300" height="50" alt="アロマで実践！簡単ケア" class="rollover"></a></li><li><a href="#aroma_main_interview"><img src="http://woman.mynavi.jp/ad/aroma/images/navi_2.png" width="300" height="50" alt="働く女子に聞く！アロマ生活" class="rollover"></a></li><li class="last"><a href="#aroma_introB"><img src="http://woman.mynavi.jp/ad/aroma/images/navi_3.png" width="300" height="50" alt="今注目のアロマテラピー検定とは？" class="rollover"></a></li>
                                    </ul>
                                </div>

                                <div id="aroma_main">
                                    <img src="http://woman.mynavi.jp/ad/aroma/images/bg_w_top.png" alt="" width="762" height="20">
                                    <div id="aroma_intro">
                                        <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_intro.png" alt="働く女子の毎日をHAPPYにしてくれる！アロマテラピーって？" width="430" height="48">
                                        <p>アロマテラピーとは、100％植物から抽出した「精油」の香りや効用を活かしながら、心身のトラブルを穏やかに回復させていこうという自然療法。主に嗅覚、呼吸からの吸入、皮膚からの経皮吸収により、脳や全身へと流れていきます。アロマテラピーを上手に使えば、疲れてしまったココロもカラダもリフレッシュ！上手に癒されちゃいましょう。</p>
                                        <p><a href="http://v6.advg.jp/adpv6/r/3wB_2VR" target="_blank">＞＞アロマテラピーの知識を学ぶには</a></p>
                                    </div>

                                    <div id="aroma_main_body" class="clearfix">

                                        <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_01.png" alt="簡単♪アロマテラピーで実践する！ココロとカラダのバランスケア" width="746" height="70">
                                        <div class="care_1">
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_care_1.png" alt="仕事で疲れてイライラしているときに" width="330" height="50">
                                            <p>芳香浴がおすすめです。アロマディフューザーをお部屋にセットする方法もありますが、手軽に始めたいのであれば、ティッシュに精油を1、2滴垂らしてデスクに置くだけでも香りを楽しめます。仕事中にも◎。</p>
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/reco_care_1.png" alt="おすすめの精油は？ベルガモット、ラベンダー" width="330" height="110">
                                        </div>
                                        <div class="care_2">
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_care_2.png" alt="肩こりや目の疲れが辛いときに" width="330" height="50">
                                            <p>洗面器にお湯をはり精油を1〜3滴落とし、タオルに含ませて軽く絞り、首や肩に当ててみて。温かさと香りの作用で、身体がゆっくりとほぐれていきますよ！目の周りなど、皮膚の弱いところへ直接当てるのはNGなので気をつけて。</p>
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/reco_care_2.png" alt="おすすめの精油は？サイプレス、ローズマリー" width="330" height="110">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="care_3">
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_care_3.png" alt="お肌の不調を感じたときに" width="330" height="50">
                                            <p>植物性のオイルに、精油を1％以下の濃度になるように混ぜたトリートメントオイルを作ります（顔に使用する場合は0.1〜0.5%）。それをゆっくり優しく肌に塗布していきましょう。オイルの効果により滑らかにマッサージでき、肌がつやつやに潤っちゃいます。</p>
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/reco_care_3.png" alt="おすすめの精油は？フランキンセンス、カモミール・ローマン" width="330" height="110">
                                        </div>
                                        <div class="care_4">
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_care_4.png" alt="毎回の生理痛を和らげたいときに" width="330" height="50">
                                            <p>バスタイムでの沐浴法がおすすめ。精油の量は、全身浴の場合はバスに5滴以下、半身浴や部分浴の場合は3滴以下が適量。いずれもよくかき混ぜて入浴してね。香りにつつまれてリラックスしながらゆったりとカラダを温めることができます！</p>
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/reco_care_4.png" alt="おすすめの精油は？ローズオットー、ゼラニウム" width="330" height="110">
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="space10"></div>

                                        <div class="care_others">
                                            <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_care_others.png" alt="ほかにも、空気清浄や風邪予防など、活用方法はたくさん！" width="568" height="20">
                                            <p>アロマテラピーには、まだまだたくさんの活用方法があります。例えば、無水エタノールと、精油、精製水を加えたルームフレッシュナーほか、風邪予防にそなえてマグカップを利用しての蒸気吸入法なども！毎日役立つとっておきのリラックス法まで、アナタにあった方法を楽しんじゃおう。</p>
                                            <p><a href="http://v6.advg.jp/adpv6/r/3wB_2Vd" target="_blank">＞＞アロマテラピーの楽しみ方をもっと知る</a></p>
                                        </div>

                                        <!-- #aroma_main_body End --></div>


                                    <div id="aroma_main_interview" class="clearfix">
                                        <div class="prof clearfix">
                                            <div class="photo"><img src="http://woman.mynavi.jp/ad/aroma/images/ph_01.png" alt="PR会社勤務　青山沙織さん"></div>
                                            <p><img src="http://woman.mynavi.jp/ad/aroma/images/ttl_interview.png" alt="アロマテラピー検定1級を取得した青山さんにお話を伺いました！"></p>
                                            <p class="name">PR会社勤務　青山沙織さん（26歳）
                                            </p>
                                            <p>自分へのご褒美としてリラクセーションサロンに通っていましたが、頻繁に行けるわけじゃないし…と自宅でアロマディフューザーを使い始めました。そこから精油に興味がわき、アロマテラピー検定を知ることに。何か勉強したい！という気持ちも後押ししたせいか、意欲的に取り組めました。
                                            </p>
                                        </div>
                                        <div class="topic_head"><img src="http://woman.mynavi.jp/ad/aroma/images/bg_topic_head.png" alt=""></div>
                                        <div class="topic">
                                            <div class="topic_ph"><img src="http://woman.mynavi.jp/ad/aroma/images/img_int_1.png" alt=""></div>
                                            <div class="topic_midashi"><img src="http://woman.mynavi.jp/ad/aroma/images/ttl_int_1.png" alt="「スキマ時間」にしっかり勉強" width="300" height="52"></div>
                                            <div class="topic_wrap"><p>平日は仕事で忙しく、休日は友人と遊んだりやりたいこともあるので、「スキマ時間」を活用。通勤時間や休日夜のゆったりした時間などに「公式テキスト」と市販の問題集で勉強しました。2級と1級どちらを受けようか迷いましたが、せっかくなので１級を受験しました。</p></div>
                                            <div class="topic_ph_r"><img src="http://woman.mynavi.jp/ad/aroma/images/img_int_2.png" alt=""></div>
                                            <div class="topic_midashi"><img src="http://woman.mynavi.jp/ad/aroma/images/ttl_int_2.png" alt="香りテストのために実際に精油を購入"></div>
                                            <div class="topic_wrap"><p>香りの嗅ぎ分けテストがあるため、実際に該当の精油を購入し、自宅でリラックスしながら何度も嗅いで学びました。好きで使っていた精油はすぐに覚えられましたが、思っていた以上に知らないものも多くてびっくりしました。</p></div>
                                            <div class="topic_ph"><img src="http://woman.mynavi.jp/ad/aroma/images/img_int_3.png" alt=""></div>
                                            <div class="topic_midashi"><img src="http://woman.mynavi.jp/ad/aroma/images/ttl_int_3.png" alt="問題集を何回も解き直してバッチリ！"></div>
                                            <div class="topic_wrap"><p>問題集をしっかりと勉強していったので、本番はあまり難しく感じませんでした。出題範囲は精油のプロフィール以外にも環境の話題や歴史など幅広い内容で、アロマに限らず自分の知識を深めることができたと思います。</p></div>
                                            <div class="topic_midashi"><img src="http://woman.mynavi.jp/ad/aroma/images/ttl_int_4.png" alt="アロマテラピーの知識で私生活も充実しています！"></div>
                                            <div class="topic_w_herf"><p>精油についての知識を得たことで、自分の体調や気分にあわせてブレンドできるようになりました！より深くアロマテラピーを楽しんでいます。</p>
                                                <div class="space10"></div>
                                                <img src="http://woman.mynavi.jp/ad/aroma/images/img_int_4.png" alt=""></div>
                                            <div class="topic_w_herf"><p>資格取得はあくまでひとつの通過点。ふだんの生活でも十分に役立つので、時折テキストを読んだりして活用しています！</p>
                                                <div class="space10"></div>
                                                <img src="http://woman.mynavi.jp/ad/aroma/images/img_int_5.png" alt=""></div>
                                            <div class="aroma_clear"></div>
                                        </div>
                                        <div class="bottom_btn"><a href="http://v6.advg.jp/adpv6/r/3wB_2Vg" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/btn_aroma.png" alt="アロマテラピー検定についてはこちら" width="540" height="66" class="rollover"></a></div>

                                        <!-- #aroma_main_interview End --></div>

                                    <div id="aroma_introB">
                                        <img src="http://woman.mynavi.jp/ad/aroma/images/ttl_kentei.png" alt="20代、30代の働く女子に人気のアロマテラピー検定って？" width="350" height="53">
                                        <p>アロマテラピー検定とは、内閣府から公益認定を受けた公益社団法人 日本アロマ環境協会（AEAJ）が実施する資格認定試験。2級と1級があり、毎年5月と11月に実施されます。人気のアロマテラピーですが、正しく安全に楽しむためには、適切な知識が必要。資格を取得することにより、何気なく楽しんでいた香りを、もっと身近に効果的に活用することができるようになりますよ！
                                            検定では、知識のみならず実際の香りも出題！アロマテラピーに興味がある人なら、実際に香りを楽しみながら勉強することで、無理なく正しい知識が身についちゃいます。</p>
                                        <div class="aroma_clear"></div>
                                        <div class="btn"><a href="http://v6.advg.jp/adpv6/r/3wB_2Vj" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/btn_aroma.png" alt="アロマテラピー検定についてはこちら" width="540" height="66" class="rollover"></a></div>
                                        <div class="link">
                                            <div class="link_wrap">
                                                <a href="http://v6.advg.jp/adpv6/r/3wB_2Vm" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/img_school.png" alt="" width="84" height="84"></a><p class="left"><a href="http://v6.advg.jp/adpv6/r/3wB_2Vm" target="_blank">認定スクールで<br>
                                                アロマテラピーを学ぶ！</a></p>
                                            </div>
                                            <div class="link_wrap"><a href="http://v6.advg.jp/adpv6/r/3wB_2Vp" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/img_license.png" alt="" width="84" height="84"></a><p><a href="http://v6.advg.jp/adpv6/r/3wB_2Vp" target="_blank">アロマの資格の活かし方をみる！</a></p></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <img src="http://woman.mynavi.jp/ad/aroma/images/bg_w_btm.png" alt="" width="762" height="20">

                                    <!-- #aroma_main End --></div>

                                <div id="aroma_side">

                                    <dl>
                                        <dt><a href="http://v6.advg.jp/adpv6/r/3wB_2VU" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/img_r1.png" width="170" height="170" alt=""></a></dt>
                                        <dd><a href="http://v6.advg.jp/adpv6/r/3wB_2VU" target="_blank">アロマテラピーがココロとカラダに作用するメカニズムって？</a></dd>
                                        <div class="btn"><a href="http://v6.advg.jp/adpv6/r/3wB_2VU" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/btn_syousai.png" alt="詳細" width="100" height="24" class="rollover"></a></div>
                                    </dl>
                                    <dl>
                                        <dt><a href="http://v6.advg.jp/adpv6/r/3wB_2VX" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/img_r2.png" width="170" height="170" alt=""></a></dt>
                                        <dd><a href="http://v6.advg.jp/adpv6/r/3wB_2VX" target="_blank">アロマテラピーにはどんな方法があるの？</a></dd>
                                        <div class="btn"><a href="http://v6.advg.jp/adpv6/r/3wB_2VX" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/btn_syousai.png" alt="詳細" width="100" height="24" class="rollover"></a></div>
                                    </dl>
                                    <dl>
                                        <dt><a href="http://v6.advg.jp/adpv6/r/3wB_2Va" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/img_r3.png" width="170" height="170" alt=""></a></dt>
                                        <dd><a href="http://v6.advg.jp/adpv6/r/3wB_2Va" target="_blank">アロマテラピー検定が人気の理由とは？</a></dd>
                                        <div class="btn"><a href="http://v6.advg.jp/adpv6/r/3wB_2Va" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/btn_syousai.png" alt="詳細" width="100" height="24" class="rollover"></a></div>
                                    </dl>
                                    <div class="clearfix"></div>
                                    <!-- #aroma_side End --></div>

                                <div class="aroma_logo_space"> <a href="http://www.aromakankyo.or.jp/" target="_blank"><img src="http://woman.mynavi.jp/ad/aroma/images/logo.png" alt="公益社団法人 日本アロマ環境協会（AEAJ）" width="300" height="50"></a>
                                </div>
                                <!-- #Aroma130222 End --></div>

                            <!-- /コンテンツ --> </div>
                    </div>
                    </div>
                    <!--広告コンテンツ ここまで-->

                </div>
            </div>
            <!--contents ここまで-->

            <div class="adsense-wrapper">
<% include layout/_footer %>
            </div>
<% include layout/_script %>