<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry-special";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" height="648" width="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-03-25">
                                        <i class="sprite clock"></i>
                                        2015.03.25
                                    </time>
                                    <h1 class="entry-header-heading">たった3分の手間でバタバタした朝時間がリラックスモードに切り替わる!?</h1>
                                </div>

                                <div class="entry-body">
                                    <!--記事コンテンツ ここから-->

                                    <h1 class="mod-title">たった3分の手間でバタバタした朝時間がリラックスモードに切り替わる!?</h1>

                                    <div class="mod-meta">
                                        <div class="mod-author">
                                            &nbsp;				</div>
                                        <p class="date"><span>Update : 2015.03.31</span></p>
                                    </div>

                                    <div class="mod-social">
                                        <ul>

                                            <li class="fb">
                                                <div class="fb-like fb_iframe_widget" data-send="false" data-layout="button_count" data-width="120" data-show-faces="true" data-font="arial" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=299215913434302&amp;container_width=0&amp;font=arial&amp;href=http%3A%2F%2Fwoman.mynavi.jp%2Ftu%2F150331_sonton%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=120"><span style="vertical-align: bottom; width: 98px; height: 20px;"><iframe name="f3ea8a49e4" width="120px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=299215913434302&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FKvoNGODIqPG.js%3Fversion%3D41%23cb%3Df906d330c%26domain%3Dwoman.mynavi.jp%26origin%3Dhttp%253A%252F%252Fwoman.mynavi.jp%252Ff134ffb484%26relation%3Dparent.parent&amp;container_width=0&amp;font=arial&amp;href=http%3A%2F%2Fwoman.mynavi.jp%2Ftu%2F150331_sonton%2F&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=120" style="border: none; visibility: visible; width: 98px; height: 20px;" class=""></iframe></span></div>
                                            </li>

                                            <li class="tw"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.20ed5cfd7315475c9d1d523194b1645f.ja.html#_=1429171593568&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=ja&amp;original_referer=http%3A%2F%2Fwoman.mynavi.jp%2Ftu%2F150331_sonton%2F&amp;size=m&amp;text=%E3%81%9F%E3%81%A3%E3%81%9F3%E5%88%86%E3%81%AE%E6%89%8B%E9%96%93%E3%81%A7%E3%83%90%E3%82%BF%E3%83%90%E3%82%BF%E3%81%97%E3%81%9F%E6%9C%9D%E6%99%82%E9%96%93%E3%81%8C%E3%83%AA%E3%83%A9%E3%83%83%E3%82%AF%E3%82%B9%E3%83%A2%E3%83%BC%E3%83%89%E3%81%AB%E5%88%87%E3%82%8A%E6%9B%BF%E3%82%8F%E3%82%8B!%3F%20%EF%BD%9C%20%E3%80%8C%E3%83%9E%E3%82%A4%E3%83%8A%E3%83%93%E3%82%A6%E3%83%BC%E3%83%9E%E3%83%B3%E3%80%8D&amp;url=http%3A%2F%2Fwoman.mynavi.jp%2Ftu%2F150331_sonton%2F" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 131px; height: 20px;"></iframe>
                                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>

                                            <li class="cm"></li>

                                            <li class="mx">
                                                <div data-plugins-type="mixi-favorite" data-service-key="06339a68ee78f7c06744dad9666455198adad22c" data-size="medium" data-href="" data-show-faces="false" data-show-count="true" data-show-comment="true" data-width="" style="display: inline-block; border: 0px;"><span><iframe id="mixi44fe2cad93517f1854d76159419506ce" frameborder="0" allowtransparency="true" style="border:0; overflow:hidden;width:135px;height:20px;" scrolling="no" src="http://plugins.mixi.jp/favorite.pl?show_comment_in_frame=1&amp;ver=1&amp;href=http%3A%2F%2Fwoman.mynavi.jp%2Ftu%2F150331_sonton%2F&amp;service_key=06339a68ee78f7c06744dad9666455198adad22c&amp;show_faces=false&amp;show_comment=true&amp;show_count=true&amp;size=medium" name="mixi44fe2cad93517f1854d76159419506ce"></iframe></span></div><script type="text/javascript">(function(d) {var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//static.mixi.jp/js/plugins.js#lang=ja';d.getElementsByTagName('head')[0].appendChild(s);})(document);</script>
                                            </li>

                                        </ul>
                                        <!-- / .mod-social --></div>



                                    <p><img class="lazy lazy-hidden alignright size-full wp-image-4630172" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/img1.jpg" data-lazy-type="image" alt="" width="200" height="224" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4630172" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/img1.jpg" alt="" width="200" height="224" /&gt;</noscript>もうすぐ春到来！……とは言え、まだまだ朝晩は寒い日が続きます。特に出勤前の早起きはツライですよね。できればギリギリまで寝ていた～い！　という人も多いハズ。</p>
                                    <p>今回は、そんな朝がちょっと苦手な女子のために、おすすめのアイテムをご紹介！　その前に、まずはマイナビウーマン読者のみなさんはどんな朝時間を過ごしているのでしょうか？　働く女子の朝時間の過ごし方について、リサーチしてみました！<br> <span style="color: #888888; font-size: small;">※マイナビウーマン調べ（2015年3月実施／有効回答数：300件）</span></p>
                                    <p>&nbsp;</p>
                                    <h2>ホントは爽やかに過ごしたいのに……やっぱり朝は苦手。</h2>
                                    <div style="padding: 6px; margin: 0px 0px 10px 0px; background-color: #ececeb;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">Question1.</span>&nbsp;<span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 18px; margin: 0px;">朝のドタバタtimeの失敗談はありますか？</span></div>
                                    <ul>
                                        <li>洗顔フォームと歯磨き粉を間違えて、<strong>手のひらにぶちゅ～っと歯磨き粉</strong>を出してしまった（28歳/総合職）</li>
                                        <li>急ぎたい日に限って<strong>コンタクトレンズがなかなか目に入ってくれない</strong>（28歳/一般事務）</li>
                                        <li><strong>眉を片方だけ</strong>書き忘れて出社してしまった（31歳/総合職）</li>
                                        <li>全部服を着てから<strong>ブラジャーをし忘れた</strong>ことに気がついて、また全部服を脱いだ。（30歳/一般事務）</li>
                                        <li>ゴミ箱にぶつかって、<strong>部屋にごみが散乱</strong>……（30歳/公務員・団体職員）</li>
                                        <li>朝ごはんを急いで食べていたら、<strong>ケチャップが服に</strong>落ちた。もちろん着替えました。（27歳/公務員・団体職員）</li>
                                    </ul>
                                    <div style="padding: 6px; margin: 0px 0px 10px 0px; background-color: #ececeb;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">Question2.</span>&nbsp;<span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 18px; margin: 0px;">朝起きるのは得意ですか？</span></div>
                                    <p><img class="lazy lazy-hidden alignleft size-full wp-image-4582490" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/guraph1.gif" data-lazy-type="image" alt="" width="180" height="175" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4582490" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/guraph1.gif" alt="" width="180" height="175" /&gt;</noscript>続いて、ズバリ、朝は得意ですか？という質問に対しては、過半数を大きく超える64%が、「苦手」と回答。また、朝時間の過ごし方をひと言で表現すると？という質問には、約60%が「1分1秒が大事！　バタバタした朝」と答え、「余裕のあるのんびりした朝」と回答したのは約40%にとどまりました。<br>バタバタ過ごす女子の朝の様子を見てみると、自分にも身に覚えのあるような光景が……。急いでいる朝に限って、予想外のことが起きるものですよね。</p>
                                    <p>今回のアンケートで見えてきたのは、バタバタした朝を過ごしている女子が多いにも関わらず、意外にも全体の90%以上の女子が、朝食はしっかり家でとっているとのこと。朝ごはんの大切さは、理解している人が多いようです。でも、せっかく家で朝ごはんを食べるのなら、できれば気持ちもリラックスさせたいもの。さて、あなたの朝時間の過ごし方は優等生？　改善の余地あり？</p>
                                    <p>&nbsp;</p>
                                    <h2>あなたの朝時間は優等生？　それとも改善の余地あり？</h2>
                                    <div class="mod-borderBox bg">
                                        <p><input type="checkbox">　家を出るギリギリの時間まで寝ていたい<br> <input type="checkbox">　時間がなくて朝食を食べないことがある<br> <input type="checkbox">　朝はちょっとしたことでイライラしがち<br> <input type="checkbox">　食事・化粧など、とにかく最短で準備をする<br> <input type="checkbox">　朝は1分1秒が勝負！</p>
                                        <p>チェックが1つ：朝時間優等生。この調子で！<br> チェックが2つ：朝時間普通生。優等生までもう少し！<br> チェックが3つ以上：残念ながら、かなり朝時間劣等性。あなたはとても朝が苦手みたい。もしかしたら、職場でもどよーんとした空気を放って周りに気をつかわせているかも……</p>
                                        <!-- / .mod-borderBox --></div>
                                    <p>さあ、あなたの結果はいかがでしたか？　この春からは、朝時間にゆとりをもって、気持ち良い1日をスタートさせてみませんか？　朝時間を充実させる、簡単な方法とは……!?</p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WU5" target="_blank">朝時間に必要なのは”香り”!?　すぐに取り入れられる朝時間の切り替え方法　＞＞</a></p>
                                    <p>&nbsp;</p>
                                    <h2>知ってた!?　朝時間の充実には“香り”が重要だった！</h2>
                                    <p>コーヒーや、美味しい朝食の香りをかいで、ほっとした気持ちになったことはありませんか？　例えば、コーヒーの香りにはリラックス効果と集中力を高める作用があるように、食べ物の香りには、味覚を左右するだけでなく、気分も変えてくれる重要な働きがあったのです。</p>
                                    <p>朝起きるのが苦手な人も、少し香りにこだわってみるだけでも、気持ちがずいぶんとリラックスするかもしれません。忙しい時間帯だからこそ、良い香りのなかで気持ちを落ち着かせたいですよね。</p>
                                    <div class="mod-borderBox bg">
                                        <div style="padding: 6px; margin: 0px 0px 10px 0px; background-color: #ffffff;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">&nbsp;朝時間にうれしい！</span>&nbsp;<span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 18px; margin: 0px;">「香るトーストこんがりチーズ＆ハーブ」</span></div>
                                        <p><a href="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/sonton.png"><img class="lazy lazy-hidden alignright size-full wp-image-4582612" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/sonton.png" data-lazy-type="image" alt="" width="200" height="180" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4582612" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/sonton.png" alt="" width="200" height="180" /&gt;</noscript></a>朝のドタバタ時間にピッタリなのが、ハーブが爽やかに香る『香るトースト こんがりチーズ＆ハーブ』。朝時間を忙しく過ごす働く女性の朝におすすめ！　バジル、ディル、フェンネルの3種のハーブとチェダーチーズが、しっかりとした味わいのなかにも、爽やかな香りで食卓を彩ってくれます。<br> <br>『香るトースト こんがりチーズ＆ハーブ』の特徴は、香りはもちろんパンに溶け込むチーズの美味しさにもあります。そのため、ポイントは焼いた後ではなく、トーストする前にパンにぬること。サクッとした食感で、香りも味覚も存分に楽しめちゃいます。</p>
                                        <!-- / .mod-borderBox --></div>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WU8" target="_blank">パンにぬって焼くだけ！　毎朝の食卓に癒しの時間が訪れる!?　＞＞</a></p>
                                    <p>&nbsp;</p>
                                    <h2>働く女子がお試し！<br>朝時間に香りがプラスされると1日気分がいい！</h2>
                                    <p>今回は、自他共に認める、”朝が苦手”な働く女子に、『香るトースト こんがりチーズ＆ハーブ』をお試しいただきました。朝時間に香りがプラスされると、1日の過ごし方まで変わるのでしょうか？</p>
                                    <div class="mod-borderBox">
                                        <p><img class="lazy lazy-hidden alignleft size-full wp-image-4627016" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/suzuki2.jpg" data-lazy-type="image" alt="" width="150" height="172" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4627016" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/suzuki2.jpg" alt="" width="150" height="172" /&gt;</noscript>普段から朝はトースト派ですが、今まではトーストしてからぬるタイプのジャムを使っていました。『香るトースト　こんがりチーズ＆ハーブ』は、ぬってからトーストするので、トーストしている間にハーブの香りがして、朝から少しリラックス気分を味わえるのがいいですね。また、チーズの風味が濃厚で、バターよりもコクがあって美味しかったです。パンにたっぷりぬると、食べる時にチーズがジュワッとしみ出てきてさらに美味しいです！（鈴木さん（28歳）／専門事務）</p>
                                        <table style="width: 600px; padding: 0px; margin: 0px; font-size: 80%; border-top: 0; border-bottom: 0;">
                                            <tbody>
                                            <tr style="width: 600px; padding: 0px; margin: 0px;">
                                                <td width="170"><img class="lazy lazy-hidden alignright size-full wp-image-4630162" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/01249.jpg" data-lazy-type="image" alt="" width="170" height="127" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4630162" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/01249.jpg" alt="" width="170" height="127" /&gt;</noscript></td>
                                                <td width="170"><img class="lazy lazy-hidden alignleft size-full wp-image-4608764" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/0240.jpg" data-lazy-type="image" alt="" width="170" height="127" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4608764" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/0240.jpg" alt="" width="170" height="127" /&gt;</noscript></td>
                                                <td width="200"><img class="lazy lazy-hidden alignleft size-full wp-image-4608704" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/0333.jpg" data-lazy-type="image" alt="" width="200" height="154" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4608704" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/0333.jpg" alt="" width="200" height="154" /&gt;</noscript></td>
                                            </tr>
                                            <tr>
                                                <td>[STEP1]：たっぷりぬってトーストするだけ！　私の家のトースターでは3分くらいがちょうどいいみたい。</td>
                                                <td>[STEP2]：パンが焼けるのを待つ間にお湯を沸かして、紅茶を淹れてみました。</td>
                                                <td>[STEP3]：たった3分で朝ごはんの準備が完了！　部屋にはチーズとハーブの香りが広がります。</td>
                                            </tr>
                                            </tbody></table>
                                        <!-- / .mod-borderBox --></div>
                                    <div class="mod-borderBox">
                                        <p><img class="lazy lazy-hidden alignleft size-full wp-image-4626966" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/masunaga1.jpg" data-lazy-type="image" alt="" width="150" height="172" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4626966" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/masunaga1.jpg" alt="" width="150" height="172" /&gt;</noscript>パンにぬってトースターで焼くだけなので、調理がとても簡単で忙しい朝にピッタリです！　焼いている間に、部屋にはハーブの香りが広がるので、朝からワクワク感がありますし、焼き上がった後の見た目もチーズがこんがり色付くので、とても気に入りました。たっぷりとぬってしっかり焼くと、チーズの風味が香ばしくてとても好みです。チェダーチーズの濃厚な味のなかに、しっかりとバジルなどのハーブの香りがするので、リッチな味わいです。（増永さん（24歳）／営業職）</p>
                                        <!-- / .mod-borderBox --></div>
                                    <div class="mod-borderBox">
                                        <p><img class="lazy lazy-hidden alignleft size-full wp-image-4626970" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/kataoka1.jpg" data-lazy-type="image" alt="" width="150" height="172" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4626970" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/kataoka1.jpg" alt="" width="150" height="172" /&gt;</noscript>ハーブの効果か、パンにたっぷりぬってもこってりしないので、朝食にぴったりだと思います！　チーズがしつこくないから、思わずもう1枚食べたくなるくらいでした（笑）。<br>クリームの形状がやわらかいので、ふわふわのパンにも冷凍したパンにも塗りやすくて、ストレスがないのもよかったです。朝からハーブの香りを嗅ぐことで、少しオシャレな気分で1日をスタートできそうです！（片岡さん（25歳）／事務職）</p>
                                        <!-- / .mod-borderBox --></div>
                                    <div class="mod-borderBox bg">
                                        <div style="padding: 6px; margin: 0px 0px 10px 0px; background-color: #ffffff;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">&nbsp;アレンジレシピ</span>&nbsp;<span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 18px; margin: 0px;">こんがりチーズのマルゲリータ風</span></div>
                                        <p><img class="lazy lazy-hidden alignright size-full wp-image-4608846" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/margherita_cheese.jpg" data-lazy-type="image" alt="" width="245" height="184" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4608846" title="" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/margherita_cheese.jpg" alt="" width="245" height="184" /&gt;</noscript>【材料】</p>
                                        <ul>
                                            <li>『香るトースト こんがりチーズ＆ハーブ』：12g</li>
                                            <li>食パン：1枚</li>
                                            <li>トマト：1/8個</li>
                                            <li>スイートバジル（乾燥タイプでも可）：適量</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p>【作り方】</p>
                                        <ol>
                                            <li>トマトを1cm幅のさいの目切りにする。</li>
                                            <li>食パンに、こんがりチーズ&amp;ハーブを満遍なくぬる。</li>
                                            <li>(1)のトマトを食パンに乗せ、お好みの量のバジルを乗せる。</li>
                                            <li>パンをオーブン皿に乗せ、オーブントースター(800w)で約3分間焼く。</li>
                                        </ol>
                                        <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WUB" target="_blank">アレンジも楽しめる！　『香るトースト こんがりチーズ＆ハーブ』　＞＞</a></p>
                                    </div><!-- / .mod-borderBox -->

                                    <!--pager ここから-->
                                    <div class="entry-next">
                                        <a href="#">次は最旬レッドリップを長持ち＆密着させるコツ♪</a>
                                    </div>
                                    <div class="entry-pager">
                                        <div class="pager">
                                            <ul class="pager-inner">
                                                <li class="pager-prev"><a><i class="arrow-left white"></i>前のページへ</a></li>
                                                <li class="pager-num is-current"><a>1</a></li>
                                                <li class="pager-num"><a>2</a></li>
                                                <li class="pager-num"><a>3</a></li>
                                                <li class="pager-next"><a>次のページへ<i class="arrow-right white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--pager ここまで-->

                                    <!--adsense ここから-->
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <!--adsense ここまで-->

                                    <!--SNS ここから-->
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                    <!--SNS ここまで-->

                                    <!--記事コンテンツ ここまで-->
                                </div>

                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>
                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
