<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry-special";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" height="648" width="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-03-25">
                                        <i class="sprite clock"></i>
                                        2015.03.25
                                    </time>
                                    <h1 class="entry-header-heading">人気スタイリストにきく！スタイルアップも叶えてくれるトレンド春コーデ Vol.1</h1>
                                </div>

                                <div class="entry-body">
                                    <!--記事コンテンツ ここから-->
                                    <div><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503main.jpg" alt="" width="635" height="390" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503main.jpg" alt="" width="635" height="390" /></noscript></div>
                                    <h2 style="padding: 0;background: none"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_01.png" alt="わたしだけじゃない！　２人に1人が“脚”を細く見せたい" width="634" height="135" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_01.png" alt="わたしだけじゃない！　２人に1人が“脚”を細く見せたい" width="634" height="135" /></noscript></h2>
                                    <p style="padding: 0 20px;font-size: 14px;line-height: 160%;margin-bottom: 20px">暖かくなってきてファッションも春らしくしたい。でも、「ちょっと脚が気になる・・・」という意見が読者の半数近くに。そこで、人気スタイリスト・林かよさんにスタイルアップをしつつ、今季らしい春コーデを教えてもらいましょう！</p>
                                    <div style="border: 5px solid #f98889;padding: 15px;float: left">
                                        <h3 style="background: #FFFFFF"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columntitle_01.png" alt="「素材とデザインをポイントに選べば、スタイルアップできちゃいます！」" width="573" height="53" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columntitle_01.png" alt="「素材とデザインをポイントに選べば、スタイルアップできちゃいます！」" width="573" height="53" /></noscript></h3>
                                        <div style="width: 174px;float: left"><img class="lazy lazy-hidden" style="margin-bottom: 15px" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columnphoto_01.png" alt="" width="141" height="141" /><noscript><img style="margin-bottom: 15px" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columnphoto_01.png" alt="" width="141" height="141" /></noscript></div>
                                        <div style="width: 402px;float: left">
                                            <p style="padding: 15px 0;font-size: 14px;line-height: 160%">「カワイイ！」と雰囲気で洋服を選びたくなりますが、“素材”と“デザイン”に注目するとバランスよく着こなせるのだそう。人気スタイリストの林さんが、プロならではの視点でトレンドを意識したコーディネートを紹介していきます。</p>
                                        </div>
                                        <div style="border: 1px dashed #f98889;float: left;padding: 20px 20px 15px 20px;font-size: 14px;line-height: 160%">
                                            <div><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columnname_01.png" alt="profile スタイリスト 林かよさん" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503columnname_01.png" alt="profile スタイリスト 林かよさん" /></noscript></div>
                                            <div style="font-size: 14px;line-height: 160%">『In Red』『美人百花』『大人MUSE』等、雑誌を中心に活躍の人気スタイリスト。女性の持つフェミニンさを大事にしながらトレンドを取り入れたスタイリングは、幅広い女性から支持を得ている。</div>
                                        </div>
                                    </div>
                                    <h2 style="padding: 0;background: none;margin: 40px 0 025px 0"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_02.png" alt="選び方次第でバランスのよい着こなしに" width="635" height="105" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_02.png" alt="選び方次第でバランスのよい着こなしに" width="635" height="105" /></noscript></h2>
                                    <div style="border-top: 1px solid #121212;border-bottom: 1px solid #121212;margin: 0 0 15px 0">
                                        <div style="margin: 15px 0">
                                            <div style="font-weight: bold;font-size: 14px;line-height: 160%;background: none">・ウエストのキュッとしたワンピースが着たい（31歳／金融・証券）</div>
                                            <div style="font-weight: bold;font-size: 14px;line-height: 160%;background: none">・ミニスカートに挑戦したい（28歳／建設・土木）ほか多数</div>
                                        </div>
                                    </div>
                                    <div class="mn201503x_point" style="padding: 0 0 0 0;margin: 0 0 35px 0;float: left">
                                        <div style="width: 85px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /><noscript><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /></noscript></noscript></div>
                                        <div style="font-size: 14px;line-height: 160%;padding: 10px 0 0 5px;float: left;width: 540px">「ワンピースとミニスカートは女のコみんなが大好きなアイテムですよね。しっかりとした“素材”とラインを美しく見せる“デザイン”を選べば、誰でもおしゃれにすっきり着こなせますよ。」</div>
                                    </div>
                                    <div class="mn201503x_photoset01" style="width: 100%;float: left;margin-bottom: 15px">
                                        <div class="mn201503x_photoset01_left" style="width: 320px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01.jpg" alt="" width="320" height="480" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01.jpg" alt="" width="320" height="480" /></noscript></div>
                                        <div class="mn201503x_photoset01_right" style="width: 285px;padding: 0 0 0 25px;float: left">
                                            <h3 style="margin-left: -95px;background: none"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01_title.png" alt="花柄ワンピ×白デニム  春らしい甘辛OFFスタイル" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01_title.png" alt="花柄ワンピ×白デニム  春らしい甘辛OFFスタイル" /></noscript></h3>
                                            <h4 style="margin: 20px 0;padding: 0;background: none;float: left;width: 100%"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01_title02.png" alt="高めのウエストラインでキレイなシルエットを" width="181" height="45" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_01_title02.png" alt="高めのウエストラインでキレイなシルエットを" width="181" height="45" /></noscript></h4>
                                            <p style="font-size: 14px;line-height: 170%">ウエストシェイプされて裾に広がりがあるワンピースなので体のラインがキレイに。トレンドのデニムジャケットはあえて白を選んで女性らしく演出。デニムジャケットの代わりにカーディガンを合わせればお仕事にもOK。</p>
                                            <div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WAs" target="_blank">カラーデニムブルゾン</a> ￥9,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WAv" target="_blank">タックフラワーワンピース</a> ￥12,000</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WVp" target="_blank">スウェードストラップサンダル</a> ￥18,000</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mn201503x_photoset02" style="clear: both;width: 100%;float: left;margin-top: 30px">
                                        <div class="mn201503x_photoset02_left" style="width: 320px;float: right"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02.jpg" alt="" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02.jpg" alt="" /></noscript></div>
                                        <div class="mn201503x_photoset02_right" style="width: 285px;padding: 0 20px 0 5px;float: right">
                                            <h3 style="background: none;text-indent: 25px"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02_title.png" alt="定番＋旬アイテム 甘すぎない華やかお仕事コーデ" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02_title.png" alt="定番＋旬アイテム 甘すぎない華やかお仕事コーデ" /></noscript></h3>
                                            <h4 style="margin: 20px 0;padding: 0;background: none;float: left;width: 100%"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02_title02.png" alt="トレンチコートのベルトを締めてウエストマーク" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_02_title02.png" alt="トレンチコートのベルトを締めてウエストマーク" /></noscript></h4>
                                            <p style="font-size: 14px;line-height: 170%">定番アイテムのトレンチコートに今季トレンドの花柄を加えるだけで旬の春コーデに。ボックスシルエットのミニスカートはタイトすぎずパンツ派の方も挑戦しやすいはず。トレンチコートのベルトを後ろで締めてウエストマークに。</p>
                                            <div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WAy" target="_blank">トレンチコート</a> ￥15,000</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WB1" target="_blank">タックボリュームシャツ・ブラウス</a> ￥4,800</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WB4" target="_blank">ウォーターフラワー柄スカート</a> ￥6,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WB7" target="_blank">スクエアショルダーバッグ</a> ￥9,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBA" target="_blank">グリッターフラットシューズ</a> ￥7,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WW1" target="_blank">コットンパールライクネックレス</a> ￥2,900</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 style="padding: 0;background: none"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_03.png" alt="トレンドアイテムを使えば、憧れのアイテムに挑戦も" width="635" height="140" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_03.png" alt="トレンドアイテムを使えば、憧れのアイテムに挑戦も" width="635" height="140" /></noscript></h2>
                                    <div style="border-top: 1px solid #121212;border-bottom: 1px solid #121212;margin: 0 0 20px 0">
                                        <div style="margin: 15px 0">
                                            <div style="font-weight: bold;font-size: 14px;line-height: 160%;background: none">・タイトスカートを履きたい（33歳／不動産）</div>
                                            <div style="font-weight: bold;font-size: 14px;line-height: 160%;background: none">・おしゃれにスキニーパンツを決めたい（25歳／食品・飲料）ほか多数</div>
                                        </div>
                                    </div>
                                    <div class="mn201503x_point" style="padding: 0 0 0 0;margin: 0 0 35px 0;float: left">
                                        <div style="width: 85px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /><noscript><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_point.png" alt="" /></noscript></noscript></div>
                                        <div style="font-size: 14px;line-height: 160%;padding: 10px 0 0 5px;float: left;width: 540px">「誰でもいつか着てみたいアイテムはあるもの。ダイエットをしてからなんて言わないで、トレンドアイテムを活用するだけですぐに憧れのスタイルに挑戦できるのでおすすめです」</div>
                                    </div>
                                    <div class="mn201503x_photoset03" style="clear: both;width: 100%;float: left">
                                        <div class="mn201503x_photoset03_left" style="width: 320px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03.jpg" alt="" width="320" height="480" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03.jpg" alt="" width="320" height="480" /></noscript></div>
                                        <div class="mn201503x_photoset01_right" style="width: 285px;padding: 0 0 0 25px;float: left">
                                            <h3 style="margin-left: -95px;background: none"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03_title.png" alt="デニムシャツをイン  爽やか春の通勤スタイル" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03_title.png" alt="デニムシャツをイン  爽やか春の通勤スタイル" /></noscript></h3>
                                            <h4 style="margin: 20px 0;padding: 0;background: none;float: left;width: 100%"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03_title02.png" alt="ネイビーレースのタイトは抜群の着回し" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_03_title02.png" alt="ネイビーレースのタイトは抜群の着回し" /></noscript></h4>
                                            <p style="font-size: 14px;line-height: 170%">レースのアイテムは引き続きトレンド。ネイビーならタイトスカートでも甘すぎずニットやカットソーにも合わせやすい。シャツをインすると腰高になりスタイルアップに。ベルトがクロスしたヒールサンダルは脚長効果も大。</p>
                                            <div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBD" target="_blank">ポンチジャケット</a> ￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBG" target="_blank">シャンブレーウエスタンシャツ</a> ￥7,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBJ" target="_blank">コードレーススカート</a> ￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBM" target="_blank">ラウンドショルダーバッグ</a> ￥7,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBP" target="_blank">チャンキーヒールサンダル</a> ￥12,000</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mn201503x_photoset04" style="clear: both;width: 100%;float: left;margin-top: 30px">
                                        <div class="mn201503x_photoset04_left" style="width: 320px;float: right"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04.jpg" alt="" width="320" height="480" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04.jpg" alt="" width="320" height="480" /></noscript></div>
                                        <div class="mn201503x_photoset04_right" style="width: 285px;padding: 0 20px 0 5px;float: right">
                                            <h3 style="background: none;text-indent: 55px"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04_title.png" alt="気分も目線もUP ディテールが光る大人マリン" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04_title.png" alt="気分も目線もUP ディテールが光る大人マリン" /></noscript></h3>
                                            <h4 style="margin: 20px 0;padding: 0;background: none;float: left;width: 100%"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04_title02.png" alt="深く濃いスキニーパンツで脚が細く長く" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503photoset_04_title02.png" alt="深く濃いスキニーパンツで脚が細く長く" /></noscript></h4>
                                            <p style="font-size: 14px;line-height: 170%">長身向きと思いがちのスキニーも深みのある色を選べば脚細＆脚長に。幅広いボーダーと胸元のビジューで重心を上にもってくることでバランスアップ。表裏で色が違うバイカラークラッチバッグが着こなしのアクセントに。</p>
                                            <div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBS" target="_blank">ボーダー柄ビジュー付き半袖ニット・トップス</a><br />¥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBV" target="_blank">ウォッシュスキニーデニムパンツ</a> ￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WBY" target="_blank">バイカラークラッチバッグ</a> ￥12,000</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・ビジューヒールサンダル（近日入荷予定）</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mn201503x_photosetpoint" style="border-top: 10px solid #121212;margin: 30px 0 0 0;float: left;padding: 3px 0 0 0;width: 100%">
                                        <div class="mn201503x_photosetpoint_content" style="border-top: 3px solid #121212;border-bottom: 3px solid #121212;float: left;padding: 12px 0;width: 100%">
                                            <div class="mn201503x_photosetpoint_left" style="width: 245px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_photosetpoint_photo.png" alt="" width="248" height="171" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_photosetpoint_photo.png" alt="" width="248" height="171" /></noscript></div>
                                            <div class="mn201503x_photosetpoint_right" style="width: 365px;float: left"><img class="lazy lazy-hidden" style="margin: 10px 0 15px 0" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_photosetpoint_title.png" alt="春真っ盛り♪来月もスタイルアップのコーデポイントを紹介" width="385" height="59" /><noscript><img style="margin: 10px 0 15px 0" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_photosetpoint_title.png" alt="春真っ盛り♪来月もスタイルアップのコーデポイントを紹介" width="385" height="59" /></noscript>
                                                <div style="font-size: 14px;line-height: 160%">いよいよ春本番の４月にも今回に引き続き、トレンドアイテムを使った春コーデを紹介していきます。次回もどうぞお楽しみに！</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 style="clear: both;padding: 0;background: none"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_04.png" alt="スタイリストさんおすすめのおしゃれ最旬アイテム" width="635" height="160" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_04.png" alt="スタイリストさんおすすめのおしゃれ最旬アイテム" width="635" height="160" /></noscript></h2>
                                    <div class="mn201503x_thumbset">
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_01.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_01.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WD6" target="_blank">カラーデニムブルゾン</a> ￥9,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WVs" target="_blank">スウェードストラップサンダル</a><br />￥18,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_02.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_02.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WD9" target="_blank">タックフラワーワンピース</a><br />￥12,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_03.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_03.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDC" target="_blank">トレンチコート</a> ￥15,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 390px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_04.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_04.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDF" target="_blank">タックボリュームシャツ・ブラウス</a><br />￥4,800</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDI" target="_blank">ウォーターフラワー柄スカート</a><br />￥6,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WW4" target="_blank">コットンパールライクネックレス</a><br />￥2,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 390px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_05.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_05.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDL" target="_blank">スクエアショルダーバッグ</a> ￥9,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDO" target="_blank">グリッターフラットシューズ</a><br />￥7,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 390px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_06.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_06.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDR" target="_blank">ポンチジャケット</a> ￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDU" target="_blank">ラウンドショルダーバッグ</a> ￥7,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_07.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_07.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDX" target="_blank">シャンブレーウエスタンシャツ </a><br />￥7,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_08.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_08.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WDa" target="_blank">コードレーススカート </a><br />￥8,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_09.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_09.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WUu" target="_blank">チャンキーヒールサンダル</a><br />￥12,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_10.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_10.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WUx" target="_blank">ボーダー柄ビジュー付き半袖ニット・トップス</a> ￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WV0" target="_blank">バイカラークラッチバッグ</a><br />￥12,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_11.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_11.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・<a href="http://v6.advg.jp/adpv6/r/3wB_WV3" target="_blank">ウォッシュスキニーデニムパンツ</a><br />￥8,900</div>
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 12px;text-indent: -12px;font-size: 12px;line-height: 160%">・ビジューヒールサンダル（近日入荷予定）</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 style="clear: both;padding: 0;background: none;margin: 50px 0 0 0"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_05.png" alt="スタイルアップもできちゃう！春コーデにぴったりのトレンドアイテム" width="635" height="170" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/201503title_05.png" alt="スタイルアップもできちゃう！春コーデにぴったりのトレンドアイテム" width="635" height="170" /></noscript></h2>
                                    <div class="mn201503x_thumbset">
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_12.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_12.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBb" target="_blank">チュールボリュームスカート</a><br />¥4,800</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_13.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_13.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBe" target="_blank">ノーカラーダブルコート</a><br /> ¥25,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_14.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_14.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBh" target="_blank">フラワープリントワンピース</a><br /> ¥11,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_15.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_15.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBk" target="_blank">ビジュー付カーディガン</a><br /> ¥9,900</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_16.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_16.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBn" target="_blank">ダメージロークラッチデニムパンツ</a><br />¥11,000</div>
                                            </div>
                                        </div>
                                        <div class="mn201503x_thumb" style="width: 211px;height: 330px;float: left"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_17.jpg" alt="" width="210" height="250" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_thumb_17.jpg" alt="" width="210" height="250" /></noscript>
                                            <div style="margin: 10px 0 0 0">
                                                <div style="background: none;margin: 0 0 5px 0;padding: 0 0 0 0;text-indent: 0px;font-size: 12px;line-height: 160%"><a href="http://v6.advg.jp/adpv6/r/3wB_WBq" target="_blank">ビジュー付き天竺半袖ニット・トップス</a><br />¥5,800</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;border: 5px solid #f98889;padding: 15px 15px 0 15px;float: left;margin: 0 0 20px 0">
                                        <div style="width: 190px;float: left;margin-top: 80px"><img class="lazy lazy-hidden" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_onlineshop.jpg" alt="" width="170" height="190" /><noscript><img src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mn201503x_onlineshop.jpg" alt="" width="170" height="190" /></noscript></div>
                                        <div style="width: 400px;float: left">新しい季節のはじまりは、ファッションの装いも新たに様々なコーディネートにチャレンジしたくなるもの。イタリア生まれのベネトンではベーシックなものからトレンドを意識したアイテムまで、レディースだけではなく、メンズ、キッズまで幅 広く展開しております。すぐに取り入れられるコーディネートページも近日公開予定ですのでぜひベネトンオンラインストアへお越しください。今ならメルマガ会員登録頂いた皆様にもれなく、すぐに使える500円クーポンをプレゼント中です。<br /> <br />ベネトンオンラインストア<br /> <a href="http://v6.advg.jp/adpv6/r/3wB_WBt" target="_blank">http://www.benetton.jp/</a></div>
                                        <div style="width: 100%;float: left;margin: 10px 0 0 0">
                                            <div class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WD0" target="_blank">ベネトンのオンラインショップで春のコーディネートアイテムを購入！</a></div>
                                        </div>
                                    </div>
                                    <p style="clear: both;font-size: 12px;line-height: 160%;text-align: center">※『マイナビウーマン』にて2015年3月にWebアンケート。有効回答数300件（22歳～39歳）</p>

                                    <!--adsense ここから-->
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <!--adsense ここまで-->

                                    <!--SNS ここから-->
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                    <!--SNS ここまで-->

                                    <!--記事コンテンツ ここまで-->
                                </div>
                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>
                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
