<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry-outline";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-sticky">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <p class="entry-heading-image-inner">
                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                <noscript>
                                    <img　src="http://placehold.it/648x116" width="648" height="116" alt="">
                                </noscript>
                            </p>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-01-01 00:00">
                                        <i class="sprite clock"></i>
                                        2015.01.01 00:00
                                    </time>
                                    <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                                    <div class="entry-header-author">
                                        <div class="entry-header-author-image">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/30x30" width="30" height="30" alt="">
                                            <noscript>
                                                <img　src="http://placehold.it/30x30" width="30" height="30" alt="">
                                            </noscript>
                                        </div>
                                        <div class="entry-header-author-name">
                                            諏訪敦子
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-outline">
                                    <div class="entry-outline-thumb">
                                        <p>
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/178x110" width="178" height="110" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/178x110" width="178" height="110" alt="">
                                            </noscript>
                                        </p>
                                        <ul class="entry-outline-sns">
                                            <li class="entry-outline-sns-item">
                                                <span class="entry-outline-sns-counter twitter">
                                                    <i class="sprite twitter-white"></i>
                                                    <span class="entry-outline-sns-count">9999</span>
                                                </span>
                                            </li>
                                            <li class="entry-outline-sns-item">
                                                <span class="entry-outline-sns-counter facebook">
                                                    <i class="sprite facebook-white"></i>
                                                    <span class="entry-outline-sns-count">9999</span>
                                                </span>
                                            </li>
                                            <li class="entry-outline-sns-item">
                                                <span class="entry-outline-sns-counter google">
                                                    <i class="sprite google"></i>
                                                    <span class="entry-outline-sns-count">9999</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-outline-text">
                                        <p>痩せるために、普段の食生活、どんな工夫をしていますか？　きっと食べる量を減らして、カロリー調整をしている方が多いことでしょう。けれど、食べる量を減らすと、どうしてもパワーがわいてこず、運動する気にもなれないので悪循環に。もっと効率良くダイエットを進めるためのコツがあります。それは、脂肪燃焼を促す食べ合わせ。一般社団法人健康栄養支援センターの代表理事で、栄養士の諏訪淳子先生に、脂肪燃焼できる食べ合わせを伺いました。</p>
                                        <span  class="entry-outline-text-gradation"></span>
                                    </div>
                                    <div class="entry-outline-readmore">
                                        <a href="#">全文を読む</a>
                                    </div>
                                </div>
                                <aside class="entry-aside">
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <% include module/_entry-aside-similar %>
                                    <% include module/_entry-aside-keyword %>
                                    <% include module/_entry-aside-recent %>
                                </aside>
                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>
                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-base" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
