<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" height="648" width="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">

                                <!--記事header ここから-->
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-01-01 00:00">
                                        <i class="sprite clock"></i>
                                        2015.01.01 00:00
                                    </time>
                                    <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                                    <div class="entry-header-author">
                                        <div class="entry-header-author-image">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/30x30" width="30" height="30" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/30x30" height="30" width="30" alt="">
                                            </noscript>
                                        </div>
                                        <div class="entry-header-author-name">
                                            諏訪敦子
                                        </div>
                                    </div>
                                </div>
                                <!--記事header ここまで-->

                                <div class="entry-body">
                                    <p>痩せるために、普段の食生活、どんな工夫をしていますか？　きっと食べる量を減らして、カロリー調整をしている方が多いことでしょう。けれど、食べる量を減らすと、どうしてもパワーがわいてこず、運動する気にもなれないので悪循環に。</p>
                                    <p>もっと効率良くダイエットを進めるためのコツがあります。それは、脂肪燃焼を促す食べ合わせ。一般社団法人健康栄養支援センターの代表理事で、栄養士の諏訪淳子先生に、脂肪燃焼できる食べ合わせを伺いました。</p>
                                    <h2><span>好印象の条件は、「表情」「姿勢や立ち振る舞い」！</span>これで脂肪に変わらない！　嬉しい食べ合わせ</h2>
                                    <h2 class="has-image"><span>好印象の条件は、「表情」「姿勢や立ち振る舞い」！</span>これで脂肪に変わらない！　嬉しい食べ合わせ</h2>
                                    <p>食事で摂取したカロリーは、放っておくと脂肪に変わってしまいます。しかし、ある工夫をすれば脂肪に変えないこともできるのだそうです。</p>
                                    <h3>ビタミンB群を豊富に含む素材（h3）</h3>
                                    <h3 class="has-image">ビタミンB群を豊富に含む素材（h3）</h3>
                                    <p>食事で摂取したカロリーは、放っておくと脂肪に変わってしまいます。しかし、ある工夫をすれば脂肪に変えないこともできるのだそうです。</p>
                                    <h4>見出し（h4）</h4>
                                    <h4 class="has-image">見出し（h4）</h4>
                                    <ul>
                                        <li>リストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
                                        <li>リストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
                                        <li>リストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
                                    </ul>
                                    <div class="wp-caption aligncenter">
                                        <a href="#" target="_blank">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/600x300" height="300" width="600" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/600x300" height="600" width="300" alt="">
                                            </noscript>
                                        </a>
                                        <p class="wp-caption-text">とにかくゴージャスな「箔座 金箔ルーム」。美容金箔マスクや入浴剤など、さまざまな金箔アイテムを堪能！</p>
                                    </div>
                                    <div class="wp-caption aligncenter">
                                        <a href="http://woman.mynavi.jp/?attachment_id=4682954" rel="attachment wp-att-4682954" target="_blank">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/600x300" alt="(c)2015 TOHO CINEMAS LTD.／DLE" data-lazy-loaded="true" style="display: inline;" height="300" width="600">
                                            <noscript>
                                                <img src="http://placehold.it/600x300" height="600" width="300" alt="">
                                            </noscript>
                                        </a>
                                    </div>
                                    <p><a href="#" target="_blank">外部リンク（target="_blank"）</a></p>
                                    <blockquote>
                                        <p>たんぱく質、糖質、脂質の3大栄養素を脂肪に変えないためには、身体のエネルギー代謝を上げることがひとつの有効な手段です。そのためには糖質の代謝促進を助けるビタミンB1、また3大栄養素の代謝にはビタミンB2、ビタミンB6が必要になってきます。よって、普段の食事の中で、ビタミンB群を豊富に含む食材を積極的に摂り入れるようにすることは脂肪燃焼に効果的といえます。</p>
                                    </blockquote>
                                    <p><a href="#">出典 http://woman.mynavi.jp/</a></p>
                                    <dl>
                                        <dt>諏訪先生</dt>
                                        <dd>レバーやうなぎ、豚肉、まぐろやかつおなどは、ビタミンB群を豊富に含む食材の代表です。ただ、どれも普段の食生活に当たり前のように存在するものではありませんよね。継続的に摂取するには、ビタミンB1が豊富な玄米食やぬか漬けや、ビタミンB2の多い卵やビタミンB2、B6の多い納豆を毎日食べるようにすれば、続けやすいでしょう。</dd>
                                    </dl>
                                    <div class="entry-attend">
                                        <p>※『マイナビウーマン』にて2015年3月10日～26日にWebアンケート。有効回答数193件（22歳～34歳の働く女性）</p><br>
                                        <p>※画像は本文と関係ありません</p>
                                    </div>
                                    <div class="mod-info">
                                        <span class="mod-info-border-top"></span>
                                        <div class="mod-info-body">
                                            <div class="mod-info-heading">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="./image/info-title.png" width="256" height="70" alt="renoma FEMME">
                                                <noscript>
                                                    <img src="./image/info-title.png" width="256" height="70" alt="renoma FEMME">
                                                </noscript>
                                            </div>
                                            <p>renoma FEMMEってどんなブランド？</p>
                                            <p>2014年の秋、キャリアファッションブランドとして誕生した、renoma FEMME。renomaといえばフランス・パリが発祥の地ですが、renoma FEMMEはエレガントでフェミニンなレディースラインです。</p>
                                            <div class="entry-check">
                                                <i class="sprite post_check"></i>
                                                <a href="#">早速、基礎体温をつけてみようかな♪<br>婦人用電子体温計の購入はこちら</a>
                                            </div>
                                        </div>
                                        <span class="mod-info-border-bottom"></span>
                                    </div>
                                    <div class="mod-borderBox">
                                        <p class="ttl">3回券のスタートチケットがこんなにおトク！この春、好印象な女子に変身してまわりと差をつけよう</p>
                                        <p>ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。</p>
                                        <div class="entry-check">
                                            <i class="sprite post_check"></i>
                                            <a href="#">早速、基礎体温をつけてみようかな♪<br>婦人用電子体温計の購入はこちら</a>
                                        </div>
                                        <p>骨盤調整やピラティス、瞑想クラスなど多彩なプログラムが魅力 スタジオ・ヨギーで楽しく、印象アップを目指しちゃおう</p>
                                        <p>ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。</p>
                                    </div>
                                    <div class="mod-borderBox bg">
                                        <p class="ttl">3回券のスタートチケットがこんなにおトク！この春、好印象な女子に変身してまわりと差をつけよう</p>
                                        <p>骨盤調整やピラティス、瞑想クラスなど多彩なプログラムが魅力 スタジオ・ヨギーで楽しく、印象アップを目指しちゃおう</p>
                                        <p>ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。</p>
                                    </div>
                                    <p class="mod-btn mod-btnS"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnM"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnL"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnLL"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnS is-red"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnM is-red"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnL is-red"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnLL is-red"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnS is-yellow"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnM is-yellow"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnL is-yellow"><a href="#">ボタン</a></p>
                                    <p class="mod-btn mod-btnLL is-yellow"><a href="#">ボタン</a></p>
                                    <div class="entry-small-link">
                                        <a href="#"><span class="tag tag-accent">PR</span>次は最旬レッドリップを長持ち＆密着させるコツ♪<i class="arrow-right arrow-right-accent"></i></a>
                                    </div>
                                    <div class="entry-link">
                                        <a href="#">他にも便利機能がたくさん！「カラダのキモチ」を詳しく見る<span class="entry-link-icon"><i class="sprite blank-white"></i><i class="sprite blank-black-2"></i></span></a>
                                    </div>
                                    <div class="entry-point">
                                        <span class="entry-point-top"></span>
                                        <div class="entry-point-inner">
                                            <div class="entry-point-header"><i class="sprite post-point"></i></div>
                                            <h2>このエリアに見出し（h2など）を入れた場合、すべてこのスタイルで表示</h2>
                                            <ul class="entry-point-list">
                                                <li class="entry-point-item"><i class="sprite post_point_link"></i>ポイントその1</li>
                                                <li class="entry-point-item"><i class="sprite post_point_link"></i>ポイントその2</li>
                                            </ul>
                                        </div>
                                        <span class="entry-point-bottom"></span>
                                    </div>
                                    <div class="entry-check">
                                        <i class="sprite post-check"></i>
                                        <a href="#">早速、基礎体温をつけてみようかな♪<br>婦人用電子体温計の購入はこちら</a>
                                    </div>
                                    <div class="entry-check is-red">
                                        <i class="sprite post-check-red"></i>
                                        <a href="#">早速、基礎体温をつけてみようかな♪<br>婦人用電子体温計の購入はこちら</a>
                                    </div>
                                    <div class="entry-check is-yellow">
                                        <i class="sprite post-check-yellow"></i>
                                        <a href="#">早速、基礎体温をつけてみようかな♪<br>婦人用電子体温計の購入はこちら</a>
                                    </div>
                                    <div class="mod-row-imgs">
                                        <ul>
                                            <li>
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </li>
                                            <li>
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </li>
                                        </ul>
                                    </div><!-- / .mod-imgs -->
                                    <div class="mod-imgs">
                                        <ul>
                                            <li>
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </li>
                                            <li>
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </li>
                                        </ul>
                                    </div><!-- / .mod-imgs -->

                                    <!--pager ここから-->
                                    <div class="entry-next">
                                        <a href="#">次は最旬レッドリップを長持ち＆密着させるコツ♪</a>
                                    </div>
                                    <div class="entry-pager">
                                        <div class="pager">
                                            <ul class="pager-inner">
                                                <li class="pager-prev"><a><i class="arrow-left white"></i>前のページへ</a></li>
                                                <li class="pager-num is-current"><a>1</a></li>
                                                <li class="pager-num"><a>2</a></li>
                                                <li class="pager-num"><a>3</a></li>
                                                <li class="pager-next"><a>次のページへ<i class="arrow-right white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--pager ここまで-->

                                    <!--adsense ここから-->
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" height="300" width="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <!--adsense ここまで-->

                                    <!--SNS ここから-->
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                    <!--SNS ここまで-->
                                </div>

                                <!--著者データ、SNSボタンなど ここから-->
                                <aside class="entry-aside">
                                    <% include module/_entry-aside-similar %>
                                    <% include module/_entry-aside-keyword %>
                                    <div class="entry-aside-author">
                                        <div class="entry-aside-author-image">
                                            <div class="entry-aside-author-image-inner">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/152x138" width="152" height="138" alt="">
                                                <noscript>
                                                    <img  src="http://placehold.it/152x138" width="152" height="138" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="entry-aside-author-content">
                                            <div class="entry-aside-author-heading">諏訪淳子</div>
                                            <div class="entry-aside-author-body">
                                                <p>美容食インストラクター（R）、栄養士、美容栄養学専門士、日本ビューティーヘルス協会 会長、一般社団法人健康栄養支援センター</p>
                                                <p>代表理事など多数の肩書を持ち、行政・企業主催による食育イベントや講演会など多数出演。健康で美しいカラダづくりのための美容食普及のために、美容栄養学の講座や料理教室を開催。テレビ、新聞、雑誌などへの出演や番組・記事制作協力も行う。</p>
                                            </div>
                                            <div class="entry-aside-author-link"><a href="#">この著者の記事一覧　<i class="arrow-right white"></i></a></div>
                                        </div>
                                    </div>
                                    <% include module/_entry-aside-recent %>
                                </aside>
                                <!--著者データ、SNSボタンなど ここまで-->

                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>
                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
