<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" width="648" height="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-01-01 00:00">
                                        <i class="sprite clock"></i>
                                        2015.01.01 00:00
                                    </time>
                                    <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                                    <div class="entry-header-author">
                                        <div class="entry-header-author-image">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/30x30" width="30" height="30" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/30x30" width="30" height="30" alt="">
                                            </noscript>
                                        </div>
                                        <div class="entry-header-author-name">
                                            諏訪敦子
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden  wp-image-4532120" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_02.jpg" data-lazy-type="image" alt="" width="580" height="390" data-lazy-loaded="true" style="display: inline;"><noscript><img class=" wp-image-4532120" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_02.jpg" alt="" width="580" height="390"></noscript></a><p class="wp-caption-text">お泊り女子会を体験する読者モデルの2人。左：高橋美衣さん（27歳） 右：宮東あゆみさん（33歳）</p></div>
                                    <p>伝統文化と最新のグローバルブランド、極上のグルメが融合した上品な大人の街、銀座。そんな特別な街で、少しだけよそいきな気分で“お泊り女子会”なんていかが？　実は昨年12月、銀座の賑わいの中心地にオープンした「ミレニアム　三井ガーデンホテル　東京」には、あの「ミキモト　コスメティックス」とコラボした“真珠のお部屋”があるらしいのです。そのゴージャスな非日常空間を、読者モデル２人が体感してきました！</p>
                                    <p><span style="color: #ff0066;font-size: large"><strong>ドアの向こうは純白のパールルーム！そこは女ゴコロをくすぐりまくる非日常空間でした。</strong></span></p>
                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4565286 " src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_011.jpg" data-lazy-type="image" alt="" width="580" height="397" data-lazy-loaded="true" style="display: inline;"><noscript><img class="size-full wp-image-4565286 " src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_011.jpg" alt="" width="580" height="397"></noscript></a><p class="wp-caption-text">真珠をイメージした照明やオブジェでアレンジされた、真珠尽くしのパールルーム。</p></div>
                                    <p style="text-align: left">仕事帰りの2人が東銀座駅の出口を上がると目の前に、篭を編み込んだような和とモダンが融合した印象のホテル。アクセスの良さにびっくりしたところで、近くの百貨店の地下で人気のデリとちょっといいワインを買い込み、女子会の準備は完了です。今回訪れるのはミキモト コスメティックスとのコラボレーション、本物の真珠やパールモチーフの小物を散りばめた「パールルーム」。その名のとおり、扉を開けると真珠のように白くて丸い照明や、パールモチーフをあしらったキラキラのクッションなどが2人をお出迎え。室内には本物の真珠をデコレートした時計やボールペンがさりげなく置かれていて、リッチな気分もグンとアップ！</p>

                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4532124" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_03.jpg" alt="" width="580" height="386"><noscript><img class="size-full wp-image-4532124" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_03.jpg" alt="" width="580" height="386"></noscript></a><p class="wp-caption-text">ライトアップされた歌舞伎座を眺めながら、高級コスメを存分に楽しむ。これぞ至福の時！</p></div>
                                    <p style="text-align: left">「本当に銀座のど真ん中なんですね。時間を気にせずたっぷりと銀座の夜を味わってから、こんな素敵なお部屋で女子会なんて贅沢すぎ！」と宮東さん。窓の外にはライトアップされ、ひときわ幻想的な姿を見せる歌舞伎座が。日常の喧騒から離れて贅沢に美を磨きたい！という女の欲望をこれでもかと刺激する非日常のラグジュアリー空間に、しばし時間を忘れます。</p>
                                    <p style="text-align: left"><span style="color: #ff0066;font-size: large"><strong>高級コスメと真珠のバスタイム！歌舞伎座の夜景をお供に夜は更けていく･･･</strong></span></p>
                                    <p style="text-align: left">この部屋のお楽しみはもうひとつ、「ミキモト コスメティックス」の高級コスメ10種類が自由にお試しできること！　ローションやミルクはもちろん、マッサージクリームやパックなどラインナップも豊富。女同士で気兼ねなく、思い切り美を追求できるとあって、2人のテンションはあがりっぱなし。</p>

                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4532126" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_04.jpg" alt="" width="580" height="386"><noscript><img class="size-full wp-image-4532126" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_04.jpg" alt="" width="580" height="386"></noscript></a><p class="wp-caption-text">2つ並んだ洗面台で、仲良くミキモト コスメティックスの高級コスメセットを贅沢にお試し。</p></div>
                                    <p style="text-align: left">「洗面台が２つあるのもポイントが高いです！　普通は2人だと、どちらかが待ちになってしまうことが多いので、これはすごく嬉しい」と高橋さん。さらにバスルームには、「ミキモト コスメティクス」のシャンプーやトリートメント、真珠由来の美容成分たっぷりの入浴剤が。“真珠の海”のバスタイムを贅沢に堪能しながら、ホテル女子会の夜は更けてゆきます。</p>

                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4532128" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_05.jpg" alt="" width="580" height="386"><noscript><img class="size-full wp-image-4532128" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_05.jpg" alt="" width="580" height="386"></noscript></a><p class="wp-caption-text">ミニサイズのミキモトコスメティックスの3点セットとクラッチポーチ。宿泊者がもらえる嬉しいノベルティ。</p></div>
                                    <p style="text-align: center"></p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_W02" target="_blank">泊まり心地に妥協なし！ミレニアム　三井ガーデンホテル　東京をチェック</a></p>
                                    <p><span style="color: #ff0066;font-size: large"><strong><br>もうひとつの“箔座の金箔”コンセプトルーム。金という究極の美を堪能！</strong></span></p>
                                    <p>お泊りの翌朝はホテル地下にあるダイニングで、気持ちのよい1日の始まりです。フレンチとイタリアンをベースに和と洋を融合させたビュッフェの朝食では、近くの築地市場を中心に仕入れた旬の野菜や魚をふんだんに使用。さらに季節のフルーツで作るグリーンスムージーやスイーツなど、お肌がよろこぶメニューがずらり。思わず目移りしてしまうほど楽しさいっぱいのビュッフェです。</p>

                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4565288" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_061.jpg" alt="" width="580" height="396"><noscript><img class="size-full wp-image-4565288" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_061.jpg" alt="" width="580" height="396"></noscript></a><p class="wp-caption-text">築地市場を中心に仕入れた新鮮食材とヘルシーな美肌メニューが満載の朝食ビュッフェ。</p></div>

                                    <p>さらにミレニアム　三井ガーデンホテル 東京には、今回2人が体験した「パールルーム」のほかにもうひとつ、「箔座 金箔ルーム」というコンセプトルームがあるのだとか。「美容金箔マスク」や金箔を配合した贅沢なオリジナル入浴剤「茶屋美人の湯」、「箔座コスメティックス」の特別ギフトなどが用意されているので、気分に合わせてお部屋をチョイスするのも楽しそう。</p>

                                    <div class="wp-caption aligncenter" style="width: 590px"><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4565290" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_071.jpg" alt="" width="580" height="415"><noscript><img class="size-full wp-image-4565290" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_071.jpg" alt="" width="580" height="415"></noscript></a><p class="wp-caption-text">とにかくゴージャスな「箔座 金箔ルーム」。美容金箔マスクや入浴剤など、さまざまな金箔アイテムを堪能！</p></div>

                                    <p>真珠尽くしのパールルームとヘルシー＆ビューティな朝食を存分に味わったら、銀座の街へ繰り出しましょ！　銀座の賑わいの中心、名だたる老舗百貨店やハイブランド店が集結する四丁目交差点までは、ホテルから歩いてほんのすぐ。交差点から中央通りを京橋方面へ歩くと、昨年秋にオープンしたばかりの「キラリト　ギンザ」が。ジュエリーやギフトなどキラキラのショップを中心に、人気のダイニングなど52店舗が入ったそんな話題のスポットを巡ったり、海外ハイブランドや老舗の名店連なる並木通りを優雅に散策したり･･････楽しみが尽きることのない銀座を120％堪能できるホテル女子会を、ぜひ体験してみて。</p>
                                    <div class="mod-borderBox">
                                    <p><span style="color: #ff0066"><strong>【1日1室限定】<br>ミキモト コスメティックス「パールルーム」／「箔座 金箔ルーム」</strong></span></p>
                                    <p>部屋タイプ：デラックスツインルーム&nbsp;<br>料金：18,500円（税込）～　／1名</p>
                                    <!-- / .mod-borderBox --></div>
                                    <div class="mod-borderBox bg">
                                    <p><span style="color: #ff0066;font-size: large"><strong>銀座を味わい尽くす上質ホテル、ミレニアム 三井ガーデンホテル 東京</strong></span><br><a href="http://v6.advg.jp/adpv6/r/3wB_W05" target="_blank"><img class="lazy lazy-hidden alignleft size-full wp-image-4576910" src="http://woman.mynavi.jp/wp-content/plugins/bj-lazy-load/img/placeholder.gif" data-lazy-type="image" data-lazy-src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_082.jpg" alt="" width="200" height="133"><noscript><img class="alignleft size-full wp-image-4576910" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/02/mitsuihotel_082.jpg" alt="" width="200" height="133"></noscript></a>世界24カ国に展開する「Millennium」の日本進出第一号店として、銀座4丁目からもほど近い東銀座駅のすぐ上という好立地と、それにふさわしいサービスと食を合わせ持つ注目のホテル。アジア・ミニマリズムのデザインで表現されたモダンな内装、織るという意味を込め、籠を編んだようなデザインの外観など、新しい「和」の空間を提供。大人の街・銀座を120%堪能するにふさわしいホテルです。</p>
                                    <p><a href="http://v6.advg.jp/adpv6/r/3wB_Vzz" target="_blank"><strong>ミレニアム　三井ガーデンホテル 東京</strong></a><br><span style="font-size: small">　住所：東京都中央区銀座5丁目11番1号</span><br><span style="font-size: small"><span style="line-height: 1.5">　電話：03-3549-3331<br>　アクセス：東京メトロ「銀座」駅徒歩2分／東京メトロ「東銀座」駅徒歩1分</span><span style="line-height: 1.5">&nbsp;</span></span></p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_Vzz" target="_blank">ミレニアム　三井ガーデンホテル 東京　公式サイトへ</a></p>
                                    <!-- / .mod-borderBox --></div>
                                    <div class="entry-next">
                                        <a href="#"><span class="entry-next-text"></span>次は最旬レッドリップを長持ち＆密着させるコツ♪</a>
                                    </div>
                                    <div class="entry-pager">
                                        <div class="pager">
                                            <ul class="pager-inner">
                                                <li class="pager-prev"><a><i class="arrow-left white"></i>前のページへ</a></li>
                                                <li class="pager-num is-current"><a>1</a></li>
                                                <li class="pager-num"><a>2</a></li>
                                                <li class="pager-num"><a>3</a></li>
                                                <li class="pager-next"><a>次のページへ<i class="arrow-right white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                </div>
                                <aside class="entry-aside">
                                    <% include module/_entry-aside-similar %>
                                    <% include module/_entry-aside-keyword %>
                                    <div class="entry-aside-author">
                                        <div class="entry-aside-author-image">
                                            <div class="entry-aside-author-image-inner">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/152x138" width="152" height="138" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/152x138" width="152" height="138" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="entry-aside-author-content">
                                            <div class="entry-aside-author-heading">諏訪淳子</div>
                                            <div class="entry-aside-author-body">
                                                <p>美容食インストラクター（R）、栄養士、美容栄養学専門士、日本ビューティーヘルス協会 会長、一般社団法人健康栄養支援センター</p>
                                                <p>代表理事など多数の肩書を持ち、行政・企業主催による食育イベントや講演会など多数出演。健康で美しいカラダづくりのための美容食普及のために、美容栄養学の講座や料理教室を開催。テレビ、新聞、雑誌などへの出演や番組・記事制作協力も行う。</p>
                                            </div>
                                            <div class="entry-aside-author-link"><a href="#">この著者の記事一覧　<i class="arrow-right white"></i></a></div>
                                        </div>
                                    </div>
                                    <% include module/_entry-aside-recent %>
                                </aside>

                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>

                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
