<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" width="648" height="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-01-01 00:00">
                                        <i class="sprite clock"></i>
                                        2015.01.01 00:00
                                    </time>
                                    <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                                    <div class="entry-header-author">
                                        <div class="entry-header-author-image">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/30x30" width="30" height="30" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/30x30" width="30" height="30" alt="">
                                            </noscript>
                                        </div>
                                        <div class="entry-header-author-name">
                                            諏訪敦子
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <p>＜<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/%E3%83%9E%E3%82%A4%E3%83%8A%E3%83%93/?text=%E3%83%9E%E3%82%A4%E3%83%8A%E3%83%93&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">マイナビ</a>×貝社員コラボレーション企画＞</p>
                                    <p>どうも、都心で働く33歳、今の残業時間はチョット多めだけれど、夢は時短勤務をゲット、「すな子」です。会社にいると、「人をイライラさせるダメな社員」って結構いますよねぇ？　空気を読めない奴、責任を取りたがらない奴、自分のことばっかり考える奴。そんな人たちのことを、私は裏で「貝社員」と呼んで楽しむことにしました。たとえば、こんな奴……</p>
                                    <div class="wp-caption aligncenter" style="width: 680px"><a href="http://woman.mynavi.jp/150402-33/mainabi0327fix/" rel="attachment wp-att-4682954" target="_blank"><img class="lazy lazy-hidden size-full wp-image-4682954" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mainabi0327fix.jpg" data-lazy-type="image" alt="(c)2015 TOHO CINEMAS LTD.／DLE" width="670" height="670" data-lazy-loaded="true" style="display: inline;"><noscript>&lt;img class="size-full wp-image-4682954" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/mainabi0327fix.jpg" alt="(c)2015 TOHO CINEMAS LTD.／DLE" width="670" height="670" /&gt;</noscript></a><p class="wp-caption-text">(c)2015 TOHO CINEMAS LTD.／<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/%E3%83%87%E3%82%A3%E3%83%BC%E3%83%BB%E3%82%A8%E3%83%AB%E3%83%BB%E3%82%A4%E3%83%BC/?text=DLE&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">DLE</a></p></div>
                                    <p>奴らは仕事に対する熱意がホントになくて、誰かがやってくれると思っているんですよ。…はぁ、これもゆとり教育が生み出した<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/%E9%AD%9A%E4%BB%8B%E9%A1%9E/?text=%E6%B5%B7%E7%94%A3%E7%89%A9&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">海産物</a>なのでしょうか？</p>
                                    <p>「何でもアッサリ投げ出す<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/%E3%82%A2%E3%82%B5%E3%83%AA/?text=%E3%82%A2%E3%82%B5%E3%83%AA&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">アサリ</a>」、奴らにはこんな特徴があります。</p>
                                    <h5>■特徴その1：仕事を躊躇せず断ってくる</h5>
                                    <p>アサリ「それって僕の仕事ですか？」</p>
                                    <p>アンタの仕事だよ！他に何ができるんだよ！ って感じですよね。</p>
                                    <h5>■特徴その2：まだ定時が来てないのに…</h5>
                                    <p>アサリ：（外出先からメールで）「直帰します」</p>
                                    <p>「直帰」という便利な言葉を覚えてしまったばっかりに、使ってみたくてたまらないのね……。残念、まだ仕事中です！</p>
                                    <h5>■特徴その3：飲みの席でもキャラはブレず</h5>
                                    <p>アサリ：（何も言わずに、飲み会を途中で帰る）</p>
                                    <p>ひとこと言ってからにしてください。テレパシーは通じません。</p>
                                    <h5>■特徴その4：嫌なことがあるとすぐ</h5>
                                    <p>アサリ「あ～。やっぱここ合わないわ～」</p>
                                    <!--nextview-->
                                    <p>あなたに合わせられる会社はどこにもありません。</p>
                                    <p><a href="http://woman.mynavi.jp/150402-33/asari/" rel="attachment wp-att-4682950" target="_blank"><img class="lazy lazy-hidden aligncenter size-full wp-image-4682950" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/asari.jpg" data-lazy-type="image" alt="バターで炒めてぇ～" width="670" height="377" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="aligncenter size-full wp-image-4682950" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/asari.jpg" alt="バターで炒めてぇ～" width="670" height="377" /&gt;</noscript></a></p>
                                    <p>あなたの周りにも、「何でもアッサリ投げ出すアサリ」、いますよね？</p>
                                    <p>文：すな子<br>イラスト：沼田光太郎</p>
                                    <p></p>
                                    <div class="mod-borderBox">
                                    <p><strong>■貝社員とは：</strong><br>「<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/%E7%A7%98%E5%AF%86%E7%B5%90%E7%A4%BE%E9%B7%B9%E3%81%AE%E7%88%AA/?text=%E7%A7%98%E5%AF%86%E7%B5%90%E7%A4%BE%E3%80%80%E9%B7%B9%E3%81%AE%E7%88%AA&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">秘密結社　鷹の爪</a>」のDLEが送るキャラクター。あなたの周りにもきっといる、そんなダメ社員を貝のキャラクターになりました！　哀愁漂う歌とコントで“会社員あるある”をお届けします！公式サイトは<a href="http://www.dle.jp/jp/property/kaishain_index2.html" target="_blank">コチラ</a>。</p>
                                    <!-- / .mod-borderBox --></div>
                                    <p>○ショートアニメその1「アサリとミル貝」　&nbsp;<a class="linkify" href="http://wiki.woman.mynavi.jp/keyword/YouTube/?text=YouTube&amp;session_id=4d917b5adcc911e4ad3d0242ac110002">YouTube</a>で絶賛公開中！</p>
                                    <p></p><div class="video-container"><iframe width="600" height="366" src="//www.youtube.com/embed/SFvaN8c7U1o?feature=oembed" frameborder="0"></iframe></div>
                                    <p>
                                    <!-- / .mod-wysiwyg --></p>
                                    <script>
                                    	$(function() {
                                    		// 引き金となる要素を設定
                                    		var triggerNode = $("#trigger-movie");
                                    		var onFlg = false;
                                    		// 画面スクロール毎に判定を行う
                                    		$(window).scroll(function(){
                                    			// 引き金となる要素の位置を取得
                                    			var triggerNodePosition = $(triggerNode).offset().top - $(window).height();
                                    			// 現在のスクロール位置が引き金要素の位置より下にあれば
                                    			if ($(window).scrollTop() > triggerNodePosition) {
                                    				if (!onFlg) {
                                    					onFlg = true;
                                    					$("#trigger-movie").append('<iframe id="iframe-movie-ad" frameborder="0px" scrolling="no" style="width:640px;height:360px;border:none;margin:0;padding:0;overflow:hidden;display:none;" src="/iframe/video.html"></iframe>');
                                    				}
                                    			}
                                    		});
                                    	});
                                    </script>
                                    <div id="trigger-movie" style="padding:10px;display:hidden;"><iframe id="iframe-movie-ad" frameborder="0px" scrolling="no" style="width:640px;height:360px;border:none;margin:0;padding:0;overflow:hidden;display:none;" src="/iframe/video.html"></iframe></div>
                                    <div class="entry-next">
                                        <a href="#"><span class="entry-next-text"></span>次は最旬レッドリップを長持ち＆密着させるコツ♪</a>
                                    </div>
                                    <div class="entry-pager">
                                        <div class="pager">
                                            <ul class="pager-inner">
                                                <li class="pager-prev"><a><i class="arrow-left white"></i>前のページへ</a></li>
                                                <li class="pager-num is-current"><a>1</a></li>
                                                <li class="pager-num"><a>2</a></li>
                                                <li class="pager-num"><a>3</a></li>
                                                <li class="pager-next"><a>次のページへ<i class="arrow-right white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                </div>
                                <aside class="entry-aside">
                                    <% include module/_entry-aside-similar %>
                                    <% include module/_entry-aside-keyword %>
                                    <div class="entry-aside-author">
                                        <div class="entry-aside-author-image">
                                            <div class="entry-aside-author-image-inner">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/152x138" width="152" height="138" alt="">
                                                <noscript>
                                                    <img  src="http://placehold.it/152x138" width="152" height="138" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="entry-aside-author-content">
                                            <div class="entry-aside-author-heading">諏訪淳子</div>
                                            <div class="entry-aside-author-body">
                                                <p>美容食インストラクター（R）、栄養士、美容栄養学専門士、日本ビューティーヘルス協会 会長、一般社団法人健康栄養支援センター</p>
                                                <p>代表理事など多数の肩書を持ち、行政・企業主催による食育イベントや講演会など多数出演。健康で美しいカラダづくりのための美容食普及のために、美容栄養学の講座や料理教室を開催。テレビ、新聞、雑誌などへの出演や番組・記事制作協力も行う。</p>
                                            </div>
                                            <div class="entry-aside-author-link"><a href="#">この著者の記事一覧　<i class="arrow-right white"></i></a></div>
                                        </div>
                                    </div>
                                    <% include module/_entry-aside-recent %>
                                </aside>
                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>

                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
