<% var title = "${記事タイトル}｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「${記事タイトル}」ページです。",
    keywords = "${記事タイトル},マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-entry";
%>
<% include layout/_head %>
<% include layout/_header-static %>
            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">
                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">ヘルスケア</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">ダイエット</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->
                        <div class="entry-heading">
                            <div class="entry-heading-image">
                                <p class="entry-heading-image-inner">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/648x116" width="648" height="116" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/648x116" width="648" height="116" alt="">
                                    </noscript>
                                </p>
                            </div>
                            <div class="entry-heading-description">仕事・恋愛・ライフスタイルなど、「まわりの女子の実態はどうなの？」に迫ったコラムです。働く女子だからこそ気になっているあんなコトやこんなコトを毎日配信中！</div>
                        </div>

                        <div class="entry-wrap">
                            <div class="entry-article">
                                <div class="entry-header">
                                    <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                                    <time datetime="2015-01-01 00:00">
                                        <i class="sprite clock"></i>
                                        2015.01.01 00:00
                                    </time>
                                    <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                                    <div class="entry-header-author">
                                        <div class="entry-header-author-image">
                                            <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/30x30" width="30" height="30" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/30x30" width="30" height="30" alt="">
                                            </noscript>
                                        </div>
                                        <div class="entry-header-author-name">
                                            諏訪敦子
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-body">
                            		<!-- ここから -->
                                    <p>「ヨガに通っている」と聞くと、なんとなく好印象なイメージを持ちませんか？　健康やボディラインに気を遣っていて、規則正しい生活を送っていて、ストレスがなく心穏やか……。実は、男性も同じように”ヨガをしている女性≒好印象”だと感じているのだとか！　出会いの多い春こそ、ヨガで印象アップを目指しませんか？</p>
                                    <p><img class="lazy lazy-hidden aligncenter size-full wp-image-4641150" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_01.gif" data-lazy-type="image" alt="" width="535" height="374" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="aligncenter size-full wp-image-4641150" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_01.gif" alt="" width="535" height="374" /&gt;</noscript></p>
                                    <h2>好印象の条件は、「表情」「姿勢や立ち居振る舞い」！<br> ヨガをしていると魅力的に見えるワケとは？</h2>
                                    <div class="clearfix">
                                    <div class="alignleft">
                                    <p style="width: 292px; padding: 4px; background-color: #ffffff; font-weight: bold; text-align: left; font-size: 14px; margin: 0px 0px 10px 0px;"><span style="color: #eb5ca0;">Q.</span>【男性に質問】好印象だと感じる、女性の条件ＴＯＰ５とは？</p>
                                    <p><img class="lazy lazy-hidden aligncenter size-full wp-image-4641134" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_zu1.gif" data-lazy-type="image" alt="" width="290" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="aligncenter size-full wp-image-4641134" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_zu1.gif" alt="" width="290" /&gt;</noscript></p>
                                    </div>
                                    <div class="alignleft">
                                    <p style="width: 292px; padding: 4px; background-color: #ffffff; font-weight: bold; text-align: left; font-size: 14px; margin: 0px 0px 10px 0px;"><span style="color: #eb5ca0;">Q.</span>【男性に質問】ヨガをしている女性の印象ＴＯＰ５とは？</p>
                                    <p><img class="lazy lazy-hidden aligncenter size-full wp-image-4641132" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_zu2.gif" data-lazy-type="image" alt="" width="290" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="aligncenter size-full wp-image-4641132" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_zu2.gif" alt="" width="290" /&gt;</noscript></p>
                                    </div>
                                    </div>
                                    <p style="padding: 4px; background-color: #ffffff; font-weight: bold; text-align: left; font-size: 14px; margin: 0px 0px 10px 0px;"><span style="color: #eb5ca0;">Q.</span>【男性に質問】ヨガをしている女性が好印象だと感じる理由は？</p>
                                    <div class="mod-borderBox" style="background-color: #f5f5f5; border: 1px solid #cccccc;">
                                    <p>●心身ともにすっきりしていそうだから（29歳／医療・福祉）</p>
                                    <p>●前付き合っていたすごく好きだった女性がヨガをやっていて、すごくイキイキと生活していたので（30歳／マスコミ・広告）</p>
                                    <p>●姿勢がきれいで、健康に気遣っていると思うから（32歳／学校・教育関連）</p>
                                    <p>●自分をコントロールしていて、健康だと思うから（30歳／情報・IT）</p>
                                    <p>●女子力が高いと感じるから（26歳／農林・水産）</p>
                                    <p>●運動はまわりにいい印象を与える（30歳／機械・精密機器）</p>
                                    <p style="font-size: 12px;">マイナビウーマン調べ（2015年3月にWebアンケート）</p>
                                    </div>
                                    <p>男性目線で「好印象な女性だ」と感じさせるためには、表情が豊かで、姿勢や立ち居振る舞いがきれいであることが条件のようです。また、ヨガをしている女性には「姿勢が良い」「ストレスがなく穏やか」といったイメージがあるようで、中には「付き合っていた女性がヨガをしてイキイキとしていた」なんて実体験エピソードを持つ男性も！　ヨガをすることによって、姿勢はもちろん、ストレスを発散させることで表情も穏やかになるので、ヨガは好印象に見える要件を満たしていると言えそうですね！</p>
                                    <h2>春こそ、”好印象女子”でまわりと差をつける！<br> ヨガで身に付けられる”好印象”の3つのポイント</h2>
                                    <p>まわりに好印象を与える女子に変身するなら、ヨガを始めてみるのも近道の一つです。実際にアンケートでは、「スポーツは嫌いだけど、運動不足解消にやってみたい」「猫背ぎみなので、姿勢を良くしたい」「キレイな体になりたい」など、6割の女性が「ヨガをやってみたい」と答えています。ここでは、イメージだけではなく、ヨガで本当に”好印象に変われる”ポイントをご紹介していきます。</p>
                                    <div style="padding: 6px; margin: 10px 0px 10px 0px; background-color: #ffe6f2;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">好印象ポイント①</span> <span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 16px; margin: 0px;">姿勢＆スタイルがよくなる</span></div>
                                    <div class="clearfix">
                                    <p><img class="lazy lazy-hidden alignright size-full wp-image-4641148" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_02.jpg" data-lazy-type="image" alt="" width="280" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4641148" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_02.jpg" alt="" width="280" /&gt;</noscript></p>
                                    <p style="padding: 0px 0px 10px 0px; margin: 0px;">ヨガでは、普段の生活では意識しにくい体幹部のインナーマッスルを鍛えることができます。腹筋や背筋といったインナーマッスルを強化するとカラダのゆがみが改善されていくため、無理のない正しい姿勢をキープしやすくなるのです。</p>
                                    <p>ヨガ女子からは、<br> 「<strong>姿勢が良くなった</strong>（32歳／印刷・紙パルプ）」<br> 「<strong>身体のバランスが良くなった</strong>（29歳／人材派遣・人材紹介）」<br> 「<strong>インナーマッスルが鍛えられて、痩せやすくなった</strong>（30歳／団体・公益法人・官公庁）」<br> といった感想も。</p>
                                    </div>
                                    <div style="padding: 6px; margin: 10px 0px 10px 0px; background-color: #ffe6f2;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">好印象ポイント②</span> <span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 16px; margin: 0px;">基礎代謝をあげ、運動不足を解消して健康美人に！</span></div>
                                    <div class="clearfix">
                                    <p><img class="lazy lazy-hidden alignleft size-full wp-image-4641146" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_03.jpg" data-lazy-type="image" alt="" width="211" height="317" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4641146" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_03.jpg" alt="" width="211" height="317" /&gt;</noscript></p>
                                    <p style="padding: 0px 0px 10px 0px; margin: 0px;">ヨガ独特のポーズと呼吸法によって、酸素と血液が全身に運ばれて代謝があがるだけでなく、インナーマッスルが鍛えられることで筋肉量が増え、基礎代謝も自然とアップしていきます。</p>
                                    <p>「<strong>代謝がよくなって、冷え性がよくなった。ダイエットにも効果があった</strong>（27歳／小売店）」<br> 「<strong>基礎体温が高くなった</strong>（30歳／学校・教育関連）」「<strong>生理痛の緩和</strong>（32歳／建設・土木）」<br> 「<strong>お通じがよくなったかも</strong>（33歳／金融・証券）」など、カラダの変化を感じているヨガ女子も多いようです。<br> とはいえ、「残業が多くてなかなか通えない」なんて方は、比較的時間の都合をつけやすい朝ヨガもオススメ。<br> 朝からカラダを動かすことで、頭がさえた状態で仕事をスタートできます。</p>
                                    </div>
                                    <div class="mod-borderBox" style="background-color: #ffffff; border: none; margin: 0px; padding: 0px 20px 10px 20px;">
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WNS" target="_blank">朝の時間で運動不足を解消！　健康美人を手に入れるなら</a></p>
                                    </div>
                                    <div style="padding: 6px; margin: 10px 0px 10px 0px; background-color: #ffe6f2;"><span style="padding: 5px; background-color: #e92a82; font-weight: bold; color: #fff; font-size: 14px; margin: 0px;">好印象ポイント③</span> <span style="padding: 5px; font-weight: bold; color: #e92a82; font-size: 16px; margin: 0px;">ストレスをリセットして、穏やかな心、豊かな表情を手に入れる！</span></div>
                                    <div class="clearfix">
                                    <p style="padding: 0px 0px 10px 0px; margin: 0px;">基本的に鼻呼吸で行うヨガ。自分の内側に意識を向けながら、深い呼吸とともにポーズをとると、自律神経のバランスが整いやすく、心身ともに安定した状態を保ちやすくなるのです。</p>
                                    <p>ヨガ女子からは「<strong>リラックスできて、ストレス解消になった</strong>（27歳／通信）」「<strong>深い呼吸をするので、仕事のストレス発散に効果があった</strong>（30歳／医療・福祉）」「<strong>イライラしなくなった</strong>（23歳／専門サービス）」など、ストレス軽減に効果があったといった声も多く聞かれました。穏やかな精神状態で過ごせたら、自然と表情も軽く、明るくなれそうですね！</p>
                                    </div>
                                    <div class="mod-borderBox" style="background-color: #ffffff; border: none; margin: 0px; padding: 0px 20px 10px 20px;">
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WNV" target="_blank">ヨガでストレスをリセット！　瞑想で心もデトックスするなら</a></p>
                                    </div>
                                    <div class="mod-borderBox" style="background-color: #ffffff; border: 3px solid #e92a82;">
                                    <p>姿勢が悪かったり、ストレスで眉間にしわが寄ってしまったり……。なんだかおつかれ気味でピリピリしている印象をまわりに与えてしまう女性にはなりたくないものです。自分のカラダと心に向き合えるヨガなら、ピンとした気持ちのよい姿勢や、ストレスフリーな心の状態をゲットできるかも。この春、印象美人を目指して新たな自分磨きを始めてみませんか？</p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WNY" target="_blank">ヨガで好印象をゲットする！　今ならお得なキャンペーンを実施中</a></p>
                                    </div>
                                    <div class="mod-borderBox" style="background-color: #fff2f8; border: none;">
                                    <p style="padding: 4px; background-color: #ffffff; font-weight: bold; text-align: center; color: #ff80c0; font-size: 18px; margin: 0px 0px 10px 0px;">この春、ヨガレッスンで”好印象”を手に入れる♪</p>
                                    <p><img class="lazy lazy-hidden alignleft size-full wp-image-4656248" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_041.jpg" data-lazy-type="image" alt="" width="320" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignleft size-full wp-image-4656248" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_041.jpg" alt="" width="320" /&gt;</noscript></p>
                                    <p>男性から見た好印象女子≒ヨガ女子なだけではなく、女性の約6割が「やってみたい」と答えたヨガ。とはいえ、自己流だと呼吸法やポーズの取り方も正しいのか分かりづらいうえ、ついつい3日坊主……なんてことにもなりかねません。ヨガスタジオならインストラクターがいて安心で、広い空間なので自宅よりも自分の内側に集中しやすいでしょう。同僚やお友達を誘って通ってみるのも楽しそうですね。</p>
                                    <p>スタジオ・ヨギーでは、ただいま初回限定のスタートチケット（3回券）が3,500円（通常4,500円）になるお得なキャンペーンを実施中。新しいことにチャレンジするなら、この春こそチャンスかも!?</p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WNb" target="_blank">春はスタートの季節！　お得なキャンペーンで新しい自分に会える♪</a></p>
                                    </div>
                                    <div class="mod-borderBox">
                                    <p class="ttl" style="color: #000; font-weight: bold; text-align: left; font-size: 18px;">3回券のスタートチケットがこんなにおトク！<br> この春、好印象な女子に変身してまわりと差をつけよう</p>
                                    <div style="padding: 0px 0px 0px 0px;"><img class="lazy lazy-hidden alignright size-full wp-image-4641142" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_05.jpg" data-lazy-type="image" alt="" width="350" height="240" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignright size-full wp-image-4641142" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_05.jpg" alt="" width="350" height="240" /&gt;</noscript></div>
                                    <p>まわりと差がつく好印象女子になるなら、スタートダッシュが肝心!　ただいまスタジオ・ヨギーでは、初めての方限定でスタートチケット（3回券）が通常4.500円のところ、なんと3,500円になるおトクなキャンペーンを実施中です。一つのクラスを集中して受講するのもよし、気になるクラスをあれこれ試すのもよし。この機会に好印象女子への一歩を踏み出してみませんか？</p>
                                    <p class="mod-btn mod-btnLL"><a href="http://v6.advg.jp/adpv6/r/3wB_WNe" target="_blank">新しいことを始めたい女子は必見!　キャンペーンの詳細はコチラ</a></p>
                                    <p style="padding: 4px; background-color: #ffffff; font-weight: bold; text-align: left; color: #ff80c0; font-size: 18px; margin: 0px 0px 10px 0px;">骨盤調整やピラティス、瞑想クラスなど多彩なプログラムが魅力 スタジオ・ヨギーで楽しく、印象アップを目指しちゃおう</p>
                                    <p>「好きなときに、好きなクラスを選べる」スタジオなら、楽しく続けられると思いませんか？　全国に18店舗あり、駅近で便利なスタジオ・ヨギーには、選べる多彩なレギュラークラスが25種類以上！　顧客満足度は93％（2014年調査）と高く、入会者の2人に1人がヨガ初心者なので、初めての方でも安心です。「初心者の私はまずは『ヨガウェルカム』から」「骨盤のゆがみが気になるから『ビューティ・ペルヴィス』」、「ボディラインを整えたいから、『ピラティス』」「今日はとにかくリラックスしたいから 『ヨガ・ニドラー(寝たまんまヨガ)』など、経験や気分、目的によってあなたにピッタリのレッスンを楽しめます。</p>
                                    <div class="mod-row-imgs" style="border: hidden; padding: 0px; margin: 0px;">
                                    <ul class="clearfix fsmall">
                                    	<li>
                                    <p style="width: 190px;"><a href="http://v6.advg.jp/adpv6/r/3wB_WNh" target="_blank"><img class="lazy lazy-hidden alignnone size-full wp-image-4641140" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_06.jpg" data-lazy-type="image" alt="" width="190" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignnone size-full wp-image-4641140" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_06.jpg" alt="" width="190" /&gt;</noscript></a><a href="http://v6.advg.jp/adpv6/r/3wB_WNh" target="_blank"> ビューティ・ペルヴィス（骨盤調整）</a></p></li>
                                    	<li>
                                    <p style="width: 190px;"><a href="http://v6.advg.jp/adpv6/r/3wB_WNk" target="_blank"><img class="lazy lazy-hidden alignnone size-full wp-image-4641138" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_07.jpg" data-lazy-type="image" alt="" width="190" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignnone size-full wp-image-4641138" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_07.jpg" alt="" width="190" /&gt;</noscript></a> <a href="http://v6.advg.jp/adpv6/r/3wB_WNk" target="_blank">ピラティス</a></p></li>
                                    	<li>
                                    <p style="width: 190px;"><a href="http://v6.advg.jp/adpv6/r/3wB_WNn" target="_blank"><img class="lazy lazy-hidden alignnone size-full wp-image-4641136" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_08.jpg" data-lazy-type="image" alt="" width="190" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img class="alignnone size-full wp-image-4641136" src="http://cdn2.mynvwm.com/wp-content/uploads/2015/03/lohas_i_08.jpg" alt="" width="190" /&gt;</noscript></a> <a href="http://v6.advg.jp/adpv6/r/3wB_WNn" target="_blank">寝たまんまヨガ（簡単瞑想）</a></p></li>
                                    </ul>
                                    </div>
                                    </div>
                                    <div class="entry-next">
                                        <a href="#"><span class="entry-next-text"></span>次は最旬レッドリップを長持ち＆密着させるコツ♪</a>
                                    </div>
                                    <div class="entry-pager">
                                        <div class="pager">
                                            <ul class="pager-inner">
                                                <li class="pager-prev"><a><i class="arrow-left white"></i>前のページへ</a></li>
                                                <li class="pager-num is-current"><a>1</a></li>
                                                <li class="pager-num"><a>2</a></li>
                                                <li class="pager-num"><a>3</a></li>
                                                <li class="pager-next"><a>次のページへ<i class="arrow-right white"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-aside-pr">
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="entry-aside-pr-cover"></div>
                                            <div class="entry-aside-pr-image">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                                <noscript>
                                                    <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                                </noscript>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="entry-sns">
                                        <ul>
                                            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                                            <li><div class="g-plusone" data-size="tall"></div></li>
                                        </ul>
                                    </div>
                                </div>
                                <aside class="entry-aside">
                                    <% include module/_entry-aside-similar %>
                                    <% include module/_entry-aside-keyword %>
                                    <div class="entry-aside-author">
                                        <div class="entry-aside-author-image">
                                            <div class="entry-aside-author-image-inner">
                                                <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/152x138" width="152" height="138" alt="">
                                                <noscript>
                                                    <img  src="http://placehold.it/152x138" width="152" height="138" alt="">
                                                </noscript>
                                            </div>
                                        </div>
                                        <div class="entry-aside-author-content">
                                            <div class="entry-aside-author-heading">諏訪淳子</div>
                                            <div class="entry-aside-author-body">
                                                <p>美容食インストラクター（R）、栄養士、美容栄養学専門士、日本ビューティーヘルス協会 会長、一般社団法人健康栄養支援センター</p>
                                                <p>代表理事など多数の肩書を持ち、行政・企業主催による食育イベントや講演会など多数出演。健康で美しいカラダづくりのための美容食普及のために、美容栄養学の講座や料理教室を開催。テレビ、新聞、雑誌などへの出演や番組・記事制作協力も行う。</p>
                                            </div>
                                            <div class="entry-aside-author-link"><a href="#">この著者の記事一覧　<i class="arrow-right white"></i></a></div>
                                        </div>
                                    </div>
                                    <% include module/_entry-aside-recent %>
                                </aside>

                            </div>
                        </div>
                        <% include module/_recommend-post %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var infotype = 'entry' %>
                        <% include module/_information %>

                        <div class="entry-bottom-pr">
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                            <a href="#">
                                <div class="entry-bottom-pr-cover"></div>
                                <div class="entry-bottom-pr-image">
                                    <img class="js-lazy" src="./image/dummy.png" data-original="http://placehold.it/300x250" width="300" height="250" alt="">
                                    <noscript>
                                        <img src="http://placehold.it/300x250" width="300" height="250" alt="">
                                    </noscript>
                                </div>
                            </a>
                        </div>
                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
