<% var title = "「トレンド」一覧 ｜編集部おすすめ｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-list";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-sticky">

                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">編集部おすすめ</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">「トレンド」一覧</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->

                        <% var type = 'type-c'; %>
                        <% include module/_new-articles-listtype %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>
                        <% var infotype = 'normal' %>
                        <% include module/_information %>
                    </main>
                    <% side_id = "js-base" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
