<% var title = "Lower｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    page_class = "page-lower";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <div class="l-contents">
                <div class="l-contents-inner">
                    <main class="l-main">

                    </main>

                    <% include layout/_sidebar %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
