<% var title = "プレゼント＆モニター｜",
    description = "働く女子の恋とシゴトと本音がわかる！働く女性のための総合サイト「マイナビウーマン」の「プレゼント＆モニター」ページです。",
    keywords = "プレゼント＆モニター,マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-present";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">

                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">プレゼント＆モニター</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->

                        <% list_title = "モニター" %>
                        <% include module/_present-list %>

                        <% list_title = "プレゼント" %>
                        <% include module/_present-list %>

                        <% list_title = "資料請求" %>
                        <% include module/_present-list %>

                        <% list_title = "試写会" %>
                        <% include module/_present-list %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>
                        <% var infotype = 'normal' %>
                        <% include module/_information %>

                    </main>

                    <% include layout/_side-present %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
