<% var title = "恋愛｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-primary-category";
%>
<% include layout/_head %>
<% include layout/_header-static %>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">

                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">恋愛</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->

                        <div class="board">
                            <article class="board-article">
                                <a href="#" class="board-article-link">
                                    <div class="board-article-body">
                                        <div class="heading heading-a-small">
                                            <p class="heading-jp">編集部おすすめ</p>
                                        </div>
                                        <h1 class="board-article-heading">【今週のスムージー】斜めの層が特徴的！　トロっとアボカドと苺の濃厚スムージー</h1>
                                        <span class="tag tag-f xlarge">著者コラム</span>
                                    </div>
                                    <div class="board-article-image">
                                        <div class="arrow-right white large"></div>
                                        <div class="board-article-cover"></div>
                                        <div class="board-article-image-inner">
                                            <img class="js-lazy" src="image/dummy.png" data-original="http://placehold.it/324x200" height="200" width="324" alt="">
                                            <noscript>
                                                <img src="http://placehold.it/324x200" height="200" width="324" alt="">
                                            </noscript>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <div class="board-table" id="js-board-table">
                                <div class="board-row">
                                    <div class="board-cell has-border">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <div class="news-tag">
                                                    <span class="tag tag-b">本音コラム</span>
                                                </div>
                                                <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪　おすすめ公園グッズ20選</p>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="board-cell has-border">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <div class="news-tag">
                                                    <span class="tag tag-h">雑学</span>
                                                </div>
                                                <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                                <div class="board-row">
                                    <div class="board-cell">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <div class="news-tag">
                                                    <span class="tag tag-h">雑学</span>
                                                </div>
                                                <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="board-cell">
                                        <article class="news simple">
                                            <a href="#" class="news-link">
                                                <div class="news-tag">
                                                    <span class="tag tag-b">本音コラム</span>
                                                </div>
                                                <p class="news-text">晴れた日は、自然にパワーをもらおう！ 近所の公園で簡単アウトドア♪</p>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="bord-button">
                                <a href="#" class="button-block">
                                    <span>一覧を見る</span>
                                    <i class="arrow-right white"></i>
                                </a>
                            </div>
                        </div>

                        <% include module/_pickup %>

                        <% var type = 'type-a'; %>
                        <% include module/_new-articles-listtype %>

                        <% include module/_library %>

                        <% include module/_category-menu %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>
                        <% var infotype = 'normal' %>
                        <% include module/_information %>

                        <% include module/_new-articles-partnertype %>

                    </main>
                    <% side_id = "js-sticky" %>
                    <% include layout/_side %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
