<% var title = "ライフスタイル池袋サンシャインシティで過ごす！オトナ楽しい1日｜ライフ｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-static";
%>
<% include layout/_head %>

            <div class="adsense-wrapper">
<% include layout/_header-static %>
            </div>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">

                    <main class="main js-main" id="js-base">

                        <!--bread ここから-->
                        <div class="adsense-wrapper">
                            <nav class="bread">
                                <ol class="bread-inner">
                                    <li class="bread-item">
                                        <a href="#" class="bread-link">
                                            <i class="sprite home"></i>
                                        </a>
                                    </li>
                                    <li class="bread-item is-current">
                                        <div class="bread-link">
                                            <span class="bread-text">ライフ</span>
                                        </div>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <!--bread ここまで-->

                        <!--広告コンテンツ ここから-->
                        <div class="contents-adsense">
                            <link rel="stylesheet" href="http://woman.mynavi.jp/static/b_manner/css/style.css">
                            <div id="id-130401manner">
                            <h2><img src="http://woman.mynavi.jp/static/b_manner/images/title.png" alt="先輩社会人のホンネに学ぶ！  働く女子のビジネスマナー道場" width="670" height="183" /></h2>
                            <div id="mn_lead">
                                <p>知っているつもりでも、つい自己流になりがちなビジネスマナー。<br>身だしなみや敬語、振る舞いなど、オトナ女子がおさえておきたい<br>基本のマナーを、先輩女子のホンネとともに一挙紹介！</p>
                            </div>
                            <div id="mn_base">
                                <div class="mn_navilink">
                                    <ul>
                                        <li class="b_none"><a href="#contents_1">上司・先輩</a></li>
                                        <li><a href="#contents_1">敬語・話し方</a></li>
                                        <li><a href="#contents_2">好印象マナー</a></li>
                                        <li><a href="#contents_2">身だしなみ</a></li>
                                        <li><a href="#contents_3">電話・メール</a></li>
                                        <li><a href="#contents_3">飲み会の作法</a></li>
                                        <li><a href="#contents_4">マネー管理</a></li>
                                        <li><a href="#contents_4">ヘルスケア</a></li>
                                    </ul>
                                </div>
                                <a id="contents_1"></a>
                                <div class="mn_contents">
                                    <div class="mn_left">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_1.gif" alt="上司・先輩との付き合い方" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/100426-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image1_1.jpg" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/100426-001/">新人を迎える先輩女子の<br>心境って？</a>                  </dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/090807-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image1_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/090807-001/">オフィスでかわいがられる<br>後輩はこんな人！</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/100905-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image1_3.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/100905-001/">職場で自分より年上の人と<br>
                                                上手く付き合うコツ</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/120426-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image1_4.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/120426-001/">働く女子が、後輩にされてうれしかったこと</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/120229-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image1_5.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/120229-001/">先輩女子とうまくやっていくための6つの工夫</a></dd>
                                        </dl>
                                    </div>
                                    <div class="mn_right">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_2.gif" alt="敬語・話し方" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110117-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image2_1.jpg" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/110117-001/">他人行儀になりすぎない、<br>
                                                上手な敬語の崩し方</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/130128-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image2_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/130128-001/">上司と楽しく雑談ができる「上司ウケする話題」</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/111026-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image2_3.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/111026-001/">職場の人に、自分のプライベートをどのくらい話していいもの？</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110513-002/"><img src="http://woman.mynavi.jp/static/b_manner/images/image2_4.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/110513-002/">働く女子に聞いた「上司の機嫌を判断するポイント」</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/100929-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image2_5.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/100929-001/">「言った」「言わない」<br>職場の連絡ミスを防ぐには</a></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mn_navilink">
                                    <ul>
                                        <li class="b_none"><a href="#contents_1">上司・先輩</a></li>
                                        <li><a href="#contents_1">敬語・話し方</a></li>
                                        <li><a href="#contents_2">好印象マナー</a></li>
                                        <li><a href="#contents_2">身だしなみ</a></li>
                                        <li><a href="#contents_3">電話・メール</a></li>
                                        <li><a href="#contents_3">飲み会の作法</a></li>
                                        <li><a href="#contents_4">マネー管理</a></li>
                                        <li><a href="#contents_4">ヘルスケア</a></li>
                                    </ul>
                                </div>
                                <a name="contents_2" id="contents_2"></a>
                                <div class="mn_contents">
                                    <div class="mn_left">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_3.gif" alt="好印象マナー" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/080820-003/"><img src="http://woman.mynavi.jp/static/b_manner/images/image3_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/080820-003/">新人は、就業時間の<br>何分前に出社すべき？</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/100222-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image3_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/100222-001/">イメージコンサルタントに学ぶ「第一印象をよくする方法」</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110713-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image3_3.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/110713-001/">先輩に好印象な<br>仕事の相談の仕方って？</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110721-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image3_4.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/110721-001/">また一緒に仕事がしたい<br>と思われる人の共通点</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110711-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image3_5.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/110711-001/">職場への旅行土産の<br>
                                                上手な選び方</a></dd>
                                        </dl>
                                    </div>
                                    <div class="mn_right">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_4.gif" alt="身だしなみ" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110126-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image4_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/110126-001/">ナチュラルメイクを<br>
                                                手抜きに見せないコツ</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110301_top/"><img src="http://woman.mynavi.jp/static/b_manner/images/image4_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/110301_top/">コテもカーラーも使わない<br>
                                                平日通勤の3分アレンジ</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/071017-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image4_3.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/071017-001/">先輩女子が経験！<br>
                                                オフィスファッションの<br>
                                                失敗談</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/120130-003/"><img src="http://woman.mynavi.jp/static/b_manner/images/image4_4.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/120130-003/">男性がNGだと思う<br>女子の職場ファッション</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/091211-002/"><img src="http://woman.mynavi.jp/static/b_manner/images/image4_5.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/091211-002/">先輩が「会社のデスクで<br>
                                                しない方がいい」と<br>
                                                思うこと</a></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mn_navilink">
                                    <ul>
                                        <li class="b_none"><a href="#contents_1">上司・先輩</a></li>
                                        <li><a href="#contents_1">敬語・話し方</a></li>
                                        <li><a href="#contents_2">好印象マナー</a></li>
                                        <li><a href="#contents_2">身だしなみ</a></li>
                                        <li><a href="#contents_3">電話・メール</a></li>
                                        <li><a href="#contents_3">飲み会の作法</a></li>
                                        <li><a href="#contents_4">マネー管理</a></li>
                                        <li><a href="#contents_4">ヘルスケア</a></li>
                                    </ul>
                                </div>
                                <a name="contents_3" id="contents_3"></a>
                                <div class="mn_contents">
                                    <div class="mn_left">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_5.gif" alt="電話・メール" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/060317-mail/"><img src="http://woman.mynavi.jp/static/b_manner/images/image5_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/060317-mail/">メール、ビジネス文書の<br>
                                                スタンダードマナー</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/060317-tel/"><img src="http://woman.mynavi.jp/static/b_manner/images/image5_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/060317-tel/">社会人らしい電話応対の<br>
                                                7つのポイント</a></dd>
                                        </dl>
                                        <ul>
                                            <li><a href="http://woman.mynavi.jp/article/110101-064/">プリントしてすぐ使える！　<br>
                                                電話メモ、FAX送付状データ集</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/090615-001/">ビジネスメールのプロが教える！<br>
                                                好感度UPのメールの書き方</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/110619-001/">先輩に聞く<br>
                                                「メールチェックや返信を早くする小技」</a></li>
                                        </ul>
                                    </div>
                                    <div class="mn_right">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_6.gif" alt="飲み会の作法" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/090926-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image6_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/090926-001/">先輩女子が実践！　飲み会<br>
                                                での「気遣いポイント」</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/101227-001/"><img src="http://woman.mynavi.jp/static/b_manner/images/image6_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/101227-001/">好印象な対応は？<br>
                                                「飲み会でのお酒の上手な<br>
                                                断り方」</a></dd>
                                        </dl>
                                        <ul class="mn_bg">
                                            <li><a href="http://woman.mynavi.jp/article/060317-shanai/">知っておきたい<br>
                                                「社内のお付き合い」マナー</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/121211-006/">カウンセラーに聞く<br>
                                                「仕事の飲み会を前向きに乗り切る方法」</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/121119-003/">先輩女子が活用する<br>仕事の飲み会を断るときの言い訳</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mn_navilink">
                                    <ul>
                                        <li class="b_none"><a href="#contents_1">上司・先輩</a></li>
                                        <li><a href="#contents_1">敬語・話し方</a></li>
                                        <li><a href="#contents_2">好印象マナー</a></li>
                                        <li><a href="#contents_2">身だしなみ</a></li>
                                        <li><a href="#contents_3">電話・メール</a></li>
                                        <li><a href="#contents_3">飲み会の作法</a></li>
                                        <li><a href="#contents_4">マネー管理</a></li>
                                        <li><a href="#contents_4">ヘルスケア</a></li>
                                    </ul>
                                </div>
                                <a id="contents_4"></a>
                                <div class="mn_contents">
                                    <div class="mn_left">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_7.gif" alt="マネー管理" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/100531-004/"><img src="http://woman.mynavi.jp/static/b_manner/images/image7_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/100531-004/">“貯蓄体質”への第一歩！<br>
                                                「給与明細」の読み解き方</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/111026-002/"><img src="http://woman.mynavi.jp/static/b_manner/images/image7_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd class="mn_bg"><a href="http://woman.mynavi.jp/article/111026-002/">4年後に200万円！<br>
                                                お金を確実に貯める方法</a></dd>
                                        </dl>
                                        <ul class="mn_bg">
                                            <li><a href="http://woman.mynavi.jp/article/101129-003/">知らなきゃ損する<br>
                                                「銀行口座の使い分け」テクニック</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/120417-002/">「家計簿は面倒」という人に……<br>
                                                毎月の収支の簡単チェック方法</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/120731-002/">ひとり暮らし初心者が<br>
                                                「暮らしと貯蓄」を両立するには？</a></li>
                                        </ul>
                                    </div>
                                    <div class="mn_right">
                                        <h3><img src="http://woman.mynavi.jp/static/b_manner/images/title_8.gif" alt="メンタルヘルスケア" width="308" height="62" /></h3>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/110620/"><img src="http://woman.mynavi.jp/static/b_manner/images/image8_1.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/110620/">キツイひとことの<br>
                                                上手な受け止め方</a></dd>
                                        </dl>
                                        <dl>
                                            <dt><a href="http://woman.mynavi.jp/article/130129-005/"><img src="http://woman.mynavi.jp/static/b_manner/images/image8_2.jpg" alt="" width="90" height="68" /></a></dt>
                                            <dd><a href="http://woman.mynavi.jp/article/130129-005/">監視、ヤキモチはNG！<br>
                                                社内恋愛を成功させる<br>
                                                4つの掟</a></dd>
                                        </dl>
                                        <ul>
                                            <li><a href="http://woman.mynavi.jp/article/lymph-top/">1分さするだけ！<br>
                                                首リンパマッサージで不調をリセット</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/111104-002/">上司と気まずくなってしまったときの<br>
                                                解決法</a></li>
                                            <li><a href="http://woman.mynavi.jp/article/130312-006/">「あがり症」を克服する<br>
                                                4つの方法</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mn_navilink">
                                    <ul>
                                        <li class="b_none"><a href="#contents_1">上司・先輩</a></li>
                                        <li><a href="#contents_1">敬語・話し方</a></li>
                                        <li><a href="#contents_2">好印象マナー</a></li>
                                        <li><a href="#contents_2">身だしなみ</a></li>
                                        <li><a href="#contents_3">電話・メール</a></li>
                                        <li><a href="#contents_3">飲み会の作法</a></li>
                                        <li><a href="#contents_4">マネー管理</a></li>
                                        <li><a href="#contents_4">ヘルスケア</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!--広告コンテンツ ここまで-->

                        <% include module/_static-aside %>

                        <div class="adsense-wrapper">
                            <% include module/_pr-cards %>
                        </div>

                        <div class="adsense-wrapper">
                            <% include module/_pr-media %>
                        </div>

                        <div class="adsense-wrapper">
                            <% var pr = false; %>
                            <% include module/_pupular-ranking %>
                        </div>

                    </main>

                    <div class="adsense-wrapper">
                        <% include layout/_side-premire %>
                    </div>
                </div>
            </div>
            <!--contents ここまで-->

            <div class="adsense-wrapper">
<% include layout/_footer %>
            </div>
<% include layout/_script %>