<% var title = "出会い｜恋愛｜",
    description = "「マイナビウーマン」は、（株）マイナビが運営する、女性総合サイトです。同世代の声と役立つノウハウをはじめ、恋愛小説やコラムなどの豊富なコンテンツや便利なサービスで、働く女子を応援します。",
    keywords = "マイナビウーマン,働く女子,恋愛,仕事,シゴト,本音,ホンネ",
    type = "article",
    page_class = "page-sub-category-premire";
%>
<% include layout/_head %>
<% include layout/_header-static %>

            <!--contents ここから-->
            <div class="contents">
                <div class="contents-inner" id="js-contents">
                    <main class="main js-main" id="js-base">

                        <!--bread ここから-->
                        <nav class="bread">
                            <ol class="bread-inner">
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <i class="sprite home"></i>
                                    </a>
                                </li>
                                <li class="bread-item">
                                    <a href="#" class="bread-link">
                                        <span class="bread-text">恋愛</span>
                                    </a>
                                </li>
                                <li class="bread-item is-current">
                                    <div class="bread-link">
                                        <span class="bread-text">出会い</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <!--bread ここまで-->

                        <!--premire-special ここから-->
                        <div class="premire-special">
                            <a href="#" class="premire-special-link">
                                <div class="premire-special-cover"></div>
                                <div class="premire-special-link-inner">
                                    <img class="js-lazy" src="image/dummy.png" data-original="image/sample/sub-category-premire.jpg" width="648" height="247" alt=""/>
                                    <noscript>
                                        <img src="image/sample/sub-category-premire.jpg" width="648" height="247" alt=""/>
                                    </noscript>
                                </div>
                            </a>
                        </div>
                        <!--premire-special ここまで-->

                        <% var reccomendCardsType = 'type-b' %>
                        <% include module/_reccomend-cards %>

                        <% var type = 'type-b'; %>
                        <% include module/_new-articles-listtype %>

                        <% include module/_pr-cards %>

                        <% include module/_pr-media %>

                        <% var pr = false; %>
                        <% include module/_pupular-ranking %>

                    </main>
                    <% include layout/_side-premire %>
                </div>
            </div>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>