<!--modal ここから-->
<div class="modal modal-scrolable" id="js-modal-parking">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <div class="board">
                <div class="board-inner">

                    <section class="price price-margin">
                        <h1 class="price-title">キスケBOX駐車場 利用料金</h1>
                        <table class="price-table table table-small">
                            <tr>
                                <th class="table-th">
                                    <p class="strong-text">30分100円</p>
                                    <small>※駐輪場は無料です</small>
                                </th>
                            </tr>
                        </table>
                    </section>

                    <section class="price">
                        <h1 class="price-title">
                            キスケBOX駐車場 利用料金
                        </h1>
                        <p class="price-description">キスケBOX内の施設を利用すると、<b>最大24時間のあいだ、駐車場料金が無料になります！</b></p>
                        <table class="price-table table table-small">
                            <tr>
                                <th class="table-th table-th-small">最大24時間無料</th>
                                <td class="table-td table-td-small">
                                    アイ・カフェ
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大8時間無料</th>
                                <td class="table-td table-td-small">
                                    キスケPAO<span class="price-text-narrow-right">、</span>麻雀JAO<span class="price-text-narrow-right">、</span>カラオケWAO
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大6時間無料</th>
                                <td class="table-td table-td-small">
                                    リビングカルチャーセンター、<br>アクトスWill松山
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大5時間無料</th>
                                <td class="table-td table-td-small">
                                    なが坂、Hips Dance School
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大4時間無料</th>
                                <td class="table-td table-td-small">
                                    天然温泉 キスケのゆ、La Tiarre
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大3時間無料</th>
                                <td class="table-td table-td-small">
                                    キスケボウル、MG
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大2時間無料</th>
                                <td class="table-td table-td-small">
                                    食彩館 エルベ24
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">最大1時間無料</th>
                                <td class="table-td table-td-small">
                                    POO、おが多、かめや、<br>マクドナルド、あむぱむ
                                </td>
                            </tr>
                        </table>
                    </section>

                </div>
            </div>
        </div>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->