<!--modal ここから-->
<div class="modal modal-scrolable js-modal" id="js-modal-2ban">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <div class="board">
                <div class="board-inner">
                    <section class="price">
                        <h1 class="price-title">二番町キスケパーキング 利用料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">7:00〜17:00</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">60分 100円</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">17:00〜7:00</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">20分 100円</p>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title">サービス料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">昼割(毎日 7:00〜17:00)</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">最大料金 10時間 500円</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">日・祝割(日・祝 7:00〜翌7:00)</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">最大料金 24時間 900円</p>
                                </td>
                            </tr>
                        </table>

                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title">月極契約</h1>
                        <p class="price-explain">ご利用スタイルに応じて各種プランをご用意しています。</p>
                        <table class="price-table table table-detail">
                            <tr>
                                <th class="table-th table-th-small">Aタイプ</th>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            金額
                                        </div>
                                        <div class="table-td">¥8,640</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            時間帯
                                        </div>
                                        <div class="table-td">7:00〜19:00</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            駐車不可日
                                        </div>
                                        <div class="table-td">日・祝、正月3日間</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            出入回数
                                        </div>
                                        <div class="table-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            保証金
                                        </div>
                                        <div class="table-td">¥10,000</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">Bタイプ</th>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            金額
                                        </div>
                                        <div class="table-td">¥10,800</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            時間帯
                                        </div>
                                        <div class="table-td">7:00〜20:00</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            駐車不可日
                                        </div>
                                        <div class="table-td">正月3日間</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            出入回数
                                        </div>
                                        <div class="table-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            保証金
                                        </div>
                                        <div class="table-td">¥15,000</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">Dタイプ</th>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            金額
                                        </div>
                                        <div class="table-td">¥14,040</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            時間帯
                                        </div>
                                        <div class="table-td">7:00〜21:00</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            駐車不可日
                                        </div>
                                        <div class="table-td">正月3日間</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            出入回数
                                        </div>
                                        <div class="table-td">無制限</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            保証金
                                        </div>
                                        <div class="table-td">¥15,000</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">夜タイプ</th>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            金額
                                        </div>
                                        <div class="table-td">¥16,200</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            時間帯
                                        </div>
                                        <div class="table-td">18:00〜翌6:00</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            駐車不可日
                                        </div>
                                        <div class="table-td">なし</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            出入回数
                                        </div>
                                        <div class="table-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            保証金
                                        </div>
                                        <div class="table-td">なし</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">24時間タイプ</th>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            金額
                                        </div>
                                        <div class="table-td">¥21,600</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            時間帯
                                        </div>
                                        <div class="table-td">24時間</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            駐車不可日
                                        </div>
                                        <div class="table-td">なし</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            出入回数
                                        </div>
                                        <div class="table-td">無制限</div>
                                    </div>
                                </td>
                                <td class="table-td table-td-small">
                                    <div class="table-sub">
                                        <div class="table-sub-th">
                                            保証金
                                        </div>
                                        <div class="table-td">¥17,280</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p class="price-small price-small-no-margin">※24時間タイプは保証会社加入が規約条件となります。</p>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title price-title-margin-large">
                            ナイト会員
                        </h1>
                        <p class="price-description">夜間のご利用にお得なナイト会員プランをご用意しています。</p>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">18:00〜翌6:00</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">1日 840円</p>
                                </td>
                            </tr>
                        </table>
                        <p class="price-small">
                            ※入会金不要です。<br>
                            ※登録だけで即日利用可能です。<br>
                            ※近隣にお勤めの方限定です。
                        </p>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price">
                        <h1 class="price-title price-title-margin-large">提携ホテル利用時の駐車料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">1泊</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">800円</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">提携ホテル</th>
                                <td class="table-td">
                                    <div class="table-small-texts">ホテル勝山、ネストホテル松山、ホテルチェックイン松山、東横イン松山一番町、ホテル三番町、カンデオホテルズ松山大街道、松山東急REIホテル</div>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->