<!--modal ここから-->
<div class="modal modal-scrolable js-modal" id="js-modal-3ban">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <div class="board">
                <div class="board-inner">
                    <section class="price">
                        <h1 class="price-title">三番町キスケパーキング 利用料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">毎日</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">30分 100円</p>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title">サービス料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">夜フリータイム(毎日 18:00〜翌6:00)</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">最大料金 12時間 1,200円</p>
                                </td>
                            </tr>
                        </table>

                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title">月極契約</h1>
                        <p class="price-explain">ご利用スタイルに応じて各種プランをご用意しています。</p>
                        <table class="price-table table table-detail">
                            <tr>
                                <th class="table-th table-th-primary">Aタイプ</th>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">金額</div>
                                        <div class="table-sub-td">¥8,640</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">時間帯</div>
                                        <div class="table-sub-td">7:00〜19:00</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">駐車不可日</div>
                                        <div class="table-sub-td">日・祝、正月3日間</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">出入回数</div>
                                        <div class="table-sub-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">保証金</div>
                                        <div class="table-sub-td">¥10,000</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-primary">Cタイプ</th>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">金額</div>
                                        <div class="table-sub-td">¥14,040</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">時間帯</div>
                                        <div class="table-sub-td">7:00〜21:00</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">駐車不可日</div>
                                        <div class="table-sub-td">正月3日間</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">出入回数</div>
                                        <div class="table-sub-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">保証金</div>
                                        <div class="table-sub-td">¥10,000</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-primary">夜タイプ</th>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">金額</div>
                                        <div class="table-sub-td">¥14,040</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">時間帯</div>
                                        <div class="table-sub-td">18:00〜翌6:00</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">駐車不可日</div>
                                        <div class="table-sub-td">なし</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">出入回数</div>
                                        <div class="table-sub-td">1日1回</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">保証金</div>
                                        <div class="table-sub-td">なし</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-primary">24時間タイプ</th>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">金額</div>
                                        <div class="table-sub-td">¥18,360</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">時間帯</div>
                                        <div class="table-sub-td">24時間</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">駐車不可日</div>
                                        <div class="table-sub-td">なし</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">出入回数</div>
                                        <div class="table-sub-td">無制限</div>
                                    </div>
                                </td>
                                <td class="table-td">
                                    <div class="table-sub">
                                        <div class="table-sub-th">保証金</div>
                                        <div class="table-sub-td">¥17,280</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p class="price-small price-small-no-margin">※24時間タイプは、保証会社加入(保証金:14,688円)が条件となります。<br>
                            ※金額は全て税込です。<br>
                            ※その他詳細はお問い合わせください。</p>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title price-title-margin-large">
                            ナイト会員
                        </h1>
                        <p class="price-description">翌日取りに来ても大丈夫！　利用時間を大幅延長しました。</p>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">18:00〜翌12:00</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">最長18時間 840円</p>
                                </td>
                            </tr>
                        </table>
                        <p class="price-small">
                            ※入会金不要です。<br>
                            ※登録だけで即日利用可能です。<br>
                            ※近隣にお勤めの方限定です。
                        </p>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title price-title-margin-large">
                            DAY会員
                        </h1>
                        <p class="price-description">昼間の長時間利用の場合はぜひご入会ください。</p>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">7:00〜18:00</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">最長11時間 600円</p>
                                </td>
                            </tr>
                        </table>
                        <p class="price-small">
                            ※入会金不要です。<br>
                            ※登録だけで即日利用可能です。<br>
                            ※近隣にお勤めの方限定です。
                        </p>
                    </section>
                </div>

                <hr class="separate-line"/>

                <div class="board-inner">
                    <section class="price price-margin">
                        <h1 class="price-title">提携ホテル利用時の駐車料金</h1>
                        <table class="price-table table">
                            <tr>
                                <th class="table-th table-th-small">1泊</th>
                                <td class="table-td table-td-small">
                                    <p class="strong-text strong-text-small">800円</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th table-th-small">提携ホテル</th>
                                <td class="table-td table-td-small">
                                    <div class="table-small-texts">ホテル勝山、ネストホテル松山、ホテルチェックイン松山、東横イン松山一番町、ホテル三番町、カンデオホテルズ松山大街道、松山東急REIホテル</div>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->