<!--modal ここから-->
<div class="modal modal-scrolable js-modal" id="js-modal-shops">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <div class="board">
                <div class="board-inner">
                    <div class="shops">
                        <div class="shops-inner">
                            <p class="shops-title">提携店一覧</p>
                            <div class="shops-body">
                                <p>松山三越、愛媛フットサルパーク、FASTボウル、カラオケクラブFAST、カラオケJOYSOUND、カラオケ ビッグエコー、レストランカラオケ シダックス、釜飯と串焼 とりでん 松山三番町店、京風一品料理 きよみず、パチンコ大盛 大街道、松岡歯科医院、四国コンタクト、メガネのクギミヤ、桂由美フランチャイズ愛媛・KYOYA松山店、かに道楽 松山店、味ふく、チャイナ 白魂、十五万石、すし丸 本店、玄海南店、イタリヤ軒、izakaya dining むてき堂、魚鮮水産 さかなや道場 松山三番町店、ゼクシィ 松山カウンター、THE GRIGHT、milk、romantic diner loco（キスケパーキング三番町限定）</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->