<!--modal ここから-->
<div class="modal" id="js-modal-kisuke-way">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <ul class="modal-list">
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title"><span>素</span>直であること</p>
                            <p class="board-description">人間、正直で素直がいちばん。<br>
                                横着やズル、嘘をつくことはやめましょう。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title">いつも<span>上</span>昇志向</p>
                            <p class="board-description">どんな企業でも活躍できる、<br>
                                市場価値の高い人間になりましょう。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title"><span>節</span>約癖</p>
                            <p class="board-description">今の時代、1円の利益を出すには<br>
                                100円売り上げる必要があります。<br>
                                だったら、<br>
                                1円を節約する努力のほうが、ずっと簡単です。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title">両手に<span>荷</span>物を持たない</p>
                            <p class="board-description">落ちているお金を拾うこともできません。<br>
                                転んだときに手をつくこともできません。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title"><span>褒</span>め上手</p>
                            <p class="board-description">褒められたほうも、褒めたほうも、気分は良いものです。<br>
                                良いことをした人は褒めるようにしましょう。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title">好事、<span>魔</span>多し</p>
                            <p class="board-description">油断が事故につながります。<br>
                                特に業績が良いときほど、<br>
                                気を引き締めていっそう努力をしましょう。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title"><span>遊</span>び、学ぶ</p>
                            <p class="board-description">他店や他業種のモデル店舗を訪れるときは、<br>
                                見に行くのではなく、遊んでくることで、<br>
                                お客様の気持ちで物事を見られるようになります。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title">固定概念を<span>持</span>たない</p>
                            <p class="board-description">いろんな視点で物事を見る。<br>
                                つまり頭を使う、ということです。<br>
                                商売においてきちんと利益を出せる人は、<br>
                                えてして視点を変えられる人だったりします。</p>
                        </div>
                    </div>
                </li>
                <li class="modal-item">
                    <div class="board">
                        <div class="board-inner">
                            <p class="board-title"><span>ど</span>んぶり勘定はやめましょう</p>
                            <p class="board-description">曖昧な表現や行動は厳禁。<br>
                                常に根拠をもって説明できるようにしましょう。<br>
                                目の前の出来事を分析する癖をつけ、<br>
                                成功確率を高める努力が必要です。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a class="modal-navigation modal-navigation-prev" href="javascript:void(0);">
            <i class="arrow arrow-primary arrow-xlarge arrow-reverse"></i>
        </a>
        <a class="modal-navigation modal-navigation-next" href="javascript:void(0);">
            <i class="arrow arrow-primary arrow-xlarge"></i>
        </a>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->