<% var modalData = [
    {
        title: "外観",
        description: "今治の中心に、いい湯が湧きました。駐車場も176台完備しています。"
    },
    {
        title: "大浴槽",
        description: "壁面いっぱいに広がるのは、銭湯絵師が心を込めて描いた迫力のある富士山。懐かしい銭湯の雰囲気をお楽しみいただけます。"
    },
    {
        title: "炭酸風呂",
        description: "天然温泉に高濃度な炭酸ガスを溶け込ませた、キスケのゆ自慢のお風呂です。"
    },
    {
        title: "ジェット寝湯",
        description: "リラックスした状態で程よい水圧をお楽しみください。"
    },
    {
        title: "翡翠風呂（女性風呂限定）",
        description: "高純度軟水は保湿効果が高く、新陳代謝を活発にし、美肌効果もあると言われています。"
    },
    {
        title: "流水歩行浴",
        description: "体重の負荷が少なく、リハビリや腰痛対策・ダイエットに最適です。"
    },
    {
        title: "シルク風呂",
        description: "水流・気泡で全身マッサージ効果が得られると共に、血液循環機能を高めてくれます。"
    },
    {
        title: "子供風呂",
        description: "小さなお子様でも安心して入浴できる浅めのお風呂。アヒルと一緒に入りましょう。"
    },
    {
        title: "女性パウダールーム",
        description: "個室タイプに仕切りを入れることで、パウダールームとしてご利用いただけます。"
    },
    {
        title: "手もみ処　癒和",
        description: "ボディケア・あかすりなど各種プランあります。"
    },
    {
        title: "農家の台所 もぎたて食堂",
        description: "直営農家と提携することで仕入れる新鮮な野菜と果実が自慢の食堂です。"
    },
    {
        title: "ロウリュサウナ",
        description: "加熱したサウナストーンにアロマ水を注ぎ、蒸気を発生させることで、発汗作用を促進させます。"
    }
]; %>

<!--modal ここから-->
<div class="modal modal-figure modal-scrolable" id="js-modal-spa-imabari">
    <div class="modal-inner">
        <div class="modal-list-wrapper">
            <ul class="modal-list">
                <% for(var i=0; i< modalData.length; i++) { %>
                <li class="modal-item">
                    <figure class="spa-figure">
                        <img class="spa-figure-image" src="image/service/service-spa/imabari/view/spa<%= [i + 1] %>.jpg" alt=""/>
                        <figcaption class="spa-figure-body">
                            <p class="spa-figure-title"><%= modalData[i].title %></p>
                            <div class="spa-figure-description"><%= modalData[i].description %></div>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </div>
        <a class="modal-navigation modal-navigation-prev" href="javascript:void(0);">
            <i class="arrow arrow-primary arrow-xlarge arrow-reverse"></i>
        </a>
        <a class="modal-navigation modal-navigation-next" href="javascript:void(0);">
            <i class="arrow arrow-primary arrow-xlarge"></i>
        </a>
        <a class="modal-close" href="javascript:void(0);"></a>
    </div>
    <div class="modal-back"></div>
</div>
<!--modal ここまで-->