
            <footer class="footer">
                <!--マイナビウーマンサイト内ナビ ここから-->
                <a href="#js-wrapper" class="pegetop-wrapper js-scroll">
                    <i class="sprite pagetop"></i>
                    <i class="sprite pagetop-hover"></i>
                </a>
                <div class="footer-top">
                    <div class="footer-inner">
                        <nav class="footer-nav">
                            <ul class="footer-nav-row">
                                <li class="footer-nav-cell">
                                    <div class="footer-nav-inner">
                                        <div class="footer-nav-border"></div>
                                        <a href="#" class="footer-nav-link">マイナビウーマンとは</a>
                                        <a href="#" class="footer-nav-link">サイトマップ</a>
                                        <a href="#" class="footer-nav-link">利用規約</a>
                                        <a href="#" class="footer-nav-link">個人情報の取扱いについて</a>
                                        <a href="#" class="footer-nav-link">ご意見・ご感想</a>
                                    </div>
                                </li>
                                <li class="footer-nav-cell">
                                    <div class="footer-nav-inner">
                                        <div class="footer-nav-border"></div>
                                        <a href="#" class="footer-nav-link">広告について</a>
                                        <a href="#" class="footer-nav-link">プレスリリース窓口</a>
                                        <a href="#" class="footer-nav-link">著作権と転載について</a>
                                        <a href="#" class="footer-nav-link">推奨環境</a>
                                        <a href="#" class="footer-nav-link">お詫びと訂正</a>
                                    </div>
                                </li>
                                <li class="footer-nav-cell">
                                    <div class="footer-nav-inner">
                                        <a href="#" class="footer-nav-link">ライター募集</a>
                                        <a href="#" class="footer-nav-link">読者モデル募集</a>
                                        <a href="#" class="footer-nav-link">スタッフ募集</a>
                                        <a href="#" class="footer-nav-link">新卒採用情報</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <ul class="footer-sns">
                            <li class="footer-sns-item">
                                <a href="#" target="_blank" class="sns-button twitter">
                                    <i class="sprite twitter-white"></i>
                                </a>
                            </li>
                            <li class="footer-sns-item">
                                <a href="#" target="_blank" class="sns-button facebook">
                                    <i class="sprite facebook-white"></i>
                                </a>
                            </li>
                            <li class="footer-sns-item">
                                <a href="#" target="_blank" class="sns-button google">
                                    <i class="sprite google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--マイナビウーマンサイト内ナビ ここまで-->

                <!--マイナビグループ内ナビ ここから-->
                <div id="GlobalFooter" class="clearfix">
                    <div id="FooterLogo">
                        <a href="http://www.mynavi.jp/" target="_blank" rel="nofollow"><img src="image/global/logo.gif" width="70"
                                                                                            height="61" alt="株式会社マイナビ"/></a>
                    </div>

                    <div id="FooterService">
                        <div id="FooterServiceHead" class="clearfix">
                            <div class="FooterTitle">マイナビグループの関連サイト</div>
                            <p class="FooterHeadLink"><a href="http://www.mynavi.jp/service/" target="_blank" rel="nofollow"><img
                                src="image/global/farrow.gif" width="13" height="10" alt=">">サービス一覧</a></p>
                        </div>

                        <div id="FooterServiceCont">
                            <dl class="clearfix">
                                <dt>求人情報</dt>
                                <dd><a href="http://job.mynavi.jp/" target="_blank" rel="nofollow">学生の就活</a></dd>
                                <dd><a href="http://global.mynavi.jp/" target="_blank" rel="nofollow">留学経験者の就活</a></dd>
                                <dd><a href="https://resident.mynavi.jp/" target="_blank" rel="nofollow">医学生・研修医向け</a></dd>
                                <dd><a href="http://nurse.mynavi.jp/" target="_blank" rel="nofollow">看護学生向け</a></dd>
                                <dd><a href="http://tenshoku.mynavi.jp/" target="_blank" rel="nofollow">転職・求人情報</a></dd>
                                <dd><a href="http://mynavi.agentsearch.jp/" target="_blank" rel="nofollow">転職エージェント</a></dd>
                                <dd><a href="http://baito.mynavi.jp/" target="_blank" rel="nofollow">アルバイト</a></dd>
                                <dd><a href="http://part.mynavi.jp/" target="_blank" rel="nofollow">パート</a></dd>
                                <dd class="last"><a href="http://haken.mynavi.jp/" target="_blank" rel="nofollow">派遣求人</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>進路情報</dt>
                                <dd><a href="http://shingaku.mynavi.jp/" target="_blank" rel="nofollow">高校生の進路情報</a></dd>
                                <dd class="last"><a href="http://jol.me/" target="_blank" rel="nofollow">10代のライフデザイン</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>情報サービス</dt>
                                <dd><a href="http://news.mynavi.jp/" target="_blank" rel="nofollow">総合・専門ニュース</a></dd>
                                <dd><a href="http://student.mynavi.jp/" target="_blank" rel="nofollow">大学生活応援</a></dd>
                                <dd><a href="http://woman.mynavi.jp/" target="_blank" rel="nofollow">働く女性応援</a></dd>
                                <dd><a href="http://book.mynavi.jp/" target="_blank" rel="nofollow">雑誌・書籍・ソフト</a></dd>
                                <dd><a href="http://www.japan-i.jp/" target="_blank" rel="nofollow">海外向け</a></dd>
                                <dd><a href="http://chintai.mynavi.jp/" target="_blank" rel="nofollow">賃貸住宅情報</a></dd>
                                <dd><a href="http://wedding.mynavi.jp/" target="_blank" rel="nofollow">ウエディング情報</a></dd>
                                <dd class="last"><a href="http://www.sekaken.jp/" target="_blank" rel="nofollow">世界遺産検定</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>人材派遣・紹介</dt>
                                <dd><a href="http://staff.mynavi.jp/" target="_blank" rel="nofollow">人材派遣</a></dd>
                                <dd><a href="http://mynavi-agent.jp/" target="_blank" rel="nofollow">人材紹介</a></dd>
                                <dd><a href="http://kango.mynavi.jp/" target="_blank" rel="nofollow">看護師の求人</a></dd>
                                <dd><a href="http://pharma.mynavi.jp/" target="_blank" rel="nofollow">薬剤師の転職</a></dd>
                                <dd><a href="http://doctor.mynavi.jp/" target="_blank" rel="nofollow">医師の求人</a></dd>
                                <dd><a href="http://iryokaigo.mynavi.jp/" target="_blank" rel="nofollow">コメディカル求人</a></dd>
                                <dd><a href="http://hoiku.mynavi.jp/" target="_blank" rel="nofollow">保育士の求人</a></dd>
                                <dd><a href="http://cpa.mynavi.jp/" target="_blank" rel="nofollow">会計士の転職</a></dd>
                                <dd><a href="http://creator.mynavi-agent.jp/" target="_blank" rel="nofollow">クリエイター求人</a></dd>
                                <dd><a href="http://shinsotsu.mynavi-agent.jp/" target="_blank" rel="nofollow">新卒紹介</a></dd>
                                <dd class="last"><a href="http://job20s.mynavi-agent.jp/" target="_blank" rel="nofollow">20代・第二新卒</a>
                                </dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>法人向け</dt>
                                <dd><a href="http://saponet.mynavi.jp/" target="_blank" rel="nofollow">新卒採用支援</a></dd>
                                <dd><a href="http://hrd.mynavi.jp/" target="_blank" rel="nofollow">研修サービス</a></dd>
                                <dd><a href="http://career-s.mynavi.jp/" target="_blank" rel="nofollow">キャリア開発・再就職支援</a></dd>
                                <dd class="last"><a href="http://msc.mynavi.jp/" target="_blank" rel="nofollow">発送代行</a></dd>
                            </dl>
                        </div>
                        <!-- #FooterServiceCont end --></div>

                    <div id="FooterCorp">
                        <div id="FooterCorpInfo">
                            <div id="FooterCorpId">
                                <div id="FooterCorpName"><a href="http://www.mynavi.jp/" target="_blank" rel="nofollow"><img
                                    src="image/global/corp_name.gif" width="100" height="13" alt="株式会社マイナビ"></a></div>
                                <p id="copyright">Copyright &copy; Mynavi Corporation</p>
                            </div>
                            <div id="FooterCorpLink">
                                <ul>
                                    <li><a href="http://www.mynavi.jp/company/" rel="nofollow" target="_blank">会社概要</a></li>
                                    <li><a href="http://www.mynavi.jp/service/" rel="nofollow" target="_blank">サービス一覧</a></li>
                                    <li><a href="http://www.mynavi.jp/company/office.html" rel="nofollow" target="_blank">事業所案内</a></li>
                                    <li><a href="http://www.mynavi.jp/company/social.html" rel="nofollow" target="_blank">社会的な取り組み</a>
                                    </li>
                                    <li><a href="http://www.mynavi.jp/recruit/" rel="nofollow" target="_blank">採用情報</a></li>
                                    <li><a href="http://www.mynavi.jp/group/" rel="nofollow" target="_blank">グループ会社</a></li>
                                    <li class="last"><a href="http://www.mynavi.jp/privacy/" rel="nofollow" target="_blank">個人情報保護方針</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="privacy"><a href="http://privacymark.jp/" target="_blank" rel="nofollow"><img src="image/global/privacy.gif"
                                                                                                           width="75" height="75"
                                                                                                           alt="プライバシーマーク"/></a></div>
                </div>
                <!--マイナビグループ内ナビ ここまで-->

            </footer>

        </div>
        <!--wrapper ここまで-->