.page-about {
    
    .bread {
        margin-bottom: 24px;
    }

    .about-mynavi{
        margin-bottom: 40px;
    }

    .about-category{
        margin-bottom: 24px;
    }

    .about-member{
        &-features{
            margin-bottom: 32px;
        }
        &-button{
            padding: 0 24px 40px;
        }
    }

    .category-block{
        margin-bottom: 16px;
    }
}