.page-entry {

    .bread {
        margin-bottom: 15px;
    }

    .entry-heading{
        margin-bottom: 20px;
    }

    .entry-wrap{
        margin-bottom: 40px;
    }

    .recommend-post{
        margin-bottom: 40px;
    }

    .ranking-general {
        margin-bottom: 24px;
    }

    .ranking-category{
        margin-bottom: 15px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .information-contents{
        margin-bottom: 40px;
    }
}
