.page-entry-special {

    .bread {
        margin-bottom: 15px;
    }

    .entry-heading{
        margin-bottom: 20px;
    }

    .entry-wrap{
        margin-bottom: 40px;
    }

    .recommend-post{
        margin-bottom: 40px;
    }

    .ranking-general {
        margin-bottom: 24px;
    }

    .ranking-category{
        margin-bottom: 15px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .information-contents{
        margin-bottom: 40px;
    }
    
    .entry-aside-pr {
        margin-right: 0;
        margin-left: 0;
    }

    //main width670pxに伴う調整
    $main-size: 670px;
    .main {
        width: $main-size;

        .entry-wrap {
            padding-right: 18px;
            padding-left: 18px;
        }

        .entry-body {
            margin-top: 0;
            
            div img {
                vertical-align: top;
            }
            
            a.is-target {
             
                &:before {
                    display: none;
                }
            }

            h2 {
                display: inline-block;
                margin: 0 0 14px;
                border: 0;
            }

            h3,
            h4,
            h5,
            h6 {
                padding: 0;
                margin: 0 0 6px;
                border: 0;
            }

            ol {
                margin-left: 2em;
            }

            td {
                padding: 14px 18px;
                text-align: left;
                vertical-align: top;
            }

            input[type="checkbox"] {
                -webkit-appearance: checkbox;
                vertical-align: text-top;
            }

            .mod-borderBox {
                padding: 14px 18px;
            }

            .mod-btn a {
                @include rem(15);
            }
            
            .mod-social {
                ul {
                    letter-spacing: -.3em;
                    li {
                        letter-spacing: normal;
                        display: inline-block;
                        vertical-align: top;
                        padding: 0;
                        
                        &.fb {
                            margin-right: 10px;
                        }
                        
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

        .entry-heading-image-inner {
            width: $main-size;
        }

        .pr-cards {

            .pr-cards-item {

                &:nth-child(1),
                &:nth-child(2) {
                    width: 232px;
                }

                &:nth-child(3) {
                    width: 206px;
                }
            }
        }
    }
}
