.page-entry-outline {

    .bread {
        margin-bottom: 15px;
    }

    .entry-header{
        padding-bottom: 0;
        margin-bottom: 15px;
        border: none;
    }

    .entry-heading{
        margin-bottom: 20px;
    }

    .entry-wrap{
        margin-bottom: 40px;
    }

    .entry-aside-pr{
        margin-bottom: 45px;
    }

    .recommend-post{
        margin-bottom: 40px;
    }

    .ranking-general {
        margin-bottom: 24px;
    }

    .ranking-category{
        margin-bottom: 15px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .information-contents{
        margin-bottom: 40px;
    }
}
