.page-event {

    .bread {
        margin-bottom: 17px;
    }

    .event-block{
        margin-bottom: 55px;
    }

    .scrap{
        margin-bottom: 24px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }
}
