.page-index {

    .alert {
        margin-bottom: 24px;
    }

    .recommend {
        margin-bottom: 16px;
    }

    .new-articles {
        margin-bottom: 40px;
    }

    .pickup {
        margin-bottom: 32px;
    }

    .popular {
        margin-bottom: 40px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .time-section {
        margin-bottom: 32px;
    }

    .professional {
        margin-bottom: 40px;
    }
}