.page-primary-category {
    
    .bread {
        margin-bottom: 24px;
    }
    
    .board {
        margin-bottom: 32px;
    }

    .pickup {
        margin-bottom: 24px;
    }

    .new-articles-listtype {
        margin-bottom: 56px;
    }

    .library {
        margin-bottom: 24px;
    }

    .category-menu {
        margin-bottom: 40px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .information {
        margin-bottom: 40px;
    }
}