.page-ranking {

    .bread {
        margin-bottom: 24px;
    }

    .ranking-general {
        margin-bottom: 24px;
    }

    .ranking-category{
        margin-bottom: 15px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

}
