.page-sub-category-premire {

    .bread {
        margin-bottom: 24px;
    }

    .premire-special {
        margin-bottom: 12px;
    }

    .reccomend-cards {
        margin-bottom: 32px;
    }

    .reccomend-media {
        margin-bottom: 32px;
    }

    .new-articles.new-articles-listtype {
        margin-bottom: 56px;

        .new-articles-item {

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }
}