.page-sub-category {
    
    .bread {
        margin-bottom: 24px;
    }

    .reccomend-cards {
        margin-bottom: 24px;
    }

    .new-articles.new-articles-listtype {
        margin-bottom: 20px;
    }

    .library {
        margin-bottom: 30px;
    }

    .category-menu {
        margin-bottom: 40px;
    }

    .pr-cards {
        margin-bottom: 16px;
    }

    .pr-media {
        margin-bottom: 40px;
    }

    .information {
        margin-bottom: 32px;
    }
}