.footer {
    width: 100%;
    min-width: $size-max;
    position: relative;
    background: #fff;

    .pegetop-wrapper {
        width: 107px;
        height: 93px;
        position: absolute;
        top: -93px;
        left: 50%;
        margin-left: -53px;

        &:hover {

            .pagetop {
                opacity: 0;
            }

            .pagetop-hover {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                animation: pagetop-hover 0.6s ease-out 0s 1;
            }
        }

        .sprite {
            position: absolute;
            top: 0;
            left: 0;
        }

        .pagetop {
            opacity: 1;
            transition: opacity $speed;
        }

        .pagetop-hover {
            opacity: 0;
            transform: translate3d(0, 10px, 0);
            //            transition: opacity $speed, transform $speed;
        }
    }

    &-inner {
        @extend %clearfix;
        width: $size-max;
        margin: 0 auto;
        padding: 0 25px;
    }

    //footer-top
    &-top {
        width: 100%;
        min-width: $size-max;
        background: $base-light;
        padding: 38px 0;
    }

    .footer-nav {
        float: left;
        display: table;
        width: 680px;
        table-layout: fixed;

        &-row {
            display: table-row;
        }

        &-cell {
            display: table-cell;
            width: 33.33%;
            vertical-align: top;
            padding: 0 32px 0 0;

            &:nth-child(3) {
                padding-right: 0;
            }
        }

        &-inner {
            position: relative;
        }

        &-border {
            border-right: 1px dashed #fff;
            width: 1px;
            height: 55px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -27px;
        }

        &-link {
            display: block;
            @include rem(13);
            color: $default;
            text-decoration: none;
            line-height: 1.4;
            margin-bottom: 6px;

            &:hover {
                text-decoration: underline;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &-sns {
        float: right;
        width: 300px;
        padding-top: 2px;

        &-item {
            float: left;
            width: 100px;
            letter-spacing: normal;
            background: #000;
        }

        .sns-button {
            display: block;
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            transition: opacity $speed;
            backface-visibility: hidden;

            &:hover {
                opacity: $opacity;
            }

            &.twitter {
                background-color: $twitter-color;

                .sprite {
                    top: 1px;
                }
            }

            &.facebook {
                background-color: $facebook-color;

                .sprite {
                    top: 4px;
                }
            }

            &.google {
                background-color: $google-color;

                .sprite {
                    top: 4px;
                }
            }

            .sprite {
                position: relative;
            }
        }
    }
}
