.header {
    width: 100%;
    min-width: $size-max;
    background: #fff;
}

.header-inner {
    @extend %clearfix;
    width: $size-max;
    margin: 0 auto;
    padding: 0 25px;
}

.header-primary {
    float: left;
    width: 600px;
    letter-spacing: -.4em;
    padding: 15px 0 0 158px;

    &-heading,
    &-logo {
        display: inline-block;
        vertical-align: top;
    }

    &-heading {
        @include rem(13);
        letter-spacing: normal;
        padding-top: 13px;
        margin-right: 13px;
    }

    &-logo {
        display: inline-block;
        letter-spacing: normal;

        .sprite {
            @extend %blow;
        }
    }
}

.header-sub {
    float: right;
    width: 380px;
    text-align: right;
    letter-spacing: -.4em;

    &.is-active {

        .header-sub-search-input {
            width: 310px;
        }
        
        .header-sub-buttons {
            width: 0;
        }
    }

    &-buttons,
    &-search {
        letter-spacing: normal;
        vertical-align: top;
        display: inline-block;
    }

    &-buttons {
        width: 160px;
        padding-top: 6px;
        overflow: hidden;
        transition: width $speed;

        .button-dashed {
            margin-bottom: 4px;
        }
    }

    &-search {
        letter-spacing: normal;
        display: inline-block;
        height: 68px;
        border-right: 1px solid $base;
        border-left: 1px solid $base;
        margin-left: 12px;
        padding-right: 48px;
        position: relative;

        &-input {
            display: inline-block;
            width: 0;
            letter-spacing: normal;
            vertical-align: top;
            overflow: hidden;
            transition: width $speed;

            .input {
                width: 300px;
                margin: 20px 0 0 10px;
                @include placeholder(lighten($default,50%),15);
            }
        }

        &-button {
            width: 48px;
            height: 68px;
            line-height: 68px;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            transition: background-color $speed;

            &:hover {
                background: $base;

                .search {
                    opacity: 0;
                }

                .search-white {
                    opacity: 1;
                }
            }
        }

        .sprite {
            @include core;
            transition: opacity $speed;
        }

        .search-white {
            opacity: 0;
        }
    }
}

//追従時のheader
.sticky-header {
    width: 100%;
    height: 54px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: $max-z;
    transform: translate3d(0, -65px, 0);
    transition: transform $speed;

    .header-inner {
        display: none;
    }

    &.is-visible {
        transform: translate3d(0, 0, 0);

        .nav-item {

            &:hover {

                .sub-category {
                    display: block;
                }

            }
        }
    }

    .nav {
        box-shadow: $shadow;

        &-item {

            &:hover {

                .sub-category{
                    display: none;
                }

            }
        }
    }
    
    .sub-category {
        box-shadow: $shadow;
    }

    .lt-ie9 & {
        display: none;
    }
}