/*
    さまざまシーンで要素のレイアウトを整える汎用的なクラス
*/

//2カラムの横並びにする
.grid {
    .grid-inner {
        font-size: 0;
        > .grid-item {
            display: inline-block;
            vertical-align: top;
            font-size: $base-font-size + px;

            //colmn
            &.grid-item-col2 {
                width: 50%;
            }
            &.grid-item-col3 {
                width: 33.3333%;
            }
            &.grid-item-col4 {
                width: 25%;
            }
            &.grid-item-col5 {
                width: 30%;
            }
            &.grid-item-col6 {
                width: 16.6666%;
            }
        }
    }

    //    col
    &.grid-col2 {
        .grid-inner > .grid-item {
            width: 50%;
        }
    }
    &.grid-col3 {
        .grid-inner > .grid-item {
            width: 33.3333%;
        }
    }
    &.grid-col4 {
        .grid-inner > .grid-item {
            width: 25%;
        }
    }
    &.grid-col5 {
        .grid-inner > .grid-item {
            width: 20%;
        }
    }
    &.grid-col6 {
        .grid-inner > .grid-item {
            width: 16.6666%;
        }
    }

    //    vertical
    &.grid-middle {
        .grid-inner > .grid-item {
            vertical-align: middle;
        }
    }
    &.grid-bottom {
        .grid-inner > .grid-item {
            vertical-align: bottom;
        }
    }

    //margin

}