/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/

$color-default: #333;
$color-base: #4ac8bb;
$color-foundation: #eee;

$category-a: #b993d4;
$category-b: #88c1ed;
$category-c: #f3ad9d;
