/*
#styleguide


```
<i class="sprite sprite-bikkuri"></i>
<i class="sprite sprite-blank"></i>
<i class="sprite sprite-home"></i>
```
*/
$sprite-bikkuri: 33px 0px -33px 0px 5px 16px 38px 16px "sprite.png";
$sprite-blank: 20px 0px -20px 0px 11px 11px 38px 16px "sprite.png";
$sprite-home: 0px 0px 0px 0px 18px 16px 38px 16px "sprite.png";

.sprite{
    display: inline-block;

    &.sprite-bikkuri {
        @include sprite($sprite-bikkuri);
    }
    &.sprite-blank {
        @include sprite($sprite-blank);
    }
    &.sprite-home {
        @include sprite($sprite-home);
    }
}
