/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/

$color-default: #333;
$color-foundation: #f7f7f7;

$color-main: #cc0001;
$color-sub: #7d0000;
$color-border: #ccc;
$color-gray: #999;
$color-error: #d7001d;
$color-line: #3bb63b;
$color-facebook: #3b5998;
$color-twitter: #53adeb;
$color-instagram: #38658c;