/*
#overview
tag

_tag.scss
*/

/*
#styleguide
```
<span class="tag tag-a">tag-a</span>
<span class="tag tag-b small">tag-b</span>
<span class="tag tag-c large">tag-c</span>
```
*/

.tag {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 8px 5px;
    line-height: 1;
    border: 1px solid $color-border;
    color: $color-border;
    background-color: #fff;
}