                <% if(animationNavi === "top"){ %>
                <!--section-contents-list ここから-->
                <ul class="section-contents-list grid grid-col2">
                    <li class="section-item1 grid-item">
                        <a class="feature" href="service-box.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-box"></i>
                                </div>
                                <p class="feature-title">キスケBOX</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item1 grid-item">
                        <a class="feature" href="service-bowl.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-bowl"></i>
                                </div>
                                <p class="feature-title">キスケボウル</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item1 grid-item">
                        <a class="feature" href="service-spa.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-spa"></i>
                                </div>
                                <p class="feature-title">キスケのゆ</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item1 grid-item">
                        <a class="feature" href="service-karaoke.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-karaoke"></i>
                                </div>
                                <p class="feature-title">カラオケWAO</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item2 grid-item">
                        <a class="feature" href="service-pachinko.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-pachinko"></i>
                                </div>
                                <p class="feature-title">パチンコPAO</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item2 grid-item">
                        <a class="feature" href="service-mah-jong.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-mah-jong"></i>
                                </div>
                                <p class="feature-title">麻雀JAO</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item2 grid-item">
                        <a class="feature" href="service-parking.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-parking"></i>
                                </div>
                                <p class="feature-title">キスケパーキング</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                    <li class="section-item2 grid-item">
                        <a class="feature" href="service-real-estate.html">
                            <div class="feature-inner">
                                <div class="feature-image">
                                    <i class="sprite sprite-real-estate"></i>
                                </div>
                                <p class="feature-title">不動産</p>
                                <i class="feature-arrow"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <!--section-contents-list ここまで-->
                <% } else if(animationNavi === "about"){ %>
                <!--animation-navi ここから-->
                <ul class="animation-navi grid grid-col2">
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'about-philosophy'){ %>feature-current<% } %>" href="about-philosophy.html">
                            <div class="feature-image">
                                <i class="sprite sprite-philosophy-small"></i>
                            </div>
                            <p class="feature-title">企業理念</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'about-resource'){ %>feature-current<% } %>" href="about-resource.html">
                            <div class="feature-image">
                                <i class="sprite sprite-resource-small"></i>
                            </div>
                            <p class="feature-title">人財育成</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'about-finance'){ %>feature-current<% } %>" href="about-finance.html">
                            <div class="feature-image">
                                <i class="sprite sprite-finance-small"></i>
                            </div>
                            <p class="feature-title">財務基盤</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'about-local'){ %>feature-current<% } %>" href="about-local.html">
                            <div class="feature-image">
                                <i class="sprite sprite-local-small"></i>
                            </div>
                            <p class="feature-title">地域貢献</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'about-profile'){ %>feature-current<% } %>" href="about-profile.html">
                            <div class="feature-image">
                                <i class="sprite sprite-profile-small"></i>
                            </div>
                            <p class="feature-title">企業情報</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                </ul>
                <!--animation-navi ここまで-->
                <% } else if(animationNavi === "service-top"){ %>
                <!--animation-navi ここから-->
                <ul class="animation-navi grid grid-col2">
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-box'){ %>feature-current<% } %>" href="service-box.html">
                            <div class="feature-image">
                                <i class="sprite sprite-box-small"></i>
                            </div>
                            <p class="feature-title">キスケBOX</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-bowl'){ %>feature-current<% } %>" href="service-bowl.html">
                            <div class="feature-image">
                                <i class="sprite sprite-bowl-small"></i>
                            </div>
                            <p class="feature-title">キスケボウル</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-spa'){ %>feature-current<% } %>" href="service-spa.html">
                            <div class="feature-image">
                                <i class="sprite sprite-spa-small"></i>
                            </div>
                            <p class="feature-title">天然温泉<br>キスケのゆ</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-karaoke'){ %>feature-current<% } %>" href="service-karaoke.html">
                            <div class="feature-image">
                                <i class="sprite sprite-karaoke-small"></i>
                            </div>
                            <p class="feature-title">カラオケ<br>WAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-pachinko'){ %>feature-current<% } %>" href="service-pachinko.html">
                            <div class="feature-image">
                                <i class="sprite sprite-pachinko-small"></i>
                            </div>
                            <p class="feature-title">パチンコ<br>PAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-mah-jong'){ %>feature-current<% } %>" href="service-mah-jong.html">
                            <div class="feature-image">
                                <i class="sprite sprite-mah-jong-small"></i>
                            </div>
                            <p class="feature-title">麻雀JAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                </ul>
                <!--animation-navi ここまで-->
                <% } else if(animationNavi === "service"){ %>
                <!--animation-navi ここから-->
                <ul class="animation-navi grid grid-col2">
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-box'){ %>feature-current<% } %>" href="service-box.html">
                            <div class="feature-image">
                                <i class="sprite sprite-box-small"></i>
                            </div>
                            <p class="feature-title">キスケBOX</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-bowl'){ %>feature-current<% } %>" href="service-bowl.html">
                            <div class="feature-image">
                                <i class="sprite sprite-bowl-small"></i>
                            </div>
                            <p class="feature-title">キスケボウル</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-spa'){ %>feature-current<% } %>" href="service-spa.html">
                            <div class="feature-image">
                                <i class="sprite sprite-spa-small"></i>
                            </div>
                            <p class="feature-title">天然温泉<br>キスケのゆ</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-karaoke'){ %>feature-current<% } %>" href="service-karaoke.html">
                            <div class="feature-image">
                                <i class="sprite sprite-karaoke-small"></i>
                            </div>
                            <p class="feature-title">カラオケ<br>WAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-pachinko'){ %>feature-current<% } %>" href="service-pachinko.html">
                            <div class="feature-image">
                                <i class="sprite sprite-pachinko-small"></i>
                            </div>
                            <p class="feature-title">パチンコ<br>PAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-mah-jong'){ %>feature-current<% } %>" href="service-mah-jong.html">
                            <div class="feature-image">
                                <i class="sprite sprite-mah-jong-small"></i>
                            </div>
                            <p class="feature-title">麻雀JAO</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-parking'){ %>feature-current<% } %>" href="service-parking.html">
                            <div class="feature-image">
                                <i class="sprite sprite-parking-small"></i>
                            </div>
                            <p class="feature-title">キスケ<br>パーキング</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-real-estate'){ %>feature-current<% } %>" href="service-real-estate.html">
                            <div class="feature-image">
                                <i class="sprite sprite-real-estate-small"></i>
                            </div>
                            <p class="feature-title">不動産</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                </ul>
                <!--animation-navi ここまで-->
                <% } else if(animationNavi === "service-real-estate"){ %>
                <!--animation-navi ここから-->
                <ul class="animation-navi animation-navi-box grid grid-col2">
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-parking'){ %>feature-current<% } %>" href="service-parking.html">
                            <div class="feature-image">
                                <i class="sprite sprite-parking-small"></i>
                            </div>
                            <p class="feature-title">キスケ<br>パーキング</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a class="feature feature-vertical <% if(id === 'service-real-estate'){ %>feature-current<% } %>" href="service-real-estate.html">
                            <div class="feature-image">
                                <i class="sprite sprite-real-estate-small"></i>
                            </div>
                            <p class="feature-title">不動産</p>
                            <i class="feature-arrow"></i>
                        </a>
                    </li>
                </ul>
                <!--animation-navi ここまで-->
                <% } %>