                        <!--social-mail-magazine ここから-->
                        <aside class="social social-mail-magazine">
                            <div class="social-header">
                                <i class="social-header-icon sprite sprite-mail-magazine"></i>
                                <h1>メールマガジンに登録</h1>
                            </div>
                            <a class="social-mail-magazine-button button button-light" href="service-spa-mail-magazine-matsuyama.html">
                                <span class="button-text">登録する</span>
                                <i class="button-arrow arrow arrow-large"></i>
                                <div class="button-effect">
                                    <span class="button-effect-object-a"></span>
                                    <span class="button-effect-object-b"></span>
                                </div>
                            </a>
                        </aside>
                        <!--social-mail-magazine ここまで-->