                        <!--social-line ここから-->
                        <aside class="social social-line">
                            <div class="social-header">
                                <h1>LINEで友だちになる</h1>
                            </div>
                            <ul class="social-line-qr">
                                <% if(id === "service-karaoke"){ %>
                                <li>
                                    <a class="button button-line" href="https://line.me/ti/p/%40kisuke-box">
                                        <i class="sprite sprite-line"></i>
                                        <span>友だち追加</span>
                                        <i class="sprite sprite-blank-small"></i>
                                    </a>
                                </li>
                                <% } else if(id === "service-box"){ %>
                                <li>
                                    <a class="button button-line" href="https://line.me/ti/p/%40kisuke-box">
                                        <i class="sprite sprite-line"></i>
                                        <span>友だち追加</span>
                                        <i class="sprite sprite-blank-small"></i>
                                    </a>
                                </li>
                                <% } else if(id === "service-bowl"){ %>
                                <li>
                                    <a class="button button-line" href="https://line.me/ti/p/%40kisuke-box">
                                        <i class="sprite sprite-line"></i>
                                        <span>友だち追加</span>
                                        <i class="sprite sprite-blank-small"></i>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </aside>
                        <!--social-line ここまで-->