                        <!--social-facebook ここから-->
                        <aside class="social social-facebook">
                            <div class="social-header">
                                <i class="social-header-icon sprite sprite-facebook"></i>
                                <h1>Facebookでいいね！する</h1>
                            </div>
                            <div class="social-page-plugin">
                                <div class="fb-page" data-href="https://www.facebook.com/kisukegroup?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/kisukegroup?fref=ts"><a href="https://www.facebook.com/kisukegroup?fref=ts">キスケ株式会社</a></blockquote></div></div>
                            </div>
                        </aside>
                        <!--social-facebook ここまで-->