                        <!--social-instagram ここから-->
                        <aside class="social social-instagram">
                            <div class="social-header">
                                <i class="social-header-icon sprite sprite-instagram"></i>
                                <h1>Instagramでフォロー</h1>
                            </div>
                            <div class="social-instagram-box">
                                <a class="social-instagram-image" href="https://instagram.com/kisuke026/" target="_blank">
                                    <img src="http://placekitten.com/266/266" width="266" height="266" alt=""/>
                                </a>
                                <p class="social-instagram-data">
                                    <a href="https://instagram.com/kisuke026/" target="_blank">kisuke026</a>
                                    <a class="ig-b- ig-b-v-24" href="https://instagram.com/kisuke026/" target="_blank">
                                        <img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" />
                                    </a>
                                </p>
                            </div>
                        </aside>
                        <!--social-instagram ここまで-->