            <!--news-container ここから-->
            <aside class="news-container news-container-service news-container-foundation <%= newsContainerServiceData.newsContainerServiceClass %>">
                <div class="l-space l-space-foundation">
                    <div class="news-container-header-sub headline headline-small">
                        <h1><%= newsContainerServiceData.title %></h1>
                        <div class="headline-line"></div>
                    </div>
                    <div class="news-container-contents">
                        <ul class="news-container-list">
                            <li>
                                <article class="news-line news-line-sub">
                                    <a class="news-line-inner" href="news-detail.html">
                                        <i class="news-line-arrow arrow arrow-sub"></i>
                                        <time datetime="2015-12-10">2015.12.10</time>
                                        <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                    </a>
                                </article>
                            </li>
                            <li>
                                <article class="news-line news-line-sub">
                                    <a class="news-line-inner" href="news-detail.html">
                                        <i class="news-line-arrow arrow arrow-sub"></i>
                                        <time datetime="2015-12-10">2015.12.10</time>
                                        <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                    </a>
                                </article>
                            </li>
                            <li>
                                <article class="news-line news-line-sub">
                                    <a class="news-line-inner" href="news-detail.html">
                                        <i class="news-line-arrow arrow arrow-sub"></i>
                                        <time datetime="2015-12-10">2015.12.10</time>
                                        <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                    </a>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="news-container-botton">
                        <a class="button button-full" href="news-detail.html">
                            <span class="button-text">一覧へ</span>
                            <i class="button-arrow arrow"></i>
                        </a>
                    </div>
                </div>
            </aside>
            <!--news-container ここまで-->