                        <!--駅前店コンテンツ ここから-->
                        <div class="tab-content-inner">
                            <div class="l-space l-space-padding-top-large l-space-padding-bottom-medium">
                                <div class="concept">

                                    <% var spaData = [
                                    { title: "外観" },
                                    { title: "大浴槽" },
                                    { title: "炭酸風呂" },
                                    { title: "ジェット寝湯" },
                                    { title: "翡翠風呂<br>(女性風呂限定)" },
                                    { title: "流水歩行浴" },
                                    { title: "シルク風呂" },
                                    { title: "子供風呂" },
                                    { title: "女性パウダールーム" },
                                    { title: "手もみ処　癒和" },
                                    { title: "農家の台所<br>もぎたて食堂" },
                                    { title: "ロウリュサウナ" }
                                    ];%>


                                    <ul class="thumbnails thumbnails-margin grid grid-col2" id="js-modal-triggers-spa-imabari">
                                        <% for(var i=0; i< spaData.length; i++) { %>
                                        <li class="grid-item">
                                            <a class="thumbnail" href="javascript:void(0);" data-index="<%= [i] %>">
                                                <div class="thumbnail-image">
                                                    <i class="thumbnail-icon sprite sprite-plus"></i>
                                                    <img src="image/service/service-spa/imabari/thumbnail/spa<%= [i + 1] %>.jpg" alt=""/>
                                                </div>
                                                <p class="thumbnail-title"><%- spaData[i].title %></p>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>

                                    <section class="concept-contents contents">
                                        <div class="contents-image">
                                            <img src="image/service/service-spa/imabari/service-spa-imabari1.jpg" alt="天然温泉 キスケのゆ　イメージ1"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">
                                                100％天然温泉、日本屈指の塩化物泉です。
                                            </h1>
                                            <p>地下1,000メートルから湧き出た温泉は、熱海温泉、有馬温泉、白浜温泉などと同じナトリウム塩化物泉です。海と大と地のミネラルが凝縮された泉質は、日本トップクラスのナトリウムイオン成分量を誇り、入浴後はいつまでも身体がポカポカと温まります。体温を逃がさないので保温効果が続き、お肌もツルツルにする美肌効果のある温泉です。</p>
                                        </div>
                                    </section>
                                    <section class="concept-contents contents contents-reverse contents-margin">
                                        <div class="contents-image">
                                            <img src="image/service/service-spa/imabari/service-spa-imabari2.jpg" alt="天然温泉 キスケのゆ　イメージ2"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">安全・安心・清潔<span>。</span>当たり前のことを忘れずに<span>。</span></h1>
                                            <p>ご年配の方や車イスでご来店いただいたお客さまにも安心してご利用いただけるよう、館内はバリアフリー設計・手すりも通常の施設と比べて3倍以上配備しています。浴室には、浅めの子供風呂があり、3世代のご家族でのご利用でもゆっくり楽しんでいただけます。オープン前には清掃のプロが浴槽を手洗いしており、新鮮な温泉を提供しております。</p>
                                        </div>
                                    </section>
                                    <section class="concept-contents contents">
                                        <div class="contents-image">
                                            <img src="image/service/service-spa/imabari/service-spa-imabari3.jpg" alt="天然温泉 キスケのゆ　イメージ3"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">
                                                地域と、もっと仲良くなるために。
                                            </h1>
                                            <p>キスケ創業の地でもある今治に恩返しをしたいという想いでオープンした、キスケのゆ今治店では『地域を大切に』をスローガンにしています。定期的に市内の老人クラブ・幼稚園などを招待したイベントを開催。今治市が力を入れている、しまなみ海道のサイクルリスト誘致支援としてサイクルオアシスに加盟し、無料Wi-Fi設備・サイクルピットの設置なども行っています。今後も、地元や地域の方に100年愛されるような温泉施設を目指していきます。</p>
                                        </div>
                                    </section>

                                    <section class="service-data">
                                        <div class="service-data-header-small headline headline-small">
                                            <h1>店舗概要</h1>
                                            <div class="headline-line"></div>
                                        </div>
                                        <table class="table">
                                            <tr>
                                                <th class="table-th">所在地</th>
                                                <td class="table-td">
                                                    <div class="google-map">
                                                        <address>愛媛県今治市中日吉町1丁目2-30</address>
                                                        <div class="google-map-object" id="js-map-imabari"
                                                             data-lat="34.0627479"
                                                             data-lng="132.9902887"
                                                             data-pin="default"
                                                            ></div>
                                                        <p class="google-map-link">
                                                            <a class="button button-dark" href="http://maps.google.com/maps?q=34.0627479,132.9902887" target="_blank">
                                                                <span>Googleマップを開く</span>
                                                                <i class="button-dark-blank sprite sprite-blank-small"></i>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-th">営業時間</th>
                                                <td class="table-td">
                                                    【火曜〜日曜・祝日】<br>
                                                    6:00~0:00　※受付23:00まで<br>
                                                    【月曜】<br>
                                                    10:00~0:00　※受付23:00まで
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-th">休日</th>
                                                <td class="table-td">年中無休</td>
                                            </tr>
                                            <tr>
                                                <th class="table-th">TEL</th>
                                                <td class="table-td">0898-22-0026</td>
                                            </tr>
                                            <tr>
                                                <th class="table-th">駐車場</th>
                                                <td class="table-td">178台</td>
                                            </tr>
                                        </table>
                                        <div class="service-link">
                                            <p>ご利用料金やイベント情報など、<br>店舗の詳しい情報はこちらから</p>

                                            <a class="section-button button button-large button-full" href="#">
                                                <span class="button-text">天然温泉 キスケのゆ 今治駅前店<br>サービスページへ</span>
                                                <i class="button-arrow arrow arrow-large"></i>
                                                <div class="button-effect">
                                                    <span class="button-effect-object-a"></span>
                                                    <span class="button-effect-object-b"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <% var newsContainerServiceData = {
                            newsContainerServiceClass: "news-container-foundation",
                            title: "天然温泉 キスケのゆニュース"
                            };%>
                            <% include ./_news-container-service %>

                            <% var socialSectionData = {
                            socialSectionClass: "social-section-light",
                            facebook: true,
                            twitter: false,
                            mailMagazine: false,
                            line: false,
                            instagram: true
                            };%>
                            <% include ./_social-section %>
                        </div>
                        <!--駅前店コンテンツ ここまで-->