                        <!--駅前店コンテンツ ここから-->
                        <div class="tab-content-inner">
                            <div class="l-space l-space-padding-top-large">
                                <div class="concept">
                                    <div class="concept-slider concept-slider-margin-large"
                                         id="js-concept-slider-ekimae">
                                        <img
                                            src="image/service/service-karaoke/ekimae/slider-image/karaoke-concept1.jpg"
                                            alt=""/>
                                        <img
                                            src="image/service/service-karaoke/ekimae/slider-image/karaoke-concept2.jpg"
                                            alt=""/>
                                        <img
                                            src="image/service/service-karaoke/ekimae/slider-image/karaoke-concept3.jpg"
                                            alt=""/>
                                    </div>

                                    <section class="concept-contents contents">
                                        <div class="contents-image">
                                            <img src="image/service/service-karaoke/ekimae/service-karaoke-ekimae1.jpg"
                                                 alt="カラオケWAO　イメージ1"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">バラエティー豊かなお部屋に、最新の設備を完備しています。</h1>

                                            <p>
                                                全69室。大人数で楽しめるPARTYルームからVIPルーム、モダンルーム、和室タイプ、キッズルームと、バラエティーに富んだお部屋が揃っていることが特徴です。また、第一興商の｢LIVE
                                                DAM STADIUM｣やXINGの｢JOYSOUND
                                                MAX｣などの最新鋭機を採り入れ、それらを備えたお部屋には大型モニターを完備しています。</p>
                                        </div>
                                    </section>
                                    <section class="contents">
                                        <div class="contents-image">
                                            <img src="image/service/service-karaoke/ekimae/service-karaoke-ekimae2.jpg"
                                                 alt="カラオケWAO　イメージ2"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">約100品の自慢のフードもお楽しみいただけます。</h1>

                                            <p>
                                                カラオケに欠かせないものといえばお食事。約100品、イタリアンから和食まで幅広い世代のお客様のニーズにお応えできます。季節メニューや、男性向け・女性向けのメニューもご用意しておりますので、様々なお客様にお楽しみいただけるはずです。</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="l-space l-space-padding-top l-space-padding-bottom-medium">
                                <section class="service-data">
                                    <div class="service-data-header headline headline-small">
                                        <h1>店舗概要</h1>
                                        <div class="headline-line"></div>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th class="table-th">所在地</th>
                                            <td class="table-td">
                                                <div class="google-map">
                                                    <address>愛媛県松山市宮田町4 ( JR 松山駅前)　キスケBOX3F</address>
                                                    <div class="google-map-object" id="js-map-ekimae"
                                                         data-lat="33.8412833"
                                                         data-lng="132.7529339"
                                                         data-pin="default"
                                                        ></div>
                                                    <p class="google-map-link">
                                                        <a class="button button-dark" href="http://maps.google.com/maps?q=33.8412833,132.7529339" target="_blank">
                                                            <span>Googleマップを開く</span>
                                                            <i class="button-dark-blank sprite sprite-blank-small"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">営業時間</th>
                                            <td class="table-td">【毎日】10:00〜翌5:00</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">休日</th>
                                            <td class="table-td">年中無休</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">TEL</th>
                                            <td class="table-td">089-998-3100</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">駐車場</th>
                                            <td class="table-td">1,109台<br>(24時間営業)</td>
                                        </tr>
                                    </table>

                                    <div class="service-link">
                                        <p>ご利用料金や導入機器、<br>イベント情報などはこちらから</p>

                                        <a class="section-button button button-large button-full" href="#">
                                            <span class="button-text">カラオケWAO 駅前店<br>サービスページへ</span>
                                            <i class="button-arrow arrow arrow-large"></i>
                                            <div class="button-effect">
                                                <span class="button-effect-object-a"></span>
                                                <span class="button-effect-object-b"></span>
                                            </div>
                                        </a>
                                    </div>
                                </section>
                            </div>

                            <% var newsContainerServiceData = {
                            newsContainerServiceClass: "l-space-padding-top",
                            title: "カラオケWAO ニュース"
                            };%>
                            <% include ./_news-container-service %>

                            <% var socialSectionData = {
                            socialSectionClass: "social-section-light",
                            facebook: true,
                            twitter: false,
                            mailMagazine: false,
                            line: true,
                            instagram: false
                            };%>
                            <% include ./_social-section %>
                        </div>
                        <!--駅前店コンテンツ ここまで-->