                        <!--今治店コンテンツ ここから-->
                        <div class="tab-content-inner">
                            <div class="l-space l-space-padding-top-large">
                                <div class="concept">
                                    <div class="concept-slider concept-slider-margin-large"
                                         id="js-concept-slider-imabari">
                                        <img
                                            src="image/service/service-karaoke/imabari/slider-image/karaoke-concept1.jpg"
                                            alt=""/>
                                        <img
                                            src="image/service/service-karaoke/imabari/slider-image/karaoke-concept2.jpg"
                                            alt=""/>
                                        <img
                                            src="image/service/service-karaoke/imabari/slider-image/karaoke-concept3.jpg"
                                            alt=""/>
                                    </div>

                                    <section class="concept-contents contents">
                                        <div class="contents-image">
                                            <img src="image/service/service-karaoke/imabari/service-karaoke-imabari1.jpg"
                                                 alt="カラオケWAO　イメージ1"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">
                                                全31室で、地域最大級。<br>
                                                PARTYルームも完備しています。
                                            </h1>

                                            <p>
                                                最大30名様までご利用いただけるPARTYルームをはじめ、31のルームをご用意しています。地域最大級の規模だから、少人数から大人数まで様々なシーンでご満足いただけるはずです。また、全室に大型モニターを完備。カラオケはもちろんのこと、DVDやブルーレイといったビデオ鑑賞も、大迫力で思う存分お楽しみいただけます。</p>
                                        </div>
                                    </section>
                                    <section class="contents">
                                        <div class="contents-image">
                                            <img
                                                src="image/service/service-karaoke/imabari/service-karaoke-imabari2.jpg"
                                                alt="カラオケWAO　イメージ2"/>
                                        </div>
                                        <div class="contents-body">
                                            <h1 class="contents-header-sub">地元の人気居酒屋とコラボ。<br>他では体験できない時間を提供します。</h1>

                                            <p>
                                                地域で人気の居酒屋「ろく助」とコラボし、ピザやポテトなどカラオケオリジナルメニューに加え、本格居酒屋メニューも部屋から注文可能。宴会会場として多くご利用いただいています。また、地域のカラオケ店では唯一、ドリンクバーコーナーにソフトクリーム食べ放題を提供。これからも独自の楽しさを追求していきます。</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="l-space l-space-padding-top l-space-padding-bottom-medium">
                                <section class="service-data">
                                    <div class="service-data-header headline headline-small">
                                        <h1>店舗概要</h1>

                                        <div class="headline-line"></div>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th class="table-th">所在地</th>
                                            <td class="table-td">
                                                <div class="google-map">
                                                    <address>愛媛県今治市小泉3丁目12-30</address>
                                                    <div class="google-map-object" id="js-map-imabari"
                                                         data-lat="33.8412833"
                                                         data-lng="132.7507452"
                                                         data-pin="default"
                                                        ></div>
                                                    <p class="google-map-link">
                                                        <a class="button button-dark" href="http://maps.google.com/maps?q=33.8412833,132.7507452" target="_blank">
                                                            <span>Googleマップを開く</span>
                                                            <i class="button-dark-blank sprite sprite-blank-small"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">営業時間</th>
                                            <td class="table-td">11:00~26:00<br>※金曜・祝前は27:00まで、土曜は28:00まで</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">休日</th>
                                            <td class="table-td">年中無休</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">TEL</th>
                                            <td class="table-td">0898-23-1511</td>
                                        </tr>
                                        <tr>
                                            <th class="table-th">駐車場</th>
                                            <td class="table-td">178台<br>（パチンコPAO小泉店、ローソンと共用）</td>
                                        </tr>
                                    </table>
                                    <div class="service-link">
                                        <p>ご利用料金や導入機器、<br>イベント情報などはこちらから</p>

                                        <a class="section-button button button-large button-full" href="#">
                                            <span class="button-text">カラオケWAO 今治店<br>サービスページへ</span>
                                            <i class="button-arrow arrow arrow-large"></i>

                                            <div class="button-effect">
                                                <span class="button-effect-object-a"></span>
                                                <span class="button-effect-object-b"></span>
                                            </div>
                                        </a>
                                    </div>
                                </section>
                            </div>

                            <% var newsContainerServiceData = {
                            newsContainerServiceClass: "news-container-foundation",
                            title: "カラオケWAO ニュース"
                            };%>
                            <% include ./_news-container-service %>

                            <% var socialSectionData = {
                            socialSectionClass: "social-section-light",
                            facebook: true,
                            twitter: false,
                            mailMagazine: false,
                            line: false,
                            instagram: false
                            };%>
                            <% include ./_social-section %>
                        </div>
                        <!--今治店コンテンツ ここまで-->