            <!--social-section ここから-->
            <section class="social-section <%= socialSectionData.socialSectionClass %>">
                <div class="social-section-header headline headline-small">
                    <h1>最新情報をチェック</h1>
                    <div class="headline-line"></div>
                </div>

                <ul class="social-section-list">
                    <% if(socialSectionData.facebook === true){ %>
                    <li>
                        <% include ../module/_aside-facebook %>
                    </li>
                    <% } %>
                    <% if(socialSectionData.line === true){ %>
                    <li>
                        <% include ../module/_aside-line %>
                    </li>
                    <% } %>
                    <% if(socialSectionData.twitter === true){ %>
                    <li>
                        <% include ../module/_aside-twitter %>
                    </li>
                    <% } %>
                    <% if(socialSectionData.mailMagazine === true){ %>
                    <li>
                        <% include ../module/_aside-mail-magazine %>
                    </li>
                    <% } %>
                    <% if(socialSectionData.instagram === true){ %>
                    <li>
                        <% include ../module/_aside-instagram %>
                    </li>
                    <% } %>
                </ul>
            </section>
            <!--social-section ここまで-->