/*
#colors


@default #423f3d
@base #4ac8bb
@accent #e4c789

@sub1 #f9e2ca

@category-a $accent
@category-b #ae9adc
@category-c #7fc6a2


@default #423f3d
@default-light #5e5a57
@grey #757270
@image-back #eee
@base #4ac8bb
@base-light #74d9ce
@base-highlight #c3f3ee
@base-clear: rgba(116, 217, 206, .7)
@cover: rgba(66, 63, 61, .6)

@accent #e4c789
@accent-light #f5e0b4
@foundation #fff6ed
@sub1 #f9e2ca
@sub2 #ff9896

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
@category-d #ecabd1
@category-e #9aa0dc
@category-f #7fc6a2
@category-g #a7d55f
@category-h #febf51

@facebook-color #4c69a5
@twitter-color #60b5de
@google-color #e0553e
*/

$default: #423f3d;
$default-light: #5e5a57;
$grey: #757270;
$image-back: #eee;
$base: #4ac8bb;
$base-light: #74d9ce;
$base-highlight: #9ae5dd;
$base-exhighlight: #e4f7f5;
$base-clear: rgba(116, 217, 206, 0.7);
$cover: rgba(66, 63, 61, 0.3);

$accent: #e4c789;
$accent-light: #f5e0b4;
$accent-light2: #fcedce;
$accent-light3: #fcf7ed;
$foundation: #fff6ed;
$sub1: #f9e2ca;
$sub2: #ff9896;

$category-a: #b993d4;
$category-b: #88c1ed;
$category-c: #f3ad9d;
$category-d: #ecabd1;
$category-e: #9aa0dc;
$category-f: #7fc6a2;
$category-g: #a7d55f;
$category-h: #febf51;

$facebook-color: #4c69a5;
$twitter-color: #60b5de;
$google-color: #e0553e;
