/*
* font
*/


$font: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-en: "Miso";

@font-face {
    font-family: "Miso";
    src: url("../font/miso/miso-regular-webfont.eot") format("eot"),
    url("../font/miso/miso-regular-webfont.woff") format("woff"),
    url("../font/miso/miso-regular-webfont.ttf") format("truetype"),
    url("../font/miso/miso-regular-webfont.svg");
}