<% var
    id = "about-resource",
    title = "キスケの人財育成｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = '人が<span class="page-hero-font-a">、</span>提供価値の<span class="page-hero-font-a">、</span>源泉です。',
    iconId = "resource";
%>
<% include layout/_head %>
<% include layout/_header %>

        <% include module/modal/_modal-about-resource %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>
            <div class="l-space l-space-padding-top-small l-space-padding-bottom-xsmall">
                <section class="contents">
                    <div class="contents-header headline headline-xsmall">
                        <h1>
                            社名の由来になった<span>、</span>日野喜助<span>。</span><br>
                            その精神を受け継いだ創業者<span>、</span>山路照子<span>。</span>
                        </h1>
                        <div class="headline-line"></div>
                    </div>
                    <div class="contents-image contents-image-top">
                        <img src="image/about/about-resource/about-resource1.jpg" alt="創業者 山路照子"/>
                    </div>
                    <div class="contents-body">
                        <p>創業者である山路照子の父「日野喜助」は、かつて海外で商売をしていたときに食糧難に見舞われました。従業員が空腹でたいそう困っていたとき、日野喜助はお米（当時はお金と同等の価値）を無くなるまで配り続けたそうです。<br>
                            従業員を大切に<span>―</span>―。この精神をずっと受け継いでいくため、山路照子は数々の言葉を私たちに残してくれました。その言葉や考え方は、クレドやWAY BOOK「KISUKE WAY」となって、今なおすべての社員に行き渡っています。
                    </div>
                </section>
            </div>


            <section class="section section-way">
                <div class="l-container">
                    <div class="section-header headline headline-en">
                        <h1>KISUKE WAY</h1>
                        <div class="headline-line"></div>
                    </div>
                    <p class="section-description section-description-kisyke-way">キスケの従業員としての働きかた、<br>
                        生きかたについてまとめた<span>「</span>KISUKE WAY<span>」</span><span>。</span><br>
                        こちらでは、その一部をご紹介します。</p>
                    <div class="section-contents">
                        <ul class="panels">
                            <li id="js-resource0">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            <span>素</span>直であること
                                        </h1>
                                        <p>人間、正直で素直がいちばん。<br>
                                            横着やズル、嘘をつくことは<br>
                                            やめましょう。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource1">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            いつも<span>上</span>昇志向
                                        </h1>
                                        <p>どんな企業でも活躍できる、<br>
                                            市場価値の高い人間に<br>
                                            なりましょう。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource2">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            <span>節</span>約癖
                                        </h1>
                                        <p>今の時代、1円の利益を出すには<br>
                                            100円売り上げる必要があります。<br>
                                            だったら、1円を節約する努力のほうが、<br>
                                            ずっと簡単です。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource3">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            両手に<span>荷</span>物を持たない
                                        </h1>
                                        <p>落ちているお金を<br>
                                            拾うこともできません。<br>
                                            転んだときに<br>
                                            手をつくこともできません。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource4">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            <span>褒</span>め上手
                                        </h1>
                                        <p>褒められたほうも、褒めたほうも、<br>
                                            気分は良いものです。<br>
                                            良いことをした人は<br>
                                            褒めるようにしましょう。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource5">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            好事、<span>魔</span>多し
                                        </h1>
                                        <p>油断が事故につながります。<br>
                                            特に業績が良いときほど、<br>
                                            気を引き締めて<br>
                                            いっそう努力をしましょう。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource6">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            <span>遊</span>び、学ぶ
                                        </h1>
                                        <p>他店や他業種の<br>
                                            モデル店舗を訪れるときは、<br>
                                            見に行くのではなく、遊んでくることで、<br>
                                            お客様の気持ちで<br>
                                            物事を見られるようになります。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource7">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            固定概念を<span>持</span>たない
                                        </h1>
                                        <p>いろんな視点で物事を見る。<br>
                                            つまり頭を使う、ということです。<br>
                                            商売においてきちんと利益を出せる人は、<br>
                                            えてして視点を変えられる人<br>
                                            だったりします。</p>
                                    </div>
                                </section>
                            </li>
                            <li id="js-resource8">
                                <section class="panel">
                                    <div class="panel-inner">
                                        <h1 class="panel-header">
                                            <span>ど</span>んぶり勘定はやめましょう
                                        </h1>
                                        <p>曖昧な表現や行動は厳禁。<br>
                                            常に根拠をもって<br>
                                            説明できるようにしましょう。<br>
                                            目の前の出来事を分析する癖をつけ、<br>
                                            成功確率を高める努力が必要です。</p>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <div class="l-space l-space-padding-top-xlarge l-space-padding-bottom-little">
                <% var animationNavi = "about"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
