<% var
    id = "about-finance",
    title = "キスケの財務基盤｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "もっといい明日をつくるために。",
    iconId = "finance";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main class="l-space l-space-padding-top-small l-space-padding-bottom-little">

            <section class="contents contents-margin">
                <div class="contents-header headline headline-xsmall">
                    <h1>
                        お客様と、従業員と、<br>
                        取引先企業様のためにあるもの。
                    </h1>
                    <div class="headline-line"></div>
                </div>
                <div class="contents-body">
                    <p>新たな楽しさを提供する。社員一人ひとりが絶えずチャレンジをする。取引先企業様の安心を生み出す。その先にある地域貢献を実現する――。<br>
                        これらすべてにおいて、健全な経営基盤は不可欠です。財務力は、人財育成やシステム・設備への継続的な投資、社員の夢の実現を可能にし、会社の未来を支えてくれます。<br>
                        そのために私たちは、エンピツ1本、クギ1本ですら、無駄遣いしません。コピー用紙の裏紙まで使い、不要な電気は必ず消します。地道に、実直に節約をしていくことが、キスケを取り巻く人たちを幸せにすると信じているからです。
                    </p>
                </div>
            </section>

            <section class="finance-area finance-area-position">
                <div class="finance-area-header headline headline-xsmall">
                    <h1>数字で見るキスケの財務基盤</h1>
                    <div class="headline-line"></div>
                </div>
                <ul class="finance-area-list">
                    <li id="js-finance0">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-year.png" width="151" height="122" alt="62年間"/>
                                </div>
                                <figcaption class="figure-caption">
                                    <h1>創業時から続く<span>、</span>連続黒字経営<span>。</span></h1>
                                    <p>62年間、黒字経営を続けてきました。事業を存続させ、銀行から借り入れを勧められるような、信頼される企業を目指しています。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                    <li id="js-finance1">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-ratio.png" width="234" height="132" alt="全産業平均：29%  KISUKE：87%"/>
                                </div>
                                <figcaption class="figure-caption">
                                    <h1>安定資金を生み出す<span>、</span>自己資本比率<span>。</span></h1>
                                    <p>全産業の平均的な自己資本比率は29パーセント。安定資金を確保し、借り入れに依存しない経営が、キスケのモットーです。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                    <li id="js-finance2">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-earnings.png" width="210" height="127" alt="業界平均：16億円　KISUKE：65億円"/>
                                </div>
                                <figcaption class="figure-caption figure-caption-narrow">
                                    <h1>高い競争力に繋がる<span>、</span>店舗平均売上高<span>。</span><b>※3</b></h1>
                                    <p>一店舗あたり、従業員一人あたりの生産性を高めることで、失敗を恐れず、競争力の高い組織づくりに繋がっていきます。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                    <li id="js-finance3">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-feature.png" width="249" height="151" alt="137%"/>
                                </div>
                                <figcaption class="figure-caption">
                                    <h1>未来に夢膨らむ<span>、</span>総資産増加率<span>。</span></h1>
                                    <p>年々、企業規模を拡大し、成長を続ける当社。これはつまり、社員の夢・社員の未来を支えていることに他ならないと考えます。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>

                    <li id="js-finance4">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-state.png" width="144" height="116" alt="0.5年"/>
                                </div>
                                <figcaption class="figure-caption">
                                    <h1>好調な業績を表す<span>、</span>債務償還年数<span>。</span></h1>
                                    <p>10年以下であれば、その企業の財務状況は良好だとされる中で、キスケの債務償還年数は0.5年という実績を残しています。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                    <li id="js-finance5">
                        <article class="figure">
                            <figure class="figure-inner">
                                <div class="figure-image">
                                    <img src="image/about/about-finance/about-finance-holder.png" width="150" height="120" alt="100%"/>
                                </div>
                                <figcaption class="figure-caption">
                                    <h1>固定費のかからない<span>、</span>自社物件保有率<span>。</span></h1>
                                    <p>店舗はすべて自社物件です。固定費としての家賃がかからないだけでなく、高い還元率の実現にも、一役買っています。</p>
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                </ul>
                <small>※1「全国企業財務諸表分析統計」帝国データバンク（2014.12発刊）<br>
                    ※2「レジャー白書」日本生産性本部（2014.8発刊）<br>
                    ※3パチンコ店一店舗あたりの年間売上高</small>
            </section>

            <% var animationNavi = "about"; %>
            <% include module/_animation-navi %>
        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
