<% var
    id = "about",
    title = "キスケについて｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = 'キスケが考える<span class="page-hero-font-a">、</span>社会貢献。',
    iconId = "about";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main class="l-space l-space-padding-top-small l-space-padding-bottom-little">

            <section class="contents contents-margin">
                <div class="contents-header headline headline-xsmall">
                    <h1>
                        昭和27年から、<br>
                        街をつくってきました。
                    </h1>
                    <div class="headline-line"></div>
                </div>
                <div class="contents-body contents-body-margin">
                    <p>キスケによる提供価値は、“地域貢献”に他なりません。それは、地域のお客様にとっての「楽しい」を次々と生み出すことで、雇用までをも創出し、還元し続けていくことです。<br>
                        そのために、昭和27年の設立以来大切にしてきた「2つの財」があります。人財と財務です。キスケはこの2つの財を強みとし、これからもお客様と、お客様を含めた地域に喜びをもたらしていきます。</p>
                </div>
                <div class="contents-image">
                    <div class="about-image" id="js-about-content">
                        <div class="about-image-object about-image-object1"></div>
                        <div class="about-image-object about-image-object2"></div>
                        <div class="about-image-object about-image-object3"></div>
                        <div class="about-image-object about-image-object4"></div>
                        <div class="about-image-object about-image-object5"></div>
                        <div class="about-image-object about-image-object6"></div>
                        <div class="about-image-object about-image-object-base"></div>
                    </div>
                </div>
            </section>

            <% var animationNavi = "about"; %>
            <% include module/_animation-navi %>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
