<% var
    id = "contact",
    title = "お問い合わせ｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "contact";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="contact-description contact-description-position">
                この度は、キスケ株式会社にご興味をお持ちいただきありがとうございます。下記のフォームより入力し、「確認画面へ」をクリックしてください。
            </div>

            <form class="form form-position" action="contact-error.html" novalidate>
                <div class="form-table">
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-company" onclick="">貴社名</label>
                            </dt>
                            <dd class="form-table-td">
                                <input class="input" id="form-name-company" type="text" placeholder="キスケ株式会社"/>
                            </dd>
                        </dl>
                    </div>

                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-user" onclick="">お名前<span>必須</span></label>
                            </dt>
                            <dd class="form-table-td">
                                <input class="input" id="form-name-user" type="text" placeholder="山田太郎"/>
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-furigana" onclick="">フリガナ<span>必須</span></label>
                            </dt>
                            <dd class="form-table-td">
                                <input class="input" id="form-name-furigana" type="text" placeholder="ヤマダタロウ"/>
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-email" onclick="">メールアドレス<span>必須</span></label>
                            </dt>
                            <dd class="form-table-td">
                                <input class="input" id="form-email" type="email" placeholder="info@kisuke.com"/>
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-email-check"
                                       onclick="">メールアドレス（確認用）<span>必須</span></label>
                            </dt>
                            <dd class="form-table-td">
                                <input class="input" id="form-email-check" type="email" placeholder="info@kisuke.com"/>
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <p class="form-table-text">ご用件<span>必須</span></p>
                            </dt>
                            <dd class="form-table-td">
                                <div class="select js-select">
                                    <select name="select" class="select-inner">
                                        <option value="">選択してください</option>
                                        <option value="0">キスケ（会社）について</option>
                                        <option value="1">キスケボウルについて</option>
                                        <option value="2">天然温泉 キスケのゆ松山店について</option>
                                        <option value="3">天然温泉 キスケのゆ今治駅前店について</option>
                                        <option value="4">カラオケWAO駅前店について</option>
                                        <option value="5">カラオケWAO今治店について</option>
                                        <option value="6">パチンコPAO JR松山駅前店について</option>
                                        <option value="7">パチンコPAO小坂店について</option>
                                        <option value="8">パチンコPAO東雲店について</option>
                                        <option value="9">パチンコPAO松前店について</option>
                                        <option value="10">パチンコPAO今治本店について</option>
                                        <option value="11">パチンコPAO小泉店について</option>
                                        <option value="12">パチンコPAO鳥生店について</option>
                                        <option value="13">パチンコPAO中寺店について</option>
                                        <option value="14">麻雀JAOについて</option>
                                        <option value="15">不動産部について</option>
                                        <option value="16">キスケパーキングについて</option>
                                        <option value="17">その他</option>
                                    </select>

                                    <div class="select-text"></div>
                                    <div class="select-arrow"></div>
                                    <div class="select-arrow select-arrow-up"></div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th form-table-th-top">
                                <label class="form-table-text" for="form-contents" onclick="">お問い合わせ内容<span>必須</span></label>
                            </dt>
                            <dd class="form-table-td">
                                <textarea class="textarea" id="form-contents" name="" cols="30" rows="10"></textarea>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="form-button">
                    <button class="button button-full" type="submit">
                        <span class="button-text">確認画面へ</span>
                        <i class="button-arrow arrow arrow-large"></i>

                        <div class="button-effect">
                            <span class="button-effect-object-a"></span>
                            <span class="button-effect-object-b"></span>
                        </div>
                    </button>
                </div>
            </form>


        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
