<% var
    id = "contact",
    title = "お問い合わせ｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "contact";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="contact-description contact-description-position">
                以下の内容でよろしければ、「送信する」ボタンを押してください。
            </div>

            <form class="form form-position form-confirm" action="contact-complete.html" novalidate>
                <div class="form-table">
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-company" onclick="">貴社名</label>
                            </dt>
                            <dd class="form-table-td">
                            </dd>
                        </dl>
                    </div>

                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-user" onclick="">お名前</label>
                            </dt>
                            <dd class="form-table-td">
                                田中めぐみ
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-name-furigana" onclick="">フリガナ</label>
                            </dt>
                            <dd class="form-table-td">
                                タナカメグミ
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-email" onclick="">メールアドレス</label>
                            </dt>
                            <dd class="form-table-td">
                                abcd@gmail.com
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                                <label class="form-table-text" for="form-email-check"
                                       onclick="">メールアドレス（確認用）</label>
                            </dt>
                            <dd class="form-table-td">
                                abcd@gmail.com
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner">
                        <dl class="form-table-row">
                            <dt class="form-table-th">
                            <p class="form-table-text">ご用件</p>
                            </dt>
                            <dd class="form-table-td">
                                キスケ(会社)について
                            </dd>
                        </dl>
                    </div>
                    <div class="form-table-inner form-table-inner-last">
                        <dl class="form-table-row">
                            <dt class="form-table-th form-table-th-top">
                                <label class="form-table-text" for="form-contents" onclick="">お問い合わせ内容</label>
                            </dt>
                            <dd class="form-table-td">
                                お世話になります。お問い合わせテキストが入ります。お問い合わせテキストが入ります。お問い合わせテキストが入ります。お問い合わせテキストが入ります。お問い合わせテキストが入ります。お問い合わせテキストが入ります。
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="form-button">
                    <button class="button button-full" type="submit">
                        <span class="button-text">送信する</span>
                        <i class="button-arrow arrow arrow-large"></i>

                        <div class="button-effect">
                            <span class="button-effect-object-a"></span>
                            <span class="button-effect-object-b"></span>
                        </div>
                    </button>
                </div>
            </form>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
