<% var
    id = "contact",
    title = "お問い合わせ｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "contact";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

                <div class="contact-description contact-description-position-large">
                    送信が完了しました。<br>
                    お問い合わせいただき、ありがとうございます。お問い合わせ内容の確認後、担当者よりご連絡させていただきます。
                </div>

                <div class="form form-position">
                    <div class="form-button">
                        <a class="button button-full" href="contact.html">
                            <span class="button-text">TOPページへ</span>
                            <i class="button-arrow arrow arrow-large"></i>

                            <div class="button-effect">
                                <span class="button-effect-object-a"></span>
                                <span class="button-effect-object-b"></span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
