<% var title = "Lower｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    page_class = "page-lower";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <main class="l-contents">

                <% include module/_bread %>

            </main>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
