<% var
    id = "news",
    title = "ニュース一覧  絞り込み結果｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "news";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <div class="l-space l-space-foundation l-space-padding-top-little l-space-padding-bottom-little">
            <form class="search" action="">
                <ul class="search-list">
                    <li>
                        <div class="select select-data js-select" id="js-news-trigger">
                            <select name="select" class="select-inner">
                                <option value="all">すべて</option>
                                <option value="news">お知らせ</option>
                                <option value="sales">営業案内</option>
                                <option value="activity">社内活動</option>
                            </select>

                            <div class="select-table">
                                <div class="select-title">
                                    <span>カテゴリ</span>
                                </div>
                                <div class="select-text"></div>
                            </div>
                            <div class="select-arrow"></div>
                            <div class="select-arrow select-arrow-up"></div>
                        </div>
                        <ul class="search-sales grid grid-col2" id="js-news-target">
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="all" checked="">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">すべての事業</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="box">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">キスケBOX</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="bowl">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">キスケボウル</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="spa">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">キスケのゆ</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="karaoke">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">カラオケWAO</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="pachinko">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">パチンコPAO</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="mah-jong">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">麻雀JAO</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="real-estate">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">不動産</span>
                                </label>
                            </li>
                            <li class="grid-item">
                                <label class="label">
                                    <input type="checkbox" class="label-input" name="sales" value="parking">
                                        <span class="label-checkbox-face">
                                            <i class="label-checkbox-face-inner"></i>
                                        </span>
                                    <span class="label-text">キスケパーキング</span>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="select select-data js-select">
                            <select name="select" class="select-inner">
                                <option value="all">すべて</option>
                                <option value="2016">すべて</option>
                                <option value="2015">2015年</option>
                            </select>
                            <div class="select-table">
                                <div class="select-title">
                                    <span>年</span>
                                </div>
                                <div class="select-text"></div>
                            </div>
                            <div class="select-arrow"></div>
                            <div class="select-arrow select-arrow-up"></div>
                        </div>
                    </li>
                    <li>
                        <button class="button button-dark" type="submit">
                            <span class="button-text">この条件で絞り込む</span>
                            <i class="button-search icon-search">
                                <span class="icon-search-part1"></span>
                                <span class="icon-search-part2"></span>
                            </i>
                        </button>
                    </li>
                </ul>
            </form>
        </div>

        <main class="l-space l-space-padding-top-little l-space-padding-bottom-little">
            <div class="news-container-position-small news-container news-container-sub">
                <div class="news-container-header headline headline-xsmall">
                    <h1>ニュース一覧  絞り込み結果</h1>
                    <div class="headline-line"></div>
                </div>
                <div class="news-container-contents">
                    <ul class="news-container-list news-container-list-without-border">
                        <li>
                            <article class="news-line news-line-sub">
                                <ul class="news-line-tags">
                                    <li>
                                        <span class="tag tag-news">お知らせ</span>
                                    </li>
                                </ul>
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="news-line news-line-sub">
                                <ul class="news-line-tags">
                                    <li>
                                        <span class="tag tag-sales">営業案内</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">キスケBOX</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">キスケボウル</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">キスケのゆ</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">カラオケWAO</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">パチンコPAO</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">麻雀JAO</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">不動産</span>
                                    </li>
                                    <li>
                                        <span class="tag tag-activity">キスケパーキング</span>
                                    </li>
                                </ul>
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                        <% for(var i=0; i< 8; i++) { %>
                        <li>
                            <article class="news-line news-line-sub">
                                <ul class="news-line-tags">
                                    <li>
                                        <span class="tag tag-activity">社内活動</span>
                                    </li>
                                </ul>
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <% include module/_wp-pagenavi %>
        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
