<% var
    id = "news",
    title = "年末年始全店営業日のお知らせのようなタイトルが入ります。タイトルが入ります。｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->

        <!--記事header ここから-->
        <div class="news-header">
            <div class="news-header-inner l-container l-container-small">

                <ul class="news-header-tags">
                    <li>
                        <span class="tag tag-sales">営業案内</span>
                    </li>
                    <li>
                        <span class="tag">キスケBOX</span>
                    </li>
                    <li>
                        <span class="tag">キスケボウル</span>
                    </li>
                    <li>
                        <span class="tag">キスケのゆ</span>
                    </li>
                    <li>
                        <span class="tag">カラオケWAO</span>
                    </li>
                    <li>
                        <span class="tag">パチンコPAO</span>
                    </li>
                    <li>
                        <span class="tag">麻雀JAO</span>
                    </li>
                    <li>
                        <span class="tag">不動産</span>
                    </li>
                    <li>
                        <span class="tag">キスケパーキング</span>
                    </li>
                </ul>
                <time datetime="2015-12-10">2015.12.10</time>
                <h1>年末年始全店営業日のお知らせのようなタイトルが入ります。タイトルが入ります。</h1>
            </div>
        </div>
        <!--記事header ここまで-->

        <main class="l-space l-space-padding-bottom-little">
            <!--記事本文 ここから-->
            <div class="news-area">

                <h2>大見出しが入ります。大見出しが入ります。大見出しが入ります。大見出しが入ります。（h2）</h2>

                <h3>中見出しです。中見出しです。中見出しです。中見出しです。中見出しです。中見出しです。(h3)</h3>

                <h4>小見出しがここに入ります。小見出しがここに入ります。小見出しがここに入ります。小見出しがここに入ります。（h4）</h4>

                <p>2015年12月27日〜2016年1月7日の各店の営業日をおしらせいたします。キスケボックス内各施設とキスケWao今治店では、12月27日（Wao今治店は12月26日）より、冬季特別営業期間となっております。<br>
                    営業時間・営業内容に変更がある店舗がございます。詳細は、以下のページより、ご案内をご覧ください。というような本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。</p>
                <p>
                    <img src="image/top/main/main1.jpg" alt=""/>
                </p>

                <p>
                    本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストの<b>強調</b>です。（b）本文テキストの<em>強調</em>です。（em）本文テキストの<strong>強調</strong>です。（strong）<br>
                    本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文中の<a href="">aテキストリンク</a>です。<br>
                    本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストの<i>イタリック体</i>です。<br>
                    本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストに<u>下線を引くことができます。</u>本文テキストが入ります。
                </p>

                <ul>
                    <li>リストの最初の項目が入ります。(ul)リストの最初の項目が入ります。リストの最初の項目が入ります。リストの最初の項目が入ります。</li>
                    <li>二番目の項目が入ります。</li>
                    <li>三番目の項目が入ります。三番目の項目が入ります。</li>
                    <li>4番目の項目がここに入ります。
                        <ul>
                            <li>入れ子のリスト</li>
                            <li>入れ子のリスト</li>
                        </ul>
                    </li>
                </ul>

                <ol>
                    <li>リストの最初の項目が入ります。(ol)リストの最初の項目が入ります。リストの最初の項目が入ります。リストの最初の項目が入ります。</li>
                    <li>二番目の項目が入ります。</li>
                    <li>三番目の項目が入ります。三番目の項目が入ります。</li>
                    <li>4番目の項目がここに入ります。</li>
                </ol>


                <blockquote>
                    <p>引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。</p>
                    <small>引用元が入ります。引用元が入ります。</small>
                </blockquote>

                <p>
                    <a href="xxx.pdf">PDFを開く</a> <br>
                    <a href="" target="_blank">外部リンクです</a> <br>
                    <a class="link" href="">内部リンクです内部リンクです</a>
                </p>

                <div class="movie">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/WuS80BsFjr4?feature=oembed" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!--記事本文 ここまで-->

            <div class="pagination pagination-margin-top pagination-margin-bottom">
                <a class="pagination-to-detail pagination-to-detail-disable" href="javascript:void(0)">
                    <i class="arrow arrow-white arrow-reverse"></i>
                </a>
                <a class="pagination-to-top" href="">
                    <span>
                        <i class="pagination-icon sprite sprite-list"></i>
                        ニュース一覧へ
                    </span>
                </a>
                <a class="pagination-to-detail" href="">
                    <i class="arrow arrow-white"></i>
                </a>
            </div>

            <aside class="news-container news-container-sub">
                <div class="news-container-header">
                    <h1>同カテゴリの関連ニュース</h1>
                </div>
                <div class="news-container-contents">
                    <ul class="news-container-list">
                        <li>
                            <article class="news-line news-line-sub">
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="news-line news-line-sub">
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="news-line news-line-sub">
                                <a class="news-line-inner" href="news-detail.html">
                                    <i class="news-line-arrow arrow arrow-sub"></i>
                                    <time datetime="2015-12-10">2015.12.10</time>
                                    <h1 class="news-line-body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h1>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>
            </aside>
        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
