<% var
    id = "news",
    title = "ニュース｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article";
%>
<% include layout/_head %>
<% include layout/_header %>

<!--contents ここから-->
<main>

</main>
<!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
