<% var
    id = "real-estate",
    title = "物件募集｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "real-estate";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="l-space l-space-no-paddig">

                <!--パチンコ店開発 ここから-->
                <section class="building">
                    <h1 class="building-title">
                        <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-develop-pachinko">
                            パチンコ店開発
                            <div class="building-title-arrow">
                                <div class="building-title-arrow-inner">
                                    <i class="arrow arrow-sub arrow-bottom"></i>
                                    <i class="arrow arrow-sub arrow-top"></i>
                                </div>
                            </div>
                        </a>
                    </h1>
                    <div class="building-body" id="js-develop-pachinko">
                        <div class="building-body-inner">
                            <table class="table">
                                <tr>
                                    <th class="table-th table-th-small">募集地域</th>
                                    <td class="table-td">
                                        愛媛、香川、徳島、高知、広島、岡山、またはその他地域
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">立地条件</th>
                                    <td class="table-td">
                                        <ul class="table-expanding-text">
                                            <li>■国道、県道、市道、バイパス等の幹線道路沿い、もしくは幅員8m以上の生活道路沿いが望ましい。</li>
                                            <li>■幹線道路から、信号を1~2本入った土地でも検討可能で、出来れば店舗が幹線道路沿いから望める所。</li>
                                            <li>■道路づけは2面以上必要。</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">土地面積</th>
                                    <td class="table-td">
                                        郊外型1500坪以上 （大型SC等へのテナント出店も検討可能です。）<br>
                                        ※詳細については、物件ごとに判断させて頂きます。
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">都市計画法上の用途地域</th>
                                    <td class="table-td">
                                        <ol class="table-expanding-text">
                                            <li>1.準工業地域</li>
                                            <li>2.工業地域</li>
                                            <li>3.商業地域</li>
                                            <li>4.近隣商業地域</li>
                                            <li>5.無指定地域</li>
                                            <li>※別途法令上の制限がある場合があります。</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">保全対象施設</th>
                                    <td class="table-td">
                                        以下の施設から30m~70m（都道府県によって異なる）離れている必要があります。
                                        <ul class="table-expanding-text">
                                            <li>・病院（入院施設の無い医院は除く）</li>
                                            <li>・学校（大学を除く）</li>
                                            <li>・幼稚園、図書館、博物館、児童福祉施設</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">契約条件</th>
                                    <td class="table-td">
                                        <ol class="table-expanding-text">
                                            <li>1. 事業用定期借地権設定契約</li>
                                            <li>2. リースバック方式</li>
                                            <li>3. 土地賃貸借契約</li>
                                            <li>4. 建物賃貸借契約</li>
                                            <li>5. 売買 ※あらゆる条件で検討が可能です。</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">お問い合わせ先</th>
                                    <td class="table-td">
                                        <address class="table-small-address">
                                            〒7490-0066　愛媛県松山市宮田町4番地<br>
                                            キスケ株式会社 不動産部（担当：守田）<br>
                                            TEL:089-998-3600
                                        </address>
                                        <a class="building-button button button-dark" href="contact.html">
                                            <span class="button-text">お問合わせフォームへ</span>
                                            <i class="button-arrow arrow arrow-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
                <!--パチンコ店開発 ここまで-->

                <!--収益物件情報（瀬戸内海沿岸地域） ここから-->
                <section class="building">
                    <h1 class="building-title">
                        <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-setouchi">
                            収益物件情報（瀬戸内海沿岸地域）
                            <div class="building-title-arrow">
                                <div class="building-title-arrow-inner">
                                    <i class="arrow arrow-sub arrow-bottom"></i>
                                    <i class="arrow arrow-sub arrow-top"></i>
                                </div>
                            </div>
                        </a>
                    </h1>
                    <div class="building-body" id="js-setouchi">
                        <div class="building-body-inner">
                            <table class="table">
                                <tr>
                                    <th class="table-th table-th-small">募集地域</th>
                                    <td class="table-td">
                                        愛媛、香川、広島、岡山
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">立地条件</th>
                                    <td class="table-td">
                                        瀬戸内海沿岸で収益物件（ロードサイド）を探しています。 以下の条件に該当するような売り物件、売り情報をお持ちの方は、ご連絡おまちしております。<br>
                                        また、事業用定期借地のオーナーチェンジを希望する事業者様はお気軽にご相談下さい。<br>
                                        ※コンビニ店、ファストフード店等、大手全国チェーン店が出店を希望する立地
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">土地面積</th>
                                    <td class="table-td">
                                        400坪以上<br>
                                        ※詳細については、物件ごとに判断させて頂きます。
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">契約条件</th>
                                    <td class="table-td">
                                        売買
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">お問い合わせ先</th>
                                    <td class="table-td">
                                        <address class="table-small-address">
                                            〒790-0066　愛媛県松山市宮田町4番地<br>
                                            キスケ株式会社　不動産部（担当：守田）<br>
                                            TEL：089-921-0133<br>
                                            FAX：089-921-0135
                                        </address>
                                        <a class="building-button button button-dark" href="contact.html">
                                            <span class="button-text">お問合わせフォームへ</span>
                                            <i class="button-arrow arrow arrow-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                <!--収益物件情報（瀬戸内海沿岸地域） ここまで-->

                <!--所有物件の一部（愛媛） ここから-->
                <section class="building">
                    <h1 class="building-title">
                        <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-buildings-ehime">
                            所有物件の一部（愛媛）
                            <div class="building-title-arrow">
                                <div class="building-title-arrow-inner">
                                    <i class="arrow arrow-sub arrow-bottom"></i>
                                    <i class="arrow arrow-sub arrow-top"></i>
                                </div>
                            </div>
                        </a>
                    </h1>
                    <div class="building-body" id="js-buildings-ehime">
                        <div class="building-body-inner">
                            <% var realEstateData = ["KBコート市駅前", "KBコート本町Ⅱ", "キスケパーキング<br>二番町", "スターバックス<br>コーヒー 松山中央店", "マクドナルド<br>33号松山インター店", "第一キスケビル", "キスケBOX", "スポーツクラブ<br>アクトス今治店"]; %>
                            <ul class="real-estate-section-body builing-list grid grid-col2">
                                <% for(var i=0; i< realEstateData.length; i++) { %>
                                <li class="builing-list-item grid-item">
                                    <figure class="builing-list-object">
                                        <img src="image/real-estate/sample-ehime/real-estate<%= [i + 1] %>.jpg" alt=""/>
                                        <figcaption><%- realEstateData[i] %></figcaption>
                                    </figure>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--所有物件の一部（愛媛） ここまで-->

                <aside class="l-space l-space-padding-top-little l-space-padding-bottom-medium">
                    <a class="real-estate-link" href="http://ehime-kisuke.com/" target="_blank">
                        <img src="image/real-estate/real-estate-ehime.png" width="490" height="176" alt="キスケ愛媛不動産 愛媛のマンション・店舗をお探しの方"/>
                    </a>
                </aside>

                <!--収益物件情報（東京近郊） ここから-->
                <section class="building building-border">
                    <h1 class="building-title">
                        <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-buildings-tokyo">
                            収益物件情報（東京近郊）
                            <div class="building-title-arrow">
                                <div class="building-title-arrow-inner">
                                    <i class="arrow arrow-sub arrow-bottom"></i>
                                    <i class="arrow arrow-sub arrow-top"></i>
                                </div>
                            </div>
                        </a>
                    </h1>
                    <div class="building-body" id="js-buildings-tokyo">
                        <div class="building-body-inner">
                            <table class="table table-detail">
                                <tr>
                                    <th class="table-th table-th-small">オフィス</th>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">対象エリア</div>
                                            <div class="table-sub-td">千代田区、中央区、港区、渋谷区、新宿区</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">面積条件</div>
                                            <div class="table-sub-td">30坪〜150坪</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">その他条件</div>
                                            <div class="table-sub-td">空ビル、旧耐震ビル等の相談も受け付けます。</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">店舗</th>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">対象エリア</div>
                                            <div class="table-sub-td">JR、その他私鉄の主要駅前</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">面積条件</div>
                                            <div class="table-sub-td">30坪〜150坪</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">その他条件</div>
                                            <div class="table-sub-td">
                                                <ul class="table-expanding-text">
                                                    <li>■道路に二面以上面している土地</li>
                                                    <li>■飲食・物販・アミューズメント店や各種チェーン店が出店を検討するような場所</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">住宅</th>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">対象エリア</div>
                                            <div class="table-sub-td">城南エリア</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">面積条件</div>
                                            <div class="table-sub-td">30坪〜150坪</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">その他条件</div>
                                            <div class="table-sub-td">
                                                <ul class="table-expanding-text">
                                                    <li>■最寄り駅から徒歩10分以内</li>
                                                    <li>■ELVなし、低層集合住宅</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">ロードサイド</th>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">対象エリア</div>
                                            <div class="table-sub-td">
                                                首都圏（一都三県）<br>
                                                主要幹線道路沿い
                                            </div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">面積条件</div>
                                            <div class="table-sub-td">250坪〜</div>
                                        </div>
                                    </td>
                                    <td class="table-td">
                                        <div class="table-sub">
                                            <div class="table-sub-th">その他条件</div>
                                            <div class="table-sub-td">
                                                <ul class="table-expanding-text">
                                                    <li>■道路に二面以上面している土地</li>
                                                    <li>■飲食・物販・アミューズメント店や各種チェーン店が出店を検討するような場所</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="table-th table-th-small">お問い合わせ先</th>
                                    <td class="table-td" colspan="3">
                                        <address class="table-small-address">
                                            〒101-0051<br>
                                            東京都千代田区神田神保町3-25-11<br>
                                            九段中央ビル8F<br>
                                            キスケ株式会社　東京営業所<br>
                                            TEL：03-3239-3125<br>
                                            FAX：03-3265-1252
                                        </address>
                                    </td>
                                </tr>
                            </table>
                            <a class="button button-dark" href="contact.html">
                                <span class="button-text">お問合わせフォームへ</span>
                                <i class="button-arrow arrow arrow-white"></i>
                            </a>
                        </div>
                    </div>
                </section>
                <!--収益物件情報（東京近郊） ここまで-->

                <!--所有物件の一部（東京近郊） ここから-->
                <section class="building">
                    <h1 class="building-title">
                        <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-buildings-tokyo2">
                            所有物件の一部（東京近郊）
                            <div class="building-title-arrow">
                                <div class="building-title-arrow-inner">
                                    <i class="arrow arrow-sub arrow-bottom"></i>
                                    <i class="arrow arrow-sub arrow-top"></i>
                                </div>
                            </div>
                        </a>
                    </h1>
                    <div class="building-body" id="js-buildings-tokyo2">
                        <div class="building-body-inner">
                            <% var realEstateData = ["共同ビル（新千代田）", "共同ビル（内神田）", "森元ビル", "日本橋室町ビル"]; %>
                            <ul class="real-estate-section-body builing-list grid grid-col2">
                                <% for(var i=0; i< realEstateData.length; i++) { %>
                                <li class="builing-list-item grid-item">
                                    <figure class="builing-list-object">
                                        <img src="image/real-estate/sample-tokyo/real-estate<%= [i + 1] %>.jpg" alt=""/>
                                        <figcaption><%- realEstateData[i] %></figcaption>
                                    </figure>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--所有物件の一部（東京近郊） ここまで-->

                <aside class="l-space l-space-padding-top-little l-space-padding-bottom">
                    <a class="real-estate-link" href="http://tokyo-kisuke.com/" target="_blank">
                        <img src="image/real-estate/real-estate-tokyo.png" width="490" height="176" alt="キスケ東京不動産 東京のオフィス・ビルをお探しの方"/>
                    </a>
                </aside>
            </div>
        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
