<% var
    id = "recruit",
    title = "採用情報｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "recruit";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main class="l-space l-space-padding-top l-space-padding-bottom">

            <section class="recruit-contents recruit-contents-position">
                <div class="recruit-contents-header headline headline-xsmall">
                    <h1>ES<span>（</span>従業員満足度<span>）</span>なくして、<br>
                        CS<span>（</span>お客様満足度<span>）</span>なし。</h1>
                    <div class="headline-line"></div>
                </div>
                <p>遊びゴコロのある人、お客様をたいせつにできる人に、私たちはサポートを惜しみません。<br>
                    キスケは、社員一人ひとりの個性や考え方を大切にします。ステレオタイプな枠に当てはめることは絶対にしません。店舗運営もイベントの企画立案も、一人ひとりが考え、まとめ、自由に実践してほしいと考えています。<br>
                    そのためにも、めいっぱい、真剣に遊んでください。遊びの集積が「学び」になります。そして、培った学びをお客様に還元してください。遊びゴコロがある人はきっと、お客様を笑顔にできるはずです。<br>
                    キスケが考える最大の経営資源は、人財です。企業理念の実現という大いなる目標に向かって、ともに挑戦を忘れないで進んでいきたいと思っています。</p>
            </section>

            <aside class="recruit-link">
                <ul class="recruit-link-list">
                    <li>
                        <a class="recruit-link-item" href="http://www.kisuke-recruit.com/newgraduate/" target="_blank">
                            <div class="recruit-link-overlay">
                                <p>新卒採用<br>
                                    サイトはこちら</p>
                            </div>
                            <i class="recruit-link-icon sprite sprite-blank"></i>
                            <img class="recruit-link-image" src="image/recruit/recruit-image-shinsotsu.png" alt="新卒採用イメージ画像"/>
                        </a>
                    </li>
                    <li>
                        <a class="recruit-link-item" href="http://www.kisuke-recruit.com/career/" target="_blank">
                            <div class="recruit-link-overlay">
                                <p>キャリア採用<br>
                                    サイトはこちら</p>
                            </div>
                            <i class="recruit-link-icon sprite sprite-blank"></i>
                            <img class="recruit-link-image" src="image/recruit/recruit-image-carrier.png" alt="キャリア採用イメージ画像"/>
                        </a>
                    </li>
                </ul>
            </aside>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
