<% var
    id = "service-mah-jong",
    title = "麻雀JAO｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = '麻雀を<span class="page-hero-font-a">、</span>もっと身近なものに。',
    iconId = "mah-jong";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="l-space l-space-padding-top-large l-space-padding-bottom-medium">

                <div class="concept">

                    <div class="concept-slider concept-slider-margin-large" id="js-concept-slider">
                        <img src="image/service/service-mah-jong/slider-image/mah-jong-concept1.jpg" alt=""/>
                        <img src="image/service/service-mah-jong/slider-image/mah-jong-concept2.jpg" alt=""/>
                        <img src="image/service/service-mah-jong/slider-image/mah-jong-concept3.jpg" alt=""/>
                    </div>

                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-mah-jong/service-mah-jong1.jpg" alt="麻雀JAO　イメージ1"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">
                                高級感の中に、安心感を。お店づくりには徹底的にこだわりました。
                            </h1>
                            <p>完全個室の各部屋では、年配の方でも見やすい大きな牌を採用しました。照明も明るく設計されていますので、長時間快適に遊ぶことができます。ルームタイプもシーンに合わせて各種ご用意しています。スタンダードなものからマッサージチェアのあるゆとりの空間のVIPルーム、卓が2台入っているツインルーム、大会でも使用できる10卓のGルームなど、幅広いお客様に対応しています。また、独自で麻雀大会を開催したい方など、些細なことでもスタッフが丁寧にサポートさせていただきます。</p>
                        </div>
                    </section>
                    <section class="concept-contents contents contents-reverse">
                        <div class="contents-image">
                            <img src="image/service/service-mah-jong/service-mah-jong2.jpg" alt="麻雀JAO　イメージ2"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">それでいて、みんなが楽しめる空間に。</h1>
                            <p>学生さんから90歳のお客様まで。JAOでは、幅広い年代のお客様が遊ばれています。また、女性のお客様も多く、月間約400名の方がいらっしゃるほどです。多くのお客様からご支持いただけているのは、”さまざまな遊びができること”にあると思っています。「麻雀は、生涯楽しめる遊び」という信念のもと、貸卓から健康麻雀、麻雀大会などをご用意することで、一人でも多くの方に安心かつリーズナブルな遊びを提供しています。</p>
                        </div>
                    </section>
                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-mah-jong/service-mah-jong3.jpg" alt="麻雀JAO　イメージ3"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">
                                日々の生活に彩りをもたらす、健康麻雀への取り組み。
                            </h1>
                            <p>愛媛新聞のカルチャースクールの講座の一つである麻雀教室では、資格を持ったスタッフが優しく教えてくれると大好評。生徒数も100名を超え、9割の方が女性です。健康麻雀はすべて「賭けない・吸わない・飲まない」がモットーです。中・上級者向けには「のんびりサークル」を、初級者向けには「ひよこサークル」をご用意。その他、定期的に大会も開催しています。また、認知症予防や友達づくり・生きがいづくりにも役立つことから、女性から年配の方までたくさんの方にご参加いただいています。</p>
                        </div>
                    </section>

                    <section class="service-data">
                        <div class="service-data-header-small headline headline-small">
                            <h1>店舗概要</h1>
                            <div class="headline-line"></div>
                        </div>
                        <table class="table">
                            <tr>
                                <th class="table-th">所在地</th>
                                <td class="table-td">
                                    <div class="google-map">
                                        <address>愛媛県松山市宮田町4 ( JR 松山駅前)<br>キスケBOX2F</address>
                                        <div class="google-map-object" id="js-map-bowl"
                                             data-lat="33.8412833"
                                             data-lng="132.7529339"
                                             data-pin="default"
                                            ></div>
                                        <p class="google-map-link">
                                            <a class="button button-dark" href="http://maps.google.com/maps?q=33.8412833,132.7529339" target="_blank">
                                                <span>Googleマップを開く</span>
                                                <i class="button-dark-blank sprite sprite-blank-small"></i>
                                            </a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th">営業時間</th>
                                <td class="table-td">12:00〜</td>
                            </tr>
                            <tr>
                                <th class="table-th">休日</th>
                                <td class="table-td">年中無休</td>
                            </tr>
                            <tr>
                                <th class="table-th">TEL</th>
                                <td class="table-td">089-998-3200</td>
                            </tr>
                            <tr>
                                <th class="table-th">駐車場</th>
                                <td class="table-td">1,109台(24時間営業)</td>
                            </tr>
                        </table>
                        <div class="service-link">
                            <p>ご利用料金や飲食メニュー、<br>イベント情報などはこちらから</p>

                            <a class="section-button button button-large button-full" href="#">
                                <span class="button-text">麻雀JAO<br>サービスページへ</span>
                                <i class="button-arrow arrow arrow-large"></i>
                                <div class="button-effect">
                                    <span class="button-effect-object-a"></span>
                                    <span class="button-effect-object-b"></span>
                                </div>
                            </a>
                        </div>
                    </section>
                </div>
            </div>

            <% var newsContainerServiceData = {
                newsContainerServiceClass: "news-container-foundation",
                title: "麻雀JAOニュース"
            };%>
            <% include ./module/_news-container-service %>

            <% var socialSectionData = {
                socialSectionClass: "social-section-light",
                facebook: true,
                twitter: false,
                mailMagazine: false,
                line: false,
                instagram: false
            };%>
            <% include ./module/_social-section %>

            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
