<% var
    id = "service-spa",
    title = "天然温泉 キスケのゆ｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = '目指すのは<span class="page-hero-font-a">、</span>快適で楽しい温泉。',
    iconId = "spa";
%>
<% include layout/_head %>
<% include layout/_header %>

        <% include module/modal/_modal-spa-matsuyama %>
        <% include module/modal/_modal-spa-imabari %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="tab" id="js-big-tab-karaoke">
                <!--tab-triggers ここから-->
                <ul class="tab-triggers grid grid-col2">
                    <li class="tab-trigger grid-item">
                        <a class="tab-trigger-link js-tab-matsuyama is-active" data-group="js-tab-matsuyama" href="#js-matsuyama">
                            <span>松山店</span>
                            <i class="tab-trigger-line"></i>
                        </a>
                    </li>
                    <li class="tab-trigger grid-item">
                        <a class="tab-trigger-link js-tab-imabari" data-group="js-tab-imabari" href="#js-imabari">
                            <span>今治店</span>
                            <i class="tab-trigger-line"></i>
                        </a>
                    </li>
                </ul>
                <!--tab-triggers ここまで-->


                <!--tab-contents ここから-->
                <div class="tab-contents">
                    <div class="tab-content is-active" id="js-matsuyama">
                        <% include module/_service-spa-matsuyama %>
                    </div>
                    <div class="tab-content" id="js-imabari">
                        <% include module/_service-spa-imabari %>
                    </div>
                </div>
                <!--tab-contents ここまで-->

                <!--tab-triggers ここから-->
                <ul class="tab-triggers grid grid-col2">
                    <li class="tab-trigger grid-item">
                        <a class="tab-trigger-link js-tab-matsuyama is-active" data-group="js-tab-matsuyama" href="#js-matsuyama">
                            <span>松山店</span>
                            <i class="tab-trigger-line"></i>
                        </a>
                    </li>
                    <li class="tab-trigger grid-item">
                        <a class="tab-trigger-link js-tab-imabari" data-group="js-tab-imabari" href="#js-imabari">
                            <span>今治店</span>
                            <i class="tab-trigger-line"></i>
                        </a>
                    </li>
                </ul>
                <!--tab-triggers ここまで-->
            </div>

            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>
        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
