<% var
    id = "service",
    title = "キスケの事業｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = "",
    iconId = "service";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>
            <div class="l-space l-space-padding-top l-space-padding-bottom">
                <section class="service-section service-section-margin">
                    <div class="service-section-header headline headline-xsmall">
                        <h1>アミューズメント事業</h1>
                        <div class="headline-line"></div>
                    </div>
                    <div class="service-section-body">
                        <p>ボウリング<span>、</span>天然温泉<span>、</span>カラオケ<span>、</span>パチンコ<span>、</span>麻雀が<span>、</span>私たちキスケの展開するアミューズメント事業です。<br>
                            JR松山駅前の総合アミューズメント施設「キスケBOX」では<span>、</span>これらすべてを楽しんでいただけます<span>。</span>また<span>、</span><i>「</i>天然温泉 キスケのゆ<span>」</span><i>「</i>カラオケWAO<span>」</span>は今治市にも出店<span>。</span><i>「</i>パチンコPAO<span>」</span>については愛媛県内に8店舗を展開中です<span>。</span></p>
                    </div>
                    <% var animationNavi = "service-top"; %>
                    <% include module/_animation-navi %>
                </section>

                <section class="service-section">
                    <div class="service-section-header headline headline-xsmall">
                        <h1>不動産事業</h1>
                        <div class="headline-line"></div>
                    </div>
                    <div class="service-section-body">
                        <p>マンションKBコート、キスケビル、ロードサイド物件、東京オフィスビルを所有し、そのほかにもパーキング事業を展開しています。<br>
                            多種多様なお客様に賃貸し継続的な収入を得ながら、その土地が持つ付加価値を高めることで、地域全体の活性化をしていくことが私たちの使命です。</p>
                    </div>
                    <% var animationNavi = "service-real-estate"; %>
                    <% include module/_animation-navi %>
                </section>

            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
