<% var
    id = "service-parking",
    title = "キスケパーキング｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = '車社会に<span class="page-hero-font-a">、</span>不可欠なもの。',
    iconId = "parking";
%>
<% include layout/_head %>
<% include layout/_header %>

        <% include module/modal/_modal-shops %>
        <% include module/modal/_modal-2ban %>
        <% include module/modal/_modal-3ban %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>

            <div class="l-space l-space-padding-top-little l-space-padding-bottom-medium">
                <div class="first-description">
                    愛媛県において、車は生活手段として欠かせないものです。そして、車を停める駐車場の確保は、地域社会にとって重要な課題となっています。キスケは、JR松山駅前（キスケBOX）に1,100台以上、繁華街二番町・三番町に470台以上の駐車場を提供しています。これからも、社会のニーズにお応えできるよう、敷地・環境に配慮しながら、より安全な駐車場をご提案していきます。
                </div>
            </div>

            <section class="card-area">
                <div class="card-area-header headline headline-small">
                    <h1>キスケパーキングの取り組み</h1>
                    <div class="headline-line"></div>
                </div>
                <ul class="cards l-space-padding-bottom-medium">
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-park">
                                    パーク&ライド
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-park">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking1.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>松山市発着のバス旅行・高速バスをご利用の方に、駐車料金が800円/1日となるサービスを展開中です。</p>
                                        <small>※入庫時にスタッフにチケットを提示いただく必要があります。<br>
                                            ※バス会社・旅行会社とは関係ない、弊社独自のサービスです。</small>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-parking">
                                    日本初、懸賞付きの駐車場。
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-parking">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking2.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>1/250の確率で、5,000円の商品券が当たるサービスです。駐車場にちょっとした楽しみがあってもいい。そういった想いから、このアイデアは生まれました。これからも慣習にとらわれない発想で、地域のお客様にワクワクを提供し続けていきます。</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-card">
                                    最大23%お得なプリペイドカード
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-card">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking3.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>日常的にキスケパーキングをご利用していただくお客様のために、駐車料金が最大23%お得になるプリペイドカードをご用意しています。5,000円（10％お得）、10,000円（15％お得）、30,000円（23％お得）の3種を展開中です。</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-movie">
                                    パーキング利用でお得に映画鑑賞
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-movie">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking4.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>シネマサンシャイン大街道をご利用の際に、駐車券を見せると映画料金が通常1,800円から1,100円に割引されます。<br>
                                            さらに駐車料金100円も割引。地域の盛り上がりに少しでも役立てることができれば、という想いです。</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-shops">
                                    街全体を元気にする、提携店
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-shops">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking5.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>指定ステッカーを店内にご掲示いただくだけで即日利用可能な「30分無料 かんたん提携」をはじめ、フリーマーケットなど、1日限りのイベントにも対応可能。近隣の店舗様とのつながりも大事にしたいと考え、状況に応じた提携を行っています。</p>
                                        <div class="card-description-link">
                                            <a href="" class="link-puls js-modal-trigger" data-target="#js-modal-shops">
                                                <i class="link-puls-icon"></i>
                                                <span class="link-puls-text">提携店一覧を見る</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="card">
                            <h1 class="card-title">
                                <a class="js-accordion-trigger" href="javascript:void(0);" data-target="js-services">
                                    いろいろ使える、100円サービス券。
                                    <div class="card-title-arrow">
                                        <div class="card-title-arrow-inner">
                                            <i class="arrow arrow-sub arrow-bottom"></i>
                                            <i class="arrow arrow-sub arrow-top"></i>
                                        </div>
                                    </div>
                                </a>
                            </h1>
                            <div class="card-body" id="js-services">
                                <div class="card-body-inner">
                                    <img class="card-image" src="image/service/service-parking/service-parking6.jpg" alt=""/>
                                    <div class="card-description">
                                        <p>近隣の店舗に100円サービス券を販売中です。地域住民の方々と街を活性化させる取り組みを行っています。【ここのテキストは、4行になります。もう少し内容を厚くして、左の欄と文の長さを揃えられるようにテキストが入ります。】</p>
                                        <small>※個人向けには販売しておりません。</small>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </section>

            <div class="l-space l-space-padding-top l-space-padding-bottom-xsmall">
                <section class="service-data service-data-parking">
                        <div class="service-data-header headline headline-small">
                            <h1>概要</h1>
                            <div class="headline-line"></div>
                        </div>

                        <article class="parking-data parking-data-margin">
                            <div class="parking-data-image">
                                <img src="image/service/service-parking/detail/2ban.jpg" alt=""/>
                            </div>
                            <h1>キスケパーキング二番町</h1>
                            <div class="parking-data-body">
                                <table class="parking-data-table table">
                                    <tr>
                                        <th class="table-th">所在地</th>
                                        <td class="table-td">
                                            <address>愛媛県松山市二番町1丁目9-6</address>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">TEL</th>
                                        <td class="table-td">089-943-9600</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">営業時間</th>
                                        <td class="table-td">24時間</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">収容台数</th>
                                        <td class="table-td">240台</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">利用料金</th>
                                        <td class="table-td">
                                            <a href="" class="link-puls js-modal-trigger" data-target="#js-modal-2ban">
                                                <i class="link-puls-icon"></i>
                                                <span class="link-puls-text">料金表（一般/月極）を見る</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </article>

                        <article class="parking-data parking-data-margin-small">
                            <div class="parking-data-image">
                                <img src="image/service/service-parking/detail/3ban.jpg" alt=""/>
                            </div>
                            <h1>キスケパーキング三番町</h1>
                            <div class="parking-data-body">
                                <table class="parking-data-table table">
                                    <tr>
                                        <th class="table-th">所在地</th>
                                        <td class="table-td">
                                            <address>愛媛県松山市三番町2丁目3-10</address>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">TEL</th>
                                        <td class="table-td">089-931-7951</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">営業時間</th>
                                        <td class="table-td">24時間</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">収容台数</th>
                                        <td class="table-td">232台</td>
                                    </tr>
                                    <tr>
                                        <th class="table-th">利用料金</th>
                                        <td class="table-td">
                                            <a href="" class="link-puls js-modal-trigger" data-target="#js-modal-3ban">
                                                <i class="link-puls-icon"></i>
                                                <span class="link-puls-text">料金表（一般/月極）を見る</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </article>

                        <div class="google-map google-map-small">

                            <div class="google-map-object" id="js-multple-map-parking"
                                data-lat="33.8378376"
                                data-lng="132.7683287"
                                data-lat2="33.8397181"
                                data-lng2="132.7703145"
                                data-pin="default"
                                data-original-lat="33.838716"
                                data-original-lng="132.769494"
                                ></div>
                            <div class="google-map-link">
                                <dl>
                                    <dt>Googleマップを開く</dt>
                                    <dd>
                                        <a class="button button-dark" href="http://maps.google.com/maps?q=33.8397181,132.7703145" target="_blank">
                                            <span>キスケパーキング二番町</span>
                                            <i class="button-dark-blank sprite sprite-blank-small"></i>
                                        </a>
                                    </dd>
                                    <dd>
                                        <a class="button button-dark" href="http://maps.google.com/maps?q=33.8378376,132.7683287" target="_blank">
                                            <span>キスケパーキング三番町</span>
                                            <i class="button-dark-blank sprite sprite-blank-small"></i>
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </section>
            </div>

            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
