<% var
    id = "service-bowl",
    title = "キスケボウル｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    copy = 'お子様から<span class="page-hero-font-a">、</span>競技者まで。',
    iconId = "bowl";
%>
<% include layout/_head %>
<% include layout/_header %>

        <!--contents ここから-->
        <% include module/_page-hero %>

        <main>
            <div class="l-space l-space-padding-top-large">
                <div class="concept concept-padding-bottom-small">

                    <div class="concept-slider concept-slider-margin-large" id="js-concept-slider">
                        <img src="image/service/service-bowl/slider-image/bowl-concept1.jpg" alt=""/>
                        <img src="image/service/service-bowl/slider-image/bowl-concept2.jpg" alt=""/>
                        <img src="image/service/service-bowl/slider-image/bowl-concept3.jpg" alt=""/>
                    </div>

                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-bowl/service-bowl1.jpg" alt="キスケボウル　イメージ1"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">
                                44のレーン数は中四国最大級。<br>
                                幅広いお客様に支持いただいています。
                            </h1>
                            <p>いちばんの特徴は、その大きさ。広々とした1フロアーに44レーンを設置し、同時に最大264人ものお客様に遊んでいただけるのが当店です。ランキングシステムも採用しており、当日のハイスコアランキングや月間ランキングもご覧いただけます。また、多くのお客様に楽しんでいただくため、お子様向けのキッズボールやノーガターレーンだけでなく、女性向けの“つけ爪用ボール”や“お試しマイボール”も常備。一方で国体選手や将来有望な若いボウラーさんなど、競技者の方にも多くご利用いただいています。</p>
                        </div>
                    </section>
                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-bowl/service-bowl2.jpg" alt="キスケボウル　イメージ2"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">週末の夜はディスコボウルに変身！</h1>
                            <p>ここでしかできないイベントを何かやってみたい！という思いから、FM愛媛さんの協力のもと、スーパーディスコボウルが誕生しました。毎週金曜日と土曜日の21:00から開催。本格派DJが最高級の音響設備で週末の夜を盛り上げます。光るアイテムや写真撮影サービス、女性グループのみの限定サービスなどもあり、一味ちがうボウリングをお楽しみいただけます。</p>
                        </div>
                    </section>
                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-bowl/service-bowl3.jpg" alt="キスケボウル　イメージ3"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">
                                2017年、愛媛国体の舞台としても使用されます。
                            </h1>
                            <p>松山駅が近く、周辺にホテルが多い立地の良さや、会場の広さ、最新の設備が揃っていることなどにより、国体の舞台として使用されることが決定しています。日頃から近隣企業様のボウリングコンペや子供会様のボウリング大会などを多数実施しており、多くのお客様から厚い信頼をいただいている実績も、決め手のひとつかもしれません。大会開催日は、えひめイメージアップキャラクターの「みきゃん」も大会マスコットとして応援に駆け付けてくれます。</p>
                        </div>
                    </section>
                    <section class="concept-contents contents">
                        <div class="contents-image">
                            <img src="image/service/service-bowl/service-bowl4.jpg" alt="キスケボウル　イメージ4"/>
                        </div>
                        <div class="contents-body">
                            <h1 class="contents-header-sub">団体ご予約利用で、さまざまな特典があります。</h1>
                            <p>団体様の大会を盛り上げるため、トロフィーのプレゼントはもちろんのこと、参加者の集合写真をカレンダーにするサービスも行っています。そのほかにも、ご予約団体様限定イベント『倒してGET！』では、ピンを指定本数以上倒すと素敵な賞品をプレゼント。また、子供会様のご予約では、ボウリング場の裏側、メカ見学を実施しています。普段見ることができないボウリング場の秘密を知ることができるので、多くのお子様から好評です。</p>
                        </div>
                    </section>

                    <section class="service-data">
                        <div class="service-data-header service-data-header-small headline headline-small">
                            <h1>店舗概要</h1>
                            <div class="headline-line"></div>
                        </div>
                        <table class="table">
                            <tr>
                                <th class="table-th">所在地</th>
                                <td class="table-td">
                                    <div class="google-map">
                                        <address>愛媛県松山市宮田町4 ( JR 松山駅前)　キスケBOX3F</address>
                                        <div class="google-map-object" id="js-map-bowl"
                                             data-lat="33.8412833"
                                             data-lng="132.7529339"
                                             data-pin="default"
                                            ></div>
                                        <p class="google-map-link">
                                            <a class="button button-dark" href="http://maps.google.com/maps?q=33.8412833,132.7529339" target="_blank">
                                                <span>Googleマップを開く</span>
                                                <i class="button-dark-blank sprite sprite-blank-small"></i>
                                            </a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="table-th">営業時間</th>
                                <td class="table-td">月〜木　10:00~25:00<br>
                                    土曜　9:30~26:00<br>
                                    日・祝　8:00~25:00<br>
                                    金曜・祝前　10:00~26:00</td>
                            </tr>
                            <tr>
                                <th class="table-th">休日</th>
                                <td class="table-td">年中無休</td>
                            </tr>
                            <tr>
                                <th class="table-th">TEL</th>
                                <td class="table-td">089-998-3000<br>団体予約専用　000-0000-0000</td>
                            </tr>
                            <tr>
                                <th class="table-th">駐車場</th>
                                <td class="table-td">1,109台(24時間営業)</td>
                            </tr>
                        </table>
                        <div class="service-link">
                            <p>ご利用料金やイベント情報、<br>スコアランキングなどはこちらから</p>

                            <a class="section-button button button-large button-full" href="#">
                                <span class="button-text">キスケボウル<br>サービスページへ</span>
                                <i class="button-arrow arrow arrow-large"></i>
                                <div class="button-effect">
                                    <span class="button-effect-object-a"></span>
                                    <span class="button-effect-object-b"></span>
                                </div>
                            </a>
                        </div>
                    </section>
                </div>
            </div>

            <% var newsContainerServiceData = {
                newsContainerServiceClass: "news-container-foundation",
                title: "キスケボウルニュース"
            };%>
            <% include ./module/_news-container-service %>

            <% var socialSectionData = {
                socialSectionClass: "social-section-light",
                facebook: true,
                twitter: true,
                mailMagazine: false,
                line: true,
                instagram: false
            };%>
            <% include ./module/_social-section %>
            
            <div class="service-menu service-menu-padding-top service-menu-padding-bottom">
                <% var animationNavi = "service"; %>
                <% include module/_animation-navi %>
            </div>

        </main>
        <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
