<% var title = "Single｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    page_class = "page-single";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <main class="contents">

                <% include module/_bread %>

                <div class="single-wrap">
                    <div class="single-article">

                        <!--記事header ここから-->
                        <div class="single-header">
                            <time datetime="2015-01-01">2015.01.01</time>
                            <h1>記事タイトル</h1>
                        </div>
                        <!--記事header ここまで-->

                        <div class="single-eye-catch">
                            <img src="http://placehold.it/320x100" width="320" height="100" alt="">
                        </div>

                        <!--記事本文 ここから-->
                        <div class="single-body">
                            <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>

                            <h2>見出し（h2）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2>
                            <h3>見出し（h3）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h3>
                            <h4>見出し（h4）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h4>

                            <ul>
                                <li>リスト（ul）</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                            </ul>

                            <ol>
                                <li>リスト（ol）</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                            </ol>

                            <p>
                                <a href="#">通常リンク</a>
                            </p>

                            <p>
                                <a href="#" target="_blank">外部リンク（target="_blank"）</a>
                            </p>

                            <blockquote>
                                <p>引用（blockquote）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                                <a href="#" target="_blank">出典 http://xxx.xxx.jp</a>
                            </blockquote>

                            <dl>
                                <dt>データ（dl）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dt>
                                <dd>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
                            </dl>

                            <p>
                                <img src="http://placehold.it/320x100" width="320" height="100" alt="">
                            </p>

                            <p>
                                <img src="http://placehold.it/320x100" width="320" height="100" alt="">
                            </p>

                            <p>
                                <img src="http://placehold.it/320x100" width="320" height="100" alt="">
                            </p>

                            <div class="movie">
                                <iframe width="500" height="281" src="https://www.youtube.com/embed/WuS80BsFjr4?feature=oembed" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--記事本文 ここまで-->
                    </div>
                </div>
            </main>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
