<% var title = "Lower｜",
    description = "sample text,sample text",
    keywords = "word1,word2,word3",
    type = "article",
    page_class = "page-single";
%>
<% include layout/_head %>
<% include layout/_header %>

            <!--contents ここから-->
            <main class="contents">

                <% include module/_bread %>

                <div class="entry-wrap">
                    <div class="entry-article">
                        <div class="entry-header">
                            <span class="tag tag-a">専門家記事</span><span class="tag tag-normal">恋トレ</span>
                            <time datetime="2015-01-01 00:00">
                                <i class="sprite clock"></i>
                                2015.01.01 00:00
                            </time>
                            <h1 class="entry-header-heading">いつでも実践！　効率よくダイエットできる、脂肪燃焼に良い食べ合わせとは？</h1>
                            <div class="entry-header-author">
                                <div class="entry-header-author-image">
                                    <img src="http://placehold.it/40x40" width="40" height="40" alt="">
                                </div>
                                <div class="entry-header-author-name">著者名</div>
                            </div>
                        </div>

                        <div class="entry-eye-catch">
                            <img src="http://placehold.it/320x100" width="320" height="100" alt="">
                        </div>

                        <div class="entry-body">

                            <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>

                            <h2>見出し（h2）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2>
                            <h3>見出し（h3）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h3>
                            <h4>見出し（h4）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h4>

                            <ul>
                                <li>リスト（ul）</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                            </ul>

                            <ol>
                                <li>リスト（ol）</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                                <li>リスト　サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</li>
                            </ol>

                            <p>
                                <a href="#">通常リンク</a>
                            </p>
                            <p>
                                <a href="#" target="_blank">外部リンク（target="_blank"）</a>
                            </p>

                            <blockquote>
                                <p>引用（blockquote）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                                <a href="#" target="_blank">出典 http://xxx.xxx.jp</a>
                            </blockquote>

                            <dl>
                                <dt>データ（dl）サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dt>
                                <dd>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </main>
            <!--contents ここまで-->

<% include layout/_footer %>
<% include layout/_script %>
