/*
    さまざまシーンで要素のレイアウトを整える汎用的なクラス
*/

//footerなど大枠に指定する
.l-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

//2カラムの横並びにする
.grid {
    font-size: 0;

    > .grid-item {
        display: inline-block;
        vertical-align: top;
        font-size: $base-font-size + px;
    }

    //    col
    &.grid-col2 {

        > .grid-item {
            width: 49.99999%;
        }
    }

    &.grid-col3 {

        > .grid-item {
            width: 33.3333%;
        }
    }

    &.grid-col4 {

        > .grid-item {
            width: 25%;
        }
    }

    &.grid-col5 {

        > .grid-item {
            width: 20%;
        }
    }

    &.grid-col6 {

        > .grid-item {
            width: 16.6666%;
        }
    }

    //    vertical
    &.grid-middle {

        > .grid-item {
            vertical-align: middle;
        }
    }

    &.grid-bottom {

        > .grid-item {
            vertical-align: bottom;
        }
    }
}