@charset "UTF-8";
/*
* setting
*/
/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/
/*
* 変数用scss(カラーコード以外)
*/
/*
* font
*/
/*
* tool
*/
/*
* base
*/
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

iframe {
  max-width: 100% !important; }

img, embed, object, video {
  max-width: 100%; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0; }

input, button, select {
  vertical-align: middle;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before, *:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

* {
  box-sizing: border-box; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
  min-width: 100%; }

body {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #eee;
  color: #333;
  width: 100%;
  min-width: 100%; }

input, button, select, textarea {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

input:focus, button:focus, select:focus, textarea:focus, a:focus, div:focus, aside:focus {
  outline: none; }

.wrapper {
  width: 100%;
  min-width: 100%; }

/*
* page
*/
/*
* layout
*/
/*
* module
*/
/*
#styleguide


```
<i class="sprite sprite-bikkuri"></i>
<i class="sprite sprite-blank"></i>
<i class="sprite sprite-home"></i>
```
*/
.sprite {
  display: inline-block; }
  .sprite.sprite-bikkuri {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -62px 0px;
    width: 10px;
    height: 32px;
    background-size: 72px 32px; }
  .sprite.sprite-blank {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -38px 0px;
    width: 22px;
    height: 22px;
    background-size: 72px 32px; }
  .sprite.sprite-home {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 36px;
    height: 32px;
    background-size: 72px 32px; }

/*
#styleguide
iconfont

_iconfont.scss

```
<i class="iconfont iconfont-best"></i>
<i class="iconfont iconfont-blank"></i>
<i class="iconfont iconfont-call"></i>

```
*/
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont/dest/iconfont.eot');
  src: url('../font/iconfont/dest/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont/dest/iconfont.woff') format('woff'), url('../font/iconfont/dest/iconfont.ttf') format('truetype'), url('../font/iconfont/dest/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal; }

.iconfont {
  font-family: "iconfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconfont-best:before {
  content: "\E001"; }

.iconfont-blank:before {
  content: "\E002"; }

.iconfont-call:before {
  content: "\E003"; }

/*
#overview
bread

_bread.scss
*/
/*
#styleguide
```
<nav class="bread">
    <ol class="bread-inner">
        <li class="bread-item">
            <a href="#" class="bread-link">Home</a>
        </li>
        <li class="bread-item is-current">
            <div class="bread-link">
                <span class="bread-text">Lower</span>
            </div>
        </li>
    </ol>
</nav>
```
*/
.bread {
  height: 40px;
  background: #000; }
  .bread-list {
    letter-spacing: -.4em; }
  .bread-item {
    display: inline-block;
    letter-spacing: 0;
    margin-left: 5px; }
    .bread-item:first-child {
      margin-left: 0; }
      .bread-item:first-child .bread-link {
        padding-right: 8px; }
    .bread-item.is-current .bread-link:before, .bread-item.is-current .bread-link:after {
      display: none; }
    .bread-item.is-current .bread-text {
      font-weight: bold; }
  .bread-link {
    font-size: 16px;
    font-size: 1.6rem;
    height: 40px;
    line-height: 40px;
    padding: 0 12px 0 8px;
    display: block;
    text-decoration: none;
    color: #fff;
    position: relative; }
    .bread-link:before, .bread-link:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 21px solid transparent; }
    .bread-link:before {
      right: -26px;
      top: -1px;
      z-index: 2;
      border-left: 9px solid #000; }
    .bread-link:after {
      border-left: 9px solid #fff;
      right: -28px;
      top: -1px;
      z-index: 1; }
  .bread-text {
    position: relative;
    z-index: 3; }

/*
#overview
heading

_heading.scss
*/
/*
#styleguide
```
<div class="heading heading-a">
    <h1 class="heading-inner">heading-a</h1>
</div>

<div class="heading heading-b">
    <h1 class="heading-inner">heading-b</h1>
</div>

<div class="heading heading-c">
    <h1 class="heading-inner">heading-c</h1>
</div>
```
*/
.heading {
  font-weight: bold;
  text-align: center; }
  .heading-a, .single-body h2 {
    font-size: 24px;
    font-size: 2.4rem; }
  .heading-b, .single-body h3 {
    font-size: 20px;
    font-size: 2rem; }
  .heading-c, .single-body h4 {
    font-size: 16px;
    font-size: 1.6rem; }

/*
#overview
button

_button.scss
*/
/*
#styleguide
```
<a href="#" class="button">
    <span>button</span>
</a>
```
*/
.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 0 20px; }
  .button > span {
    font-weight: bold; }

/*
#overview
tag

_tag.scss
*/
/*
#styleguide
```
<span class="tag tag-a">tag-a</span>
<span class="tag tag-b small">tag-b</span>
<span class="tag tag-c large">tag-c</span>
```
*/
.tag {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  min-width: 30px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 0 5px; }
  .tag-a {
    background: #b993d4; }
  .tag-b {
    background: #88c1ed; }
  .tag-c {
    background: #f3ad9d; }
  .tag.small {
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    font-size: 1rem; }
  .tag.large {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-size: 1.4rem; }

.single-body {
  line-height: 1.7;
  font-size: 14px;
  font-size: 1.4rem; }
  .single-body img {
    width: 100%;
    height: auto; }
  .single-body .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 30px 0; }
    .single-body .movie iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
  .single-body p, .single-body div:not([class]) {
    line-height: 1.7;
    margin-bottom: 12px; }
  .single-body h2 {
    margin-bottom: 20px; }
  .single-body h3 {
    margin-bottom: 10px; }
  .single-body h4 {
    margin-bottom: 10px; }
  .single-body ul {
    margin-bottom: 10px; }
    .single-body ul li {
      list-style: disc;
      margin: 0 0 10px 20px; }
  .single-body ol {
    margin-bottom: 10px; }
    .single-body ol li {
      list-style-type: decimal;
      margin: 0 0 10px 20px; }
  .single-body a {
    color: #4ac8bb; }
  .single-body blockquote {
    position: relative;
    margin-bottom: 20px;
    padding: 34px 10px; }
    .single-body blockquote a {
      display: block;
      color: #4ac8bb;
      text-align: right;
      font-size: 12px;
      font-size: 1.2rem; }
  .single-body dl {
    position: relative;
    margin-bottom: 20px;
    padding: 12px 14px; }
    .single-body dl dt {
      margin-bottom: 10px;
      color: #4ac8bb;
      font-weight: bold; }
  .single-body strong {
    font-weight: bold; }
  .single-body .alignleft {
    float: left;
    margin-right: 20px; }
  .single-body .alignright {
    float: right;
    margin-left: 20px; }
  .single-body .aligncenter {
    display: block;
    margin: 0 auto; }

/*
* utility
*/
.u-mt0 {
  margin-top: 0px !important; }

.u-mr0 {
  margin-right: 0px !important; }

.u-mb0 {
  margin-bottom: 0px !important; }

.u-ml0 {
  margin-left: 0px !important; }

.u-pt0 {
  padding-top: 0px !important; }

.u-pr0 {
  padding-right: 0px !important; }

.u-pb0 {
  padding-bottom: 0px !important; }

.u-pl0 {
  padding-left: 0px !important; }

.u-mt5 {
  margin-top: 5px !important; }

.u-mr5 {
  margin-right: 5px !important; }

.u-mb5 {
  margin-bottom: 5px !important; }

.u-ml5 {
  margin-left: 5px !important; }

.u-pt5 {
  padding-top: 5px !important; }

.u-pr5 {
  padding-right: 5px !important; }

.u-pb5 {
  padding-bottom: 5px !important; }

.u-pl5 {
  padding-left: 5px !important; }

.u-mt10 {
  margin-top: 10px !important; }

.u-mr10 {
  margin-right: 10px !important; }

.u-mb10 {
  margin-bottom: 10px !important; }

.u-ml10 {
  margin-left: 10px !important; }

.u-pt10 {
  padding-top: 10px !important; }

.u-pr10 {
  padding-right: 10px !important; }

.u-pb10 {
  padding-bottom: 10px !important; }

.u-pl10 {
  padding-left: 10px !important; }

.u-mt15 {
  margin-top: 15px !important; }

.u-mr15 {
  margin-right: 15px !important; }

.u-mb15 {
  margin-bottom: 15px !important; }

.u-ml15 {
  margin-left: 15px !important; }

.u-pt15 {
  padding-top: 15px !important; }

.u-pr15 {
  padding-right: 15px !important; }

.u-pb15 {
  padding-bottom: 15px !important; }

.u-pl15 {
  padding-left: 15px !important; }

.u-mt20 {
  margin-top: 20px !important; }

.u-mr20 {
  margin-right: 20px !important; }

.u-mb20 {
  margin-bottom: 20px !important; }

.u-ml20 {
  margin-left: 20px !important; }

.u-pt20 {
  padding-top: 20px !important; }

.u-pr20 {
  padding-right: 20px !important; }

.u-pb20 {
  padding-bottom: 20px !important; }

.u-pl20 {
  padding-left: 20px !important; }

.u-mt25 {
  margin-top: 25px !important; }

.u-mr25 {
  margin-right: 25px !important; }

.u-mb25 {
  margin-bottom: 25px !important; }

.u-ml25 {
  margin-left: 25px !important; }

.u-pt25 {
  padding-top: 25px !important; }

.u-pr25 {
  padding-right: 25px !important; }

.u-pb25 {
  padding-bottom: 25px !important; }

.u-pl25 {
  padding-left: 25px !important; }

.u-mt30 {
  margin-top: 30px !important; }

.u-mr30 {
  margin-right: 30px !important; }

.u-mb30 {
  margin-bottom: 30px !important; }

.u-ml30 {
  margin-left: 30px !important; }

.u-pt30 {
  padding-top: 30px !important; }

.u-pr30 {
  padding-right: 30px !important; }

.u-pb30 {
  padding-bottom: 30px !important; }

.u-pl30 {
  padding-left: 30px !important; }

.u-mt35 {
  margin-top: 35px !important; }

.u-mr35 {
  margin-right: 35px !important; }

.u-mb35 {
  margin-bottom: 35px !important; }

.u-ml35 {
  margin-left: 35px !important; }

.u-pt35 {
  padding-top: 35px !important; }

.u-pr35 {
  padding-right: 35px !important; }

.u-pb35 {
  padding-bottom: 35px !important; }

.u-pl35 {
  padding-left: 35px !important; }

.u-mt40 {
  margin-top: 40px !important; }

.u-mr40 {
  margin-right: 40px !important; }

.u-mb40 {
  margin-bottom: 40px !important; }

.u-ml40 {
  margin-left: 40px !important; }

.u-pt40 {
  padding-top: 40px !important; }

.u-pr40 {
  padding-right: 40px !important; }

.u-pb40 {
  padding-bottom: 40px !important; }

.u-pl40 {
  padding-left: 40px !important; }

.u-mt45 {
  margin-top: 45px !important; }

.u-mr45 {
  margin-right: 45px !important; }

.u-mb45 {
  margin-bottom: 45px !important; }

.u-ml45 {
  margin-left: 45px !important; }

.u-pt45 {
  padding-top: 45px !important; }

.u-pr45 {
  padding-right: 45px !important; }

.u-pb45 {
  padding-bottom: 45px !important; }

.u-pl45 {
  padding-left: 45px !important; }

.u-mt50 {
  margin-top: 50px !important; }

.u-mr50 {
  margin-right: 50px !important; }

.u-mb50 {
  margin-bottom: 50px !important; }

.u-ml50 {
  margin-left: 50px !important; }

.u-pt50 {
  padding-top: 50px !important; }

.u-pr50 {
  padding-right: 50px !important; }

.u-pb50 {
  padding-bottom: 50px !important; }

.u-pl50 {
  padding-left: 50px !important; }

.u-mt55 {
  margin-top: 55px !important; }

.u-mr55 {
  margin-right: 55px !important; }

.u-mb55 {
  margin-bottom: 55px !important; }

.u-ml55 {
  margin-left: 55px !important; }

.u-pt55 {
  padding-top: 55px !important; }

.u-pr55 {
  padding-right: 55px !important; }

.u-pb55 {
  padding-bottom: 55px !important; }

.u-pl55 {
  padding-left: 55px !important; }

.u-mt60 {
  margin-top: 60px !important; }

.u-mr60 {
  margin-right: 60px !important; }

.u-mb60 {
  margin-bottom: 60px !important; }

.u-ml60 {
  margin-left: 60px !important; }

.u-pt60 {
  padding-top: 60px !important; }

.u-pr60 {
  padding-right: 60px !important; }

.u-pb60 {
  padding-bottom: 60px !important; }

.u-pl60 {
  padding-left: 60px !important; }

.u-mt65 {
  margin-top: 65px !important; }

.u-mr65 {
  margin-right: 65px !important; }

.u-mb65 {
  margin-bottom: 65px !important; }

.u-ml65 {
  margin-left: 65px !important; }

.u-pt65 {
  padding-top: 65px !important; }

.u-pr65 {
  padding-right: 65px !important; }

.u-pb65 {
  padding-bottom: 65px !important; }

.u-pl65 {
  padding-left: 65px !important; }

.u-mt70 {
  margin-top: 70px !important; }

.u-mr70 {
  margin-right: 70px !important; }

.u-mb70 {
  margin-bottom: 70px !important; }

.u-ml70 {
  margin-left: 70px !important; }

.u-pt70 {
  padding-top: 70px !important; }

.u-pr70 {
  padding-right: 70px !important; }

.u-pb70 {
  padding-bottom: 70px !important; }

.u-pl70 {
  padding-left: 70px !important; }

.u-blow {
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap; }

.u-clear {
  zoom: 1; }
  .u-clear:before, .u-clear:after {
    content: "";
    display: block; }
  .u-clear:after {
    clear: both; }

.u-elps {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis; }

.u-notap {
  -webkit-tap-highlight-color: transparent; }

.u-middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.u-core {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
