@charset "UTF-8";
/*
* setting
*/
/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/
/*
* 変数用scss(カラーコード以外)
*/
/*
* font
*/
/*
* tool
*/
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
* base
*/
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

iframe {
  max-width: 100% !important; }

img, embed, object, video {
  max-width: 100%; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0; }

input, button, select {
  vertical-align: middle;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before, *:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

* {
  box-sizing: border-box;
  font-size: 16px; }

::-moz-selection {
  background: #cc0001;
  color: #fff; }

::selection {
  background: #cc0001;
  color: #fff; }

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
  min-width: 1080px; }

body {
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #f7f7f7;
  color: #333;
  width: 100%;
  min-width: 1080px; }

input, button, select, textarea {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

input:focus, button:focus, select:focus, textarea:focus, a:focus, div:focus, aside:focus {
  outline: none; }

a {
  color: #cc0001;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.wrapper {
  width: 100%;
  min-width: 1160px; }

.for-no-js, .for-old {
  text-align: center;
  width: 100%;
  background: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;
  z-index: 11; }

.for-old {
  display: none; }
  .lt-ie9 .for-old {
    display: block; }

/*
* layout
*/
.l-header {
  width: 100%;
  min-width: 1080px;
  z-index: 10;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out; }
  .l-header .l-header-logo {
    float: left; }
  .l-header .l-header-navi {
    float: right; }
  .l-header .l-header-mega-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 51px; }
  .l-header.is-scrolling {
    background-color: #fff;
    box-shadow: 0 1px 0 #e5e5e5; }
    .l-header.is-scrolling .navi-link {
      color: #333; }
    .l-header.is-scrolling .navi-sns-icon > path {
      fill: #333; }

.l-container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  position: relative; }
  .l-container.l-container-small {
    width: 880px; }

/*
    さまざまシーンで要素のレイアウトを整える汎用的なクラス
*/
.grid .grid-inner {
  font-size: 0; }
  .grid .grid-inner > .grid-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px; }
    .grid .grid-inner > .grid-item.grid-item-col2 {
      width: 50%; }
    .grid .grid-inner > .grid-item.grid-item-col3 {
      width: 33.3333%; }
    .grid .grid-inner > .grid-item.grid-item-col4 {
      width: 25%; }
    .grid .grid-inner > .grid-item.grid-item-col5 {
      width: 30%; }
    .grid .grid-inner > .grid-item.grid-item-col6 {
      width: 16.6666%; }
.grid.grid-col2 .grid-inner > .grid-item {
  width: 50%; }
.grid.grid-col3 .grid-inner > .grid-item {
  width: 33.3333%; }
.grid.grid-col4 .grid-inner > .grid-item {
  width: 25%; }
.grid.grid-col5 .grid-inner > .grid-item {
  width: 20%; }
.grid.grid-col6 .grid-inner > .grid-item {
  width: 16.6666%; }
.grid.grid-middle .grid-inner > .grid-item {
  vertical-align: middle; }
.grid.grid-bottom .grid-inner > .grid-item {
  vertical-align: bottom; }

/*
* module
*/
/*
#styleguide


```
<i class="sprite about-clear"></i>
<i class="sprite blank-hover"></i>
<i class="sprite blank-small"></i>
<i class="sprite blank"></i>
<i class="sprite bowl-clear"></i>
<i class="sprite bowl"></i>
<i class="sprite box-clear"></i>
<i class="sprite box"></i>
<i class="sprite contact-clear"></i>
<i class="sprite facebook"></i>
<i class="sprite finance-clear"></i>
<i class="sprite finance"></i>
<i class="sprite instagram"></i>
<i class="sprite karaoke-clear"></i>
<i class="sprite karaoke"></i>
<i class="sprite line"></i>
<i class="sprite local-clear"></i>
<i class="sprite local"></i>
<i class="sprite mah-jong-clear"></i>
<i class="sprite mah-jong"></i>
<i class="sprite mail-magazine-clear"></i>
<i class="sprite mail-magazine"></i>
<i class="sprite news-clear"></i>
<i class="sprite not-found-clear"></i>
<i class="sprite pachinko-clear"></i>
<i class="sprite pachinko"></i>
<i class="sprite parking-clear"></i>
<i class="sprite parking"></i>
<i class="sprite philosophy-clear"></i>
<i class="sprite philosophy"></i>
<i class="sprite plus"></i>
<i class="sprite privacy-clear"></i>
<i class="sprite profile-clear"></i>
<i class="sprite profile"></i>
<i class="sprite quote"></i>
<i class="sprite real-estate-clear"></i>
<i class="sprite real-estate"></i>
<i class="sprite recruit-clear"></i>
<i class="sprite resource-clear"></i>
<i class="sprite resource"></i>
<i class="sprite service-clear"></i>
<i class="sprite service-real-estate-clear"></i>
<i class="sprite spa-clear"></i>
<i class="sprite spa"></i>
<i class="sprite tel"></i>
<i class="sprite twitter"></i>
```
*/
.sprite {
  display: inline-block; }
  .sprite.sprite-about-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -33px;
    width: 32px;
    height: 32px;
    background-size: 354px 313px; }
  .sprite.sprite-blank-hover {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -268px;
    width: 22px;
    height: 22px;
    background-size: 354px 313px; }
  .sprite.sprite-blank-small {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -264px -234px;
    width: 14px;
    height: 14px;
    background-size: 354px 313px; }
  .sprite.sprite-blank {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -245px;
    width: 22px;
    height: 22px;
    background-size: 354px 313px; }
  .sprite.sprite-bowl-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -66px;
    width: 30px;
    height: 31.5px;
    background-size: 354px 313px; }
  .sprite.sprite-bowl {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -97px 0px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-box-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -190px;
    width: 32px;
    height: 28px;
    background-size: 354px 313px; }
  .sprite.sprite-box {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -97px -61px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-contact-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px 0px;
    width: 30px;
    height: 27px;
    background-size: 354px 313px; }
  .sprite.sprite-facebook {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -120px -234px;
    width: 36px;
    height: 36px;
    background-size: 354px 313px; }
  .sprite.sprite-finance-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -115px;
    width: 25px;
    height: 27px;
    background-size: 354px 313px; }
  .sprite.sprite-finance {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -183px;
    width: 82px;
    height: 50px;
    background-size: 354px 313px; }
  .sprite.sprite-instagram {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -83px -234px;
    width: 36px;
    height: 36px;
    background-size: 354px 313px; }
  .sprite.sprite-karaoke-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -219px;
    width: 31px;
    height: 28px;
    background-size: 354px 313px; }
  .sprite.sprite-karaoke {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -194px -61px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-line {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -249px -183px;
    width: 40px;
    height: 38px;
    background-size: 354px 313px; }
  .sprite.sprite-local-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -28px;
    width: 27px;
    height: 27px;
    background-size: 354px 313px; }
  .sprite.sprite-local {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -234px;
    width: 82px;
    height: 50px;
    background-size: 354px 313px; }
  .sprite.sprite-mah-jong-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -97px -285px;
    width: 32px;
    height: 23px;
    background-size: 354px 313px; }
  .sprite.sprite-mah-jong {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-mail-magazine-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -224px;
    width: 28px;
    height: 20px;
    background-size: 354px 313px; }
  .sprite.sprite-mail-magazine {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -194px -234px;
    width: 36px;
    height: 26px;
    background-size: 354px 313px; }
  .sprite.sprite-news-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -174px;
    width: 29px;
    height: 21px;
    background-size: 354px 313px; }
  .sprite.sprite-not-found-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -159px;
    width: 30px;
    height: 30px;
    background-size: 354px 313px; }
  .sprite.sprite-pachinko-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -98.5px;
    width: 32px;
    height: 28.5px;
    background-size: 354px 313px; }
  .sprite.sprite-pachinko {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -97px -122px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-parking-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -128px;
    width: 30px;
    height: 30px;
    background-size: 354px 313px; }
  .sprite.sprite-parking {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -194px 0px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-philosophy-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -56px;
    width: 22px;
    height: 32px;
    background-size: 354px 313px; }
  .sprite.sprite-philosophy {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -83px -183px;
    width: 82px;
    height: 50px;
    background-size: 354px 313px; }
  .sprite.sprite-plus {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -291px;
    width: 22px;
    height: 22px;
    background-size: 354px 313px; }
  .sprite.sprite-privacy-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -143px;
    width: 22px;
    height: 30px;
    background-size: 354px 313px; }
  .sprite.sprite-profile-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -196px;
    width: 22px;
    height: 27px;
    background-size: 354px 313px; }
  .sprite.sprite-profile {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -166px -183px;
    width: 82px;
    height: 50px;
    background-size: 354px 313px; }
  .sprite.sprite-quote {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -324px -89px;
    width: 28px;
    height: 25px;
    background-size: 354px 313px; }
  .sprite.sprite-real-estate-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -64px -285px;
    width: 32px;
    height: 25px;
    background-size: 354px 313px; }
  .sprite.sprite-real-estate {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -61px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-recruit-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -31px -285px;
    width: 32px;
    height: 26px;
    background-size: 354px 313px; }
  .sprite.sprite-resource-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -231px -234px;
    width: 32px;
    height: 26px;
    background-size: 354px 313px; }
  .sprite.sprite-resource {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -194px -122px;
    width: 82px;
    height: 50px;
    background-size: 354px 313px; }
  .sprite.sprite-service-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px 0px;
    width: 32px;
    height: 32px;
    background-size: 354px 313px; }
  .sprite.sprite-service-real-estate-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -291px -248px;
    width: 32px;
    height: 27px;
    background-size: 354px 313px; }
  .sprite.sprite-spa-clear {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -285px;
    width: 30px;
    height: 28px;
    background-size: 354px 313px; }
  .sprite.sprite-spa {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -122px;
    width: 96px;
    height: 60px;
    background-size: 354px 313px; }
  .sprite.sprite-tel {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -83px -271px;
    width: 15px;
    height: 13px;
    background-size: 354px 313px; }
  .sprite.sprite-twitter {
    background-image: url(../image/sprite/dest/sprite.png);
    background-repeat: no-repeat;
    background-position: -157px -234px;
    width: 36px;
    height: 29px;
    background-size: 354px 313px; }

.loading {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }
  .loading .loading-object {
    width: 40px;
    height: 40px;
    background: url(../image/common/loading.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite; }
  .loading.is-hidden {
    opacity: 0; }

/*
#overview
arrow

*/
/*
#styleguide
```
```
*/
.arrow {
  display: inline-block;
  border: 4px solid transparent;
  border-left-color: #fff; }
  .arrow.arrow-primary {
    border-left-color: #cc0001; }
  .arrow.arrow-large {
    border-width: 7px; }
  .arrow.arrow-xlarge {
    border-width: 22px; }
  .arrow.arrow-reverse {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
  .arrow.arrow-bottom {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

/*
#overview
heading-addition

*/
/*
#styleguide
```
```
*/
.heading-addition {
  font-size: 18px;
  font-weight: 700; }

/*
#overview
heading-primary

*/
/*
#styleguide
```
```
*/
.heading-primary {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding: 5px 5px 10px 20px; }
  .heading-primary:before {
    content: "";
    display: block;
    background-color: #cc0001;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .heading-primary:after {
    content: "";
    display: block;
    background-color: #cc0001;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0; }

/*
#overview
heading-sub

*/
/*
#styleguide
```
```
*/
.heading-sub {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding: 5px 5px 10px 20px; }
  .heading-sub:before {
    content: "";
    display: block;
    background-color: #333;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

/*
#overview
hero

*/
/*
#styleguide
```
```
*/
.hero {
  width: 100%;
  height: 100%;
  min-width: 1160px;
  position: relative;
  overflow: hidden;
  visibility: hidden; }
  .hero .hero-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0; }
  .hero .hero-news {
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0; }
  .hero .hero-mark {
    width: 100%;
    height: 100%;
    min-width: 1300px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .hero .hero-mark .hero-mark-copy {
      position: absolute;
      z-index: 3;
      top: 46%;
      margin-top: -125px;
      left: 200px;
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
      opacity: 0; }
    .hero .hero-mark .hero-mark-object1 {
      position: absolute;
      z-index: 2;
      top: 43.15%;
      left: 150px;
      margin-top: -673.5px;
      -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
      transform: translateX(60px);
      opacity: 0; }
    .hero .hero-mark .hero-mark-object2 {
      position: absolute;
      z-index: 2;
      top: 43.15%;
      left: 0;
      margin-top: -673.5px;
      -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
      transform: translateX(60px);
      opacity: 0; }
  .hero .hero-image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden; }
  .hero .hero-image-object {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    display: none; }
    .hero .hero-image-object.is-active {
      display: block;
      -webkit-animation: scaling 10s;
      animation: scaling 10s; }
  .hero.is-active {
    visibility: visible; }
    .hero.is-active .hero-mark-copy {
      -webkit-animation: fadeInSlide 1s .5s ease-in-out both;
      animation: fadeInSlide 1s .5s ease-in-out both; }
    .hero.is-active .hero-mark-object1 {
      -webkit-animation: fadeInSlide .85s .25s ease-in-out both;
      animation: fadeInSlide .85s .25s ease-in-out both; }
    .hero.is-active .hero-mark-object2 {
      -webkit-animation: fadeInSlideSub 1s 0s ease-in-out both;
      animation: fadeInSlideSub 1s 0s ease-in-out both; }

/*
#overview
label

*/
/*
#styleguide
```
```
*/
.label {
  cursor: pointer; }
  .label .label-input {
    opacity: 0; }
  .label .label-radio-face {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    margin-right: 3px; }
    .label .label-radio-face .label-radio-face-inner {
      opacity: 0;
      display: block;
      position: absolute;
      background-color: #cc0001;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      -webkit-transform: translate3d(4px, 4px, 0);
      transform: translate3d(4px, 4px, 0);
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out; }
  .label .label-checkbox-face {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    -webkit-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    margin-right: 3px; }
    .label .label-checkbox-face .label-checkbox-face-inner {
      opacity: 0;
      display: block;
      position: absolute;
      border-bottom: 2px solid #cc0001;
      border-left: 2px solid #cc0001;
      height: 5px;
      width: 8px;
      -webkit-transform: translate3d(3px, 3px, 0) rotate(-42deg);
      transform: translate3d(3px, 3px, 0) rotate(-42deg);
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out; }
  .label .label-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.15; }
  .label .label-input:checked + .label-radio-face {
    border-color: #cc0001; }
    .label .label-input:checked + .label-radio-face .label-radio-face-inner {
      opacity: 1; }
    .label .label-input:checked + .label-radio-face + .label-text {
      color: #cc0001; }
  .label .label-input:checked + .label-checkbox-face {
    border-color: #cc0001; }
    .label .label-input:checked + .label-checkbox-face .label-checkbox-face-inner {
      opacity: 1; }
    .label .label-input:checked + .label-checkbox-face + .label-text {
      color: #cc0001; }

/*
#overview
logo

*/
/*
#styleguide
```
```
*/
.logo {
  display: block;
  padding: 14px 0 8px; }

/*
#overview
svg

*/
/*
#styleguide
```
```
*/
.svg {
  display: inline-block; }
  .svg.svg-main-arrow {
    width: 670px;
    height: 1374px; }
  .svg.svg-logo {
    width: 125px;
    height: 20px; }
  .svg.svg-facebook {
    width: 10px;
    height: 19px; }
  .svg.svg-twitter {
    width: 22px;
    height: 18px; }

/*
#overview
table

*/
/*
#styleguide
```
```
*/
.table {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  .table .table-th, .table .table-td {
    display: table-cell;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid #ccc; }
  .table .table-th {
    width: 138px;
    padding: 14px 20px 14px 22px;
    background-color: #f7f7f7; }
    .table .table-th.table-th-primary {
      background-color: #ccc;
      color: #fff; }
    .table .table-th.table-th-large {
      width: 202px; }
    .table .table-th.table-th-middle {
      width: 160px;
      padding-right: 0; }
    .table .table-th.table-th-small {
      width: 115px;
      padding-right: 0; }
    .table .table-th.table-th-border-right {
      border-right: 1px solid #ccc; }
  .table .table-td {
    border-right: 1px solid #ccc;
    padding: 14px 24px;
    background-color: #fff;
    line-height: 2; }
  .table .table-expanding-text {
    line-height: 2; }
    .table .table-expanding-text > li {
      line-height: 2; }
  .table .table-narrow-text {
    margin-right: -5px; }
  .table.table-form .table-th, .table.table-form .table-td {
    padding-top: 26px;
    padding-bottom: 25px; }
  .table.table-form .table-th {
    width: 290px;
    padding-right: 23px;
    padding-left: 25px; }
    .table.table-form .table-th.table-th-top {
      vertical-align: top; }
  .table.table-form .table-th-text {
    display: inline-block;
    width: 100%;
    position: relative; }
    .table.table-form .table-th-text > span {
      float: right;
      display: inline-block;
      padding: 4px 0 3px;
      color: #d7001d;
      font-size: 12px;
      font-weight: bold; }
  .table.table-flexible {
    table-layout: auto; }
    .table.table-flexible .table-th {
      width: auto;
      border-right: 1px solid #ccc;
      text-align: center; }
      .table.table-flexible .table-th.table-th-primary {
        padding-left: 0;
        padding-right: 0;
        width: 108px;
        text-align: center; }
    .table.table-flexible .table-td {
      padding-right: 0;
      padding-left: 0;
      text-align: center; }
  .table.table-real-estate-tokyo .table-th {
    border-right: 1px solid #ccc; }
  .table.table-real-estate-tokyo .table-th.table-th-primary {
    border-right: 1px solid #fff; }
    .table.table-real-estate-tokyo .table-th.table-th-primary:nth-child(1) {
      width: 162px; }
    .table.table-real-estate-tokyo .table-th.table-th-primary:nth-child(2) {
      width: 216px; }
    .table.table-real-estate-tokyo .table-th.table-th-primary:nth-child(3) {
      width: 170px; }
    .table.table-real-estate-tokyo .table-th.table-th-primary:nth-child(4) {
      width: auto;
      border-right: 0; }

/*
#overview
button

_button.scss
*/
/*
#styleguide
```
<a href="#" class="button">
    <span>button</span>
</a>
```
*/
.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: #cc0001;
  color: #fff;
  padding: 11px 80px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1px;
  perspective: 1px; }
  .button .button-text {
    position: relative;
    z-index: 2; }
  .button .button-effect {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 58%;
    background-color: #7d0000;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out; }
  .button .button-effect-object-a {
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #7d0000;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -25px; }
  .button .button-effect-object-b {
    width: 52px;
    height: 52px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #cc0001;
    position: absolute;
    right: -26px;
    top: 50%;
    margin-top: -26px; }
  .button .button-arrow {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 18px; }
  .button .icon-search {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 18px; }
  .button:hover .button-effect {
    width: 140%; }
  .button.button-full {
    width: 100%;
    padding-right: 0;
    padding-left: 0; }
  .button.button-large {
    padding: 27px 60px; }
    .button.button-large .button-arrow {
      top: 33px;
      right: 25px; }
  .button.button-reinput {
    background-color: #fff;
    color: #7d0000; }
    .button.button-reinput .button-arrow {
      right: auto;
      left: -25px;
      top: 6px; }
    .button.button-reinput:hover .button-text {
      text-decoration: underline; }
  .button.button-line {
    background-color: #3bb63b; }
    .button.button-line .button-effect {
      background-color: #226922; }
    .button.button-line .button-effect-object-a {
      background-color: #226922; }
    .button.button-line .button-effect-object-b {
      background-color: #3bb63b; }
    .button.button-line .button-arrow {
      right: 20px;
      top: 23px; }
  .button.button-light {
    background-color: #fff; }
    .button.button-light .button-effect {
      background-color: #cccccc; }
    .button.button-light .button-effect-object-a {
      background-color: #cccccc; }
    .button.button-light .button-effect-object-b {
      background-color: #fff; }
    .button.button-light .button-text {
      color: #cc0001; }
    .button.button-light .button-arrow {
      border-left-color: #cc0001; }

.safari .button {
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  mask-image: -webkit-radial-gradient(circle, white, black); }
  .safari .button .button-text {
    font-weight: bold; }

/*
#overview
tag

_tag.scss
*/
/*
#styleguide
```
<span class="tag tag-a">tag-a</span>
<span class="tag tag-b small">tag-b</span>
<span class="tag tag-c large">tag-c</span>
```
*/
.tag {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 8px 5px;
  line-height: 1;
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #fff; }

.wp-pagenavi {
  text-align: center;
  font-size: 0;
  position: relative;
  padding: 0 50px; }
  .wp-pagenavi > a, .wp-pagenavi > span {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    letter-spacing: .15em;
    text-decoration: none;
    color: #cc0001;
    border: 1px solid #cc0001;
    margin: 0 12px;
    font-size: 16px; }
  .wp-pagenavi > span.current {
    border-color: #7d0000;
    background-color: #7d0000;
    color: #fff; }
  .wp-pagenavi > a {
    -webkit-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out, background-color 0.35s ease-in-out; }
    .wp-pagenavi > a:hover {
      border-color: #cc0001;
      background-color: #cc0001;
      color: #fff; }
    .wp-pagenavi > a.nextpostslink, .wp-pagenavi > a.prevpostslink {
      width: 100px;
      background-color: #7d0000;
      border-color: #7d0000;
      color: #fff; }
      .wp-pagenavi > a.nextpostslink:hover, .wp-pagenavi > a.prevpostslink:hover {
        background-color: #cc0001;
        border-color: #cc0001; }
      .wp-pagenavi > a.nextpostslink[disabled], .wp-pagenavi > a.prevpostslink[disabled] {
        opacity: .5;
        cursor: default; }
        .wp-pagenavi > a.nextpostslink[disabled]:hover, .wp-pagenavi > a.prevpostslink[disabled]:hover {
          background-color: #7d0000;
          border-color: #7d0000; }

.input {
  border: 1px solid #999;
  background-color: #ffffff;
  font-weight: normal;
  width: 500px;
  height: 45px;
  line-height: 43px;
  padding: 7px 15px 8px; }
  .input::-webkit-input-placeholder {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #b2b2b2; }
  .input::-moz-placeholder {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #b2b2b2; }
  .input:-ms-input-placeholder {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #b2b2b2; }
  .input::placeholder {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #b2b2b2; }

.ie .input {
  line-height: 1; }

.ie10 .input {
  line-height: normal; }

.textarea {
  border: 1px solid #999;
  background-color: #fff;
  width: 100%;
  padding: 17px 14px;
  height: 200px;
  line-height: 1.75; }

.select {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
  position: relative; }
  .select .select-inner {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2; }
  .select .select-text {
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 30px 0 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; }
  .select .select-arrow {
    box-sizing: border-box;
    position: absolute;
    top: 17px;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 5px solid #000; }

.form .form-table-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0; }
  .form .form-table-inner.form-table-inner-last {
    border-bottom: 1px solid #ccc; }
  .form .form-table-inner.form-table-inner-error {
    border: 1px solid #d7001d;
    border-bottom: 0; }
    .form .form-table-inner.form-table-inner-error + .form-table-inner {
      border-top: 0; }
    .form .form-table-inner.form-table-inner-error .form-table-error-text {
      font-size: 14px;
      color: #d7001d;
      margin-bottom: 6px; }
    .form .form-table-inner.form-table-inner-error.form-table-inner-error {
      border-bottom: 1px solid #d7001d; }
.form .form-table-row {
  display: table-row; }
.form .form-table-th, .form .form-table-td {
  display: table-cell;
  text-align: left;
  font-weight: 400;
  vertical-align: middle; }
.form .form-table-th {
  width: 290px;
  padding: 26px 23px 25px 25px;
  background-color: #f7f7f7; }
  .form .form-table-th.form-table-th-top {
    vertical-align: top; }
.form .form-table-text {
  display: inline-block;
  width: 100%;
  position: relative; }
  .form .form-table-text > span {
    float: right;
    display: inline-block;
    padding: 4px 0 3px;
    color: #d7001d;
    font-size: 12px;
    font-weight: bold; }
.form .form-table-td {
  padding: 26px 30px 25px;
  background-color: #fff;
  line-height: 2; }
.form .form-button {
  width: 400px;
  margin: 0 auto;
  text-align: center; }
  .form .form-button > .button:nth-child(2) {
    margin-top: 12px; }
  .form .form-button.form-button-margin {
    margin-top: 100px; }

.tab {
  width: 100%;
  overflow: hidden; }
  .tab .tab-triggers {
    background-color: #f7f7f7;
    text-align: center; }
  .tab .tab-trigger-link {
    display: block;
    padding: 15px 0 21px;
    color: #999;
    position: relative;
    -webkit-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out; }
    .tab .tab-trigger-link > span {
      font-weight: bold;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle; }
      .tab .tab-trigger-link > span > span {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px; }
    .tab .tab-trigger-link:hover {
      color: #cc0001; }
    .tab .tab-trigger-link.is-active {
      color: #cc0001; }
      .tab .tab-trigger-link.is-active .tab-trigger-line {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
  .tab .tab-trigger-line {
    width: 100%;
    height: 4px;
    background-color: #cc0001;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out; }
  .tab .tab-content {
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%); }
    .tab .tab-content.is-active {
      position: relative;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation: fadeContent .9s ease-in-out both;
      animation: fadeContent .9s ease-in-out both; }

/*
* utility
*/
.l-header {
  zoom: 1; }
  .l-header:before, .l-header:after {
    content: "";
    display: block; }
  .l-header:after {
    clear: both; }

