@charset "UTF-8";
/*
* base
*/
/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/
/*
* 変数用scss(カラーコード以外)
*/
/*
* font
*/
@font-face {
  font-family: "Miso";
  src: url("../font/miso/miso-regular-webfont.eot") format("eot"), url("../font/miso/miso-regular-webfont.woff") format("woff"), url("../font/miso/miso-regular-webfont.ttf") format("truetype"), url("../font/miso/miso-regular-webfont.svg"); }

/*
* module
*/
/*
#overview
bread

_bread.scss
*/
/*
#styleguide
```
<nav class="bread">
    <ol class="bread-inner">
        <li class="bread-item">
            <a href="#" class="bread-link">Home</a>
        </li>
        <li class="bread-item is-current">
            <div class="bread-link">
                <span class="bread-text">Lower</span>
            </div>
        </li>
    </ol>
</nav>
```
*/
.bread {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  border: 2px solid #000;
  overflow: hidden; }
  .bread-item {
    display: inline-block;
    letter-spacing: 0; }
    .bread-item:first-child .bread-link {
      padding: 0 12px; }
    .bread-item.is-current .bread-link:before, .bread-item.is-current .bread-link:after {
      display: none; }
    .bread-item.is-current .bread-text {
      font-weight: bold; }
  .bread-link {
    font-size: 18px;
    font-size: 1.8rem;
    height: 44px;
    line-height: 44px;
    padding: 0 18px;
    display: block;
    text-decoration: none;
    color: #000;
    position: relative; }
    .bread-link:before, .bread-link:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 30px solid transparent; }
    .bread-link:before {
      right: -36px;
      top: -8px;
      z-index: 2;
      border-left: 17px solid #eee; }
    .bread-link:after {
      border-left: 17px solid #000;
      right: -37px;
      top: -8px;
      z-index: 1; }
  .bread-text {
    position: relative;
    z-index: 3; }

/*
#overview
heading

_heading.scss
*/
/*
#styleguide
```
<div class="heading heading-a">
    <h1 class="heading-inner">heading-a</h1>
</div>

<div class="heading heading-b">
    <h1 class="heading-inner">heading-b</h1>
</div>

<div class="heading heading-c">
    <h1 class="heading-inner">heading-c</h1>
</div>
```
*/
.heading {
  font-weight: bold;
  text-align: center; }
  .heading-a, .single-body h2 {
    font-size: 24px;
    font-size: 2.4rem; }
  .heading-b, .single-body h3 {
    font-size: 20px;
    font-size: 2rem; }
  .heading-c, .single-body h4 {
    font-size: 16px;
    font-size: 1.6rem; }

/*
#overview
button

_button.scss
*/
/*
#styleguide
```
<a href="#" class="button">
    <span>button</span>
</a>
```
*/
.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 0 20px; }
  .button > span {
    font-weight: bold; }

/*
#overview
tag

_tag.scss
*/
/*
#styleguide
```
<span class="tag tag-a">tag-a</span>
<span class="tag tag-b small">tag-b</span>
<span class="tag tag-c large">tag-c</span>
```
*/
.tag {
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  min-width: 30px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 0 5px; }
  .tag-a {
    background: #b993d4; }
  .tag-b {
    background: #88c1ed; }
  .tag-c {
    background: #f3ad9d; }
  .tag.small {
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    font-size: 1rem; }
  .tag.large {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-size: 1.4rem; }

.single-body {
  line-height: 1.8;
  font-size: 15px;
  font-size: 1.5rem; }
  .single-body img {
    width: 100%;
    height: auto; }
  .single-body .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 30px 0; }
    .single-body .movie iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
  .single-body p, .single-body div:not([class]) {
    line-height: 1.8;
    margin-bottom: 20px; }
  .single-body p {
    margin-bottom: 20px; }
  .single-body h2 {
    margin-bottom: 20px; }
  .single-body h3 {
    margin-bottom: 10px; }
  .single-body h4 {
    margin-bottom: 10px; }
  .single-body ul {
    margin-bottom: 10px; }
    .single-body ul li {
      list-style: disc;
      margin: 0 0 10px 20px; }
  .single-body ol {
    margin-bottom: 10px; }
    .single-body ol li {
      list-style-type: decimal;
      margin: 0 0 10px 20px; }
  .single-body a {
    color: #4ac8bb; }
  .single-body blockquote {
    position: relative;
    margin-bottom: 20px;
    padding: 34px 10px; }
    .single-body blockquote a {
      display: block;
      color: base;
      text-align: right;
      font-size: 12px;
      font-size: 1.2rem; }
  .single-body dl {
    position: relative;
    margin-bottom: 20px;
    padding: 12px 14px; }
    .single-body dl dt {
      margin-bottom: 10px;
      color: #4ac8bb;
      font-weight: bold; }
  .single-body strong {
    font-weight: bold; }
  .single-body .alignleft {
    float: left;
    margin-right: 20px; }
  .single-body .alignright {
    float: right;
    margin-left: 20px; }
  .single-body .aligncenter {
    display: block;
    margin: 0 auto; }
