.accordion {
    background: #fff;
    .accordion-parent {
        display: block;
        color: $color-default;
        font-size: 16px; /* フォント置換による類似 */
        font-weight: 700;
        text-decoration: none;
        position: relative;
        padding: 9px 14px;
        border-bottom: 1px solid $color-border;

        //state
        &.is-active .accordion-arrow-inner {
            transform: translate3d(0, -21px, 0);
        }
    }

    .accordion-arrow {
        position: absolute;
        right: 20px;
        top: 16px;
        width: 10px;
        height: 10px;
        overflow: hidden;
    }
    .accordion-arrow-inner {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform $duration $easing;
    }

    //アコーディオン
    .accordion-children {
        height: 0;
        overflow: hidden;
        transition: height $duration $easing;
    }
    .accordion-children-inner {
        padding: 15px 20px;
    }
}