.building {
    background-color: #fff;
    .building-title {
        > a {
            display: block;
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            color: $color-default;
            text-decoration: none;
            position: relative;
            padding: 10px 14px;
            border-bottom: 1px solid $color-border-light;
            //state
            &.is-active .building-title-arrow-inner {
                transform: translate3d(0, -22px, 0);
            }
            .building-title-arrow {
                position: absolute;
                right: 19px;
                top: 20px;
                width: 10px;
                height: 10px;
                overflow: hidden;
            }
            .building-title-arrow-inner {
                position: absolute;
                top: 0;
                left: 0;
                transition: transform $duration $easing;
            }
        }
    }
    .building-title-arrow {
        position: absolute;
        right: 17px;
        top: 17px;
    }
    .building-body {
        overflow: hidden;
        height: 0;
        transition: height $duration $easing;
    }
    .building-body-inner {
        padding: 15px 15px 25px;
    }
    .building-button {
        margin-top: 9px;
    }

    //border
    &.building-border {
        border-top: 1px solid $color-border-light;
    }
}