.builing-list {
    margin: 0 -7px;
    .builing-list-item {
        padding: 0 7px;
        margin-top: 17px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
    }
    .builing-list-object {
        > img {
            display: block;
            margin-bottom: 6px;
        }
        > figcaption {
            font-size: 13px;
            line-height: 1.53;
            font-weight: 700;
        }
    }
}