/*
#overview
button-minor

*/

/*
#styleguide
```
```
*/



.button-minor {
    display: inline-block;
    background-color: $color-default;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 5px 31px;
    position: relative;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.65;

    .button-minor-arrow {
        position: absolute;
        right: 5px;
        top: 10px;
    }
    &:hover {
        background-color: $color-sub;
    }
}
