/*
#overview
button

_button.scss
*/

/*
#styleguide
```
<a href="#" class="button">
    <span>button</span>
</a>
```
*/

.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: $color-main;
    color: #fff;
    width: 100%;
    padding: 7px 10px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
    perspective: 1px; //ホバー時に角丸にならないバグのハック

    //text
    //.button-text {}

    //icon
    .button-arrow {
        position: absolute;
        z-index: 2;
        right: 11px;
        top: 15px;
    }
    .icon-search {
        position: absolute;
        z-index: 2;
        right: 12px;
        top: 13px;
    }

    &:hover {
        .button-effect {
            width: 140%;
        }
    }

    //size
    &.button-large {
        padding: 11px 30px;
        line-height: 1.5;
        .button-arrow {
            top: 25px;
            right: 12px;
        }
        * {
            line-height: 1.5;
        }

        &.button-line1 {
            line-height: 38px;
        }
    }

    //見た目
    
    //google mapなど
    &.button-dark {
        background-color: $color-default;
        .button-dark-blank {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -5px;
        }
    }
    
    //contact-confirmでバックするボタンリンク
    &.button-reinput {
        background-color: #fff;
        color: $color-sub;
        .button-arrow {
            right: auto;
            left: -25px;
            top: 6px;
        }
        &:hover .button-text {
            text-decoration: underline;
        }
    }
    
    //LINE登録
    &.button-line {
        background-color: $color-line;
        > span {
            vertical-align: top;
            padding-left: 3px;
        }
        .sprite-line {
            position: absolute;
            top: 10px;
            left: 14px;
        }
        .sprite-blank-small {
            position: absolute;
            right: 12px;
            top: 14px;
        }
        .button-text {
            padding-left: 12px;
        }
    }
    
    //色が白いパターン
    &.button-light {
        background-color: #fff;
        .button-effect {
            background-color: darken(#fff,20%);
        }
        .button-effect-object-a {
            background-color: darken(#fff,20%);
        }
        .button-effect-object-b {
            background-color: #fff;
        }
        .button-text {
            color: $color-main;
        }
        .button-arrow {
            border-left-color: $color-main;
        }
    }

    //メルマガ
    &.button-mailmagazine {
        .sprite-mail {
            position: relative;
            top: 2px;
        }
        .button-arrow {
            right: 5px;
        }
        .button-text {
            margin-right: 2px;
        }
    }

}

//safari hack
.safari .button {
    mask-image: -webkit-radial-gradient(circle, white, black); //上に同じ

    .button-text {
        font-weight: bold;
    }
}
