/*
#overview
contents

*/

/*
#styleguide
```
```
*/



.contents {
    @extend %u-clear;
    width: 100%;
    .contents-header.headline-xsmall {
        margin-bottom: 1px;
        > h1 {
            line-height: 1.55;
            > span {
                margin-right: -6px;
            }
        }
        .headline-line {
            top: -5px;
        }
    }
    .contents-header-sub {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.6;
        margin: 11px 0 4px;
        > span {
            margin-right: -3px;
        }
    }
    .contents-body {
        > p {
            font-weight: 400;
            line-height: 1.93;
            > span {
                margin-right: -.2em;
            }
        }
        //margin
        &.contents-body-margin {
            margin-bottom: 24px;
        }
    }
    .contents-image {
        text-align: center;
        > img {
            width: 100%;
            height: auto;
        }

        //imageがテキストより上にくるパターン
        &.contents-image-top {
            margin: 4px 0 7px;
        }
    }

    //サイズちがい
//    &.contents-type-b {
//        .contents-body {
//            float: left;
//            width: 645px;
//        }
//    }

    //reverse
//    &.contents-reverse {
//        .contents-image {
//            float: left;
//        }
//        .contents-body {
//            float: right;
//        }
//    }

    //margin
//    &.contents-margin-xsmall {
//        margin-bottom: 65px;
//    }
//    &.contents-margin-small {
//        margin-bottom: 70px;
//    }
//    &.contents-margin-middle {
//        margin-bottom: 75px;
//    }
    &.contents-margin-small {
        margin-bottom: 35px;
    }
    &.contents-margin {
        margin-bottom: 48px;
    }
//    &.contents-margin-large {
//        margin-bottom: 90px;
//    }
}
