/*
#overview
figure

*/

/*
#styleguide
```
```
*/


.figure {
    display: inline-block;
    //.figure-inner {}
    .figure-image {
        width: 100%;
        height: 220px;
        line-height: 220px;
        text-align: center;
        background-color: $color-foundation;
        > img {
            vertical-align: middle;
        }
    }
    .figure-caption {
        margin-top: 12px;
        > h1 {
            color: #000;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            line-height: 1.55;
            padding-left: 11px;
            margin-bottom: 2px;
            position: relative;
            > span {
                margin-right: -7px;
            }
            > b {
                font-size: 10px;
                color: $color-gray;
                position: absolute;
                right: 0;
                bottom: -9px;
            }
        }
        &.figure-caption-narrow {
            > h1 {
                letter-spacing: 0;
            }
        }
        > p {
            font-weight: 400;
            text-align: left;
        }
    }
}