.footer-navi {
    > li {
        border-bottom: 1px solid #fff;
    }
    .footer-navi-link {
        display: block;
        padding: 10px 15px;
        position: relative;
        color: $color-default;
        text-decoration: none;
        > span {
            font-size: 11px;
        }
        .arrow {
            position: absolute;
            right: 11px;
            top: 18px;
        }
    }
}