.form {
    background-color: #fff;
    .form-table-inner {
        width: 100%;

        //error
        &.form-table-inner-error {
            .input,
            .textarea {
                border-color: $color-error;
            }
            .form-table-error-text {
                font-size: 12px;
                color: $color-error;
                margin-bottom: 4px;
                position: relative;
                top: -12px;
                height: 11px;
            }
        }
    }
    //.form-table-row {}
    .form-table-th,
    .form-table-td {
        font-weight: 400;
        vertical-align: middle;
    }
    .form-table-th {
        width: 100%;
        padding: 7px 16px;
        background-color: $color-foundation;
        &.form-table-th-top {
            vertical-align: top;
        }
    }
    .form-table-text {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-right: 40px;
        font-weight: bold;
        > span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 7px;
            padding: 4px 0 3px;
            color: $color-error;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            top: -2px;
        }
    }
    .form-table-td {
        padding: 16px 15px 20px;
        background-color: #fff;
        line-height: 1.93;
    }
    .form-button {
        width: 100%;
        padding: 0 15px;
        text-align: center;
        > .button:nth-child(2){
            margin-top: 12px;
        }
    }

    //確認
    &.form-confirm {
        .form-table-td {
            min-height: 43px;
            padding: 9px 15px;
        }
        .form-button {
            margin-top: 25px;
        }
    }

    //position
    &.form-position {
        padding-bottom: 60px;
    }
}