.gallery {
    > h1 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.6;
        &:first-letter {
            color: $color-main;
        }
    }
}