/*
#overview
google-map

*/

/*
#styleguide
```
```
*/


.google-map {
    > address {
        display: block;
        line-height: 1.75;
        margin-bottom: 8px;
    }
    .google-map-object {
        width: 100%;
        height: 180px;
        margin-bottom: 10px;
        background-color: $color-foundation;
    }
    .google-map-link {
        a {
            text-decoration: none;
            .arrow {
                margin: 0 -6px 0 3px;
            }
            > span {
                margin-right: 4px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        > dl {
            padding-top: 3px;
            > dt {
                margin-bottom: 5px;
            }
            > dd {
                margin-top: 3px;
            }
        }
    }
    
    //size
    &.google-map-small {
        padding: 0 15px;
    }
}