/*
#overview
hero

*/

/*
#styleguide
```
```
*/


.hero {
    width: 100%;
    height: 100%;
    min-height: 405px;
    position: relative;
    overflow: hidden;
    visibility: hidden;
    padding-top: 50px;
    .hero-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
    }
    .hero-mark {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        .hero-mark-inner {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .hero-mark-copy {
            position: absolute;
            z-index: 3;
            top: 50%;
            margin-top: -70px;
            left: 0;
            transform: translateX(30px);
            opacity: 0;
        }
        .hero-mark-object1,
        .hero-mark-object2 {
            height: 100%;
            width: 100%;
            transform: translateX(30px);
            backface-visibility: hidden;
            background: url(#{$path-image}top/main-arrow.png) no-repeat;
            background-size: cover;
        }
        .hero-mark-object1 {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .hero-mark-object2 {
            position: absolute;
            z-index: 2;
            top: 0;
            left: -24%;
            opacity: 0;
        }
    }

    .hero-image {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .hero-image-object {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        //state
        &.is-active {
            display: block;
            animation: scaling 10s;
        }
    }

    //state
    &.is-active {
        visibility: visible;
        .hero-mark-copy {
            animation: fadeInSlide 1s .5s $easing both;
        }
        .hero-mark-object1 {
            animation: fadeInSlide .85s .25s $easing both;
        }
        .hero-mark-object2 {
            animation: fadeInSlideSub 1s 0s $easing both;
        }
    }
}