/*
#overview
icon-search

*/

/*
#styleguide
```
```
*/


.icon-search {
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
    .icon-search-part1 {
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .icon-search-part2 {
        display: block;
        height: 6px;
        border-left: 2px solid #fff;
        position: absolute;
        left: 2px;
        bottom: 0;
        transform: rotate(45deg);
    }
}