.kisuke-day {
    padding: 13px 0 35px;
    margin: 0 15px;
    text-align: center;
    border: 1px solid $color-main;
    .kisuke-day-body {
        > h1 {
            color: $color-main;
            font-weight: 700;
            margin-bottom: 2px;
        }
        > p {
            padding: 0 29px;
            line-height: 1.69;
        }
        .kisuke-day-button {
            width: 240px;
        }
    }

    .kisuke-day-image {
        width: 215px;
        height: 79px;
        padding-top: 38px;

        .about-image-object {
            &.about-image-object1 {
                top: 44px;
                left: 19px;
            }
            &.about-image-object2 {
                top: 20px;
                left: 42px;
            }
            &.about-image-object3 {
                top: 29px;
                left: 74px;
            }
            &.about-image-object4 {
                top: 20px;
                right: 74px;
            }
            &.about-image-object5 {
                top: 47px;
                right: 20px;
            }
            &.about-image-object6 {
                top: 27px;
                right: 42px;
            }

            &.about-image-kisuke-day {
                background-image: url(#{$path-image}service/service-box/kisuke-box.png);
                background-repeat: no-repeat;
                background-size: 215px 56px;
                width: 215px;
                height: 56px;
                z-index: 1;
                opacity: 1;
                animation: none !important;
                position: relative;
            }
        }
    }

    //marign
    &.kisuke-day {
        margin-top: 4px;
    }
}