.local-section {
    > img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto 11px;
    }
    .local-section-video {
        width: 100%;
        padding-top: 56.2%;
        margin: 0 auto 11px;
        position: relative;
        > iframe {
            display: block;
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    > h1 {
        text-align: center;
        color: #000;
        font-size: 15px;
        line-height: 1.55;
        font-weight: 700;
        margin-bottom: 4px;
    }
    > p {
        line-height: 1.93;
    }
}