.mail-magazine-section {
    .mail-magazine-section-header {
        margin-bottom: 7px;
    }
    .mail-magazine-section-header-large {
        margin-bottom: 26px;
    }
    //.mail-magazine-section-body {
        //> p {}
    //}
    .mail-magazine-section-list {
        margin-top: 7px;
    }

    //margin
    &.mail-magazine-section-margin {
        margin-bottom: 75px;
    }
}