.mail-box {
    width: 100%;
    background-color: #fff;
    padding: 12px 15px 15px;
    border: 1px solid $color-border;
    text-align: center;
    .mail-box-link > a,
    > p > a {
        text-decoration: none;
        color: $color-sub;
    }
//    .mail-box-list {
//        display: inline-block;
//        > li {
//            padding: 0 20px;
//            > img {
//                display: block;
//                margin: 0 auto;
//            }
//            > p {
//                font-size: 16px;
//                font-weight: 700;
//                line-height: 1;
//                margin-top: 13px;
//            }
//        }
//    }

    //線なし
    &.mail-box-no-border-bottom {
        border-bottom: 0;
    }
}