/*
#overview
pagetop

*/

/*
#styleguide
```
```
*/


.pagetop {
    display: none;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(2, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: fixed;
    z-index: $max-z - 1;
    right: 10px;
    bottom: 10px;
    backface-visibility: hidden;

    .pagetop-arrow {
        display: block;
        border: 6px solid transparent;
        border-bottom: 6px solid #000;
        position: absolute;
        left: 50%;
        margin-left: -6px;
        top: 10px;
        transition: transform .15s $easing;
    }
    > span {
        font-size: 10px;
        padding-left: 2px;
        display: block;
        color: #fff;
        font-family: $font-en;
    }
}
