/*
#overview
page-hero

*/

/*
#styleguide
```
```
*/

.page-hero {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    .page-hero-inner {
        display: table;
        width: 100%;
        height: 130px;
        position: relative;
        z-index: 1;
        opacity: 0;
        transition: opacity $duration $easing;
    }
    .page-hero-loading {
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
    }
    .page-hero-loading-object {
        width: 20px;
        height: 20px;
        background: url(#{$path-image}common/loading.png) no-repeat;
        background-size: 20px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -10px;
        animation: spin .5s linear infinite;
    }
    .page-hero-text {
        width: 100%;
        height: 130px;
        vertical-align: middle;
        text-align: center;
        padding-top: 22px;

        > hr {
            display: inline-block;
            line-height: 1;
            width: 15px;
            height: 1px;
            background-color: $color-main;
            transform: scaleX(0);
            position: relative;
            top: -4px;
        }
    }
    .page-hero-icon {
        transform: scale(0);
    }
    .page-hero-sub-title {
        color: #fff;
        font-size: 13px;
        line-height: 1;
        margin-top: 4px;
    }
    .page-hero-title {
        margin-top: 4px;
        color: #fff;
        font-size: 19px;
        font-weight: 700;
        line-height: 1.55;
        * {
            line-height: 1.55;
        }
        > strong {
            display: inline-block;
            line-height: 1.55;
            letter-spacing: .05em;
            font-weight: 700;
            opacity: 0;
            clip-path: circle(0% at 50% 50%);
            transition: all ($duration * 2) $delay $easing, opacity $duration $delay $easing;
            > span {
                font-weight: bold;
            }
        }
    }
    //、とかのletter-spacingを調整
    .page-hero-font-a {
        margin-right: -.25em;
    }

    //state
    &.is-active {
        .page-hero-inner {
            opacity: 1;
        }
        .page-hero-text > hr {
            animation: fadeInScaleX $duration $easing both;
        }
        .page-hero-icon {
            animation: scaleIn $duration $easing both;
        }
        .page-hero-title > strong {
            opacity: 1;
            clip-path: circle(100% at 50% 50%);
        }
    }

    //margin
    &.page-hero-position {
        margin-top: 50px;
    }

    //size
    &.page-hero-small {
        .page-hero-inner {
            height: 85px;
        }
        .page-hero-text {
            height: 85px;
            padding-bottom: 0;
            > i {
                animation: none;
            }
        }
        .page-hero-title,
        .page-hero-icon {
            animation: none;
            transform: scale(1);
        }
    }

    //文字間狭いver
    &.page-hero-narrow {
        .page-hero-title {
            overflow: hidden;
            > strong {
                letter-spacing: .01em;
                position: relative;
                right: -4px;
            }
        }
    }
}