/*
#overview
panel

*/

/*
#styleguide
```
```
*/


.panel {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $color-border;
    background-color: #fff;
    padding: 8px;
    color: $color-default;
    text-decoration: none;
    position: relative;
    text-align: center;
    .panel-header {
        font-size: 15px;
        font-weight: bold;
        > span {
            font-weight: bold;
            color: $color-main;
        }
    }
    .panel-inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 211px;
        border: 1px solid $color-main;
    }
}

.panels {
    > li {
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity $duration $easing;
        &:last-child {
            margin-bottom: 0;
        }

        //state
        &.is-active {
            opacity: 1;
        }
    }
}