/*
#overview
philosophy-section

*/

/*
#styleguide
```
```
*/


.philosophy-section {
    margin-bottom: 53px;

    .philosophy-section-image {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .philosophy-section-header {
        margin-bottom: 5px;
        > h1 {
            line-height: 1;
        }
    }
    .philosophy-section-header {
        > h1 {
            letter-spacing: .02em;
            opacity: 0;
            margin-bottom: 7px;
            clip-path: circle(0% at 50% 50%);
            transition: all ($duration * 2) $easing, opacity $duration $easing;
        }
        //animation
        &.is-active > h1 {
            opacity: 1;
            clip-path: circle(100% at 50% 50%);
        }
    }
    .philosophy-section-body {

        > p {
            line-height: 1.93;
            margin-bottom: 15px;
            opacity: 0;
            transition: opacity $duration $easing;
            &:last-of-type {
                margin-bottom: 0;
            }

            //animation
            &.is-active {
                opacity: 1;
            }
        }
    }
}