.privacy-section {
    .privacy-section-header {
        margin-bottom: 5px;
    }
    .privacy-section-description {
        color: $color-strong;
        font-size: 13px;
        line-height: 1.93;
        margin-bottom: 17px;
    }
    .privacy-section-text {
        color: $color-strong;
    }

    //margin
    &.privacy-section-position {
        margin-bottom: 29px;
    }
}


.privacy-paragraph {
    > h1 {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 2px;
    }
    > p {
        font-size: 13px;
        line-height: 1.93;
    }
    > ol {
        border: 1px solid $color-border;
        margin-top: 7px;
        font-size: 13px;
        padding: 7px 14px;
        > li {
            line-height: 1.93;
        }
    }
    > address {
        display: block;
        line-height: 1.93;
    }

    //margin
    &.privacy-paragraph-position {
        margin-bottom: 18px;
    }
}