.price {
    padding-bottom: 1px; // safari hack
    .price-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 3px;
        &.price-title-margin-large {
            margin-bottom: 13px;
        }
    }
    .price-table {
        .table-th {
            width: 100%;
            font-size: 13px;
        }
        small {
            display: block;
            font-size: 12px;
        }
        p {
            line-height: 1.833;
        }
//        .table-th-large {
//            width: 202px;
//        }
    }
    .price-small {
        margin-top: 10px;
        font-size: 9px;
        &.price-small-no-margin {
            margin-top: 0;
        }
    }
    .price-description {
        margin-top: -7px;
        line-height: 1.5;
        font-size: 12px;
        margin-bottom: 8px;
        > b {
            color: $color-main;
        }
    }
    .price-explain {
        font-size: 12px;
        line-height: 1.833;
    }

    .price-text-narrow-right {
        margin-right: -3px;
    }

    //margin
    &.price-margin {
        padding-bottom: 0;
        margin-bottom: 11px;
    }
}