.recruit-contents {
    .recruit-contents-header.headline-xsmall {
        > h1 {
            padding-left: 10px;
            line-height: 1.55;
            > span {
                &:nth-of-type(1) {
                    margin-left: -7px;
                }
                &:nth-of-type(2) {
                    margin-right: -7px;
                }
                &:nth-of-type(3) {
                    margin-left: -7px;
                }
                &:nth-of-type(4) {
                    margin-right: -7px;
                }
            }
        }
        .headline-line {
            width: 15px;
            top: -6px;
        }
    }
    > p {
        letter-spacing: .05em;
        line-height: 1.93;
    }

    //margin
    &.recruit-contents-position {
        margin-bottom: 35px;
    }
}