/*
#overview
search

*/

/*
#styleguide
```
```
*/


.search {
    .search-list {
        > li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    //営業案内アコーディオン
    .search-sales {
        display: none;
        margin-top: 4px;
        background-color: #fff;
        border-top: 1px solid $color-border;
        border-left: 1px solid $color-border;
        >li{
            border-right: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
            &:first-child {
                width: 100%;
            }
        }
    }
}
