.service-data {
    //header
    .service-data-header {
        margin-bottom: 30px;
    }
    .service-data-header-small {
        margin-bottom: 10px;
    }

    //parking page
    &.service-data-parking {
        .service-data-header {
            margin-bottom: 16px;
        }
    }
}