.service-menu {
    background-color: #fff;
    padding: 0 15px;

    //margin
    &.service-menu-padding-top-xlarge {
        padding-top: 60px;
    }
    &.service-menu-padding-top {
        padding-top: 20px;
    }
    &.service-menu-padding-bottom {
        padding-bottom: 20px;
    }
}