.shops {
    margin-bottom: 6px;
    .shops-inner {}
    .shops-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    .shops-body {
        padding: 4px 15px;
        border: $color-border 1px solid;
        > p {
            color: #000;
            font-size: 13px;
            line-height: 1.93;
        }
    }
}