/*
#overview
sub-menu

*/

/*
#styleguide
```
```
*/


.sub-menu {
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    border: 1px solid $color-border;
    background-color: #fff;
    text-decoration: none;
    color: $color-default;
    position: relative;
    .sub-menu-inner {
        display: table-cell;
        width: 184px;
        height: 120px;
        vertical-align: middle;
        text-align: left;
        font-size: 0;
    }
    .sub-menu-image {
        display: inline-block;
        vertical-align: middle;
        > span {
            display: block;
        }
        .sprite {
            vertical-align: middle;
        }
    }
    .sub-menu-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: $color-default;
        font-weight: 400;
        transition: color $duration $easing;
    }
    .sub-menu-arrow {
        display: inline-block;
        border: 11px solid transparent;
        border-left-color: $color-border;
        transform: rotate(45deg);
        position: absolute;
        z-index: 2;
        right: -2px;
        bottom: -2px;
        transition: border-color $duration $easing;
    }

    &:hover {
        .sub-menu-title {
            color: $color-main;
        }
        .sub-menu-arrow {
            border-left-color: $color-main;
        }
    }

    //アイコンが異なるパターン
    &.sub-menu-resource .sub-menu-image {
        margin-right: 10px;
    }

    //下層ページのパターン
    &.sub-menu-lower {
        transition: border-color $duration $easing;
        &:hover {
            border-color: $color-main;
        }
        &.sub-menu-current {
            border-color: $color-main;
            .sub-menu-title {
                color: $color-main;
            }
            .sub-menu-arrow {
                border-left-color: $color-main;
            }
        }
    }

    //size
    &.sub-menu-large {
        .sub-menu-inner {
            width: 233px;
        }
    }
}
