/*
#overview
svg

*/

/*
#styleguide
```
```
*/


.svg {
    display: inline-block;
    &.svg-facebook {
        width: 10px;
        height: 19px;
    }
    &.svg-twitter {
        width: 22px;
        height: 18px;
    }
}
