/*
#overview
tag

_tag.scss
*/

/*
#styleguide
```
<span class="tag tag-a">tag-a</span>
<span class="tag tag-b small">tag-b</span>
<span class="tag tag-c large">tag-c</span>
```
*/

.tag {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    padding: 4px 5px 4px;
    line-height: 1;
    border: 1px solid $color-border;
    color: $color-dark;
    background-color: #fff;
    //営業案内
    &.tag-sales {
        border-color: $color-main;
        background-color: $color-main;
        color: #fff;
    }
    //お知らせ
    &.tag-news {
        border-color: $color-sub;
        background-color: $color-sub;
        color: #fff;
    }
    //社内活動
    &.tag-activity {
        border-color: #f2f2f2;
        background-color: #f2f2f2;
    }
}