.thumbnails {
    margin: 0 -10px;
    > li {
        padding: 0 10px;
        margin-top: 13px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
    }
    .thumbnails-link {
        color: $color-sub;
        display: block;
        text-decoration: none;
        line-height: 1;
        margin-top: 6px;
        .arrow {
            border-left-color: $color-sub;
            vertical-align: middle;
        }
        > span {
            vertical-align: middle;
        }
        > span {
            line-height: 1;
            margin-left: -2px;
        }
    }

    //margin
    &.thumbnails-margin {
        margin-bottom: 34px;
    }
}